<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>10199 Chariklo</big></h1>
<br />
<img class="milkyimg" src="/images/chariklo.jpeg" alt="10199 chariklo" />
<p class="milkywaytext">
10199 Chariklo was found on <b>Feb. 15, 1997</b> by the Spacewatch team at the University of Arizona's Lunar and Planetary Laboratory.
</p>
<p class="milkywaytext">
Chariklo was the first asteroid found to have a ring system. It was the <b>fifth ring system </b>found in our solar system—after Saturn, Jupiter, Uranus and Neptune.
</p>
<p class="milkywaytext">
With a diameter of about 188 miles (302 kilometers), Chariklo is the largest member of an asteroid class known as the Centaurs. It orbits between Saturn and Uranus in the outer solar system.
</p>
<img class="milkyimg" src="/images/chariklosurface.jpg" alt="chariklo" />
<p class="milkywaytext">
In 2013, scientists pointed several telescopes at the small world to study it as it passed in front of a star - an occultation—and were surprised to detect two distinct rings. By comparing what was seen from different sites the team could reconstruct not only the shape and size of the object itself but also the shape, width, orientation and other properties of the newly discovered rings. The rings are believed to be between two and four miles <b>(3-7 kilometers)</b> wide.
</p>
<p class="milkywaytext">
Chariklo, sometimes described as a sea nymph, sometimes as a female centaur, was the <b>wife of Chiron </b>in Greek mythology.
</p>
<%- include('footer'); -%>
