<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>101955 Bennu</big></h1>
<br />
<img class="milkyimg" src="/images/bennu.jpeg" alt="bennu" />
<p class="milkywaytext">
An ancient relic of our solar system’s early days, Bennu has seen more than 4.5 billion years of history. The best evidence suggests that within 10 million years of our solar system’s formation, Bennu’s present-day chemistry and mineralogy were already established. Because its materials are so old, Bennu represents a type of building block of our solar system’s rocky planets. It may even contain organic molecules similar to those that could have played a role in the start of life on Earth.
</p>
<p class="milkywaytext">
  At about one-third of a mile (half a kilometer) wide at its equator, Bennu is minuscule compared to the planets -- in fact, it is only slightly wider than the height of the Empire State Building. By comparison, the smallest planet, Mercury, is more than 3,000 miles across.
</p>
<p class="milkywaytext">
Bennu’s average orbital distance from the Sun is about 105 million miles (168 million kilometers), which is only slightly farther than Earth’s average orbital distance of 93 million miles.​
</p>
<p class="milkywaytext">
Bennu looks like a spinning top—a shape whose origin scientists don’t fully understand. Some other asteroids have similar equatorial ridges.
</p>
<p class="milkywaytext">
In terms of its composition, because of Bennu’s resemblance to carbon-rich meteorites found on Earth, scientists think the asteroid is made of some of the solar system’s oldest materials. These materials were forged in large dying stars, including supernova explosions, long before our solar system formed. The asteroid’s materials would have been altered by heat when its parent body broke apart in the giant collision. Meteorites that seem similar to Bennu in color or spectral properties often contain organic material, which does not necessarily come from a biological source.
</p>
<p class="milkywaytext">
Bennu is thought to be a “rubble pile” asteroid, meaning smaller fragments from the original large asteroid came together to form Bennu. The small pieces of Bennu stay together because of gravity and another force scientists call “cohesion,” which makes soils and sands stick together. But based on existing measurements, Bennu is about 20 to 40 percent empty space inside. If Bennu were placed (gently) on the surface of Earth, our planet’s gravity would cause the whole structure to fall apart.
</p>

<img class="milkyimg" src="/images/bennusurface.jpg" alt="bennu" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Bennu makes one orbit around the Sun every 1.2 years. It makes one full rotation on its axis every 4.3 hours. Bennu makes a close approach to Earth every six years, although its exact distance from Earth during these approaches varies. Its orbital path is tilted about 5 degrees relative to Earth’s.
</p>
<p class="milkywaytext">
The asteroid’s equator is tilted by about 175 degrees, such as that its north pole is pointing “down” relative to Earth’s north pole. By comparison, Earth’s tilt is 23 degrees, which accounts for the seasonal changes we see on our planet.
</p>
<p class="milkywaytext">
Bennu likely was broken off from a much larger carbon-rich asteroid about 700 million to 2 billion years ago, which is relatively recent in geological time. It likely formed in the Main Asteroid Belt between Mars and Jupiter, and has drifted much closer to Earth since then.
</p>
<p class="milkywaytext">
Scientists think that a cataclysmic collision caused a carbon-rich asteroid 60 to 130 miles (100-200 kilometers) in diameter, roughly the size of Connecticut, to break apart, scattering pieces including Bennu. The asteroid has wandered into near-Earth space because of gravitational interactions with the giant planets and because of the long-term Yarkovsky effect—the small force on a spinning body due to its absorbing sunlight and re-emitting the heat as infrared radiation.
</p>
<img class="milkyimg" src="/images/bennu1.jpeg" alt="bennu" />
<p class="milkywaytext">
As of early 2018, scientists don’t know much about Bennu’s surface, except that it may be covered in pebbles smaller than a few centimeters. Scientists may have detected one boulder roughly 50 feet (15 meters) in diameter, which is visible in radar images from 1999 and 2005.
</p>

<p class="milkywaytext">
The asteroid’s structure and surface may have been reshaped by gravitational interactions with planets including Earth and Venus. Close encounters may have led to changes in Bennu’s overall shape and spin rate, too.
</p>
<p class="milkywaytext">
Bennu doesn’t have enough gravity to have an atmosphere.
</p>
<%- include('footer'); -%>
