<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>16 Psyche</big></h1>
<br />
<img class="milkyimg" src="/images/psyche.jpeg" alt="psyche" />
<p class="milkywaytext">
The asteroid was named after the nymph Psyche, who married Cupid but was put to death by Venus. At Cupid’s request, however, Jupiter made Psyche immortal.
</p>
<p class="milkywaytext">
One of the most intriguing targets in the main asteroid belt, 16 Psyche is a giant metal asteroid, about three times farther away from the sun than is the Earth. Its average diameter is about 140 miles (226 kilometers) — about one-sixteenth the diameter of Earth’s Moon or about the distance between Los Angeles and San Diego. Unlike most other asteroids that are rocky or icy bodies, scientists think the M-type (metallic) asteroid 16 Psyche is comprised mostly of metallic iron and nickel similar to Earth’s core. Scientists wonder whether Psyche could be an exposed core of an early planet, maybe as large as Mars, that lost its rocky outer layers due to a number of violent collisions billions of years ago.
</p>
<p class="milkywaytext">
Astronomers on Earth have studied 16 Psyche in visible and infrared wavelengths, as well as radar, which suggest Psyche is shaped somewhat like a potato. Observations indicate that its dimensions are 173 miles by 144 miles, by 117 miles (that’s 279, 232 and 189 kilometers, respectively). Psyche orbits the Sun between the orbits of Mars and Jupiter at a distance ranging from 235 million to 309 million miles (378 million to 497 million kilometers) from the Sun. That’s 2.5 to 3.3 Astronomical Units (AU), with 1 AU being the distance between Earth and the Sun. Psyche takes about five Earth years to complete one orbit of the Sun, but only a bit over four hours to rotate once on its axis (a Psyche “day”).
</p>
<img class="milkyimg" src="/images/psychesurface.jpeg" alt="psyche" />

<p class="milkywaytext">
This intriguing asteroid is now the primary target of the Psyche mission. Targeted to launch in August of 2022, the Psyche spacecraft would arrive at the asteroid in early 2026, following a Mars gravity assist in 2023. Over 21 months in orbit, the spacecraft will map and study 16 Psyche’s properties using a multispectral imager, a gamma ray and neutron spectrometer, a magnetometer, and a radio instrument (for gravity measurement). The mission’s goal is, among other things, to determine whether Psyche is indeed the core of a planet-size object.
</p>
<p class="milkywaytext">
The Psyche mission will be the first mission to investigate a world of metal rather than of rock and ice. Deep within rocky, terrestrial planets—including Earth—scientists infer the presence of metallic cores, but these lie unreachable below planets' rocky mantles and crusts. Because scientists cannot see or measure Earth's core directly, Psyche offers a unique window into the violent history of collisions and accretion that created terrestrial planets.
</p>
<p class="milkywaytext">
Psyche was discovered by the Italian astronomer Annibale de Gasparis on Mar. 17, 1852.
</p>
<%- include('footer'); -%>
