<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>243 Ida</big></h1>
<br />
<img class="milkyimg" src="/images/ida.jpeg" alt="ida" />
<p class="milkywaytext">
Ida was named by Moriz von Kuffner, a Viennese brewer and amateur astronomer, after a nymph in Greek mythology who was entrusted to care for the infant Zeus together with her sister Adrasteia. The International Astronomical Union named Dactyl for mythological creatures that lived on Mt. Ida on the island of Crete.
</p>
<p class="milkywaytext">
243 Ida is the second asteroid visited by a spacecraft and the first found to have its own moon.
</p>
<p class="milkywaytext">
Its close encounter happened on Aug. 29, 1993 as Galileo flew by at a distance of about 1,500 miles (about 2,400 kilometers) en route to Jupiter. (The spacecraft flew by another asteroid, Gaspra, on Oct. 29, 1991.) A little more than five months later, scientists studying the images Galileo sent back to Earth noticed that a tiny moon accompanied the asteroid.
</p>
<img class="milkyimg" src="/images/243 ida.jpeg" alt="ida" />

<p class="milkywaytext">
  Located in the main belt between Mars and Jupiter, Ida is one of the Koronis family of asteroids, which are thought to be the debris of an ancient collision between two larger objects. It is covered in craters and a deep layer of regolith (pulverized rock).
</p>
<p class="milkywaytext">
Ida is an S-type asteroid, composed mainly of silicate rock. This type of asteroid dominates the inner region of the asteroid belt, but comprises only about 17 percent of all known asteroids.
</p>
<p class="milkywaytext">
243 Ida was discovered Sept. 29, 1884 by Austrian astronomer Johann Palisa at the Vienna Observatory. Its moon, Dactyl, was discovered Feb. 17, 1994 by Ann Harch of the Galileo imaging team.
</p>
<p class="milkywaytext">
Ida was named by Moriz von Kuffner, a Viennese brewer and amateur astronomer, after a nymph in Greek mythology who was entrusted to care for the infant Zeus together with her sister Adrasteia. The International Astronomical Union named Dactyl for mythological creatures that lived on Mt. Ida on the island of Crete.
</p>
<%- include('footer'); -%>
