<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>25143 Itokawa</big></h1>
<br />
<img class="milkyimg" src="/images/itokawa.jpeg" alt="itokawa" />
<p class="milkywaytext">
25143 Itokawa was discovered Sept. 26, 1998 by the Lincoln Laboratory Near-Earth Asteroid Research Team at Socorro, New Mexico.
</p>
<p class="milkywaytext">
In 2005, 25143 Itokawa became the first asteroid from which samples were captured and brought to Earth for analysis. The Japanese spacecraft Hayabusa (Japanese for falcon) touched down twice on the asteroid and collected a small amount of dust despite the failure of the mechanism designed for the purpose. It delivered the sample to Earth on 13 June 2010.
</p>
<p class="milkywaytext">
Hayabusa's close-up observations of the asteroid and the subsequent analysis of its dust in labs on Earth support the conclusion that Itokawa is part of what remains from a much larger object that was shattered by a collision. The dust also confirms that S-type (this refers to the asteroid's color spectrum) asteroids like Itokawa, which are the most common type of asteroid in the inner main belt, are the source of the most common kind of meteorite found on Earth: the ordinary chondrite.
</p>
<p class="milkywaytext">
Scientists think Itokawa is not solid, but rather is a rubble pile, an agglomeration of rocks loosely held together by their mutual gravity. Few craters are visible, presumably because any impact energetic enough to create a crater shakes rocks loose and they fill the hole.
</p>
<img class="milkyimg" src="/images/itokawasurface.jpeg" alt="itokawa" />

<p class="milkywaytext">
One sign that the asteroid was once part of a much larger object is that many of the captured dust particles show signs of having slowly cooled after forming deep inside a rocky object at a temperature of some 1,500 degrees Fahrenheit (800 degrees Celsius). For this to have occurred, the diameter of the rocky object would have to have been greater than 20 km (12 miles), whereas Itokawa's longest dimension is only 0.5 km (0.3 miles).
</p>
<p class="milkywaytext">
Another clue is that the largest boulder found on Itokawa is about 50 m (160 feet) across, which is believed to be too big to have been ejected by the impact that created the asteroid's largest crater. Scientists think the rock is a fragment of whatever cataclysmic event resulted in Itokawa's current construction.
</p>
<p class="milkywaytext">
Writing in the journal Science, Hayabusa's science team described the asteroid's shape as resembling a sea otter, with one distinct part designated as the head and the other, larger part designated as the body. One of the scenarios that the team cited as most likely to explain this is that after Itokawa's parent body was shattered, the slight mutual gravity of the fragments brought them together into two or more rubble piles, and two of these piles eventually bumped gently into each other and stuck together. Another possibility is that Itokawa was originally one rubble pile, and a large impact temporarily broke off a chunk of it until gravity brought it back and the two parts became reattached.
</p>
<p class="milkywaytext">
Itokawa's orbit around the sun crosses those of both Earth and Mars.
</p>
<p class="milkywaytext">
  The asteroid was named for Hideo Itokawa (1912-1999), who is regarded as the father of Japanese rocketry. He was an aerospace engineer who initiated Japan's first launch tests of the solid rocket series called Pencil in 1955. Under his leadership, Japanese rockets reached space by 1960 and put the country's first satellite into orbit in 1970.
  </p>
<br />
<%- include('footer'); -%>
