<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>253 Mathilde</big></h1>
<br />
<img class="milkyimg" src="/images/mathilde.jpeg" alt="mathilde" />
<p class="milkywaytext">
Nineteenth-century Austrian astronomer Johann Palisa, who found more than 100 asteroids during his career, discovered 253 Mathilde on November 12, 1885. V. A. Lebeuf, another Austrian astronomer, first calculated its orbit.
</p>
<p class="milkywaytext">
253 Mathilde is an asteroid in the main belt between Mars and Jupiter, where it orbits the Sun once every 4.3 years. It's about 52 kilometers across, and notable for its very slow rotation rate--it takes 17.4 days for the asteroid to turn on its axis.
</p>
<p class="milkywaytext">
Mathilde is a C-type asteroid, which means that it is made of rock rich in carbon, and is probably very little changed in the last 4.5 billion years, a time capsule from the time the planets first formed. All that carbon helps make Mathilde one of the darkest objects in the Solar System. It reflects only 4 percent of the light falling on it.
</p>
<p class="milkywaytext">
Despite its darkness, the asteroid couldn't avoid its moment in the spotlight on June 27, 1997. On that day the Near Earth Asteroid Rendezvous (NEAR) spacecraft streaked past at a velocity of 22,000 mph (9.93 kilometers per second), passing within 746 miles (1,200 kilometers) of the surface. Even at that high speed, during the 25-minute encounter NEAR managed to capture more than 500 spectacular images of the crater-pocked little world.
</p>
<p class="milkywaytext">
The NEAR mission later went on to explore its primary target, asteroid 433 Eros.
</p>
<p class="milkywaytext">
The name is thought to honor the wife of astronomer Moritz Loewy, then the vice director of the Paris Observatory.
</p>
<%- include('footer'); -%>
