<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>4 Vesta</big></h1>
<br />
<img class="milkyimg" src="/images/vesta.jpeg" alt="vesta" />
<p class="milkywaytext">
4 Vesta’s discoverer, Heinrich Wilhelm Olbers, gave the honor of naming the new asteroid to German mathematician Carl Friedrich Gauss, who had computed its orbit. Gauss named it Vesta after the goddess of the hearth and household in Roman mythology.
</p>
<p class="milkywaytext">
4 Vesta is the second most massive body in the main asteroid belt, accounting for almost nine percent of the total mass of all asteroids. Only dwarf planet Ceres is more massive in that region of rocky debris between Mars and Jupiter. NASA’s Dawn spacecraft circled Vesta from July 16, 2011 until Sept. 5, 2012, when it departed and began its journey to dwarf planet Ceres.
</p>
<p class="milkywaytext">
The giant asteroid is almost spherical, and so is nearly classified a dwarf planet. Unlike most known asteroids, Vesta has separated into crust, mantle and core (a characteristic known as being differentiated), much like Earth.
</p>
<p class="milkywaytext">
Understanding why this is so was one of the objectives of the Dawn mission. The answer turned out to be that Vesta formed early, within 1 to 2 million years of the birth of the solar system. Short-lived radioactive material that was incorporated into bodies that formed during this epoch heated them to the point where—in cases like Vesta—the objects melted, allowing the denser materials to sink to the asteroid's core and the lower density materials to rise.
</p>
<img class="milkyimg" src="/images/vesta1.jpeg" alt="vesta" />

<p class="milkywaytext">
Vesta has one of the largest brightness ranges observed on any rocky body in our solar system. The bright materials appear to be native rocks, while the dark material is believed to have been deposited by other asteroids crashing into Vesta. Scientists on the Dawn team estimate that about 300 dark asteroids with diameters ranging from one to 10 km (0.6 to six miles) hit Vesta during the last 3.5 billion years. This would have been enough to wrap the Vesta in a blanket of material about three to seven feet (one to two meters) thick.
</p>
<p class="milkywaytext">
Vesta appears to be the source of the Howardite, Eucrite and Diogenite groups of meteorites that have been found on Earth. They help scientists understand the "Lunar Cataclysm," when a repositioning of the gas-giant planets billions of years ago destabilized the orbits of asteroids in the early asteroid belt and triggered a solar-system-wide bombardment. They also provide clues to Vesta's geochemical evolution, a story that was tested and enhanced by the information Dawn provided about the asteroid's surface and interior.
</p>
<p class="milkywaytext">
Vesta is believed to have lost about one percent of its mass less than a billion years ago in a massive collision responsible for the Rheasilvia crater, which is about 310 miles (500 kilometers) wide—some 95 percent of the asteroid's mean diameter. The Vesta family of asteroids is probably debris from this collision. Another huge crater is Veneneia, which is about 250 miles (400 km) in diameter.
</p>
<p class="milkywaytext">
Vesta was discovered at Bremen, Germany, on Mar. 29, 1807 by Heinrich Wilhelm Olbers, who had previously discovered Pallas. He proposed—incorrectly as it turned out—that Ceres and Pallas were fragments of a destroyed planet, and found Vesta as he searched for more such objects. Vesta was the fourth asteroid ever to be discovered.
</p>
<%- include('footer'); -%>
