<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>433 Eros</big></h1>
<br />
<img class="milkyimg" src="/images/eros.jpeg" alt="eros" />
<p class="milkywaytext">
433 Eros was discovered on Aug. 13, 1898 by Gustav Witt, director of the Urania observatory in Berlin, and independently on the same day by Auguste H.P. Charlois at Nice, France.
</p>
<p class="milkywaytext">
Witt's discovery was the accidental byproduct of a two-hour photographic exposure he conducted of a different asteroid: 185 Eunike. Along with Eunike, the image he produced showed a 0.4-mm image trail, and observations on the following evening identified the object as one of unusually high apparent motion on the sky. Less than two weeks later, Adolf J. Berberich computed that the object's orbit brought it well inside the orbit of Mars, making it the first-known near-Earth asteroid.
</p>
<p class="milkywaytext">
Eros is famous as the first asteroid to be orbited by a spacecraft, and as the first one on which a spacecraft landed. But it was important to astronomers as far back as 1898, when it became the first near-Earth asteroid (NEA) to be discovered.
</p>
<p class="milkywaytext">
The NEAR spacecraft first flew by Eros on Dec. 23, 1998 at a distance of about 2,400 miles (about 3,800 kilometers) and found that the asteroid was smaller than expected and had two medium-sized craters, a long surface ridge and a density similar to that of Earth's crust. After several trajectory adjustments, NEAR finally moved into orbit around Eros on Valentine's Day (befitting an asteroid named for the Greek god of love), Feb. 14, 2000.
</p>
<p class="milkywaytext">
After nearly a year in orbit, during which time the spacecraft was renamed "NEAR Shoemaker" in honor of astrogeology pioneer Eugene Shoemaker, the mission carried out humanity's first asteroid landing on Feb. 12, 2001. Eros was 196 million miles (315 million kilometers) from Earth at the time.
</p>
<img class="milkyimg" src="/images/erossurface.jpeg" alt="eros" />

<p class="milkywaytext">
The spacecraft wasn't expected to survive the landing but its instruments remained operational, leading to yet another milestone. "This is the first gamma-ray experiment that has ever been done on the surface of a body other than Earth," said Dr. Jacob Trombka of NASA's Goddard Space Flight Center.
</p>
<p class="milkywaytext">
The spacecraft issued its final transmission from the surface of Eros on Mar. 1, 2001.
</p>
<p class="milkywaytext">
Eros is an S-type asteroid, the most common type in the inner asteroid belt. It's a typical member of the Amors group of NEAs, which cross Mars' orbit but do not quite reach that of Earth. Unlike the much more numerous main-belt asteroids between Mars and Jupiter, NEAs are thought to be dead comets or fragments from main-belt asteroid collisions.
</p>
<p class="milkywaytext">
  Eros was observed with ground-based telescopes for a century before our spacecraft gave us a close-up look, and was the subject of a worldwide observation campaign during its close approach to Earth in 1975, when it was only 14 million miles (22 million kilometers) away.
  </p>
  <p class="milkywaytext">
    n a break with tradition at the time, the asteroid was given a male name: Eros, son of Mercury and Venus and god of love in Greek mythology.
    </p>

<%- include('footer'); -%>
