<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Andromeda Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/andromeda.jpeg" alt="andromeda" />
<p class="milkywaytext">
  The Andromeda Galaxy (M31) is the closest large galaxy to the Milky Way and is one of a few galaxies that can be seen unaided from the Earth. In approximately 4.5 billion years the Andromeda Galaxy and the Milky Way are expected to collide and the result will be a giant elliptical galaxy. Andromeda is accompanied by 14 dwarf galaxies, including M32, M110, and possibly M33 (The Triangulum Galaxy).
</p>
<br />
<h3>Facts about Andromeda</h3>
<p class="milkywaytext">
  While Andromeda is the largest galaxy in the Local Cluster it may not be the most massive. The Milky May is thought to contain more dark matter, which could make it much more massive.
</p>
<p class="milkywaytext">
  Since it is the nearest spiral galaxy to us, astronomers use the Andromeda Galaxy to understand the origin and evolution of such galaxies.
</p>
<p class="milkywaytext">
  The Andromeda Galaxy is approaching the Milky Way at approximately 100 to 140 kilometres per second.
</p>
<p class="milkywaytext">
  The Andromeda Galaxy has a very crowded double nucleus. Not only does it have a massive star cluster right at its heart, but it also has at least one supermassive black hole hidden at the core.
</p>
<p class="milkywaytext">
  The spiral arms of the Andromeda Galaxy are being distorted by gravitational interactions with two companion galaxies, M32 and M110.
</p>
<p class="milkywaytext">
  The Andromeda Galaxy has at least two spiral arms, plus a ring of dust that may have come from the smaller galaxy M32. Astronomers think that it may have interacted more closely with Andromeda several hundred million years ago, when M32 plunged through the heart of its larger neighbor.
</p>
<p class="milkywaytext">
  There are at least 450 globular clusters orbiting in and around the Andromeda Galaxy. Some of them are among the most densely populated globulars ever seen.
</p>
<p class="milkywaytext">
  The Andromeda Galaxy is the most distant object you can spot with the naked eye. You need a good spot away from bright lights in order to see it.
  </p>
<%- include('footer'); -%>
