<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Antennae Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/antenne.jpeg" alt="antennae" />
<p class="milkywaytext">
  The Antennae is a pair of spiral galaxies that are interacting and mingling their stars. They began their galactic dance over a few hundred million years ago and are currently in a period where their colliding gas clouds are bursting with new star formation. As the two galaxies merge, their gravitational interactions pull long tails of gas away from each other, and these tails are the sites of starburst activity. In a few billion years, the cores of these two galaxies will be combined into one large core, with a supermassive black hole at its heart. It will be surrounded by an elliptical galaxy of old stars.
</p>
<br />
<table id="customers">

  <tr>
    <td>Designation</td>
    <td>NGC 4038 & NGC 4039</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>Interacting Spirals</td>
  </tr>
  <tr>
    <td>Tail-Tail Distance</td>
    <td>350,000 ly</td>
  </tr>
  <tr>
    <td>Center-Center Distance</td>
    <td>3000 ly</td>
  </tr>
  <tr>
    <td>Distance</td>
    <td>45 M ly</td>
  </tr>
  <tr>
    <td>constellation</td>
    <td>Corvus</td>
  </tr>
  </table>
  <br />
  <h3>Facts about the Antennae Galaxies</h3>
<p class="milkywaytext">
  Spiral galaxies that combine as the Antennae are doing will most likely ultimately end up as elliptical galaxies.The merger will erase all traces of their spiral arms.
</p>
<p class="milkywaytext">
  It is likely that when the Milky Way and the Andromeda Galaxies combine, they will look similar to the Antennae during at least one point of their interaction.
</p>
<p class="milkywaytext">
  Of the millions of new stars created during the Antennae merger, only about ten percent of them will live longer than 10 million years. That’s because they will be massive blue supergiants, a type of star that quickly consumes its nuclear fuel and explodes as a supernova.
</p>
<p class="milkywaytext">
  The remaining massive young star clusters formed during starburst activity will become the new galaxy’s globular clusters.
</p>
<p class="milkywaytext">
  The Antennae galaxies are the closest colliding galaxies to the Milky Way.
</p>
<%- include('footer'); -%>
