<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Aquarius</big></h1>
<br />
<img class="milkyimg" src="/images/aquarius.jpeg" alt="aquarius" />
<p class="milkywaytext">
Aquarius constellation is located in the southern hemisphere. It is one of the 12 zodiac constellations. The constellation’s name means “the water-bearer” (or “cup-bearer”) in Latin.
</p>
<p class="milkywaytext">
Aquarius lies in the region of the sky which is sometimes referred to as the Sea, because it contains a number of other constellations with names associated with water; Pisces (the fish), Eridanus (the river), and Cetus (the whale), among others. Like other zodiac constellations, Aquarius was catalogued by the Greek astronomer Ptolemy in the 2nd century.
</p>
<p class="milkywaytext">
Aquarius contains the famous supergiant star Sadalsuud (Beta Aquarii) and a number of notable deep sky objects: the globular clusters Messier 2 and Messier 72, the asterism Messier 73, the Aquarius Dwarf Galaxy, Atoms for Peace Galaxy (NGC 7252) and two well-known nebulae: the Saturn Nebula and the Helix Nebula.
</p>
<p class="milkywaytext">
It is located in the fourth quadrant of the southern hemisphere (SQ4) and can be seen at latitudes between +65° and -90°. The neighboring constellations are Aquila, Capricornus, Cetus, Delphinus, Equuleus, Pegasus, Pisces, Piscis Austrinus, and Sculptor.
</p>
<p class="milkywaytext">
Aquarius contains two stars brighter than magnitude 3.00 and seven stars that are located within 10 parsecs (32.6 light years) of Earth. The brightest star in the constellation is Beta Aquarii, also known as Sadalsuud, with an apparent magnitude of 2.87. The nearest star is EZ Aquarii, a triple star system composed of three M-type dwarfs, located at a distance of 11.27 light years from Earth.
</p>
<p class="milkywaytext">
Aquarius has a considerable number of stars with known exoplanets. These are Psi-1 Aquarii (91 Aquarii, spectral class K0III), HD 210277 (G0V), HD 212771 (G8IV), HD 222582 (G5), HD 220689 (G3V), HD 215152 (K0, two planets), HD 206610 (K0III), WASP-69 (K5), WASP-70 A (G4), WASP-75 (F9), Gliese 849 (M3.5, two planets), Gliese 876 (M3.5V, four planets), WASP-47 (G9V, four planets), and WASP-6 (G8).
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN AQUARIUS</h3>
<br />
<h3>Sadalsuud – β Aquarii (Beta Aquarii)</h3>
<p class="milkywaytext">
Sadalsuud is the brightest star in Aquarius. It belongs to a rare class of stars, the yellow supergiants. It has an apparent magnitude of 2.87 and is approximately 540 light years distant. Its name comes from the Arabic phrase sa’d al-suud, meaning the “luck of lucks.” Beta Aquarii has also sometimes been referred to as Lucida Fortunae Fortunarum, which is Latin for the “brightest luck of lucks.” The star is associated with the spring and the good fortune brought by the Sun when it rises after winter has passed.
</p>
<p class="milkywaytext">
Sadalsuud has a mass that is six times that of the Sun and is 2,200 times more luminous than the Sun. It is a triple or multiple star. The primary component, Beta Aquarii A, has two optical components, one with a magnitude of 11.0, lying 35.4 arc seconds away, and another with a magnitude of 11.6, 57.2 arc seconds away.
</p>
<br />
<h3>Sadalmelik – α Aquarii (Alpha Aquarii)</h3>
<p class="milkywaytext">
Sadalmelik is a G-type (yellow) supergiant, approximately 800 light years distant. It is 3000 times more luminous than the Sun and has an apparent magnitude of 2.950.
</p>
<p class="milkywaytext">
Its name is derived from the Arabic phrase sa’d al-malik, which means “luck of the king.” Sometimes the star was also called Ruchbah, a name that now formally applies to Delta Cassiopeiae.
</p>
<br />
<h3>Skat – δ Aquarii (Delta Aquarii)</h3>
<p class="milkywaytext">
Skat, Delta Aquarii, shares its traditional name with Beta Pegasi (Scheat). The name is derived from the Arabic as-saq, which means leg or shin. Skat is the third brightest star in Aquarius.
</p>
<p class="milkywaytext">
It is believed to be a member of the Ursa Major Moving Group (Collinder 285), an association of stars that includes the most prominent stars of Ursa Major, which share common velocities and origin.
</p>
<br />
<h3>Sadachbia – γ Aquarii (Gamma Aquarii)</h3>
<p class="milkywaytext">
Sadachbia, Gamma Aquarii, has an apparent magnitude of 3.84 and is 158 light years distant. Its name is derived from the Arabic phrase sa’d al-axbiyah, which means “luck of the homes” (tents). Gamma Aquarii is a spectroscopic binary star with a period of 58.1 days.
</p>
<br />
<h3>Sadaltager – ζ Aquarii (Zeta Aquarii)</h3>
<p class="milkywaytext">
Sadaltager, Zeta Aquarii, is another binary star, located at the centre of the water jar asterism. It has an apparent magnitude of 4.42 and is 103 light years distant. Its name comes from the Arabic expression sa’d al-tajir, which means “luck of the merchant.” Sometimes it is also called Altager, another variant of the same name.
</p>
<p class="milkywaytext">
The brighter component, Zeta-2 Aquarii, is a yellow-white F-type main sequence dwarf, while the companion, Zeta-1 Aquarii, is a yellow-white F-type subgiant. The pair is easy to resolve, as the stars are almost equally bright. Zeta-1 Aquarii has a visual magnitude of 4.59 and Zeta-2, of 4.42.
</p>
<br />
<h3>Sadaltager – ζ Aquarii (Zeta Aquarii)</h3>
<p class="milkywaytext">
Sadaltager, Zeta Aquarii, is another binary star, located at the centre of the water jar asterism. It has an apparent magnitude of 4.42 and is 103 light years distant. Its name comes from the Arabic expression sa’d al-tajir, which means “luck of the merchant.” Sometimes it is also called Altager, another variant of the same name.
</p>
<p class="milkywaytext">
The brighter component, Zeta-2 Aquarii, is a yellow-white F-type main sequence dwarf, while the companion, Zeta-1 Aquarii, is a yellow-white F-type subgiant. The pair is easy to resolve, as the stars are almost equally bright. Zeta-1 Aquarii has a visual magnitude of 4.59 and Zeta-2, of 4.42.
</p>
<br />
<h3>R Aquarii</h3>
<p class="milkywaytext">
  R Aquarii is notable for being a symbiotic star. It is a binary star, believed to consist of a white dwarf and a red giant that is a Mira-type variable star.
</p>
<p class="milkywaytext">
  The white dwarf’s gravitational pull draws in material from the red giant and sometimes ejects the surplus, which forms a nebula around the system. The nebula is known as Cederblad 211.
</p>
<%- include('footer'); -%>
