<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Aries</big></h1>
<br />
<img class="milkyimg" src="/images/aries.jpeg" alt="venus" />
<p class="milkywaytext">
Aries is a midsize constellation that's not particularly luminous, with only a few stars that are easily visible to the naked eye.
</p>
<p class="milkywaytext">
Aries constellation is located in the northern hemisphere. Its name means “the ram” in Latin. The constellation is usually associated with the story of the Golden Fleece in Greek mythology. Like other zodiac constellations, Aries was first catalogued by the Greek astronomer Ptolemy in the 2nd century.
</p>
<p class="milkywaytext">
Aries is the 39th largest constellation in the sky, occupying 441 square degrees. It lies in the first quadrant of the northern hemisphere (NQ1) and can be seen at latitudes between +90° and -60°.
</p>
<p class="milkywaytext">
The constellation has five stars with known planets and contains no Messier objects. The brightest star in Aries is Hamal, Alpha Arietis. There are several well-known meteor showers connected to this constellation: the May Arietids, Autumn Arietids, Delta Arietids, Epsilon Arietids, Daytime-Arietids, and Aries-Triangulids.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN ARIES</h3>
<br />
<h3>Hamal – α Arietis (Alpha Arietis)</h3>
<p class="milkywaytext">
Hamal is the brightest star in the constellation Aries and the 48th brightest star in the night sky. It is a K-type orange giant about twice as massive as the Sun, with an apparent magnitude varying between 1.98 and 2.04.
</p>
<p class="milkywaytext">
The star is 66 light years distant. Between 2000 and 100 BC, Hamal was located at the vernal equinox, the point that marks the beginning of spring.
</p>
<p class="milkywaytext">
The name Hamal means lamb and derives from the Arabic phrase rās al-ħamal, meaning “head of the ram".
</p>
<br />
<h3>Sheratan – β Arietis (Beta Arietis)</h3>
<p class="milkywaytext">
Sheratan, Beta Arietis, is a white main sequence star and a spectroscopic binary, 59.6 light years distant. The companion is suspected to be a G class star. Sheratan has a visual magnitude of 2.64. The name comes from the Arabic phrase aš-šarāţān, which means “the two signs,” and refers to the vernal equinox, which the star marked together with Gamma Arietis a few thousand years ago.
</p>
<br />
<h3>Mesarthim – γ Arietis (Gamma Arietis)</h3>
<p class="milkywaytext">
  Mesarthim, Gamma Arietis, is a triple star system. The star has also at times been referred to as the First Star in Aries because at one point it was the nearest visible star to the point of the vernal equinox.
  </p>
  <p class="milkywaytext">
    Gamma Arietis includes a binary star system composed of two white A-type main sequence stars with apparent magnitudes of 4.75 and 4.83, lying 7.7 arc seconds apart, and a third component, a magnitude 9.6 K-type star that lies 221 arc seconds away. The system is approximately 160 light years distant. The brightest component is classified as an Alpha-2 Canum Venaticorum type variable star, a chemically peculiar main sequence star with strong magnetic fields and strong strontium, chromium, or silicon spectral lines. The star’s brightness varies by 0.04 magnitudes with a period of 2.61 days.
    </p>
    <br />
    <h3>Botein – δ Arietis (Delta Arietis)</h3>
    <p class="milkywaytext">
      Delta Arietis, also known as Botein, is an orange K-type giant star approximately 168 light years from Earth. It has an apparent magnitude of 4.35 and a diameter 13 times longer than that of the Sun. The star’s name is derived from the Arabic word butain, which means “belly.”
      </p>
<%- include('footer'); -%>
