<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Ariel</big></h1>
<br />
<img class="milkyimg" src="/images/ariel.jpeg" alt="ariel" />
<p class="milkywaytext">
Ariel was discovered Oct. 24, 1851 by William Lassell, one of 19th century England's grand amateur astronomers, who used the fortune he made in the brewery business to finance his telescopes.
</p>
<p class="milkywaytext">
All of Uranus' larger moons, including Ariel, are thought to consist mostly of roughly equal amounts of water ice and silicate rock. Carbon dioxide has also been detected on Ariel.
</p>
<p class="milkywaytext">
Ariel's surface appears to be the youngest of all the moons of Uranus. It has few large craters and many small ones, indicating that fairly recent low-impact collisions wiped out the large craters that would have been left by much earlier, bigger strikes. Ariel is also thought to have had the most recent geologic activity of Uranus' larger moons. It is transected by grabens, which are fault-bounded valleys.
</p>
<p class="milkywaytext">
Measurements have shown that Ariel's surface temperature rises and falls quickly with the coming and going of sunlight, without a "thermal inertia" lag. That supports the picture of a porous surface, which would tend to insulate the moon and keep the subsurface from heating up. This texture could be the result of eons of micrometeorite strikes tilling the soil.
</p>
<p class="milkywaytext">
In an earlier time, Ariel appears to have undergone enough heating to allow differentiation―a separation in which heavier material sinks toward the core and lighter material "floats" at or near the surface. Models indicate that tidal interactions with Uranus may provide an important source of heat.
</p>
<p class="milkywaytext">
Like the other large Uranian moons, Ariel keeps the same face toward Uranus as it orbits the planet (just as our Moon keeps the same face always toward Earth). Ariels' orbit is prograde, with a low-inclination and eccentricity in respect to Uranus. This is known as a regular orbit.
</p>
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Ariel has the brightest surface of the five largest Uranian moons, but none of them reflect more than about a third of the sunlight that strikes them. This suggests that their surfaces have been darkened by a carbonaceous material. Ariel's brightness increases dramatically when it is in opposition―that is, when the observer is directly between it and the Sun. This indicates that its surface is porous, casting reflectivity-decreasing shadows when illuminated at other angles.
</p>
<p class="milkywaytext">
Ariel is the name for a character in both Shakespeare's "The Tempest" and Pope's poem “The Rape of the Lock.” This moon was named Ariel by Sir John Herschel (son of Uranus discoverer Sir William Herschel) at the request of the moon's discoverer, William Lassell.
</p>
<p class="milkywaytext">
In "The Tempest," Ariel is a spirit who serves Prospero, a magician who rescued Ariel from a tree in which he had been imprisoned by a witch called Sycorax. Both Prospero and Sycorax were taken as the names of other Uranian moons.
</p>
<p class="milkywaytext">
In Pope’s work, Ariel is a sylph who narrates the satirical poem.
</p>
<%- include('footer'); -%>
