<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Asteroid Belt</big></h1>
<br />
<img class="milkyimg" src="/images/asteroid.jpeg" alt="asteroidbelt" />
<p class="milkywaytext">
Scattered in orbits around the sun are bits and pieces of rock left over from the dawn of the solar system. Most of these objects, called planetoids or asteroids — meaning "star-like" — orbit between Mars and Jupiter in a grouping known as the Main Asteroid Belt.
</p>
<p class="milkywaytext">
The Main Asteroid Belt lies more than two-and-a-half times as far as Earth does from the sun. It contains millions of asteroids, according to NASA. Most of these are relatively small, from the size of boulders to a few thousand feet in diameter. But some are significantly larger.
</p>
<p class="milkywaytext">
The Main Belt lies between Mars and Jupiter, roughly two to four times the Earth-sun distance, and spans a region about 140 million miles across. Objects in the belt are divided into eight subgroups named after the main asteroids in each group. These groups are the Hungarias, Floras, Phocaea, Koronis, Eos, Themis, Cybeles and Hildas.
</p>
<p class="milkywaytext">
Within in the asteroid belt are relatively empty regions known as Kirkwood gaps. These gaps correspond to orbital resonances with Jupiter. The gas giant's gravitational pull keeps these regions far emptier than the rest of the belt. In other resonances, the asteroids can be more concentrated.
</p>
<p class="milkywaytext">
Johann Titius, an 18th-century German astronomer, noted a mathematical pattern in the layout of the planets and used it to predict the existence of one between Mars and Jupiter. Astronomers scoured the heavens in search of this missing body. In 1800, 25 astronomers formed a group known as the Celestial Police, each searching 15 degrees of the Zodiac for the missing planet. But the discovery of the first body in this region came from a nonmember, Italian astronomer Giuseppe Piazzi: he named it Ceres. A second body, Pallas, was found a little over a year later.
</p>
<p class="milkywaytext">
For some time, both of these objects were referred to as planets. But the discovery rate of these objects increased, and by the beginning of the 19th century, more than 100 had been found. Scientists quickly realized that these were too small to be considered planets, and they began to call them asteroids.
</p>
<img class="milkyimg" src="/images/asteroidshape.jpg" alt="asteroidbelt" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  Most of the asteroids in the Main Belt are made of rock and stone, but a small portion of them contain iron and nickel metals. The remaining asteroids are made up of a mix of these, along with carbon-rich materials. Some of the more distant asteroids tend to contain more ices. Although they aren't large enough to maintain an atmosphere, but there is evidence that some asteroids contain water.
</p>
<p class="milkywaytext">
Some asteroids are large, solid bodies — there are more than 16 in the belt with a diameter greater than 150 miles (240 km). The largest asteroids, Vesta, Pallas and Hygiea, are 250 miles (400 km) long and bigger. The region also contains the dwarf planet Ceres. At 590 miles (950 km) in diameter, or about a quarter of the size of our moon, Ceres is round yet is considered too small to be a full-fledged planet. However, it makes up approximately a third of the mass of the asteroid belt.
</p>
<p class="milkywaytext">
Other asteroids are piles of rubble held together by gravity. Most asteroids aren't quite massive enough to have achieved a spherical shape and instead are irregular, often resembling a lumpy potato. The asteroid 216 Kleopatra resembles a dog bone.
</p>
<%- include('footer'); -%>
