<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Asteroids</big></h1>
<br />
<img class="milkyimg" src="/images/asteroids.jpeg" alt="asteroids" />
<p class="milkywaytext">
Asteroids, sometimes called minor planets, are rocky remnants left over from the early formation of our solar system about 4.6 billion years ago.
</p>
<p class="milkywaytext">
  The current known asteroid count is: 994,380.
  .</p>
<p class="milkywaytext">
Most of this ancient space rubble can be found orbiting the sun between Mars and Jupiter within the main asteroid belt. Asteroids range in size from Vesta—the largest at about 329 miles (530 kilometers) in diameter - to bodies that are less than 33 feet (10 meters) across. The total mass of all the asteroids combined is less than that of Earth's Moon.
</p>
<img class="milkyimg" src="/images/asteroidshape.jpg" alt="asteroids" />

<p class="milkywaytext">
Most asteroids are irregularly shaped, though a few are nearly spherical, and they are often pitted or cratered. As they revolve around the sun in elliptical orbits, the asteroids also rotate, sometimes quite erratically, tumbling as they go. More than 150 asteroids are known to have a small companion moon (some have two moons). There are also binary (double) asteroids, in which two rocky bodies of roughly equal size orbit each other, as well as triple asteroid systems.
</p>
<h4>Main Asteroid Belt</h4>
<p class="milkywaytext">
The majority of known asteroids orbit within the asteroid belt between Mars and Jupiter, generally with not very elongated orbits. The belt is estimated to contain between 1.1 and 1.9 million asteroids larger than 1 kilometer (0.6 mile) in diameter, and millions of smaller ones. Early in the history of the solar system, the gravity of newly formed Jupiter brought an end to the formation of planetary bodies in this region and caused the small bodies to collide with one another, fragmenting them into the asteroids we observe today.
</p>
<h4>Trojans</h4>
<p class="milkywaytext">
 These asteroids share an orbit with a larger planet, but do not collide with it because they gather around two special places in the orbit (called the L4 and L5 Lagrangian points). There, the gravitational pull from the sun and the planet are balanced by a trojan's tendency to otherwise fly out of the orbit. The Jupiter trojans form the most significant population of trojan asteroids. It is thought that they are as numerous as the asteroids in the asteroid belt. There are Mars and Neptune trojans, and NASA announced the discovery of an Earth trojan in 2011.
</p>
<h4>Near-Earth Asteroids</h4>
<p class="milkywaytext">
These objects have orbits that pass close by that of Earth. Asteroids that actually cross Earth's orbital path are known as Earth-crossers. As of June 19, 2013, 10,003 near-Earth asteroids are known and the number over 1 kilometer in diameter is thought to be 861, with 1,409 classified as potentially hazardous asteroids - those that could pose a threat to Earth.
</p>
<img class="milkyimg" src="/images/asteroidspic.jpeg" alt="asteroids" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
The three broad composition classes of asteroids are C-, S-, and M-types.
</p>
<p class="milkywaytext">
The C-type (chondrite) asteroids are most common, probably consist of clay and silicate rocks, and are dark in appearance. They are among the most ancient objects in the solar system.
</p>
<p class="milkywaytext">
The S-types ("stony") are made up of silicate materials and nickel-iron.
</p>
<p class="milkywaytext">
The M-types are metallic (nickel-iron). The asteroids' compositional differences are related to how far from the sun they formed. Some experienced high temperatures after they formed and partly melted, with iron sinking to the center and forcing basaltic (volcanic) lava to the surface.
</p>
<p class="milkywaytext">
  Jupiter's massive gravity and occasional close encounters with Mars or another object change the asteroids' orbits, knocking them out of the main belt and hurling them into space in all directions across the orbits of the other planets. Stray asteroids and asteroid fragments slammed into Earth and the other planets in the past, playing a major role in altering the geological history of the planets and in the evolution of life on Earth.
  </p>
  <p class="milkywaytext">
    Scientists continuously monitor Earth-crossing asteroids, whose paths intersect Earth's orbit, and near-Earth asteroids that approach Earth's orbital distance to within about 45 million kilometers (28 million miles) and may pose an impact danger. Radar is a valuable tool in detecting and monitoring potential impact hazards. By reflecting transmitted signals off objects, images and other information can be derived from the echoes. Scientists can learn a great deal about an asteroid's orbit, rotation, size, shape, and metal concentration.
    </p>
<img class="milkyimg" src="/images/asteroidnearearth.jpeg" alt="asteroids" />
<p class="milkywaytext">
  The International Astronomical Union's Committee on Small Body Nomenclature.is a little less strict when it comes to naming asteroids than other IAU naming committees. So out there orbiting the sun we have giant space rocks named for Mr. Spock (a cat named for the character of "Star Trek" fame), rock musician Frank Zappa, beloved teachers such as Florida’s Cynthia L. Reyes, and more somber tributes such as the seven asteroids named for the crew of the Space Shuttle Columbia killed in 2003. Asteroids are also named for places and a variety of other things. (The IAU discourages naming asteroids for pets, so Mr. Spock stands alone).  Asteroids are also given a number, for example (99942) Apophis. The Harvard Smithsonian Center for Astrophysics keeps a fairly current list of asteroid names.
</p>
<br />
<h3>Critical Science Targets</h3>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/bennu.jpeg" />
      <a href="/bennu">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">101955 Bennu</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/Chariklo.jpeg" />
    <a href="/chariklo">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">10199 Chariklo</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/psyche.jpeg" />
      <a href="/psyche">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">16 Psyche</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ida.jpeg" />
      <a href="ida">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">243  Ida</button>
        </a>
    </div>
  </div>
</div>
</section>
<br  />
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/itokawa.jpeg" />
      <a href="/itokawa">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">25143 Itokawa</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/mathilde.jpeg" />
    <a href="/mathilde">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">253 Mathilde</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/eros.jpeg" />
      <a href="/eros">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">433 Eros</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/vesta.jpeg" />
      <a href="vesta">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">4 Vesta</button>
        </a>
    </div>
  </div>
</div>
</section>
<%- include('footer'); -%>
