<%- include('header'); -%>
</div>
</section>
<br />
<br />

<h2 class="newsheading"><big>4 Indian astronauts are training in Russia for future spaceflights.</big></h2>
<br />
<br />
<br />

<img class="milkyimg" src="/images/astro.webp" alt="astro" />
<br />
<br />

<p class="milkywaytext">
  Four Indian astronauts continue to train at Russia's Gagarin Cosmonaut Training Center near Moscow as prospective space travelers for India's crewed Gaganyaan project.
</p>
<p class="milkywaytext">
  The Gaganyaan program aims to launch an astronaut before the 75th anniversary of India's independence, in 2022, according to previous statements from the nation's space agency, the  Indian Space Research Organisation (ISRO).
</p>
<p class="milkywaytext">
  According to Russia's space agency Roscosmos, the four Indian astronauts "are in good health and are determined to continue their training." The trainees arrived in February and are scheduled to complete their stay at the facility in early 2021.
</p>
<p class="milkywaytext">
  The training program for the foursome has encompassed a broad range of skills necessary for spaceflight, according to the Roscosmos statement, including learning Russian and studying every aspect of the Soyuz vehicle. The Indian astronauts have also completed a variety of simulations mimicking different ways astronauts can return to Earth, including landing on the steppes, in wooded or marshy areas and splashing down in bodies of water.
</p>
<p class="milkywaytext">
  The Indian astronaut trainees have also undergone short-term weightlessness simulations and practiced being air-lifted from a landing site in a helicopter.Still to come in the Indian astronauts' training will be centrifuge simulations of G-forces and stints in a pressure chamber, each of which will teach their bodies what to expect from spaceflight.
</p>
<%- include('footer'); -%>
