<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Backward Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/backwardgalaxy.jpg" alt="backward" />
<p class="milkywaytext">
  The spiral galaxy, NGC 4622 (also called Backward galaxy), lies approx. 111 million light years away from Earth in the constellation Centaurus. NGC 4622 is an example of a galaxy with leading spiral arms. In spiral galaxies, spiral arms were thought to trail; the tips of the spiral arms winding away from the center of the galaxy in the direction of the disks orbital rotation. In NGC 4622, however, the outer arms are leading spiral arms; the tips of the spiral arms point towards the direction of disk rotation. This may be the result of a gravitational interaction between NGC 4622 and another galaxy or the result of a merger between NGC 4622 and a smaller object.
</p>
<br />
<table id="customers">

  <tr>
    <td>Designation</td>
    <td>NGC 4622</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>unbarred spiral galaxy</td>
  </tr>
    <tr>
    <td>Magnitude</td>
    <td>12.6</td>
  </tr>
  <tr>
    <td>Distance</td>
    <td>200 Mly</td>
  </tr>
  <tr>
    <td>constellation</td>
    <td>Centaurus</td>
  </tr>
  </table>
  <br />
<p class="milkywaytext">
  NGC 4622 also has a single inner trailing spiral arm. Although it was originally suspected that the inner spiral arm was a leading arm, the observations that established that the outer arms were leading also established that the inner arm was trailing.
</p>
<p class="milkywaytext">
  These results were met with skepticism in part because they contradicted conventional wisdom with one quote being “so you’re the backward astronomers who found the backward galaxy.” The fact that a pair of arms could lead was not easy to accept. Astronomical objections centered on the fact that dust reddening and cloud silhouettes were used to determine that the outer arms lead. The galaxy disk is tilted only 19 degrees from face-on making near to far-side effects of dust hard to discern and because clumpy dust clouds might be concentrated on one side of the disk, creating misleading results.
</p>
<p class="milkywaytext">
  While the presence of backward arms in a galaxy may seem like an inconvenient truth to many, two independent methods now indicate that NGC 4622's arms do indeed behave in a very unusual fashion, with the outer arms winding outward in the same direction the disk turns.
</p>
<%- include('footer'); -%>
