<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Bear's Paw Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/bear.jpeg" alt="bearpaw" />
<p class="milkywaytext">
  NGC 2537 or Bear's Paw is a blue compact dwarf galaxy in the constellation Lynx, located around 3 degrees NNW of 31 Lyncis.This is Arp 6 or Mrk 86. It belongs to the iE class of Blue Compact Dwarf (BCD) classification, which is described as galactic spectra with an underlying smooth elliptical Low Surface Brightness component with a superimposed "knotted" star formation component .
</p>
<%- include('footer'); -%>
