<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Black Eye Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/blackeye.jpeg" alt="blackeye" />
<p class="milkywaytext">
  The Black Eye Galaxy (also called Evil Eye Galaxy and designated Messier 64, M64, or NGC 4826) is a relatively isolated spiral galaxy located 17 million light-years away in the northern constellation of Coma Berenices. It was discovered by Edward Pigott in March 1779, and independently by Johann Elert Bode in April of the same year, as well as by Charles Messier in 1780. A dark band of absorbing dust in front of the galaxy's bright nucleus gave rise to its nicknames of the "Black Eye" or "Evil Eye" galaxy. M64 is well known among amateur astronomers because of its appearance in small telescopes.
</p>
<p class="milkywaytext">
  This galaxy is inclined 60° to the line-of-sight and has a position angle of 112°.At the distance of this galaxy, it has a linear scale of 65 ly (20 pc) per arcsecond. The morphological classification of NGC 4826 in the De Vaucouleurs system is (R)SA(rs)ab, where the '(R)' indicates an outer ring-like structure, 'SA' denotes a non-barred spiral, '(rs)' means a transitional inner ring/spiral structure, and 'ab' says the spiral arms are fairly tightly wound. Ann et al (2015) gave it a class of SABa, suggesting a weakly barred spiral galaxy with tightly wound arms.
</p>
<p class="milkywaytext">
  M64 is a type 2 Seyfert galaxy with an HII/LINER nucleus. The central region is a weak source of radio emission. A soft X-ray source has been detected at the nucleus, which is most likely coming from the circumnuclear region rather than directly from an active galactic nucleus.[14] There is an inner disk of molecular gas that is truncated at a radius of 2,300 ly (700 pc). At present, the non-rotational motions of this disk do not significantly feed the core, but the disk does produce a vigorous rate of star formation, with also approximately 100 billion stars inside the galaxy. There is also evidence of a recent large inflow of mass.
</p>
<p class="milkywaytext">
  The interstellar medium of Messier 64 consists of two counter-rotating disks that are approximately equal in mass.The inner disk contains the prominent dust lanes of the galaxy. The stellar population of the galaxy exhibits no measurable counter-rotation. Possible formation scenarios include a merger with a gas-rich satellite galaxy in a retrograde orbit, or the continued accretion of gas clouds from the intergalactic medium.It has a diameter of 54,000 ly (17 kpc).
</p>
<%- include('footer'); -%>
