<%- include('header'); -%>
</div>
</section>
<br />
<br />
<br />
<h1 class="newsheading">Expand Your Knowledge Explorer!</h1>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/satellite.jpg" />
            <div class="card-body">
              <p class="factbox">Most Popular Satellites.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/satellite">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/telescope.jpg" />
            <div class="card-body">
              <p class="factbox">Best telescopes for beginners.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/telescope">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/rocket1.png" />
            <div class="card-body">
              <p class="factbox">Basics of Space Flight.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/spaceflight">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">11 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<%- include('footer'); -%>
