<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Boomerang Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/boom.jpeg" alt="boomerang" />
<p class="milkywaytext">
  The Boomerang Nebula (PGC 3074547) is a protoplanetary nebula located in the constellation Centaurus. The nebula lies at an approximate distance of 5,000 light years from Earth. It has a temperature of only 1 K (-272.15°C or -458°F) and is currently the coldest known place in the universe.
</p>
<p class="milkywaytext">
  The Boomerang Nebula is also known as the Centaurus Bipolar Nebula and the Bow Tie Nebula, a name it shares with the planetary nebula NGC 40 (Caldwell 2) in the constellation Cepheus.
</p>
<p class="milkywaytext">
  The nebula, which is currently evolving toward the planetary nebula phase, was formed by a star in the late stage of its life shedding its mass to form clouds of dust and gas and illuminating the clouds with its light. The star has lost almost one and a half times the mass of the Sun in the last 1,500 years. It is shedding mass about 10 times faster than similar stars that are expelling gas. The preplanetary nebula stage lasts only about a thousand years.
</p>
<p class="milkywaytext">
  As the central white dwarf continues to expel material from its surface and outflowing gas continues to move outwards, the nebula continues to form. It expands at a rate of 164 km/s. The gas rapidly expanding as it moves away from the central star results in the nebula’s extremely low temperature. The nebula is colder even than the faint afterglow of the Big Bang, or the cosmic microwave background (CMB), thermal radiation left over from the Big Bang.
</p>
<p class="milkywaytext">
  Parts of the Boomerang Nebula’s central region are obscured by dust, causing the nebula to appear hourglass-shaped when seen in visible light from Earth. The nebula’s structure consists of a large, round molecular gas cloud which is rapidly expanding and a considerably denser cloud of dust surrounding the central star. The smaller, doughnut-shaped dust cloud blocks the light radiating from the star’s equator, which is why the nebula appears double-lobed.
</p>
<p class="milkywaytext">
  The complex structure of the Boomerang Nebula also includes a hollow cylindrical nebula around the dying star, suspected to have been formed by jets of hydrogen or helium gas emanating from the star’s poles, eroding the surrounding gas and carving out a tunnel in it.
</p>
<p class="milkywaytext">
  The nebula was named Boomerang by Keith Taylor and Mike Scarrott in 1980 after they had observed it with the 3.9-metre Anglo Australian Telescope at the Siding Spring Observatory near Coonabarabran in New South Wales, Australia. The astronomers were only able to see the slightly curved shape of the nebula’s asymmetrical lobes, which resembled the shape of a boomerang.
</p>
<p class="milkywaytext">
  The Boomerang Nebula was revealed to be the coldest natural place in the universe in 1995. Astronomers used the 15-metre Swedish-ESO Submilimetre Telescope (SEST), a radio telescope at the La Silla Observatory in Chile., when they made the discovery.
</p>

<p class="milkywaytext">
  The more detailed images of the Boomerang Nebula taken by the Hubble Space Telescope in 1998 revealed that the bow tie shape was an illusion and that the cloud of gas surrounding the central star was in fact spherical.
  </p>
  <p class="milkywaytext">
Observations with the ALMA radio interferometer in 2013 revealed that the nebula’s double lobe was surrounded by a large volume of cold gas that could only be detected in sub-milimetre radio wavelengths. The outer regions of the nebula appear to be slowly warming, but are still colder than the cosmic microwave background.

    </p>
<%- include('footer'); -%>
