<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>2I/Borisov</big></h1>
<br />
<img class="milkyimg" src="/images/borisov.jpeg" alt="borisov" />
<p class="milkywaytext">
Comet 2I/Borisov is the first confirmed interstellar comet. It was discovered by Crimean amateur astronomer Gennady Borisov on Aug. 30, 2019, and quickly became a global phenomenon. After a week of observations by amateur and professional astronomers worldwide, scientists determined the path of the fleeting visitor and confirmed it came from outside our solar system.
</p>
<p class="milkywaytext">
NASA’s Hubble Space Telescope captured images of comet 2I/Borisov in October and December of 2019, as it streaked through our solar system at a breakneck speed of about 110,000 miles (177,000 kilometers) per hour. The images showed a lot of dust around a bright nucleus, though the nucleus itself was too small to be seen by Hubble.
</p>
<p class="milkywaytext">
In March 2020, scientists using Hubble noticed a distinct change in the comet’s appearance: Instead of the single bright inner core spotted in previous images, the images indicated a fragment had broken away from the nucleus. Scientists will continue to use Hubble to monitor the comet.
</p>
<p class="milkywaytext">
Other comets come mostly from two places: the Kuiper Belt — a donut-shaped region filled with icy bodies beyond the orbit of Neptune, or from the Oort Cloud — the most distant region of our solar system, beginning some 100,000 astronomical units (AU) from the Sun, which contains billions of comets orbiting in a spherical shell. (One AU is the distance between the Earth and Sun — about 93 million miles or 150 million kilometers.)
</p>
<p class="milkywaytext">
Comet 2I/Borisov is estimated to be about 3,200 feet (975 meters) across — or about the length of nine football fields. It’s rapidly moving away from our Sun and will eventually head back into interstellar space, never to return.
</p>
<p class="milkywaytext">
The Sun's gravity is slightly changing comet 2I/Borisov’s trajectory, but it cannot capture it and pull it into orbit because of the comet’s path and its high velocity of about 110,000 miles (177,000 kilometers) per hour.
</p>
<p class="milkywaytext">
Observations by NASA’s Hubble Space Telescope revealed that the heart of the comet is a loose agglomeration of ices and dust particles. In March 2020, astronomers using Hubble saw indications that a fragment had broken off the comet. Follow-up observations using Hubble are planned.
</p>
<p class="milkywaytext">
Comet 2I/Borisov formed in a different star system than our Sun and its family of planets. It could be much older or younger than our 4.5 billion-year-old family of worlds. Many comets that originally formed around our Sun have been ejected from our solar system — mostly due to gravitational encounters with Jupiter. Thus, it's conceivable that Comet 2I/Borisov might also have been ejected from its home in a similar manner.
</p>
<p class="milkywaytext">
  We have no direct observations of Comet 2I/Borisov's surface, but comets from our own planetary system have rough surfaces coated in places with smooth blankets of icy, dusty debris.
  </p>
  <p class="milkywaytext">
    Comet 2I/Borisov is too small to hold onto its own atmosphere — it doesn't have enough material (or mass), and thus not enough gravity. However, like most comets that venture closer to the Sun than Jupiter's orbit, Comet 2I/Borisov developed a coma — a dust-filled cloud of gas around the comet's nucleus, created when ices are warmed by solar heating and loft fine dust off the comet's surface and into space.
    </p>
<%- include('footer'); -%>
