<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>19/P Borrelly</big></h1>
<br />
<img class="milkyimg" src="/images/borrelly.jpeg" alt="borrelly" />
<p class="milkywaytext">
Comet 19P/Borrelly was discovered by Alphonse Louis Nicolas Borrelly on Dec. 28, 1904 in Marseilles, France.
</p>
<p class="milkywaytext">
With a shape resembling a chicken leg, the nucleus of comet 19P/Borrelly is approximately 5 miles (8 kilometers) long. The nucleus is inside a much larger cloud of gas and dust known as the "coma."
</p>
<p class="milkywaytext">
Borrelly follows an elliptical orbit around the Sun, looping from inside the orbit of Mars to outside the orbit of Jupiter and back again. It is a "Jupiter-family comet," with an orbit period of less than 20 years and one ds1that has been significantly modified by the gravity of the gas giant planet through close passages. (Astronomers have discovered hundreds of Jupiter family comets.) It takes 6.9 years for Borrelly to orbit the Sun once. The comet last reached perihelion (closest approach to the Sun) in 2015.
</p>
<p class="milkywaytext">
Deep Space 1 encountered comet Borrelly on Sept. 22, 2001. Flying by a speed of 10.3 miles (16.6 kilometers) per second (more than 37,000 mph, or almost 60,000 kph), Deep Space 1 traveled just 1,349 miles (2,171 kilometers) from Borrelly's nucleus. This spacecraft captured the best pictures of any comet's nucleus at the time and collected other valuable scientific data as well.
</p>
<p class="milkywaytext">
Deep Space 1, which was launched in 1998, was designed to test high-risk, advanced technologies on an operational interplanetary mission. Technologies proven by this mission have been used to benefit almost all deep-space missions since then. One of the most exotic technologies, ion propulsion, was essential for the success of the Dawn mission.
</p>
<p class="milkywaytext">
Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. Since Alphonse Borrelly discovered this comet, it is named for him. The letter "P" indicates that 19P/Borrelly is a "periodic" comet, meaning it has an orbital period of less than 200 years.
</p>
<%- include('footer'); -%>
