<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Butterfly Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/butterfly.jpeg" alt="butterfly" />
<p class="milkywaytext">
  NGC 4567 and NGC 4568 (nicknamed the Butterfly Galaxies or Siamese Twins) are a set of unbarred spiral galaxies about 60 million light-years away in the constellation Virgo. They were both discovered by William Herschel in 1784. They are part of the Virgo Cluster of galaxies. Only one supernova (SN 2004cc) was observed in the Butterfly Galaxies until March 31, 2020, when the Zwicky Transient Facility detected the rapidly-rising supernova 2020fqv.
</p>
<p class="milkywaytext">
  These galaxies are in the process of colliding and merging with each other, as studies of their distributions of neutral and molecular hydrogen show, with the highest star-formation activity in the part where they overlap. However, the system is still in an early phase of interaction.
</p>
<%- include('footer'); -%>
