<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Cancer</big></h1>
<br />
<img class="milkyimg" src="/images/cancer.jpeg" alt="cancer" />
<p class="milkywaytext">
  Cancer constellation is located in the northern sky. Its name means “the crab” in Latin.
</p>
<p class="milkywaytext">
  Cancer contains a number of famous deep sky objects, among them the open cluster Praesepe, also known as the Beehive Cluster (Messier 44), the open cluster Messier 67, and the interacting spiral galaxies NGC 2535 and NGC 2536.
</p>
<p class="milkywaytext">
  Cancer is the 31st largest constellation in the sky, occupying an area of 506 square degrees. It lies in the second quadrant of the northern hemisphere (NQ2) and can be seen at latitudes between +90° and -60°. The neighboring constellations are
  Canis Minor, Gemini, Hydra, Leo, Leo Minor, and Lynx.
</p>
<p class="milkywaytext">
  Cancer belongs to the Zodiac family of constellations, along with Aries, Taurus, Gemini, Leo, Virgo, Libra, Scorpius, Sagittarius, Capricornus, Aquarius, and Pisces.
</p>
<p class="milkywaytext">
  Cancer contains two Messier objects – the Beehive Cluster (M44, NGC 2632) and M67 (NGC 2682) – and has two stars with known planets. The brightest star in the constellation is Al Tarf, Beta Cancri. The Delta Cancrids are the only meteor shower
  associated with the constellation.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN CANCER</h3>
<br />
<h3>Acubens – α Cancri (Alpha Cancri)</h3>
<p class="milkywaytext">
  Acubens, Alpha Cancri, is only the fourth brightest star in Cancer. Its apparent magnitude varies between 4.20 and 4.27.
</p>
<p class="milkywaytext">
  The star is sometimes also called Al Zubanah or Sertan. The name Al Zubanah comes from the Arabic az-zubānah, which means “claws,” while Sertan is derived from saraţān, which means “the crab.”
</p>
<p class="milkywaytext">
  Alpha Cancri is a multiple star system located approximately 174 light years from Earth. The brightest component, Alpha Cancri A, is a white A-type main sequence dwarf. The star has an eleventh magnitude companion, Alpha Cancri B. The brighter star
  in the system is suspected to be a very close binary itself, consisting of two stars separated by 0.1 arc seconds.
</p>
<br />
<h3>Al Tarf – β Cancri (Beta Cancri)</h3>
<p class="milkywaytext">
  Beta Cancri is the brightest star in the constellation, with an apparent magnitude of 3.5. It is a binary star that consists of an orange K-type giant and a fourteenth magnitude companion 29 arc seconds away. Beta Cancri is approximately 290 light
  years distant.
</p>
<br />
<h3>Asellus Australis – δ Cancri (Delta Cancri)</h3>
<p class="milkywaytext">
  Delta Cancri is an orange giant with an apparent magnitude of 3.94. It is 180 light years distant. It is the second brightest star in Cancer. It marks the location of Praesepe (Messier 44), the famous open cluster, also known as the Beehive
  Cluster.
</p>
<p class="milkywaytext">
  The star is also notable for its less famous name, Arkushanangarushashutu, which is the longest of all the known star names. It means “the southeast star in the Crab” in ancient Babylonian.
</p>
<br />
<h3>Asellus Borealis – γ Cancri (Gamma Cancri) </h3>
<P class="milkywaytext">
  Gamma Cancri is a white A-type subgiant approximately 158 light years distant. It has an apparent magnitude of 4.66. The star’s traditional name, Asellus Borealis, means “northern donkey colt.” Like Alpha and Delta Cancri, Gamma Cancri is also
  located near the ecliptic and can be occulted.
</P>
<p class="milkywaytext">
  Delta and Gamma Cancri, the northern and southern donkey, are usually associated with an old Greek myth. Erastosthenes wrote that, in the war between the gods and the Giants that came after the clash with the Titans, the gods Hephaestus, Dionysus
  and several others rode on donkeys into battle. The Giants, who had never heard a donkey bray, thought the donkeys were monsters and fled. Dionysus later placed the donkeys in the sky to commemorate the event. He put them next to a star cluster
  which the Greeks called the Manger (Phatne). The cluster is now known as Praesepe or, more popularly, the Beehive Cluster. (In Latin, praesepe can mean both “hive” and “manger.”)
</p>
<br />
<h3>55 Cancri</h3>
<P class="milkywaytext">
  55 Cancri is a double star that consists of a yellow main sequence dwarf belonging to the spectral class G8V and a 13th magnitude red dwarf that can only be seen through a telescope. The system is approximately 41 light years distant.
  </P>
<p class="milkywaytext">
  55 Cancri is notable because, as of 2010, astronomers have confirmed five extrasolar planets orbiting the primary star in the system, 55 Cancri A. This is one of the four known planetary systems known to have at least five planets. (Others are our solar system, Gliese 581 in the constellation Libra and HD 10180 in Hydrus.) The planet nearest to the star is believed to be a terrestrial planet with a mass similar to Neptune, while the outermost planets are believed to be Jovian planets, with masses comparable to that of Jupiter.
  </p>
<br />
<h3>Tegmine – ζ Cancri (Zeta Cancri)</h3>
<p class="milkywaytext">
  Zeta Cancri is a multiple star system approximately 83.4 light years from Earth. It contains at least four stars. Its traditional name, Tegmine, means “the shell of the crab.” The system has an apparent magnitude of 4.67.
  </p>
<%- include('footer'); -%>
