<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Canis Major Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/canis.jpg" alt="canis" />
<p class="milkywaytext">
  Canis Major Dwarf Galaxy, member of the Local Group of galaxies (the group that includes the Milky Way Galaxy) named after the constellation Canis Major, in which it appears to lie.
</p>
<p class="milkywaytext">
It was discovered in 2003 by a team of astronomers from France, Italy, Australia, and the United Kingdom who were involved in the Two-Micron All Sky Survey (2MASS), a project initiated in the late 1990s in which automated telescopes in Arizona and Chile systematically scanned the entire sky in three infrared wavelengths.
</p>
<img class="milkyimg" src="/images/canis.jpeg" alt="canis" />
<p class="milkywaytext">
  The 2MASS allowed astronomers to peer through the clouds of dust that pervade the plane of the Milky Way. The Canis Major Dwarf Galaxy lies some 25,000 light-years from Earth’s solar system and about 42,000 light-years from the centre of the Milky Way, which makes it the closest galaxy to the Milky Way found to date.
</p>
<p class="milkywaytext">
   It contains only about a billion stars (in comparison, the Milky Way Galaxy contains several hundred billion stars) and is being tidally disrupted by the enormous gravitational field of the Milky Way Galaxy.
</p>
<%- include('footer'); -%>
