<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Centaurus A Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/centaurus.jpeg" alt="butterfly" />
<p class="milkywaytext">
  Centaurus A is a peculiar galaxy located in the southern constellation Centaurus. It is the fifth brightest galaxy in the night sky, the nearest giant galaxy to the Milky Way, and one of the nearest radio galaxies to Earth.
</p>
<p class="milkywaytext">
  Its exact type is uncertain, but it is usually classified either as a giant elliptical or lenticular galaxy. The galaxy’s exact distance from Earth is also uncertain, but estimates generally range from 10 to 16 million light years.
</p>
<p class="milkywaytext">
  Centaurus A has the designation NGC 5128 in the New General Catalogue.
</p>
<p class="milkywaytext">
  The galaxy’s name, Centaurus A, dates back to the 1940s and 1950s when radio astronomy was a relatively new field of study and radio sources in the sky were named by letters, with A designating the strongest radio source found within a given
  constellation.
</p>
<img class="milkyimg" src="/images/cent.jpg" alt="butterfly" />

<p class="milkywaytext">
  Centaurus A was the first bright source of radio emissions discovered in Centaurus.
</p>
<p class="milkywaytext">
  The unusual appearance of Centaurus A has earned it the nickname the Hamburger Galaxy, which it shares with Sarah’s Galaxy (NGC 3628), an edge-on spiral galaxy in Leo constellation and one of the three galaxies that form the Leo Triplet (Messier
  65, Messier 66, NGC 3628).
</p>
<p class="milkywaytext">
  When observed in optical wavelengths, Centaurus A looks like an elliptical galaxy. However, ellipticals don’t typically have dust bands because they are dust poor and contain mostly old stars.
</p>
<p class="milkywaytext">
  Astronomers believe that Centaurus A is in fact a giant elliptical galaxy currently in the process of devouring a dusty barred spiral galaxy about the same size as the nearby Triangulum Galaxy (Messier 33). The elliptical galaxy is believed to have
  assimilated its smaller neighbour about 200 to 700 million years ago.
</p>
<p class="milkywaytext">
  Centaurus A is a popular target among both professional and amateur astronomers.
</p>
<p class="milkywaytext">
  As one of the closest radio galaxies to the solar system, NGC 5128 and its active galactic nucleus have often been an object of study, while amateur astronomers like to observe it because it is one of the brightest galaxies in the sky and
  relatively easy to find.
</p>
<p class="milkywaytext">
  Centaurus A lies far to the south and can only be seen from the southern hemisphere and low northern latitudes. The galaxy lies about 4 degrees north of the globular cluster Omega Centauri, which can be seen without binoculars. The galaxy’s central
  bulge and the dust lane can be seen in large binoculars and amateur telescopes, but additional details are only visible in larger telescopes.
</p>
<p class="milkywaytext">
  The galaxy is located near the centre of Centaurus constellation. It lies to the southwest of the bright star Menkent (Theta Centauri) and northwest of the even brighter Alpha and Beta Centauri.
</p>
<P class="milkywaytext">
  Centaurus A is the nearest active galaxy to the solar system. It is a starburst galaxy, with more than 100 regions of star formation identified in the galaxy’s disk. The galaxy’s bulge, on the other hand, contains mostly evolved red stars. The
  starburst activity in the disk is believed to be a result of a collision with another galaxy.
</P>
<p class="milkywaytext">
  The peculiar nature of Centaurus A, now believed to be a result of a galactic merger, was first documented by the English astronomer John Herschel in 1847
</p>
<%- include('footer'); -%>
