<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Capricornus</big></h1>
<br />
<img class="milkyimg" src="/images/Capricorn.jpeg" alt="capricorn" />
<p class="milkywaytext">
Like other constellations of the zodiac, Capricornus was first catalogued by the Greek astronomer Ptolemy in the 2nd century. The constellation is associated with two mythical creatures from Greek legends: the deity Pan and the goat Amalthea, who suckled Zeus when he was very young.
</p>
<p class="milkywaytext">
Capricornus constellation is home to several notable stars, as well as to the famous globular cluster Messier 30.
</p>
<p class="milkywaytext">
Capricornus is the 40th biggest constellation in the sky, occupying an area of 414 square degrees. It lies in the fourth quadrant of the southern hemisphere (SQ4) and can be seen at latitudes between +60° and -90°. The neighboring constellations are Aquarius, Aquila, Microscopium, Piscis Austrinus, and Sagittarius.
</p>
<p class="milkywaytext">
Capricornus has three stars with known planets and also contains a Messier object, M30 (NGC 7099). The brightest star in the constellation is Deneb Algedi, Delta Capricorni. There are five meteor showers associated with Capricornus: the Alpha Capricornids, the Chi Capricornids, the Sigma Capricornids, the Tau Capricornids, and the Capricorniden-Sagittarids.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN CAPRICORNUS</h3>
<br />
<h3>Deneb Algedi – δ Capricorni (Delta Capricorni) </h3>
<p class="milkywaytext">
Delta Capricorni is the brightest star in the constellation, with an apparent magnitude of 2.85. The star is known by its traditional names Deneb Algedi and Sheddi. Deneb Algedi comes from the Arabic ðanab al-jady, which means “the tail of the goat.” The star is located near the ecliptic and can be occulted by the Moon and, very rarely, by planets.
</p>
<p class="milkywaytext">
Deneb Algedi is a four-star system 39 light years from Earth. The brightest star, Delta Capricorni A, is a white giant that belongs to the spectral class A. It has the luminosity 8.5 times that of the Sun.
</p>
<p class="milkywaytext">
It is a spectroscopic eclipsing binary star. The unresolved companion star orbits with the giant around a common centre of mass every 1.023 days, resulting in the star’s luminosity dropping 0.2 magnitudes during the eclipses. Deneb Algedi is a Delta Scuti type variable, a star that varies in brightness due to both radial and non-radial pulsations of its surface.
</p>
<br />
<h3>Dabih – β Capricorni (Beta Capricorni)</h3>
<p class="milkywaytext">
Beta Capricorni is the second brightest star in Capricornus. Its traditional name, Dabih, comes from the Arabic al-dhābiḥ, which means “the butcher".
</p>
<p class="milkywaytext">
Dabih is not a single star, but a star system, 328 light years distant, located near the ecliptic. It consists of Dabih Major (Beta-1 Capricorni), the brighter component, with an apparent magnitude of 3.05, and Dabih Minor (Beta-2 Capricorni), which has an apparent magnitude of 6.09. The two are separated by 3.5 arc minutes, or 0.34 light years, and complete one orbit every 700,000 years or so.
</p>
<p class="milkywaytext">
Both Dabih Major (Beta-1) and Dabih Minor (Beta-2) are composed of multiple stars. Beta-1 has at least three components. The brightest one is an orange K-type bright giant with an apparent magnitude of 3.08. The second brightest component is a blue-white B-type main sequence dwarf, which has a magnitude of 7.20. The two are separated by 0.05 arc seconds and have an orbital period of 3.77 years. The second component has an unseen companion that orbits it every 8.7 days.
</p>
<br />
<h3>Algiedi – α Capricorni (Alpha Capricorni) </h3>
<p class="milkywaytext">
Algiedi (or Algedi) is an optical binary star. Its name comes from the Arabic al-jady, which means “the billy goat.” It is composed of two star systems, Prima Giedi (Alpha-2 Capricorni) and Secunda Giedi (Alpha-2 Capricorni), which are separated by 0.11 degrees in the sky.
</p>
<p class="milkywaytext">
Alpha-1 Capricorni is a double star approximately 690 light years distant. It consists of a yellow G-type supergiant with a magnitude of 4.30, and an eight magnitude companion 0.65 arc seconds away.
</p>
<p class="milkywaytext">
Alpha-2 Capricorni is a yellow G-type giant, about 109 light years distant. It has a magnitude of 3.58 and is the brighter of the two components.
</p>

<br />
<h3>Nashira – γ Capricorni (Gamma Capricorni)</h3>
<p class="milkywaytext">
Nashira is a blue-white A-type giant, approximately 139 light years distant. Its name is derived from the Arabic phrase for “bearer of good news.” It has an apparent magnitude of 3.69 and lies close to the ecliptic. The star’s brightness varies by 0.03 magnitudes. It is classified as an Alpha-2 Canum Venaticorum type variable, a chemically peculiar star with strong magnetic fields.
</p>

<br />
<h3>Yen – ζ Capricorni (Zeta Capricorni)</h3>
<p class="milkywaytext">
Zeta Capricorni is a double star composed of a yellow G-type supergiant and a white dwarf. The system has an apparent magnitude of 3.77 and is approximately 398 light years distant. The brighter component is a Barium star that is particularly notable for having an overabundance of praseodymium.
</p>
<br />
<h3>Dorsum – θ Capricorni (Theta Capricorni)</h3>
<p class="milkywaytext">
Dorsum is a white A-type main sequence dwarf, about 158 light years distant. It has an apparent magnitude of 4.08. The star’s traditional name comes from the Latin word for “the back (of the goat)".
</p>
<%- include('footer'); -%>
