<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Carina Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/carina.jpeg" alt="carina" />
<p class="milkywaytext">
  The Carina Nebula is a bright, large emission nebula surrounding the star Eta Carinae, located in the southern constellation Carina.
</p>
<p class="milkywaytext">
  It is also sometimes called the Eta Carinae Nebula, the Grand Nebula, or the Great Nebula in Carina. The nebula’s designation in the New General Catalogue is NGC 3372. It is one of the largest diffuse nebulae known, one that contains several open star clusters.

</p>
<p class="milkywaytext">
  The Carina Nebula is home to several notable objects: the Mystic Mountain, the Homunculus Nebula, and the Keyhole Nebula.
</p>
<p class="milkywaytext">
  The Carina Nebula lies in the Carina-Sagittarius Arm of the Milky Way, at a distance between 6,500 and 10,000 light years from Earth. The estimated distance of the nebula is 7,500 light years.
</p>
<p class="milkywaytext">
  NGC 3372 is exceptionally large, about four times the size of the Orion Nebula (Messier 42). It can easily be seen without binoculars even though it is about five times more distant than the famous nebula in Orion constellation.
</p>
<p class="milkywaytext">
  Eta Carinae Nebula is not quite as well known as the Orion Nebula because it lies in the southern sky and can only be observed from equatorial and southern latitudes.
</p>
<p class="milkywaytext">
  The nebula spans about 460 light years in diameter, covering an area of three degrees of the sky. It is one of the largest known star forming regions in the Milky Way. X-ray images of the region reveal that the nebula has also been a site of multiple supernova explosions.
</p>
<p class="milkywaytext">
  The Carina Nebula was discovered by the French astronomer Nicolas Louis de Lacaille in 1751-52, who observed the southern constellations from the Cape of Good Hope in South Africa.
</p>

<p class="milkywaytext">
  Astronomers John Herschel and James Dunlop, who also observed the southern skies, called the nebula the Eta Carinae Nebula or Eta Argus Nebula, referring to the former constellation Argo Navis, representing the ship of Jason and the Argonauts, which was split into several smaller constellations. Carina constellation represents the keel of the ship, while Vela represents the sails and Puppis constellation marks the stern. Herschel described the object as “The star η Argus, with the Great nebula about it.”
  </p>
  <p class="milkywaytext">
The Carina Nebula is home to several exceptionally bright and massive stars, including Eta Carinae and HD 93129A, and multiple O-type stars. It is known to contain at least a dozen stars with a mass at least 50 to 100 times than of the Sun.
    </p>
    <p class="milkywaytext">
      NGC 3372 contains eight open clusters, including Collider 228, Trumpler 16 and Trumpler 14. Trumpler 14 is the youngest and most populated cluster in the group.
      </p>
<p class="milkywaytext">
  The first generation of newly formed stars in the nebula are believed to have condensed some three million years ago, igniting in the middle of a large hydrogen cloud. Radiation from these young stars shaped a bubble of hot gas, which has kept expanding ever since. The stellar winds and ultraviolet radiation within the region are compressing cold hydrogen, resulting in more new stars being formed inside the nebula.
  </p>
<p class="milkywaytext">
  The pillars of dust and gas within the Eta Carinae Nebula will be destroyed by the young stars over the next 100,000 years and all that will remain will be a new open star cluster.
  </p>
<%- include('footer'); -%>
