<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Carina Dwarf Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/carina.jpeg" alt="carina" />
<p class="milkywaytext">
  The Carina Dwarf Spheroidal Galaxy is a dwarf galaxy in the Carina constellation. It was discovered in 1977 with the UK Schmidt Telescope by Cannon et al.The Carina Dwarf Spheroidal galaxy is a satellite galaxy of the Milky Way and is receding from it at 230 km/s. The diameter of the galaxy is about 1600 light-years, which is 75 times smaller than the Milky Way. Most of the stars in the galaxy formed 7 billion years ago, although it also experienced bursts of star formation about 13 and 3 billion years ago. It is also being tidally disrupted by the Milky Way galaxy.
</p>
<%- include('footer'); -%>
