<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>CartWheel Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/cartwheel.jpeg" alt="butterfly" />
<p class="milkywaytext">
  The Cartwheel Galaxy (also known as ESO 350-40 or PGC 2248) is a lenticular galaxy and ring galaxy about 500 million light-years away in the constellation Sculptor. It is an estimated 150,000 light-years diameter, and has a mass of about 2.9–4.8 × 10<sup>9</sup> solar masses; its outer ring has a circular velocity of 217 km/s.
</p>
<p class="milkywaytext">
  An estimation of the galaxy's span resulted in a conclusion of 150,000 light years, which is slightly smaller than the Milky Way.
</p>
<p class="milkywaytext">
  The Cartwheel galaxy shows non-thermal radio and optical spokes, but they are not the same spokes.
  </p>
  <p class="milkywaytext">
    The galaxy was once a normal spiral galaxy before it apparently underwent a head-on collision with a smaller companion approximately 200 million years ago (i.e., 200 million years prior to the image). When the nearby galaxy passed through the Cartwheel Galaxy, the force of the collision caused a powerful shock wave through the galaxy, like a rock being tossed into a sandbed. Moving at high speed, the shock wave swept up gas and dust, creating a starburst around the galaxy's center portion that were unscathed. This explains the bluish ring around the center, brighter portion. It can be seen that the galaxy is beginning to retake the form of a normal spiral galaxy, with arms spreading out from a central core.
    </p>
<%- include('footer'); -%>
