<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Cat's Eye Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/catseye.jpeg" alt="catseye" />
<p class="milkywaytext">
  The Cat’s Eye Nebula is a famous planetary nebula located in the northern constellation Draco. The nebula’s designation in the New General Catalogue is NGC 6543.
</p>
<p class="milkywaytext">
  The Cat’s Eye is one of the most structurally complex nebulae known. It was formed around 1,000 years ago when a hot, bright central star expelled its outer envelope. It is sometimes also known as the Sunflower Nebula or the Snail Nebula. It lies at a distance of 3,300 light years from Earth.
</p>
<p class="milkywaytext">
  The Cat’s Eye Nebula is easy to observe from northern latitudes as it is located almost exactly in the direction of the North Ecliptic Pole. The nebula appears as a diffuse blue-green disk crossed by an s-shaped brown curve, with an intricate circular structure at the inner region. The nebula’s core has an apparent size of 20” and a high surface brightness.
</p>
<p class="milkywaytext">
  The Cat’s Eye Nebula consists mainly of hydrogen and helium, with smaller quantities of heavier elements. It was one of the first planetary nebulae to be discovered.
</p>
<p class="milkywaytext">
  The central progenitor star is an O7 [WR]-type star, about 10,000 times brighter than the Sun and with a radius only 0.65 times solar. The star has a temperature of about 80,000 K. It is losing around 20 trillion tons of mass per second in a fast stellar wind, or 3.2×10−7 solar masses per year. The star is believed to have originally had a mass of around 5 times solar. The stellar wind has a velocity of around 1,900 km/s.
</p>
<p class="milkywaytext">
  The Cat’s Eye Nebula is expanding at a speed of 16.4 km/s. Its angular expansion rate is 3.457 miliarcseconds per year.
</p>
<p class="milkywaytext">
  The Cat’s Eye Nebula has a complex, intricate structure which includes knots, bubbles, concentric gas shells, and jets of gas, as seen in hi-res images taken by the Hubble Space Telescope in 1994. The nebula’s structural complexity may be the result of material being expelled from a binary central star, but the existence of a binary companion has not yet been directly confirmed
</p>
<p class="milkywaytext">
  The bright inner region of NGC 6543 is relatively small, with the major axis of the inner ellipse spanning only 16.1 seconds of arc. The distance between the condensations is 24.7 arcseconds, and the nebula’s extended halo has a diameter of approximately 386 arcseconds, or 5.8 arcminutes. The extended halo, which has a temperature of about 15,000 K, consists of matter that the central star expelled in its red giant stage. The temperature of the main body of the nebula is between 7,000 and 9,000 K.

</p>
<br />
<h3>Discovery</h3>
<p class="milkywaytext">
  NGC 6543 was discovered by the German-born British astronomer William Herschel on February 15, 1786. Herschel compared the nebula’s appearance to that of the disk of an outer planet when seen through a small telescope, which is how planetary nebulae got their name.
  </p>
  <p class="milkywaytext">
The English amateur astronomer William Huggins studied the nebula’s spectrum on August 29, 1864 and showed for the first time that planetary nebulae contain hot gases, but not stars. The Cat’s Eye was the first planetary nebula to be studied with a spectroscope. It has since been observed across the full electromagnetic spectrum, from infrared to X-ray.

    </p>
    <p class="milkywaytext">
      The brightest of the knots in the nebula’s halo was discovered by E.E. Barnard on April 24, 1900. The knot has its own entry in the IC catalogue: IC 4677.
      </p>
<br />
<%- include('footer'); -%>
