<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Ceres</big></h1>
<br />
<img class="milkyimg" src="/images/ceres.jpg" alt="ceres" />
<p class="milkywaytext">
  Dwarf planet Ceres is the largest object in the asteroid belt between Mars and Jupiter and the only dwarf planet located in the inner solar system. It was the first member of the asteroid belt to be discovered when Giuseppe Piazzi spotted it in
  1801. And when Dawn arrived in 2015, Ceres became the first dwarf planet to receive a visit from a spacecraft.
</p>
<p class="milkywaytext">
  Called an asteroid for many years, Ceres is so much bigger and so different from its rocky neighbors that scientists classified it as a dwarf planet in 2006. Even though Ceres comprises 25 percent of the asteroid belt's total mass, tiny Pluto is
  still 14 times more massive.
</p>
<p class="milkywaytext">
  Ceres takes 1,682 Earth days, or 4.6 Earth years, to make one trip around the sun. As Ceres orbits the sun, it completes one rotation every 9 hours, making its day length one of the shortest in the solar system.
</p>
<p class="milkywaytext">
  Ceres' axis of rotation is tilted just 4 degrees with respect to the plane of its orbit around the sun. That means it spins nearly perfectly upright and doesn't experience seasons like other more tilted planets do.
</p>
<img class="milkyimg" src="/images/ceresgif.gif" alt="ceres" />
<p class="milkywaytext">
  Ceres formed along with the rest of the solar system about 4.5 billion years ago when gravity pulled swirling gas and dust in to become a small dwarf planet. Scientists describe Ceres as an "embryonic planet," which means it started to form but
  didn't quite finish. Nearby Jupiter's strong gravity prevented it from becoming a fully formed planet. About 4 billion years ago, Ceres settled into its current location among the leftover pieces of planetary formation in the asteroid belt between
  Mars and Jupiter.
</p>
<p class="milkywaytext">
  Ceres is covered in countless small, young craters, but none are larger than 175 miles (280 kilometers) in diameter. This is surprising, given that the dwarf planet must have been hit by numerous large asteroids during its 4.5 billion-year
  lifetime.
</p>
<p class="milkywaytext">
  The lack of craters might be due to layers of ice just below the surface. The surface features could smooth out over time if ice or another lower-density material, such as salt, is just below the surface. It's also possible that past hydrothermal
  activity, such as ice volcanoes, erased some large craters.
</p>
<p class="milkywaytext">
  Within some of Ceres' craters, there are regions that are always in shadow. It's possible that without direct sunlight, these "cold traps" could have water ice in them for long periods of time.
</p>
<img class="milkyimg" src="/images/ceressurface.jpg" alt="ceres" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  Ceres is named for the Roman goddess of corn and harvests. The word cereal comes from the same name.
</p>
<p class="milkywaytext">
  With a radius of 296 miles (476 kilometers), Ceres is 1/13 the radius of Earth. If Earth were the size of a nickel, Ceres would be about as big as a poppy seed.
</p>
<p class="milkywaytext">
  From an average distance of 257 million miles (413 million kilometers), Ceres is 2.8 astronomical units away from the sun. One astronomical unit (abbreviated as AU), is the distance from the sun to Earth. From this distance, it takes sunlight 22
  minutes to travel from the sun to Ceres.
</p>
<p class="milkywaytext">
  Ceres is more similar to the terrestrial planets (Mercury, Venus, Earth and Mars) than its asteroid neighbors, but it is much less dense. One of the similarities is a layered interior, but Ceres' layers aren’t as clearly defined. Ceres probably has
  a solid core and a mantle made of water ice. In fact, Ceres could be composed of as much as 25 percent water. If that is correct, Ceres has more water than Earth does. Ceres' crust is rocky and dusty with large salt deposits. The salts on Ceres
  aren’t like table salt (sodium chloride), but instead are made of different minerals like magnesium sulfate.
</p>
<img class="milkyimg" src="/images/cerescore.jpg" alt="ceres" />
<p class="milkywaytext">
  Ceres has a very thin atmosphere, and there is evidence it contains water vapor. The vapor may be produced by ice volcanoes or by ice near the surface sublimating (transforming from solid to gas).
</p>
<p class="milkywaytext">
  Ceres is one of the few places in our solar system where scientists would like to search for possible signs of life. Ceres has something a lot of other planets don't: water. Here on Earth, water is essential for life, so it's possible that with
  this ingredient and a few other conditions met, life could maybe exist there. Living things on Ceres, if they are there at all, would likely be very small microbes similar to bacteria. And while Ceres might not have living things today, there could
  be signs it harbored life in the past.
</p>
<p class="milkywaytext">
  Scientists don't think Ceres has a magnetosphere.
</p>
<%- include('footer'); -%>
