<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Cetus A Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/cetus.jpeg" alt="carina" />
<p class="milkywaytext">
  Messier 77 (M77), also known as Cetus A, is a barred spiral galaxy located in the constellation Cetus. It lies at a distance of 47 million light years and has an apparent magnitude of 9.6. The galaxy has the designation NGC 1068 in the New General Catalogue.
</p>
<p class="milkywaytext">
  It lies at a distance of 47 million light years and has an apparent magnitude of 9.6. The galaxy has the designation NGC 1068 in the New General Catalogue.

</p>
<p class="milkywaytext">
  Messier 77 is one of the largest galaxies included in the Messier catalogue. It occupies an area of 7.1 by 6 arc minutes of apparent sky, which corresponds to a linear diameter of 170,000 light years. The bright parts measure roughly 120,000 light years. The galaxy’s inclination is estimated to be 40 degrees.
</p>
<p class="milkywaytext">
  The galaxy is easy to spot with binoculars as it is quite compact and has a bright core. Small telescopes will reveal a fuzzy ball of light with a bright centre, and 4-inch instruments will also show the galaxy’s oval halo. 8-inch and larger instruments reveal the details of the galaxy’s structure.
</p>
<p class="milkywaytext">
  Messier 77 can be found about 1 degree to the southeast of Delta Ceti, a subgiant star with a visual magnitude of 4.08. The galaxy is located only a few degrees away from Mira (Omicron Ceti), the famous red long-period variable star. The best time of year to observe M77 is during the autumn.
</p>
<p class="milkywaytext">
  Messier 77 is an active galaxy. It is classified as a type 2 Seyfert galaxy and is the brightest galaxy of this type in the sky. Named after the American astronomer Carl Seyfert, who was the first to identify the class in 1943, Seyfert galaxies are characterised by hot, highly ionised gas around an extremely active centre. M77 serves as the protoype for the class. The galaxy’ active galactic nucleus (AGN) is hidden from view by dust and cannot be seen in visible light.
</p>
<p class="milkywaytext">
  Messier 77 is also the nearest Seyfert galaxy to the solar system, and one of the most studied galaxies in the sky. Classified as a barred spiral, M77 has loosely wound spiral arms, dotted with countless star forming regions, and a small central bulge. The supermassive black hole at the galaxy’s core has an estimated mass of around 15 million times that of the Sun and is less than 12 light years in diameter. The galaxy itself has a mass of about 1 billion solar masses.
</p>
<%- include('footer'); -%>
