<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Comets</big></h1>
<br />
<img class="milkyimg" src="/images/comet.jpeg" alt="comet" />
<p class="milkywaytext">
In the distant past, people were both awed and alarmed by comets, perceiving them as long-haired stars that appeared in the sky unannounced and unpredictably. Chinese astronomers kept extensive records for centuries, including illustrations of characteristic types of comet tails, times of cometary appearances and disappearances, and celestial positions. These historic comet annals have proven to be a valuable resource for later astronomers.
</p>
<p class="milkywaytext">
We now know that comets are leftovers from the dawn of our solar system around 4.6 billion years ago, and consist mostly of ice coated with dark organic material. They have been referred to as "dirty snowballs." They may yield important clues about the formation of our solar system. Comets may have brought water and organic compounds, the building blocks of life, to the early Earth and other parts of the solar system.
</p>
<p class="milkywaytext">
As theorized by astronomer Gerard Kuiper in 1951, a disc-like belt of icy bodies exists beyond Neptune, where a population of dark comets orbits the Sun in the realm of Pluto. These icy objects, occasionally pushed by gravity into orbits bringing them closer to the Sun, become the so-called short-period comets. Taking less than 200 years to orbit the Sun, in many cases their appearance is predictable because they have passed by before. Less predictable are long-period comets, many of which arrive from a region called the Oort Cloud about 100,000 astronomical units (that is, about 100,000 times the distance between Earth and the Sun) from the Sun. These Oort Cloud comets can take as long as 30 million years to complete one trip around the Sun.
</p>
<p class="milkywaytext">
Each comet has a tiny frozen part, called a nucleus, often no larger than a few kilometers across. The nucleus contains icy chunks, frozen gases with bits of embedded dust. A comet warms up as it nears the Sun and develops an atmosphere, or coma. The Sun's heat causes the comet's ices to change to gases so the coma gets larger. The coma may extend hundreds of thousands of kilometers. The pressure of sunlight and high-speed solar particles (solar wind) can blow the coma dust and gas away from the Sun, sometimes forming a long, bright tail. Comets actually have two tails―a dust tail and an ion (gas) tail.
</p>
<p class="milkywaytext">
Most comets travel a safe distance from the Sun―comet Halley comes no closer than 89 million kilometers (55 million miles). However, some comets, called sungrazers, crash straight into the Sun or get so close that they break up and evaporate.
</p>
<img class="milkyimg" src="/images/comets1.jpeg" alt="Comet" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Scientists have long wanted to study comets in some detail, tantalized by the few 1986 images of comet Halley's nucleus. NASA's Deep Space 1 spacecraft flew by comet Borrelly in 2001 and photographed its nucleus, which is about 8 kilometers (5 miles) long.
</p>
<p class="milkywaytext">
NASA's Stardust mission successfully flew within 236 kilometers (147 miles) of the nucleus of Comet Wild 2 in January 2004, collecting cometary particles and interstellar dust for a sample return to Earth in 2006. The photographs taken during this close flyby of a comet nucleus show jets of dust and a rugged, textured surface. Analysis of the Stardust samples suggests that comets may be more complex than originally thought. Minerals formed near the Sun or other stars were found in the samples, suggesting that materials from the inner regions of the solar system traveled to the outer regions where comets formed.
</p>
<p class="milkywaytext">
Another NASA mission, Deep Impact, consisted of a flyby spacecraft and an impactor. In July 2005, the impactor was released into the path of the nucleus of comet Tempel 1 in a planned collision, which vaporized the impactor and ejected massive amounts of fine, powdery material from beneath the comet's surface. En route to impact, the impactor camera imaged the comet in increasing detail. Two cameras and a spectrometer on the flyby spacecraft recorded the dramatic excavation that helped determine the interior composition and structure of the nucleus.
</p>
<img class="milkyimg" src="/images/comet2.jpeg" alt="comet" />
<p class="milkywaytext">
After their successful primary missions, the Deep Impact spacecraft and the Stardust spacecraft were still healthy and were retargeted for additional cometary flybys. Deep Impact's mission, EPOXI (Extrasolar Planet Observation and Deep Impact Extended Investigation), comprised two projects: the Deep Impact Extended Investigation (DIXI), which encountered comet Hartley 2 in November 2010, and the Extrasolar Planet Observation and Characterization (EPOCh) investigation, which searched for Earth-size planets around other stars on route to Hartley 2. NASA returned to comet Tempel 1 in 2011, when the Stardust New Exploration of Tempel 1 (NExT) mission observed changes in the nucleus since Deep Impact's 2005 encounter.
</p>
<p class="milkywaytext">
Comet naming can be complicated. Comets are generally named for their discoverer—either a person or a spacecraft. This International Astronomical Union guideline was developed only in the last century. For example, comet Shoemaker-Levy 9 was so named because it was the ninth short-periodic comet discovered by Eugene and Carolyn Shoemaker and David Levy. Since spacecraft are very effective at spotting comets many comets have LINEAR, SOHO or WISE in their names.
</p>
<br />
<h3>Critical Science Targets</h3>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/hartley.jpeg" />
      <a href="/Hartley2">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">103P/Hartley 2</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/swift.jpeg" />
    <a href="/swift-tuttle">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">109P/Swift-Tuttle</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/borrelly.jpeg" />
      <a href="/borrelly">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">19P/Borrelly</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/halley.jpeg" />
      <a href="halley">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">1P/Halley</button>
        </a>
    </div>
  </div>
</div>
</section>
<br  />
<!-- 2nd row------------------------------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/giacobini.jpeg" />
      <a href="/giacobini">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">21P/Giacobini-Zinner</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/borisov.jpeg" />
    <a href="/borisov">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">2l/Borisov</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/encke.jpeg" />
      <a href="/encke">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">2P/Encke</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/wild.png" />
      <a href="wild2">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">81P/Wild 2</button>
        </a>
    </div>
  </div>
</div>
</section>
<br  />
<!--3rd row------------------------------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/tempel.jpeg" />
      <a href="/tempel-tuttle">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">9P/Tempel 1-Tuttle</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ison.jpeg" />
    <a href="/ison">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">ISON</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/uomuamua.jpg" />
      <a href="/oumuamua">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Oumuamua</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/shoemaker.jpeg" />
      <a href="shoemaker-levy">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">P/Shoemaker-Levy 9</button>
        </a>
    </div>
  </div>
</div>
</section>
<%- include('footer'); -%>
