<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Constellations</big></h1>
<br />
<img class="milkyimg" src="/images/constellation.jpeg" alt="constellation" />
<p class="milkywaytext">
Constellations (“set of stars”) are basically groups of stars that have imaginatively been linked together to depict mythological characters, animals and objects from mankind’s past. This allowed early people to organize the night sky into a recognizable form to assist in their religious study of the celestial heavens, as well as more earthly applications, such as predicting the seasons for farming, measuring time or as a directional compass.
</p>
<p class="milkywaytext">
In 1922, the International Astronomical Union (IAU) officially recognized 88 constellations, 48 of which were recorded by the Greek astronomer Ptolemy in his book ‘Almagest’ written around 150 AD. Ptolemy’s chart had gaps, especially near the south celestial pole as this area was uncharted at the time, but over the centuries new constellations have been added to the list, including by Dutch explorers Gerardus Mercator (1551), and Pieter Keyser and Frederick de Hautmann near the turn of the 16th century. Polish astronomer Johannes Hevelius (1690), and French astronomer Nicolas Louis de Lacaille (1750s) later completed the remaining constellations we are now familiar with in the night sky.
</p>
<p class="milkywaytext">
The Greeks knowledge of the constellations stretches way back in time at least to the 8th century BC when Homer made the earliest known Greek reference to the constellations Boötes, Orion, and Ursa Major in his epic poem the Illiad and the Odyssey. Nevertheless, much of the Greek’s initial knowledge of the constellations came to them from the Ancient Egyptians, who likely inherited their understanding from Ancient Babylon and Sumeria before them. In fact, at least 30 modern constellations can be shown to date back to at around the Late Bronze Age (1650-1050 BC), with references to some of the constellations found in Mesopotamian clay writing tablets and Babylonian star constellation catalogs dating back to the 3rd millennium BCE. There are also references to be found in the Hebrew Bible, and Biblical texts. Orion is perhaps the most distinctive of all the constellations, and an amazing discovery was made in 1972 at the Ach valley in Germany after an image of Orion was found carved into a piece of mammoth ivory more than 32,000 years old.
</p>
<p class="milkywaytext">
A constellation family refers to a group of constellations located within the same region of the night sky. They usually take their names from their most important constellation, the most prolific of which is the Hercules Family containing 19 constellations. Others include the Ursa Major Family (10), the Perseus Family (9) and the Orion Family (5).
</p>
<P class="milkywaytext">
  An asterism is a pattern of stars that are widely recognized and contained within an official constellation but is not counted as a true constellation in itself. The Big Dipper, for instance, is a famous asterism but the seven stars in this arrangement of stars represent less than half of the whole constellation known as Ursa Major. Another famous asterism is the three stars in a row which form Orion’s belt.
  </P>
<img class="milkyimg" src="/images/constellations.png" alt="constellation" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Each night more stars and constellation begin to appear in the eastern part of the sky at dusk before moving across and disappearing over the western horizon by dawn. Likewise, those constellations which we had been able to see low near the western horizon after sunset will vanish from our view only to be replaced by constellations which had been higher in the sky at sunset just a few weeks earlier. The constellations which appear in the east have a daily shift rate close to one degree per day, as completing a 360 degrees circular journey around the Sun in 365 days produces roughly that rate. One full year later, and the stars subsequently return to the same position and rising time as the year before.
</p>
<p class="milkywaytext">
The direction in which the constellations appear to rotate in the night sky is truly a matter of perspective, and is determined by the Earth’s rotation, as well as the direction in which an observer is facing. Looking north, the constellations appear to rotate counterclockwise around a fixed point in the night sky known as the north celestial pole, which is located near the north star Polaris. This is because the Earth spinning from West to East means the ground beneath you is rotating to your right, while above you the stars appear to follow an East to West direction (right to left) just like the Sun, Moon, and planets. If you face south, however, the stars would seem to revolve in a clockwise direction (left to right); while a person facing east would see the stars coming up in front of them and setting behind them. Likewise, a west facing observer will see the stars appearing to rise behind them before setting to their front
</p>
<p class="milkywaytext">
The most commonly known of all the 88 constellations are the 12 zodiac constellations, which appear within an 18 degree wide band of sky called the ecliptic plane, which the Sun, Moon and planets seems to traverse throughout the year from the Earth’s perspective. Less well known, however, is that there is in actual fact a 13th constellation which also occupies this zodiacal band, namely Ophiuchus the ‘serpent-bearer.’
</p>
<p class="milkywaytext">
The biggest constellation is Hydra which extends over more than 3% of the night sky, while the smallest is Crux covering a mere 0.165%. Centaurus contains the largest number of visible stars at 101; while Canis Major contains the brightest star in the celestial heavens, namely Sirius, which has an apparent magnitude of -1.46 and means ‘glowing’ in Ancient Greek. Mensa, on the other hand, is the faintest constellation in the night sky as its brightest star has a visual magnitude of just 5.09.
</p>
<br />
<h3>Critical Science Targets</h3>
<br />
<img class="milkyimg" src="/images/zodiac.jpeg" alt="constellation" />

<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/aries.jpeg" />
      <a href="/aries">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Aries</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/taurus.jpeg" />
    <a href="/taurus">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Taurus</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/gemini.jpeg" />
      <a href="/gemini">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Gemini</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/cancer.jpeg" />
      <a href="cancer">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Cancer</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!-- 2nd row--------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/leo1.jpeg" />
      <a href="/leo">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Leo</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/virgo.jpeg" />
    <a href="/virgo">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Virgo</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/libra.jpeg" />
      <a href="/libra">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Libra</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/scorpius.jpeg" />
      <a href="scorpio">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Scorpius</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--3rd row----------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/Sagittarius.jpeg" />
      <a href="/sagittarius">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Sagittarius</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/capricorn.jpeg" />
    <a href="/capricorn">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Capricorn</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/Aquarius.jpeg" />
      <a href="/aquarius">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Aquarius</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/pisces.jpeg" />
      <a href="pisces">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Pisces</button>
        </a>
    </div>
  </div>
</div>
</section>
<%- include('footer'); -%>
