<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Crab Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/crab.jpeg" alt="crab" />
<p class="milkywaytext">
  The Crab Nebula is around 6,500 light years from Earth and is located in the constellation of Taurus.
</p>
<p class="milkywaytext">
  It is categorized as a supernova remnant, these type of nebula are created after a large star explodes at the end of its lifespan.
</p>
<p class="milkywaytext">
  The core of the dead star remains at the heart of the crab nebula and is now a pulsar, an incredibly dense and rapidly rotating object that emits high levels of radiation.
</p>
<p class="milkywaytext">
  The pulsar at the center of the Crab Nebula is thought to be only 18 miles (30 km) in diameter but has at least 1.5 times the mass of the sun.
</p>
<p class="milkywaytext">
  Unsurprisingly the object at the center of the nebula is known as the Crab Pulsar.
</p>
<p class="milkywaytext">
  The Crab Nebula has a span of 11 light years across and is growing at a rate of around 1 billion kilometers per day.
</p>
<p class="milkywaytext">
  The bright filaments or threads of the nebula are around 15,000 C (27,000 F) in temperature.
</p>
<p class="milkywaytext">
  The Crab Nebula produces 75,000 times more energy than the sun and emits radiation from the entire range of the electromagnetic spectrum.
</p>
<br />
<h3>Discovery</h3>
<p class="milkywaytext">
  The supernova explosion that created the Crab Nebula was witnessed by far-eastern astronomers in 1054. At the time it would have been an extremely bright object in the night sky for several weeks and would have even been visible during the day.
  </p>
  <p class="milkywaytext">
The nebula itself was discovered in 1721 by the British astronomer John Bevis. In 1758 Charles Messier began creating his catalogue of objects in the night sky. Messier was unaware of Bevis's discovery and catalogued the object as Messier 1 or M1. In 1844 the Irish astronomer William Parsons made a drawing of the nebula after observing it through his telescope, he thought it looked rather like a crab and thus the nebula gained its name. In the early 20th century astronomers realized that the nebula was expanding, by reversing the expansion rate they traced it back to the incident that had occurred 900 years earlier. As a result the Crab Nebula became the first ever object to be recognized as a supernova remnant.
    </p>
    <p class="milkywaytext">
      </p>
<br />
<h3>LOcation</h3>
<br />
<img class="milkyimg" src="/images/crablocation.jpg" alt="crab" />
<br />
<p class="milkywaytext">
  This image shows the position of the Crab Nebula in the night sky. The nearest bright star to the nebula is Zeta Pegasi, once you have located that it is easy enough to find the Crab Nebula. You can use the very bright stars Betelgeuse in the constellation of Orion and Aldebaran in the constellation of Taurus as markers to locate Zeta Pegasi. The nebula is visible from late autumn to early spring in the northern hemisphere and the summer months in the southern hemisphere. Unfortunately the Crab Nebula is too dim to be viewed with the naked eye, with a pair of binoculars you will only make out a faint smudge so a telescope is needed in order to see more detail.
  </p>
<%- include('footer'); -%>
