<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Dark Matter</big></h1>
<br />
<img class="milkyimg" src="/images/dark.jpeg" alt="dark" />
<p class="milkywaytext">
  For the first 150 million years after the Big Bang, there were no galaxies or stars or planets. The universe was featureless.

</p>
<p class="milkywaytext">
As time passed, the first stars formed. Stars collected into galaxies. Galaxies began to cluster together. Those clusters are made up of the galaxies and all the material between the galaxies. Clumps of matter in smashed into each other, and the planets in our solar system began to form around the sun.
</p>
<p class="milkywaytext">
  Something must hold our solar system, galaxies and clusters of galaxies together. And gravity is that "glue."

</p>

<p class="milkywaytext">
In some clusters, the space between galaxies is filled with gas so hot, scientists cannot see it using visible light telescopes. The gas only can be seen as X-rays or gamma rays. Scientists look at that gas and measure how much there is between galaxies in clusters. By doing this, they discovered that there must be five times more material in the clusters than we can detect. The invisible matter that we can't detect is called "dark matter."
</p>
<p class="milkywaytext">
  In many ways, scientists know more about what dark matter is not, though they do have a few ideas about what it could be.

</p>
<p class="milkywaytext">
  Dark matter possibly could be brown dwarfs, "failed" stars that never ignited because they lacked the mass needed to start burning. Dark matter could be white dwarfs, the remnants of cores of dead small- to medium-size stars. Or dark matter could be neutron stars or black holes, the remnants of large stars after they explode.

</p>
<img class="milkyimg" src="/images/darkmatter.png" alt="dark" />

<p class="milkywaytext">
  However, problems exist with each of these suggestions. Scientists have strong evidence there aren't enough brown dwarfs or white dwarfs to account for all the dark matter. Black holes and neutron stars, too, are rare.

</p>
<p class="milkywaytext">
Dark matter may not be made up of the matter we are familiar with at all. The matter that makes up dark matter could different. It may be filled with particles predicted by theory but that scientists have yet to observe.
</p>
<p class="milkywaytext">
Because scientists can't see dark matter directly, they have found other ways to investigate it. We can use indirect ways to study things, like looking at a shadow and making an educated guess about what's casting the shadow. One way scientists indirectly study dark matter is by using gravitational lensing.
</p>
<p class="milkywaytext">
Light going through a gravitational lens is similar to light going through an optical lens: It gets bent. When light from distant stars passes through a galaxy or cluster, the gravity of the matter present in the galaxy or cluster causes the light to bend. As a result, the light looks like it is coming from somewhere else rather than from its actual origin. The amount of bending helps scientists learn about the dark matter present.
</p>
<p class="milkywaytext">
In addition to these indirect ways, scientists at NASA think they have a direct way to detect dark matter using the Fermi Gamma-Ray Space Telescope. This telescope looks at gamma rays, the highest energy form of light. When two dark matter particles crash into each other, they might release a gamma ray. The Fermi Telescope could theoretically detect these collisions, which would appear as a burst of a gamma ray in the sky. Because Fermi has not been in space very long, scientists do not yet have enough data to form conclusions.
</p>
<%- include('footer'); -%>
