<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Delta Aquariids</big></h1>
<br />
<img class="milkyimg" src="/images/delta.jpeg" alt="deltaaquarids" />
<p class="milkywaytext">
The Delta Aquariids are active beginning in mid-July and are visible until late-August. These faint meteors are difficult to spot, and if there is a moon you will not be able to view them. If the moon is not present, your best chance to see the Delta Aquariids is when meteor rates rise during the shower's peak at the end of July.
</p>
<p class="milkywaytext">
If you are unable to view the Delta Aquariids during their peak, look for them again during the Perseids in August: You will know that you have spotted a Delta Aquarid if the meteor is coming from the direction of the constellation Aquarius—its radiant will be in the southern part of the sky. The Perseid radiant is in the northern part of the sky.
</p>
<br />
<h3>Viewing tips</h3>
<p class="milkywaytext">
The Delta Aquariids are best viewed in the Southern Hemisphere and southern latitudes of the Northern Hemisphere. Find an area well away from city or street lights. Come prepared with a sleeping bag, blanket or lawn chair. Lie flat on your back and look up, taking in as much of the sky as possible. Looking halfway between the horizon and the zenith, and 45 degrees from the constellation of Aquarius will improve your chances of viewing the Delta Aquariids. In less than 30 minutes in the dark, your eyes will adapt and you will begin to see meteors. Be patient—the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h3>Must Read Facts!</h3>
<p class="milkywaytext">
The pieces of space debris that interact with our atmosphere to create the Delta Aquariids are suspected to originate from comet 96P/Machholz. This short period comet orbits the sun about once every five years.
</p>
<p class="milkywaytext">
Their radiant—the point in the sky from which the Delta Aquariids appear to come from—is the constellation Aquarius. The third brightest star within this constellation is called Delta. This star and the constellation is also where we get the name for the shower: Delta Aquariids.
</p>
<%- include('footer'); -%>
