<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Dumbbell Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/dumbbell.jpeg" alt="dumbbell" />
<p class="milkywaytext">
  The Dumbbell Nebula, also known as Messier 27 (M27), is a bright, large planetary planetary nebula located in Vulpecula constellation. The nebula lies at a distance of 1,360 light years from Earth. It is sometimes also called the Apple Core Nebula or Diablo Nebula, and has the designation NGC 6853 in the New General Catalogue.
  </p>
<p class="milkywaytext">
  The Dumbbell Nebula was the first planetary nebula to be discovered. Charles Messier included it as M27 in his catalogue of deep sky objects in 1764.

</p>
<p class="milkywaytext">
  Planetary nebulae are the remains of stars similar to our Sun. When they reach the end of their life cycle as evolved red giants, they expel their outer gaseous layers to form the nebula, which is then heated by the hot core of the central white dwarf. This will be the fate of our Sun in roughly five billion years.
</p>
<p class="milkywaytext">
  Like other planetary nebulae, the Dumbbell Nebula is formed by a central star that illuminates its expanding shell of gas, expelled by the star after it had used up all of its nuclear fuel. The central white dwarf in M27 is really just the core left from the original star, and it is extremely hot.
</p>
<p class="milkywaytext">
  The Dumbbell Nebula has an apparent diameter of about 8 arcminutes. It has a visual magnitude of 7.5 and an absolute magnitude of -0.5, which means that the nebula has an intrinsic luminosity roughly 100 times that of the Sun. M27 can easily be seen in binoculars and small telescopes, and is a popular target among amateur astronomers.
</p>
<p class="milkywaytext">
  Charles Messier discovered the nebula on July 12, 1764, and included it as the 27th object in his catalogue. He didn’t know at the time that M27 was the first planetary nebula to be included in his catalogue. He described it as an oval nebula without stars.
</p>
<p class="milkywaytext">
  In his original entry, dated July 12, Messier wrote, “Nebula without star, discovered in Vulpecula, between the two forepaws, and very near the star 14 of that constellation, of 5th magnitude according to Flamsteed; one can see it well with an simple refractor of 3.5 feet; it appears of oval shape, and it contains no star.”
</p>
<p class="milkywaytext">
  Messier 27 is a pretty young nebula, with an estimated age of up to 15,000 years. The estimated age of M27, calculated based on the nebula’s expansion rate of up to 2.3” per century, is 14,600 years or younger.
</p>
<p class="milkywaytext">
  The Dumbbell Nebula is one of the finest and brightest objects of its kind in the night sky. The nebula’s main luminous body has an angular diameter of almost 6 arcminutes and its halo stretches out to more than 15′, which is half the size of the full Moon. The only planetary nebula brighter than M27 is the Helix Nebula, with an apparent magnitude of 7.3.
</p>

<p class="milkywaytext">
  The Dumbbell Nebula’s shell of gas is expanding at a rate of 17 miles or 31 kilometres per second. The white dwarf will continue to heat it up for billions of years, until it depletes its energy supply and becomes a black dwarf.
  </p>
  <p class="milkywaytext">
The nebula’s central star has the largest known radius for a white dwarf. The radius is estimated to be around 0.055 ± 0.02 solar radii. The estimated mass of the star, as calculated by Napiwotzki in 1999, is 0.56 ± 0.01 solar masses.

    </p>
    <p class="milkywaytext">
      The gas ejected by the central white dwarf in M27 is blocked from expanding sideways by a circumstellar disk. As a result, the gas forms two bubbles, one above and one below the disk’s plane.
      </p>
<%- include('footer'); -%>
