<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Eagle Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/eagle.jpeg" alt="eagle" />
<p class="milkywaytext">
  M16 (Messier 16) is known by amateur astronomers and astrophotographers as the Eagle Nebula. This well-observed area of the night sky is a large cloud of gas and dust where new stars are born. When you take a look at the wispy glow of this nebula through an astronomical telescope or binoculars, you are witnessing a stellar object that is approximately 7000 light-years away.
</p>
<p class="milkywaytext">
  The newborn stars in the Eagle Nebula are very hot, which illuminate M16’s hydrogen gas as seen in the Pillars of Creation, made famous by the Hubble Space Telescope. These intense pillars are slowly evaporating under the intense glare of the nearby massive, newborn stars. The Pillars of Creation appear relatively small within the nebula itself, but in actuality, they are larger than our entire solar system.
</p>
<p class="milkywaytext">
  The Eagle Nebula is a bright (magnitude 6.2) emission nebula in the constellation Serpens. From mid-northern latitudes, it reaches an apparent altitude high enough in the southern sky for visual observation, or photograph.
</p>
<p class="milkywaytext">
  It contains several active star-forming regions of gas and dust, and is one of the brightest nebulae in our night sky.
</p>
<br />
<h3>Location</h3>
<br />
<img class="milkyimg" src="/images/eagle1.jpg" alt="eagle" />
<br />
<p class="milkywaytext">
  From mid-northern latitudes, the best time to look for the Eagle Nebula is from June – September. Below, you will see an image that shows the location of the Eagle Nebula at nightfall in June. By September/October (from this latitude), this nebula sits high into the southwest at nightfall and quickly fades into the horizon as the night progresses.
  </p>
  <img class="milkyimg" src="/images/eagle2.jpg" alt="eagle" />

<p class="milkywaytext">
  Unlike the northern constellations that are visible at all times of the year, Serpens and the Eagle Nebula offer a rather short window of opportunity for viewing.
  </p>
<br />
<h3>The Pillars of Creation</h3>
<br />
<img class="milkyimg" src="/images/eaglepillar.jpg" alt="eagle" />
<p class="milkywaytext">
  In 1995, the Hubble Space Telescope captured one of the most iconic images of all time, the “Pillars of Creation”.This is one of the most productive regions of active star formation in the night sky. Stars are forming inside of the massive pillars of gas and dust, and are being sculpted by the powerful winds of the young, energetic stars within M16’s cluster.
  </p>
<%- include('footer'); -%>
