<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>2P/Encke</big></h1>
<br />
<img class="milkyimg" src="/images/encke.jpeg" alt="encke" />
<p class="milkywaytext">
Comet 2P/Encke was first discovered by Pierre F. A. Mechain on Jan. 17, 1786. Other astronomers located this comet in subsequent passages, but these sightings were not defined as the same comet until Johann Franz Encke calculated its orbit.
</p>
<p class="milkywaytext">
Comet 2P/Encke is a small comet. Its nucleus measures approximately 2.98 miles (4.8 kilometers) in diameter, which is about a third of the size of the object hypothesized to have led to the demise of the dinosaurs.
</p>
<p class="milkywaytext">
It takes 3.30 years for Enke to orbit the sun once. Comet Encke has the shortest orbital period of any known comet within our solar system. Encke last reached perihelion (closest approach to the sun) in 2015.
</p>
<p class="milkywaytext">
Comet Enke is the parent comet of the Taurid meteor stream. The Taurids, which peak in October/November of each year, are fast meteors (65,000 mph or 104,607 kph) and are known for their fireballs. Fireballs are meteors that are as bright or brighter than the planet Venus (seen in the morning or evening skies at around a visual magnitude of -4). They may exhibit larger explosions of light and color and can persist longer than an average meteor streak. This is due to the fact that fireballs originate from larger particles of cometary material. Oftentimes, this particular shower exhibits fireballs on or around Halloween, making them known as the Halloween Fireballs.
</p>
<p class="milkywaytext">
Comet Encke approached the sun for its close encounter in 2013 at the same time as the much talked about and imaged comet ISON, and because of this was imaged by both the MESSENGER and STEREO spacecraft.
</p>
<p class="milkywaytext">
Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. However, this comet is not named after its discoverer(s). Instead it is named after Johann Franz Encke who calculated the comet's orbit. The letter P indicates that 2P/Encke is a periodic comet. Periodic comets have an orbital period of less than 200 years.​
</p>
<%- include('footer'); -%>
