<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Eskimo Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/eskimo.jpeg" alt="eskimo" />
<p class="milkywaytext">
  In 1864, John Herschel published “The General Catalogue of Nebulae” (GC), which listed 5,097 non-stellar celestial objects – 4,630 of which were discovered by either John or his father William, who is best remembered for discovering Uranus in 1781. Included in the catalog was GC 1532 ─ an object first observed by William on January 17, 1787. In 1888, Danish astronomer J.L.E. Dreyer expanded the catalog and created “The New General Catalogue of Nebulae and Clusters of Stars” (NGC), which is still used by astronomers today. The NGC is comprised of 7,840 objects, including NGC 2392 – better known as the Eskimo Nebula.
</p>
<p class="milkywaytext">
  The Eskimo’s apparent magnitude – measurement astronomers use to describe an object’s brightness as seen from Earth – is 9.1, making it more than 15 times fainter than the dimmest stars the average person can see with the unaided eye. This means it can only be viewed through binoculars or a telescope. In a well-magnified view, a white dwarf star is visible in the middle of the nebula. Surrounding this is a bright bubble of material blowing away from the star, representing the Eskimo’s face. Around this is the Eskimo’s parka, the darker halo of gases with finger-shaped filaments that are being blown away from the white dwarf by a stream of charged particles emanating from that star. Astronomers call that stream of energy the stellar wind.
</p>
<p class="milkywaytext">
  About 10,000 years ago, the Eskimo Nebula was just an average star, much like our Sun. It had been like that for about ten billion years, plugging along in a steady state of nuclear fusion that saw the transformation in its core of hydrogen into helium. The pressure exerted by all this outward-streaming energy balanced the inward pull of gravity, keeping the star in equilibrium. Once the hydrogen supply in the core was exhausted, nuclear fusion ceased, leaving nothing to counteract the star’s own gravity. The helium core collapsed, which created energy and temperatures high enough to trigger the fusion of helium into carbon and oxygen.
</p>
<p class="milkywaytext">
  While the core was going through this process, the outer hydrogen layers of the star expanded, transforming the star into a red giant (when our Sun finally becomes a red giant, it may expand all the way out to Earth.) Once the helium fusion ended, gravity again caused the star’s core to collapse. This second contraction didn’t create enough energy to trigger further nuclear reactions, so the core continued to collapse until it was about the size of Earth and became known as a white dwarf star.
</p>
<p class="milkywaytext">
  The bubble of material surrounding this white dwarf is a shell of helium and hydrogen gases known as a planetary nebula, though it has nothing to do with a planet. As with so many scientific terms, the name is a leftover from centuries ago when, through crude telescopes, the shell of gas resembled the spherical shape of a planet.
</p>
<p class="milkywaytext">
</p>
<p class="milkywaytext">
</p>
<p class="milkywaytext">
</p>
<br />
<%- include('footer'); -%>
