<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Eta Aquarids</big></h1>
<br />
<img class="milkyimg" src="/images/eta.jpeg" alt="eta aquarids" />
<p class="milkywaytext">
The Eta Aquarids peak during early-May each year. Eta Aquarid meteors are known for their speed. These meteors are fast—traveling at about 148,000 mph (66 km/s) into Earth's atmosphere. Fast meteors can leave glowing "trains" (incandescent bits of debris in the wake of the meteor) which last for several seconds to minutes. In general, 30 Eta Aquarid meteors can be seen per hour during their peak.
</p>
<br />
<h3>Viewing tips</h3>
<p class="milkywaytext">
The Eta Aquarids are viewable in both the Northern and Southern hemispheres during the pre-dawn hours. The Southern Hemisphere is preferable for viewing the Eta Aquarids. The Northern Hemisphere has an hourly rate of only about 10 meteors. This is due to the viewing location of the radiant from different latitudes. The constellation of Aquarius—home to the radiant of the Eta Aquarids—is higher up in the sky in the Southern Hemisphere than it is in the Northern Hemisphere. In the Northern Hemisphere, Eta Aquarid meteors can more often be seen as "earthgrazers." Earthgrazers are long meteors that appear to skim the surface of the Earth at the horizon.
</p>
<p class="milkywaytext">
To view the Eta Aquarids find an area well away from city or street lights. Come prepared with a sleeping bag, blanket or lawn chair. Lie flat on your back with your feet facing east and look up, taking in as much of the sky as possible. After about 30 minutes in the dark, your eyes will adapt and you will begin to see meteors. Be patient—the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
The pieces of space debris that interact with our atmosphere to create the Eta Aquarids originate from comet 1P/Halley. Each time that Halley returns to the inner solar system its nucleus sheds a layer of ice and rock into space. The dust grains eventually become the Eta Aquarids in May and the Orionids in October if they collide with Earth's atmosphere.
</p>
<p class="milkywaytext">
Comet Halley takes about 76 years to orbit the sun once. The last time comet Halley was seen by casual observers was in 1986. Comet Halley will not enter the inner solar system again until 2061.
</p>
<p class="milkywaytext">
Comet Halley was discovered in 1705 by Edmund Halley. Edmund Halley predicted the orbit of the comet through past observations of comets, suggesting that these sightings were in fact all the same comet. Halley is perhaps the most famous comet—it has been sighted for millennia. This comet is even featured in the Bayeux tapestry, which chronicles the Battle of Hastings in 1066.
</p>
<p class="milkywaytext">
Comet Halley's dimensions are 10 x 5 x 5 miles (16 x 8 x 8 kilometers). It is one of the darkest, or least reflective, objects in the solar system, with an albedo of 0.03.
</p>
<p class="milkywaytext">
Their radiant—the point in the sky from which the Eta Aquarids appear to come from—is the constellation Aquarius, the water bearer. One of the brightest stars within Aquarius is called Eta Aquarii, and these meteors appear from this area of the constellation. (Eta Aquarii is one of the four stars that make up the top of the "water jar.") This star and the constellation is where we get the name for this shower: Eta Aquarids.
</p>
<%- include('footer'); -%>
