<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Europa</big></h1>
<br />
<img class="milkyimg" src="/images/europa.jpeg" alt="europa" />
<p class="milkywaytext">
From ground-based telescopes, scientists knew that Europa's surface is mostly water ice, and scientists have found strong evidence that beneath the ice crust is an ocean of liquid water or slushy ice. In 1979 the two Voyager spacecraft passed through the Jovian system, providing the first hints that Europa might contain liquid water. Then ground-based telescopes on Earth, along with the Galileo spacecraft and space telescopes, have increased scientists’ confidence for a Europan ocean.
</p>
<p class="milkywaytext">
Scientists think Europa’s ice shell is 10 to 15 miles (15 to 25 kilometers) thick, floating on an ocean 40 to 100 miles (60 to 150 kilometers) deep. So while Europa is only one-fourth the diameter of Earth, its ocean may contain twice as much water as all of Earth’s oceans combined. Europa’s vast and unfathomably deep ocean is widely considered the most promising place to look for life beyond Earth. A passing spacecraft might even be able to sample Europa’s ocean without landing on the moon’s surface because it is possible that Europa’s ocean may be leaking out into space.
</p>
<p class="milkywaytext">
While no plumes were observed while the Galileo spacecraft was in the Jupiter system in the 1990’s, more recent observations from telescopes such as Hubble Space Telescope, as well as a reanalysis of some data from the Galileo spacecraft, have suggested that it is possible that thin plumes of water are being ejected 100 miles (160 kilometers) above Europa’s surface. In November 2019, an international research team led by NASA announced they had directly detected water vapor for the first time above Europa’s surface. The team measured the vapor using a spectrograph at the Keck Observatory in Hawaii that measures the chemical composition of planetary atmospheres through the infrared light they emit or absorb.
</p>
<p class="milkywaytext">
If the plumes do exist, and if their source is linked to Europa’s ocean, then a spacecraft could travel through the plume to sample and analyze it from orbit, and it would essentially be analyzing the moon’s ocean (the Cassini spacecraft performed this feat at Saturn’s moon Enceladus, which is known to have an ocean spraying into space). Even if Europa isn’t ejecting free samples into space, a 2018 study concluded that samples of Europa’s ocean could get frozen into the base of the moon’s ice shell, where the ice makes contact with the ocean. As the ice shell distorts and flexes from tidal forces, warmer and less-dense ice would rise, carrying the ocean samples to the surface where a spacecraft could analyze it remotely, using infrared and ultraviolet instruments, among others. Scientists could then study the material’s composition to determine whether Europa’s ocean might be hospitable for some form of life.
</p>

<p class="milkywaytext">
Jupiter’s large Galilean satellites (Io, Europa, Ganymede, and Callisto) likely formed out of leftover material after Jupiter condensed from the initial cloud of gas and dust surrounding the sun, early in the history of the solar system. Those four moons are likely about the same age as the rest of the solar system — about 4.5 billion years old.
</p>
<p class="milkywaytext">
Distance from Jupiter also determines how much tidal heating the Galilean satellites experience — Io, closest to Jupiter, is heated so much that it is the most volcanically active body in the solar system, and it likely long ago drove off any water it had when it formed. Europa has a layer of ice and water on top of a rocky and metal interior, while Ganymede and Callisto actually have higher proportions of water ice and so lower densities.
</p>
<p class="milkywaytext">
Europa’s water-ice surface is crisscrossed by long, linear fractures. Based on the small number of observable craters, the surface of this moon appears to be no more than 40 to 90 million years old, which is youthful in geologic terms (the surface of Callisto, another of Jupiter’s moons, is estimated to be a few billion years old). Along Europa's many fractures, and in splotchy patterns across its surface, is a reddish-brown material whose composition is not known for certain, but likely contains salts and sulfur compounds that have been mixed with the water ice and modified by radiation. This surface composition may hold clues to the moon's potential as a habitable world.
</p>

<img class="milkyimg" src="/images/europalocation.jpeg" alt="europa" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
With an equatorial diameter of 1,940 miles (3,100 kilometers), Europa is about 90 percent the size of Earth’s Moon. So if we replaced our Moon with Europa, it would appear roughly the same size in the sky as our Moon does, but brighter — much, much brighter. Europa’s surface is made of water ice and so it reflects 5.5 times the sunlight than our Moon does.
</p>
<p class="milkywaytext">
Europa orbits Jupiter at about 417,000 miles (671,000 kilometers) from the planet, which itself orbits the Sun at a distance of roughly 500 million miles (780 million kilometers), or 5.2 astronomical units (AU). One AU is the distance from Earth to the Sun. Light from the Sun takes about 45 minutes to reach Europa. Because of the distance, sunlight is about 25 times fainter at Jupiter and Europa than at Earth.
</p>
<p class="milkywaytext">
Europa orbits Jupiter every 3.5 days and is locked by gravity to Jupiter, so the same hemisphere of the moon always faces the planet. Jupiter takes about 4,333 Earth days (or about 12 Earth years) to orbit the Sun (a Jovian year). Jupiter’s equator (and the orbital plane of its moons) are tilted with respect to Jupiter’s orbital path around the Sun by only 3 degrees (Earth is tilted 23.5 degrees). This means Jupiter spins nearly upright so that the planet, as well as Europa and Jupiter’s other dozens of moons, do not have seasons as extreme as other planets do.
</p>
<p class="milkywaytext">
Like our planet, Europa is thought to have an iron core, a rocky mantle and an ocean of salty water. Unlike Earth, however, Europa’s ocean lies below a shell of ice probably 10 to 15 miles (15 to 25 kilometers) thick and has an estimated depth of 40 to 100 miles (60 to 150 kilometers). While evidence for an internal ocean is strong, its presence awaits confirmation by a future mission.
</p>
<p class="milkywaytext">
Europa has only a tenuous atmosphere of oxygen, but in 2013, NASA announced that researchers using the Hubble Space Telescope found evidence that Europa might be actively venting water into space. This would mean the moon is geologically active in the present day. If confirmed by follow-up observations, the plumes of water could be studied by future spacecraft similar to how the Cassini sampled the plume of Saturn’s moon Enceladus.
</p>

<p class="milkywaytext">
One of the most important measurements made by the Galileo mission showed how Jupiter's magnetic field was disrupted in the space around Europa. The measurement strongly implied that a special type of magnetic field is being created (induced) within Europa by a deep layer of some electrically conductive fluid beneath the surface. Based on Europa's icy composition, scientists think the most likely material to create this magnetic signature is a global ocean of salty water, and this magnetic field result is still the best evidence we have for the existence of an ocean on Europa.
</p>
<%- include('footer'); -%>
