<%- include('header'); -%>
</div>
</section>
<br />
<h1 class="explore-heading">Welcome Explorer <i class="icon fab fa-wpexplorer fa"></i></h1>
<br />
<br />
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/milkyway.jpeg" />
        <a href="/milkyway">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Milky Way</button>
        </a>
        <p class="factbox">
          The Milky Way is the galaxy that contains our Solar System, with the name describing the galaxy's appearance from Earth: a hazy band of light seen in the night sky formed from stars that cannot be individually distinguished.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/kuiper.jpeg" />
        <a href="/kuiperbelt">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Kuiper Belt</button>
        </a>
        <p class= "factbox">
          The Kuiper belt, occasionally called the Edgeworth–Kuiper belt, is a circumstellar disc in the outer Solar System, extending from the orbit of Neptune to approximately 50 AU from the Sun.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/oortblack.jpeg" />
        <a href="/oortcloud">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Oort cloud</button>
        </a>
        <p class="factbox">
           It's a hypothetical cloud of predominantly icy planetesimals proposed to surround the Sun at distances ranging from 2,000 to 200,000 au. It is divided into two regions: a disc-shaped inner Oort cloud and a spherical outer Oort cloud.
        </p>
      </div>
    </div>
  </div>
</section>
<!--2nd row---------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/asteroids.jpeg" />
        <a href="/asteroids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Asteroids</button>
        </a>
        <p class="factbox">
          These terms have historically been applied to any astronomical object orbiting the Sun that did not resolve into a disc in a telescope and was not observed to have characteristics of an active comet such as a tail.

        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/meteorite.jpeg" />
        <a href="/meteorites">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Meteorites</button>
        </a>
        <p class= "factbox">
          A meteorite is a solid piece of debris from an object, such as a comet, asteroid, or meteoroid, that originates in outer space and survives its passage through the atmosphere to reach the surface of a planet or moon.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/comet.jpeg" />
        <a href="/comets">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Comets</button>
        </a>
        <p class="factbox">
           comet is an icy, small Solar System body that, when passing close to the Sun, warms and begins to release gases, a process called outgassing. This produces a visible atmosphere or coma, and sometimes also a tail.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- 3rd row------------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/gemini.jpeg" />
        <a href="/Constellation">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Constellations</button>
        </a>
        <p class="factbox">
          A constellation is an area on the celestial sphere in which a group of visible stars forms a perceived outline or pattern, typically representing an animal, mythological person or creature, or an inanimate object.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/andromeda.jpeg" />
        <a href="/galaxies">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Galaxies</button>
        </a>
        <p class= "factbox">
          A galaxy is a gravitationally bound system of stars, stellar remnants, interstellar gas, dust, and dark matter.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/nebula1.jpeg" />
        <a href="/nebula">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Nebulae</button>
        </a>
        <p class="factbox">
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, the term was used to describe any diffused astronomical object, including galaxies beyond the Milky Way.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- 4th row------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/blackhole.jpeg" />
        <a href="/blackhole">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Black Holes</button>
        </a>
        <p class="factbox">
          A black hole is a region of spacetime where gravity is so strong that nothing—no particles or even electromagnetic radiation such as light—can escape from it. The theory of general relativity predicts that a sufficiently compact mass can deform spacetime to form a black hole.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/dark.jpeg" />
        <a href="/darkmatter">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">Dark Matter</button>
        </a>
        <p class= "factbox">
          Dark matter is a form of matter thought to account for approximately 85% of the matter in the universe and about a quarter of its total mass–energy density or about 2.241×10<sup>-27</sup> kg/m³. Its presence is implied in a variety of astrophysical observations, including gravitational effects that cannot be explained by accepted theories of gravity unless more matter is present than can be seen.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/godparticle.jpeg" />
        <a href="/godparticle">
        <button type="button" class="btn btn-dark btn-lg download-button exploring">God Particles</button>
        </a>
        <p class="factbox">
          The Higgs boson is an elementary particle in the Standard Model of particle physics, produced by the quantum excitation of the Higgs field, one of the fields in particle physics theory. It is named after physicist Peter Higgs, who in 1964, along with five other scientists, proposed the Higgs mechanism to explain why particles have mass.
        </p>
      </div>
    </div>
  </div>
</section>
<%- include('footer'); -%>
<!-- 5th row------------------------------------------------------------------------------------------------------------------------------->
