<br />
<br />
<footer class="footer-section" id="footer">

  <div class="container-fluid">

    
    <a href="https://www.facebook.com/thecosmosexplorer/">
    <i class="social-icon fab fa-facebook-f fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/cosmos_archives/">
    <i class="social-icon fab fa-instagram fa-2x"></i>
    </a>

    <h5>
      ©2020 The Cosmos
    </h5>

  </div>
</footer>
</body>
</html>
