<br />
<br />
<footer class="footer-section" id="footer">

  <div class="container-fluid">
      <h4>STAY CONNECTED WITH US</h4>    
    <a href="https://www.facebook.com/thecosmosexplorer/">
    <i class="social-icon fab fa-facebook-f fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/cosmos_archives/">
    <i class="social-icon fab fa-instagram fa-2x"></i>
    </a>
<br />
<br />
    <h5>
      ©2020 The Cosmos
    </h5>
    <h6>
      Subscribe To Become A Part Of Cosmos Family.
      </h6>
<br/>
  </div>
</footer>
</body>
</html>
