<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Galaxies</big></h1>
<br />
<img class="milkyimg" src="/images/galaxies.jpeg" alt="galaxies" />
<p class="milkywaytext">
Galaxies are sprawling systems of dust, gas, dark matter, and anywhere from a million to a trillion stars that are held together by gravity. Nearly all large galaxies are thought to also contain supermassive black holes at their centers. In our own galaxy, the Milky Way, the sun is just one of about 100 to 400 billion stars that spin around Sagittarius A*, a supermassive black hole that contains as much mass as four million suns.
</p>
<p class="milkywaytext">
The deeper we look into the cosmos, the more galaxies we see. One 2016 study estimated that the observable universe contains two trillion—or two million million—galaxies. Some of those distant systems are similar to our own Milky Way galaxy, while others are quite different.
</p>
<br />
<h3>Types of galaxies</h3>
<p class="milkywaytext">
Before the 20th century, we didn't know that galaxies other than the Milky Way existed; earlier astronomers had classified them as as “nebulae,” since they looked like fuzzy clouds. But in the 1920s, astronomer Edwin Hubble showed that the Andromeda “nebula” was a galaxy in its own right. Since it is so far from us, it takes light from Andromeda more than 2.5 million years to bridge the gap. Despite the immense distance, Andromeda is the closest large galaxy to our Milky Way, and it's bright enough in the night sky that it's visible to the naked eye in the Northern Hemisphere.
</p>
<p class="milkywaytext">
In 1936, Hubble debuted a way to classify galaxies, grouping them into four main types: spiral galaxies, lenticular galaxies, elliptical galaxies, and irregular galaxies.
</p>
<p class="milkywaytext">
More than two-thirds of all observed galaxies are spiral galaxies. A spiral galaxy has a flat, spinning disk with a central bulge surrounded by spiral arms. That spinning motion, at speeds of hundreds of kilometers a second, may cause matter in the disk to take on a distinctive spiral shape, like a cosmic pinwheel. Our Milky Way, like other spiral galaxies, has a linear, starry bar at its center.
</p>
<p class="milkywaytext">
Elliptical galaxies are shaped as their name suggests: They are generally round but can stretch longer along one axis than along the other, so much so that some take on a cigar-like appearance. The universe's largest-known galaxies—giant elliptical galaxies—can contain up to a trillion stars and span two million light-years across. Elliptical galaxies may also be small, in which case they are called dwarf elliptical galaxies.
</p>
<p class="milkywaytext">
Elliptical galaxies contain many older stars, but little dust and other interstellar matter. Their stars orbit the galactic center, like those in the disks of spiral galaxies, but they do so in more random directions. Few new stars are known to form in elliptical galaxies. They are common in galaxy clusters.
</p>
<p class="milkywaytext">
Lenticular galaxies, such as the iconic Sombrero Galaxy, sit between elliptical and spiral galaxies. They're called “lenticular” because they resemble lenses: Like spiral galaxies, they have a thin, rotating disk of stars and a central bulge, but they don't have spiral arms. Like elliptical galaxies, they have little dust and interstellar matter, and they seem to form more often in densely populated regions of space.
</p>
<p class="milkywaytext">
  Galaxies that are not spiral, lenticular, or elliptical are called irregular galaxies. Irregular galaxies—such as the Large and Small Magellanic Clouds that flank our Milky Way—appear misshapen and lack a distinct form, often because they are within the gravitational influence of other galaxies close by. They are full of gas and dust, which makes them great nurseries for forming new stars.
  </p>

<img class="milkyimg" src="/images/spiral.jpeg" alt="galaxies" />
<br />
<br />
<br />
<h3>Galactic clusters and mergers</h3>
<p class="milkywaytext">
Some galaxies occur alone or in pairs, but they are more often parts of larger associations known as groups, clusters, and superclusters. Our Milky Way, for instance, is in the Local Group, a galaxy group about 10 million light-years across that also includes the Andromeda galaxy and its satellites. The Local Group and its neighbor galaxy cluster, the Virgo Cluster, both lie within the larger Virgo Supercluster, a concentration of galaxies that stretches about 100 million light-years across. The Virgo Supercluster, in turn, is a limb of Laniakea, an even bigger supercluster of 100,000 galaxies that astronomers defined in 2014.
</p>
<p class="milkywaytext">
Galaxies in clusters often interact and even merge together in a dynamic cosmic dance of interacting gravity. When two galaxies collide and intermingle, gases can flow towards the galactic center, which can trigger phenomena like rapid star formation. Our own Milky Way will merge with the Andromeda galaxy in about 4.5 billion years.
</p>
<p class="milkywaytext">
Because elliptical galaxies contain older stars and less gas than spiral galaxies, it seems that the galaxy types represent part of a natural evolution: As spiral galaxies age, interact, and merge, they lose their familiar shapes and become elliptical galaxies. But astronomers are still working out the specifics, such as why elliptical galaxies follow certain patterns in brightness, size, and chemical composition.
</p>
<img class="milkyimg" src="/images/orion.jpeg" alt="galaxies" />
<br />
<br />
<br />
<h3>Galaxy origins</h3>
<p class="milkywaytext">
The universe's first stars ignited some 180 million years after the big bang, the explosive moment 13.8 billion years ago that marks the origins of the universe as we know it. Gravity had sculpted the first galaxies into shape by the time the universe turned 400 million years old, or less than 3 percent of its current age.
</p>
<p class="milkywaytext">
Astronomers now think that nearly all galaxies—with possible exceptions—are embedded in huge haloes of dark matter. Theoretical models also suggest that in the early universe, vast tendrils of dark matter provided normal matter the gravitational scaffold it needed to coalesce into the first galaxies.
</p>
<p class="milkywaytext">
But there are still open questions about how galaxies form. Some believe that galaxies formed from smaller clusters of about one million stars, known as globular clusters, while others hold that galaxies formed first, and later birthed globular clusters. It's also difficult to figure out how many of a given galaxy's stars formed in situ from its own gas, versus forming in another galaxy and joining the party later.
</p>
<br />
<h3>Critical Science Targets</h3>
<br />
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/andromeda.jpeg" />
      <a href="/andromeda">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/"> Andromeda Galaxy</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/antenne.jpeg" />
    <a href="/antennae">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/"> Antennae Galaxy</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/backward.jpeg" />
      <a href="/backward">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Backward Galaxy</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/bear.jpeg" />
      <a href="bearpaw">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Bear's Paw Galaxy</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!-- 2nd row--------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/blackeye.jpeg" />
      <a href="/blackeye">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Black Eye Galaxy</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/butterfly.jpeg" />
    <a href="/butterfly">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Butterfly Galaxy</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/carina.jpeg" />
      <a href="/carinadwarf">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Carina Dwarf</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/cartwheel.jpeg" />
      <a href="cartwheel">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Cartwheel Galaxy</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--3rd row----------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/centaurus.jpeg" />
      <a href="/cantaurusA">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Centaurus A</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/cetus.jpeg" />
    <a href="/cetusA">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Cetus A</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/canis.jpg" />
      <a href="/canismajor">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Canis Major Dwarf </button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/large.jpeg" />
      <a href="largeMagellanic">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Large Magellanic </button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/milkyway.jpeg" />
      <a href="/milkyway">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Milky Way</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/messier 87.png" />
    <a href="/messier87">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Messier 87</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/messier 82.jpeg" />
      <a href="/messier82">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Messier 82</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ngc 1300.jpeg" />
      <a href="ngc1300">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">NGC 1300 Galaxy </button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--4th row------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/pinwheel.jpeg" />
      <a href="/pinwheel">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Pinwheel Galaxy </button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/sculptor.jpeg" />
    <a href="/scupltor">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Sculptor Dwarf</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/sombrero.jpeg" />
      <a href="/sombrero">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Sombrero Galaxy</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/small.jpeg" />
      <a href="smallMagellanic">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Small Magellanic</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--5th row--------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/triangulum.jpeg" />
      <a href="/triangulum">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Triangulam Galaxy</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ursa minor.jpeg" />
    <a href="/ursaminor">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Ursa Minor Dwarf</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/whale.jpeg" />
      <a href="/whale">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Whale Galaxy</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/whirlpool.jpeg" />
      <a href="whirlpool">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Whirlpool Galaxy</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<%- include('footer'); -%>
