<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Ganymede</big></h1>
<br />
<img class="milkyimg" src="/images/ganymede.jpeg" alt="ganymede" />
<p class="milkywaytext">
Ganymede is the largest moon in our solar system and the only moon with its own magnetic field. The magnetic field causes auroras, which are ribbons of glowing, electrified gas, in regions circling the moon’s north and south poles. Ganymede has large, bright regions of ridges and grooves that slice across older, darker terrains. These grooved regions are a clue that the moon experienced dramatic upheavals in the distant past. Scientists have also found strong evidence of an underground ocean on Ganymede.
</p>
<p class="milkywaytext">
Ganymede is named for a boy who was made cupbearer for the ancient Greek gods by Zeus – Jupiter to the Romans
</p>
<p class="milkywaytext">
Ganymede has three main layers. A sphere of metallic iron at the center (the core, which generates a magnetic field), a spherical shell of rock (mantle) surrounding the core, and a spherical shell of mostly ice surrounding the rock shell and the core. The ice shell on the outside is very thick, maybe 800 km (497 miles) thick. The surface is the very top of the ice shell. Though it is mostly ice, the ice shell might contain some rock mixed in. Scientists believe there must be a fair amount of rock in the ice near the surface. Ganymede's magnetic field is embedded inside Jupiter's massive magnetosphere.
</p>
<p class="milkywaytext">
Spacecraft images of Ganymede show the moon has a complex geological history. Ganymede's surface is a mixture of two types of terrain. Forty percent of the surface of Ganymede is covered by highly cratered dark regions, and the remaining sixty percent is covered by a light grooved terrain, which forms intricate patterns across Ganymede. The term "sulcus," meaning a groove or burrow, is often used to describe the grooved features. This grooved terrain is probably formed by tensional faulting or the release of water from beneath the surface. Groove ridges as high as 700 m (2,000 feet) have been observed and the grooves run for thousands of kilometers across Ganymede's surface. The grooves have relatively few craters and probably developed at the expense of the darker crust. The dark regions on Ganymede are old and rough, and the dark cratered terrain is believed to be the original crust of the satellite. Lighter regions are young and smooth (unlike Earth's Moon). The largest area on Ganymede is called Galileo Regio.
</p>
<p class="milkywaytext">
The large craters on Ganymede have almost no vertical relief and are quite flat. They lack central depressions common to craters often seen on the rocky surface of the Moon. This is probably due to slow and gradual adjustment to the soft icy surface. These large phantom craters are called palimpsests, a term originally applied to reused ancient writing materials on which older writing was still visible underneath newer writing. Palimpsests range from 50 to 400 km in diameter. Both bright and dark rays of ejecta exist around Ganymede's craters -- rays tend to be bright from craters in the grooved terrain and dark from the dark cratered terrain.
</p>

<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Astronomers using the Hubble Space Telescope found evidence of thin oxygen atmosphere on Ganymede in 1996. The atmosphere is far too thin to support life.
</p>
<p class="milkywaytext">
In 2004, scientists discovered irregular lumps beneath the icy surface of Ganymede. The irregular masses may be rock formations, supported by Ganymede's icy shell for billions of years. This tells scientists that the ice is probably strong enough, at least near the surface, to support these possible rock masses from sinking to the bottom of the ice. However, this anomaly could also be caused by piles of rock at the bottom of the ice.
</p>
<p class="milkywaytext">
Ganymede was discovered by Galileo Galilei on Jan. 7, 1610. The discovery, along with three other Jovian moons, was the first time a moon was discovered orbiting a planet other than Earth. The discovery of the four Galilean satellites eventually led to the understanding that planets in our solar system orbit the sun, instead of our solar system revolving around Earth.
</p>
<p class="milkywaytext">
Simon Marius probably made an independent discovery of the moons at about the same time that Galileo did, and he may have unwittingly sighted them up to a month earlier, but the priority must go to Galileo because he published his discovery first.
</p>
<p class="milkywaytext">
In mythology, Ganymede ("GAN uh meed") was a beautiful young boy who was carried to Olympus by Zeus (the Greek equivalent of the Roman god Jupiter) disguised as an eagle. Ganymede became the cupbearer of the Olympian gods.
</p>
<%- include('footer'); -%>
