<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Gemini</big></h1>
<br />
<img class="milkyimg" src="/images/gemini.jpeg" alt="gemini" />
<p class="milkywaytext">
  Gemini constellation is located in the northern hemisphere of the sky. Its name means “the twins” in Latin.
</p>
<p class="milkywaytext">
  Gemini is one of the zodiac constellations, first catalogued by the Greek astronomer Ptolemy in the 2nd century. The constellation represents the twins Castor and Pollux (Polydeuces), also known as the Dioscuri in ancient times, in Greek mythology.
</p>
<p class="milkywaytext">
  Gemini is known mainly for its two bright stars, Castor and Pollux, the neutron star Geminga, and several notable deep sky objects, among them the open cluster Messier 35, the Eskimo Nebula, the Jellyfish Nebula, and the Medusa Nebula.
</p>
<p class="milkywaytext">
  Gemini is the 30th largest constellation in the sky, occupying an area of 514 square degrees. It lies in the second quadrant of the northern hemisphere (NQ2) and can be seen at latitudes between +90° and -60°. The neighboring constellations are
  Auriga, Cancer, Canis Minor, Lynx, Monoceros, Orion and Taurus.
</p>
<p class="milkywaytext">
  Gemini contains a Messier object – the star cluster Messier 35 (M35, NGC 2168) – and has seven stars with known planets. The brightest star in the constellation is Pollux, Beta Geminorum, with an apparent magnitude of 1.14. There are two meteor
  showers associated with the constellation; the Geminids and the Rho Geminids. The Geminids are usually bright and peak around December 13-14.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN GEMINI</h3>
<br />
<h3>Castor – α Geminorum (Alpha Geminorum)</h3>
<p class="milkywaytext">
  Castor is the second brightest star in Gemini and the 44th brightest star in the sky. It is a visual binary with a combined apparent magnitude of 1.58. The two components are separated by 6” and have a revolution period of about 467 years.
</p>
<p class="milkywaytext">
  Each component of the Alpha Geminorum system is in itself a spectroscopic binary star, which makes Castor a four-star system. Castor also has a faint companion about 72” away, an eclipsing binary star system with a period of just under a day.
</p>
<p class="milkywaytext">
  Castor is approximately 51 light years distant from the Sun. In Arabic culture, it was known as “The Head of the Foremost Twin,” or Al-Ras al-Taum al-Muqadim.
</p>
<br />
<h3>Pollux – β Geminorum (Beta Geminorum)</h3>
<p class="milkywaytext">
  Pollux is the brightest star in Gemini and the 17th brightest star in the night sky. It is an evolved orange giant with the stellar classification K0 III. It has an apparent magnitude of 1.14 and is 33.78 light years distant from the solar system.
</p>
<p class="milkywaytext">
  Beta Geminorum has twice the Sun’s mass and about nine times the solar radius. It is sometimes known as “The Head of the Second Twin,” from the Arabic Al-Ras al-Tau’am al-Mu’akhar.
</p>
<P class="milkywaytext">
  An extrasolar planet was confirmed to be orbiting the star in June 2006. The planet, Pollux b, has a mass at least 2.3 times that of Jupiter and an orbital period of 590 days.
</P>
<br />
<h3>Alhena (Almeisan) – γ Geminorum (Gamma Geminorum)</h3>
<p class="milkywaytext">
  Alhena, Gamma Geminorum, is another bright star in Gemini. With an apparent magnitude of 1.915, it is easily visible to the naked eye. The star is approximately 109 light years distant from Earth.
</p>
<P class="milkywaytext">
  Gamma Geminorum is a white subgiant star with the stellar classification A1 IV, It has 2.8 solar masses and 3.3 times the solar radius. It is about 123 times more luminous than the Sun.
</P>
<p class="milkywaytext">
  The star’s traditional name, Alhena, comes from the Arabic Al Han’ah, which means “the brand,” referring to the brand on a camel’s neck. It is also sometimes known as Almeisan, which is derived from the Arabic Al Maisan, which means “the shining
  one".
</p>
<br />
<h3>Mebsuta – ε Geminorum (Epsilon Geminorum)</h3>
<p class="milkywaytext">
  Epsilon Geminorum marks Castor’s outstretched right leg. It is a supergiant belonging to the spectral class G8 Ib. It has an apparent magnitude of 3.06 and is approximately 840 light years distant.
  </p>
  <P class="milkywaytext">
    The star is about 8,500 times more luminous than the Sun and has 19 times the solar mass. The star’s radius is around 105-175 times that of the Sun.
    </P>
    <P class="milkywaytext">
      Epsilon Geminorum’s traditional name, Mebsuta, comes from the ancient Arabic Mabsūṭah, which means “the outstretched paw.” In Arabic culture, Epsilon and Zeta Geminorum represented the paws of a lion. Epsilon Geminorum is also sometimes called Melboula or Melucta.
      </P>
      <br />
      <h3>Tejat Posterior – μ Geminorum (Mu Geminorum)</h3>
      <p class="milkywaytext">
        Mu Geminorum is the fourth brightest star in the Gemini constellation. It has a visual magnitude of 2.857 and is about 230 light years distant. The star belongs to the spectral class M3 III, which means that it is a red giant. It is also classified as a slow irregular variable of type LB. It exhibits variations in luminosity between magnitude 2.75 and 3.02 over a period of 72 days, and has a period of 2,000 days of long term variation.
        </p>
        <p class="milkywaytext">
          The star’s traditional name, Tejat Posterior, means “the back foot,” and it refers to Castor’s foot. It is also sometimes known by another Latin name, Calx, which means “the heel".
          </p>
<%- include('footer'); -%>
