<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Geminids</big></h1>
<br />
<img class="milkyimg" src="/images/gemenids.jpeg" alt="geminids" />
<p class="milkywaytext">
The Geminids, which peak during mid-December each year, are considered to be one of the best and most reliable annual meteor showers. The Geminids did not start out that way. The Geminids first began appearing in the mid-1800s. However, the first showers were not noteworthy with only 10 - 20 meteors seen per hour. Since that time, the Geminids have grown to become one of the most major showers of the year. During its peak, 120 Geminid meteors can be seen per hour under perfect conditions. The Geminids are bright and fast meteors and tend to be yellow in color.
</p>
<br />
<h3>Viewing tips</h3>
<p class="milkywaytext">
The Geminids are best viewed during the night and predawn hours and are visible across the globe due to a nearly 24-hour broad maximum. This shower is considered one of the best opportunities for young viewers since this shower starts around 9 or 10 p.m. To view the Geminids, find an area well away from city or street lights. Come prepared for winter temperatures with a sleeping bag, blanket or lawn chair. Lie flat on your back with your feet facing south and look up, taking in as much of the sky as possible. After about 30 minutes in the dark, your eyes will adapt and you will begin to see meteors. Be patient  the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h3>Must Read Facts!</h3>
<p class="milkywaytext">
Unlike most meteor showers which originate from comets, the Geminids originate from an asteroid: 3200 Phaethon. Asteroid 3200 Phaethon takes 1.4 years to orbit the sun once. It is possible that Phaethon is a "dead comet" or a new kind of object being discussed by astronomers called a "rock comet." Phaethon's comet-like highly elliptical orbit around the sun gives credence to this hypothesis. However, scientists are not certain how to define Phaethon. When Phaethon passes by the sun it does not develop a cometary tail, and its spectra looks like a rocky asteroid. Also, the bits and pieces (2-3 gm/cc) that break off to form the Geminid meteoroids are also several times denser than cometary dust flakes (0.3 gm/cc).
</p>
<p class="milkywaytext">
Their radiant—the point in the sky from which the Geminids appear to come from—is the constellation Gemini, the "Twins." The constellation of Gemini is also where we get the name for the shower: Geminids. Note: The constellation for which a meteor shower is named only serves to aid viewers in determining which shower they are viewing on a given night. The constellation is not the source of the meteors. Also, you should not look only to the constellation of Gemini to view the Geminids -- they are visible throughout the night sky.
</p>
<%- include('footer'); -%>
