<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Ghost Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/ghost.jpeg" alt="ghost" />
<p class="milkywaytext">
  The Ghost Nebula (designated Sharpless 2-136 (Sh2-136) and vdB 141) is a rather isolated reflection nebula over 2 light-years across, located some 1200 light-years away at the edge of the Cepheus Flare molecular cloud complex in the constellation Cepheus.
</p>
<p class="milkywaytext">
  It is nicknamed the “Ghost Nebula” due its spooky appearance and to several human-like figures with arms raised, rising up from the top of the cloud structure to the left of the bright reflection.
</p>
<p class="milkywaytext">
  The complex process of star formation create dust clouds of many shapes and sizes. In the case of the Ghost nebula, spooky shapes seem to haunt this starry expanse drifting through the night. Of course, these shapes are also cosmic dust clouds. Several stars are embedded in the nebula, and their light gives it a ghoulish brown color.
</p>
<p class="milkywaytext">
  Also cataloged as Bok globule CB230, the core of the dark cloud on the right side of this image is collapsing and is likely a binary star system in the early stages of formation, identified as BD+67 1300.
</p>
<p class="milkywaytext">
  Bok globules are dark clouds of dense cosmic dust and gas within star-forming regions in which usually star formation takes place. They most commonly result in the formation of double or multiple star systems.
</p>
<p class="milkywaytext">
  The name Sharpless comes from a catalog of 312 emission nebulae (H II regions). The first edition was published by Stewart Sharpless in 1953 with 142 objects (Sh1) and the second and final version was published in 1959 with 312 objects (Sh2). The “vdB” stands for “van den Bergh”; vdB 141 is reflection nebula number 141 in Sidney van den Bergh’s Catalog of Reflection Nebulae, created in 1966.
</p>
<%- include('footer'); -%>
