<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>21P/Giacobini-Zinner </big></h1>
<br />
<img class="milkyimg" src="/images/giacobini.jpeg" alt="giacobini" />
<p class="milkywaytext">
Comet Giacobini-Zinner was discovered on Dec. 20, 1900 by Michel Giacobini at the Nice Observatory in France. The comet was later recovered by Ernst Zinner in 1913 (October 23).
</p>
<p class="milkywaytext">
Comet 21P/ Giacobini-Zinner is a small comet with a diameter of 1.24 miles (2 kilometers). This comet takes about 6.6 years to orbit the Sun once. The last time comet Giacobini-Zinner reached perihelion (closest approach to the Sun) was on Feb. 11, 2012. The next perihelion passage will be in 2018.
</p>
<p class="milkywaytext">
Each time that Giacobini-Zinner returns to the inner solar system its nucleus sprays ice and rock into space. This debris stream results in an annual meteor shower: the Draconids, which take place each year in early October. The Draconids radiate out of the northern constellation of Draco the dragon. Most years the shower is weak, and many times very few meteors are seen. However, there are also Draconid meteor storms (sometimes called Giacobinid meterors) on record. A meteor storm is observed when one thousand or more meteors are seen per hour at the location of the observer. During its peak in 1933, 500 Draconid meteors were seen per minute in Europe. 1946 was also a good year for the Draconids, where 50 -100 were seen per minute in the U.S.
</p>
<p class="milkywaytext">
In 1985 (Sept. 11) a re-purposed mission named ICE (International Cometary Explorer, formally International Sun-Earth Explorer-3 ([ISEE-3]) was sent to gather data from this comet. ICE was the first spacecraft to fly by a comet. ICE later joined the famous "armada" of spacecraft sent to comet Halley in 1986. Another mission named Sakigaki from Japan was scheduled to fly by this comet in 1998. Unfortunately, the spacecraft lacked sufficient propellant to reach the comet.
</p>
<p class="milkywaytext">
Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. Since both Michel Giacobini and Ernst Zinner discovered and recovered this comet it is named for them. The letter "P" indicates that Giacobini-Zinner is a periodic comet. Periodic comets have an orbital period of less than 200 years.
</p>
<%- include('footer'); -%>
