<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>God Particles</big></h1>
<br />
<img class="milkyimg" src="/images/godparticle.jpeg" alt="god" />
<p class="milkywaytext">
The "God particle" is the nickname of a subatomic particle called the Higgs boson. In layman’s terms, different subatomic particles are responsible for giving matter different properties. One of the most mysterious and important properties is mass. Some particles, like protons and neutrons, have mass. Others, like photons, do not. The Higgs boson, or “God particle,” is believed to be the particle which gives mass to matter. The “God particle” nickname grew out of the long, drawn-out struggles of physicists to find this elusive piece of the cosmic puzzle. What follows is a very brief, very simplified explanation of how the Higgs boson fits into modern physics, and how science is attempting to study it.
</p>
<p class="milkywaytext">
The “standard model” of particle physics is a system that attempts to describe the forces, components, and reactions of the basic particles that make up matter. It not only deals with atoms and their components, but the pieces that compose some subatomic particles. This model does have some major gaps, including gravity, and some experimental contradictions. The standard model is still a very good method of understanding particle physics, and it continues to improve. The model predicts that there are certain elementary particles even smaller than protons and neutrons. As of the date of this writing, the only particle predicted by the model which has not been experimentally verified is the “Higgs boson,” jokingly referred to as the “God particle.”
</p>
<p class="milkywaytext">
Each of the subatomic particles contributes to the forces that cause all matter interactions. One of the most important, but least understood, aspects of matter is mass. Science is not entirely sure why some particles seem mass-less, like photons, and others are “massive.” The standard model predicts that there is an elementary particle, the Higgs boson, which would produce the effect of mass. Confirmation of the Higgs boson would be a major milestone in our understanding of physics.
</p>
<p class="milkywaytext">
  The “God particle” nickname actually arose when the book The God Particle: If the Universe Is the Answer, What Is the Question? by Leon Lederman was published. Since then, it’s taken on a life of its own, in part because of the monumental questions about matter that the God particle might be able to answer. The man who first proposed the Higgs boson’s existence, Peter Higgs, isn’t all that amused by the nickname “God particle,” as he’s an avowed atheist. All the same, there isn’t really any religious intention behind the nickname.

</p>
<p class="milkywaytext">
 As with any scientific discovery, God’s amazing creation becomes more and more impressive as we learn more about it. Either result—that the Higgs boson exists, or does not exist—represents a step forward in human knowledge and another step forward in our appreciation of God’s awe-inspiring universe.
</p>
<%- include('footer'); -%>
