<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>1P/Halley</big></h1>
<br />
<img class="milkyimg" src="/images/halley.jpeg" alt="hally" />
<p class="milkywaytext">
  1P/Halley is often called the most famous comet because it marked the first time astronomers understood comets could be repeat visitors to our night skies. Astronomers have now linked the comet's appearances to observations dating back more than
  2,000 years.
</p>
<p class="milkywaytext">
  Halley was last seen in Earth's skies in 1986 and was met in space by an international fleet of spacecraft. It will return in 2061 on its regular 76-year journey around the Sun.
</p>
<p class="milkywaytext">
  Until the time of English astronomer Edmond Halley (1656-1742), comets were believed to make only one pass through the solar system.
</p>
<p class="milkywaytext">
  But in 1705, Halley used Isaac Newton's theories of gravitation and planetary motions to compute the orbits of several comets. Halley found the similarities in the orbits of bright comets reported in 1531, 1607 and 1682 and he suggested that the
  trio were actually a single comet making return trips. Halley correctly predicted the comet's return in 1758-1759 — 16 years after his death — and history's first known "periodic" comet was later named in his honor.
</p>
<p class="milkywaytext">
  The comet has since been connected to ancient observations going back more than 2,000 years. It is featured in the famous Bayeux tapestry, which chronicles the Battle of Hastings in 1066.
</p>
<p class="milkywaytext">
  In 1986, an international fleet spacecraft met the comet for an unprecedented study from a variety of vantage points. The science fleet included Japan's Suisei and Sakigake spacecraft, the Soviet Union's Vega 1 and Vega 2 (repurposed after a
  successful Venus mission), the international ISEE-3 (ICE) spacecraft and the European Space Agency's Giotto. NASA's Pioneer 7 and Pioneer 12 also contributed the the bounty of science data collected.
</p>
<p class="milkywaytext">
  Halley's dimensions are about 9.3 by 5 miles (15 kilometers by 8 kilometers). It is one of the darkest, or least reflective, objects in the solar system. It has an albedo of 0.03, which means that it reflects only 3% of the light that falls on it.
</p>
<img class="milkyimg" src="/images/halleytail.jpeg" alt="hally" />

<p class="milkywaytext">
  Each time Halley returns to the inner solar system its nucleus sprays ice and rock into space. This debris stream results in two weak meteor showers each year: the Eta Aquarids in May and the Orionids in October.
</p>
<p class="milkywaytext">
  Comet Halley moves backward (opposite to Earth's motion) around the Sun in a plane tilted 18 degrees to that of the Earth's orbit. Halley's backward, or retrograde, motion is unusual among short-period comets, as is its greatest distance from the
  Sun (aphelion) is beyond the orbit of Neptune.
</p>
<p class="milkywaytext">
  Halley's orbit period is, on average, 76 Earth years. This corresponds to an orbital circumference around the Sun of about 7.6 billion miles (12.2 billion kilometers). The period varies from appearance to appearance because of the gravitational
  effects of the planets. Measured from one perihelion passage to the next, Halley's period has been as short as 74.42 years (1835-1910) and as long as 79.25 years (451-530).
</p>
<p class="milkywaytext">
  The comet's closest approach to Earth occurred in 837, at a distance of 0.033 AU (3.07 million miles or 4.94 million kilometers). At that time, April 10, 837, Halley reached a total apparent brightness of about magnitude -3.5, nearly that of Venus
  at greatest brilliance. The light of Halley was spread over an extended area, however, so its surface brightness was less than that of Venus.
</p>
<p class="milkywaytext">
  During its 1986 appearance, Halley's nearest approach to Earth occured on the outbound leg of the trip at a distance of 0.42 AU (39 million miles or 63 million kilometers). It was slightly brighter than the north star Polaris, but again spread over
  a much larger area than a point-like star.
</p>
<p class="milkywaytext">
  At aphelion in 1948, Halley was 35.25 AU (3.28 billion miles or 5.27 billion kilometers) from the Sun, well beyond the distance of Neptune. The comet was moving 0.91 kilometers per second (2,000 mph). At perihelion on February 9, 1986, Halley was
  only 0.5871 AU (87.8 million km: 54.6 million miles) from the Sun, well inside the orbit of Venus. Halley was moving at 122,000 mph (54.55 kilometers per second).
</p>
<p class="milkywaytext">
  With each orbit around the Sun, a comet the size of Halley loses an estimated 3 to 10 feet (1 to 3 meters) of material from the surface of its nucleus. Thus, as a comet ages, it eventually dims in appearance and may lose all the ices in its
  nucleus. The tails disappear at that stage, and the comet finally evolves into a dark mass of rocky material or perhaps dissipates into dust.
</p>
<p class="milkywaytext">
  Scientists calculate that an average periodic comet lives to complete about 1,000 trips around the Sun. Halley has been in its present orbit for at least 16,000 years, but it has shown no obvious signs of aging in its recorded appearances.
</p>
<%- include('footer'); -%>
