<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>103P/Hartley(Hartley 2)</big></h1>
<br />
<img class="milkyimg" src="/images/hartley.jpeg" alt="hartley 2" />
<p class="milkywaytext">
Hartley 2 was discovered by Malcolm Hartley on Mar. 15, 1986 using the Schmidt Telescope at the Siding Spring Observatory in Australia.
</p>
<p class="milkywaytext">
Comet 103P/Hartley (Hartley 2) is a small, oval (or peanut) shaped comet -- its nucleus measures approximately one mile (1.6 kilometers) in diameter. It takes Hartley 2 about 6.47 years to orbit the Sun once. Hartley 2 last reached perihelion (closest approach to the Sun) in 2017.
</p>
<p class="milkywaytext">
Hartley 2 orbits the Sun within the asteroid belt, which lies between the orbits of Mars and Jupiter. Hartley 2 is a Jupiter-family comet. A Jupiter-family comet is defined as having an orbital period of less than 20 years and one that has been modified by close passages with the gas giant.
</p>
<p class="milkywaytext">
One spacecraft has encountered this comet: Deep Impact (EPOXI) in 2010. During its flyby, the spacecraft came within 431 miles (694 kilometers) of the comet. Hartley 2 was the fifth comet to be visited by spacecraft and was the second encounter made by this particular spacecraft. Deep Impact had previously visited comet 9P/Tempel 1 in 2005.
</p>
<p class="milkywaytext">
Called hyperactive by the EPOXI mission, comet Hartley 2 spins around one axis, while tumbling around another one. Comet Hartley's core is also not uniform, but is made up of water ice with methanol, carbon dioxide and possibly ethane. The release of these gases occur at different locations on the comet. For example, carbon-dioxide-driven jets shoot from the ends of the comet, with most occurring from the small end. Water vapor is released from the mid-section with very little, or no carbon dioxide or ice.
</p>
<p class="milkywaytext">
The comet's surface is dotted with glittering blocks that are approximately 164 feet (50 meters) high and 262 feet (80 meters) wide. These surface features appear to be two to three times more reflective than the surface average.
</p>
<p class="milkywaytext">
Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. Since Malcolm Hartley discovered this comet it is named for him. The letter "P" indicates that 103P/Hartley (Hartley 2) is a "periodic" comet. Periodic comets have an orbital period of less than 200 years.
</p>
<%- include('footer'); -%>
