<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Haumea</big></h1>
<br />
<img class="milkyimg" src="/images/haumea.jpeg" alt="haumea" />
<p class="milkywaytext">
Located in the Kuiper Belt beyond Neptune’s orbit, the dwarf planet Haumea is an oval-shaped object with a radius of about 385 miles (just under 10 times smaller than Earth), and two moons, Namaka and Hi’iaka. A day on Haumea lasts only four Earth hours, making it one of the fastest rotating large objects in our solar system
</p>
<p class="milkywaytext">
Originally designated 2003 EL61 (and nicknamed Santa by one discovery team), Haumea resides in the Kuiper belt and is roughly the same size as Pluto. Haumea is one of the fastest rotating large objects in our solar system. Its fast spin distorts Haumea's shape, making this dwarf planet look like a football.
</p>
<p class="milkywaytext">
The surface of Haumea is extremely cold, so it seems unlikely that life could exist there.
</p>
<p class="milkywaytext">
Haumea is the first known Kuiper Belt Object to have rings. Scientists announced the discovery in 2017 after watching the dwarf planet pass in front of a star.
</p>
<img class="milkyimg" src="/images/haumeaworld.jpeg" alt="haumea" />
<p class="milkywaytext">
Two teams claim credit for discovering of Haumea citing evidence from observations made in 2003 and 2004. The International Astronomical Union’s Gazetteer of Planetary Nomenclature lists the discovery location as Sierra Nevada Observatory in Spain on Mar. 7, 2003, but no official discoverer is listed.
</p>
<p class="milkywaytext">
Haumea was named after the Hawaiian goddess of fertility.
</p>
<p class="milkywaytext">
Haumea has two known moons: Namaka is the inner moon, and Hi'iaka is the outer moon. Both are named for the mythological daughters of Huamea. Hi'aka is the patron goddess of the island of Hawaii and of hula dancers. Namaka is a water spirit in Hawaiian mythology.
</p>
<img class="milkyimg" src="/images/haumeasurface.jpeg" alt="haumea" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
With a radius of about 385 miles (620 kilometers), Haumea is about 1/14 the radius of Earth. If Earth were the size of a nickel, Haumea would be about as big as a sesame seed.
</p>
<p class="milkywaytext">
From an average distance of 4,010,000,000 miles (6,452,000,000 kilometers), Haumea is 43 astronomical units away from the Sun. One astronomical unit (abbreviated as AU), is the distance from the Sun to Earth. From this distance, it takes sunlight 6 hours to travel from the Sun to Haumea.
</p>
<p class="milkywaytext">
Scientists do not think Haumea has a magnetosphere.
</p>
<img class="milkyimg" src="/images/haumearing.jpeg" alt="haumea" />
<p class="milkywaytext">
Haumea takes 285 Earth years to make one trip around the Sun. As Haumea orbits the Sun, it completes one rotation every 4 hours, making it one of the fastest rotating large objects in our solar system.
</p>
<p class="milkywaytext">
It is possible a massive impact billions of years ago set off Haumea's spin and created its moons.
</p>
<p class="milkywaytext">
Dwarf planet Haumea is a member of a group of objects that orbit in a disc-like zone beyond the orbit of Neptune called the Kuiper Belt. This distant realm is populated with thousands of miniature icy worlds which formed early in the history of our solar system about 4.5 billion years ago. These icy, rocky bodies are called Kuiper Belt objects, transneptunian objects, or plutoids.
</p>
<%- include('footer'); -%>
