<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Helene</big></h1>
<br />
<img class="milkyimg" src="/images/helene.jpeg" alt="atlas" />
<p class="milkywaytext">
  Helene was discovered on March 1, 1980 during the Earth ring-plane crossing by J. Lecacheux and others.
</p>
<p class="milkywaytext">
  Helene, a small and faint moon of Saturn, is referred to as a Trojan moon because it shares its orbit with another moon—Dione, a moon hundreds of times larger than Helene. This complex orbital arrangement is held steady by gravity: Helene is located at a Lagrange point, where it feels the tug of gravity equally from distant Saturn and nearby Dione. For this reason, soon after it was discovered in 1980 it was called Dione B.
</p>
<p class="milkywaytext">
  This irregularly shaped moon has a mean radius of 10.9 miles (17.6 kilometers) with dimensions 22 x 19 x 18.6 miles (36 x 32 x 30 km). It orbits 234,505 miles (377,400 kilometers) away from Saturn, taking 2.7 Earth days to complete one orbit.
</p>
<p class="milkywaytext">
  John Herschel suggested that the moons of Saturn be associated with mythical brothers and sisters of Kronus. (Kronus is the equivalent of the Roman god Saturn in Greek mythology.) The International Astronomical Union now controls the official naming of astronomical bodies.
</p>
<p class="milkywaytext">
  Originally designated S/1980 S6, Helene is named after the granddaughter of Kronus and is the sister of Polydeuces. Helene was born out of an egg since Zeus took the shape of a swan when he raped her mother Leda. The account of this engendering is retold in the poem "Leda and the Swan" by William Butler Yeats. This same figure in Greek mythology was the cause of the Trojan War.​
</p>
<%- include('footer'); -%>
