<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Helix Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/helix.jpeg" alt="helix" />
<p class="milkywaytext">
  The Helix Nebula is one of the most familiar nebulae in astronomy, and it’s been nicknamed the “Eye of God”. Its official designation is NGC 7293, the Helix Nebula is located inside the constellation of Aquarius. The Helix Nebula is one of the closest examples of a planetary nebula. Astronomers have estimated its distance to only be 700 light-years away.
</p>
<p class="milkywaytext">
  The central star of the Helix Nebula was once a star very similar to our own Sun. As the star neared the end of its life, it expanded into a red giant and puffed away its outer layers. The central star is destined to become a white dwarf star, as it slowly cools down. It’s no longer actively fusing hydrogen, and only shines with the remaining heat from when it was once a star.
</p>
<p class="milkywaytext">
  The Helix Nebula that we see today is actually just a momentary phase in the death of the star. The inner layers of gas and dust expanding away from the central star were probably released about 6,500 years ago, with the outer layer released about 12,000 years ago. We can see them because they’re illuminated by the central star. But eventually they’ll get far enough away that they’re no longer bright enough to see. From that point on we’ll just see the central white dwarf star.
</p>
<p class="milkywaytext">
  Because the Helix Nebula is so close, images from the Hubble Space Telescope revealed knots of material in the expanding shells of gas and dust. There are more than 20,000 of these knots in the nebula, and they have cometlike tails stretching away from the central star.
</p>
<br />
<h3>LOcation</h3>
<br />
<img class="milkyimg" src="/images/helixlocation.jpg" alt="helix" />
<br />
<p class="milkywaytext">
  In the summer months, look towards the constellation Aquarius to the south, using the bright star Fomalhaut (magnitude 1.72) in Piscis Austrinus as a reference.
    </p>
<%- include('footer'); -%>
