<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Horsehead Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/horsehead.jpeg" alt="horsehead" />
<p class="milkywaytext">
The Horsehead Nebula is around 1,500 light years from Earth and is located in the constellation of Orion.
</p>
<p class="milkywaytext">
Due to its recognizable shape the Horsehead Nebula is one of the most famous celestial objects.
</p>
<p class="milkywaytext">
It is categorized as a dark nebula composed mainly of hydrogen gas and high levels of dust blocking out background light.
</p>
<p class="milkywaytext">
The dark Horsehead Nebula is visible due to the backdrop of the bright emission nebula IC 434.
</p>
<p class="milkywaytext">
Both the Horsehead Nubula and IC 434 are part of the Orion Molecular Cloud Complex, an enormous star forming region spanning hundreds of light years in diameter.
</p>
<p class="milkywaytext">
The Horsehead Nebula is thought to be around 3 to 4 light years tall and 2 to 3 light years across.
</p>
<p class="milkywaytext">
The Horsehead Nebula will eventually disperse due to ultra violet light from nearby stars evaporating its gas cloud.
</p>
<p class="milkywaytext">
In 2001 the Horshead Nebula was voted the favorite night sky object by amateur astronomers.
</p>
<br />
<h3>Discovery</h3>
<p class="milkywaytext">
  Some controversy surrounds the discovery of the Horsehead Nebula with many names involved in its accreditation. The nebula is also known as Barnard 33 as the American astronomer Edward Emerson Barnard was the first to catalogue the object in 1913 using a telescope operated by the University of Chicago, but he wasn't the first to identify the nebula.
  </p>
  <p class="milkywaytext">

    Some years earlier in 1889 a photograph of the Horsehead Nebula was included in a collection of images compiled by Professor Edward Charles Pickering of Harvard College Observatory, although it was his brother William who actually took the image one year earlier. The Scottish astronomer Williamena Fleming was working as Edward Fleming’s assistant at the time and is credited as being the first to record, identify and describe the nebula from a photographic plate.

    </p>
    <p class="milkywaytext">
      But it is possible that the Horsehead Nebula’s discovery can go even further back than this. In the late 18th century the astronomer William Herschel described “a hole in the heavens” which some claim to be a description of the dark spot created by the Horsehead Nebula in the night sky.
      </p>
<br />
<h3>Location</h3>
<br />
<img class="milkyimg" src="/images/horseheadlocation.jpg" alt="orion" />
<br />
<p class="milkywaytext">
  Finding where in the night sky the Horsehead Nebula is located is a fairly simple task, actually seeing it is a different matter entirely. To find its location direct your attention to the constellation of Orion, which is one of the brightest and easily identifiable constellations in the night sky. The three bright stars in the center of the constellation form a line which is named Orion’s belt, the Horsehead Nebula is located to the south of the eastern most star Alnitak.
  </p>
<p class="milkywaytext">
  he Horsehead Nebula is one of the most challenging objects to view in the night sky. To actually get a clear view of the nebula you will need a dark sky away from light pollution, a telescope with at least a 10 inch aperture, a filter and a good deal of perseverance. Even with all the right conditions and equipment a beginner may find it extremely difficult to see.
  </p>
<%- include('footer'); -%>
