<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>ISON</big></h1>
<br />
<img class="milkyimg" src="/images/ison.jpeg" alt="ison" />
<p class="milkywaytext">
C/2012 S1 (ISON) bears the name of the night-sky survey program that discovered it, the International Scientific Optical Network. ISON is a group of observatories in ten countries which have organized to detect, monitor, and track objects in space. The network is managed by the Keldysh Institute of Applied Mathematics, part of the Russian Academy of Sciences.
</p>
<p class="milkywaytext">
C/2012 S1 (ISON) was the subject of the most coordinated comet observing campaign in history. Over the course of a year, more than a dozen spacecraft and numerous ground-based observers collected what is believed to be the largest single cometary dataset in history as ISON plunged toward a close encounter with the Sun.
</p>
<p class="milkywaytext">
Just prior to its closest approach to the sun on Nov. 28, 2013, Comet ISON went through a major heating event, and was torn to pieces. What remained of Comet ISON appeared to brighten and spread out, then fade. We have seen comets come close to the sun and disrupt and disappear before, like Comets Lovejoy and Elenin in 2012.
</p>
<p class="milkywaytext">
Twelve NASA spacecraft and the International Space Station observed and detected Comet ISON on the final stretch of its multi-million year journey from the Oort Cloud to the solar corona.
</p>
<p class="milkywaytext">
Russian astronomers Vitali Nevski and Artyom Novichonok discover the comet with the International Scientific Optical Network 0.4 meter telescope in Kislovodsk, Russia.
</p>
<p class="milkywaytext">
The official International Astronomical Union name of the comet is C/2012 S1 (ISON).
</p>
<p class="milkywaytext">
C indicated ISON it was not expected to return to the inner solar system (even if it had survived its close brush with the Sun's atmosphere in November 2013). Comets that are regular visitors such as comet Halley are designated with P for periodic comets, meaning its orbital period is less than 200 years.
</p>
<p class="milkywaytext">
S designates the half month it was discovered in (last half of September).
</p>
<%- include('footer'); -%>
