<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Jupiter</big></h1>
<br />
<img class="milkyimg" src="/images/jupiter.jpeg" alt="jupiter" />
<p class="milkywaytext">
  Jupiter is the fifth planet from our Sun and is, by far, the largest planet in the solar system – more than twice as massive as all the other planets combined. Jupiter's stripes and swirls are actually cold, windy clouds of ammonia and water,
  floating in an atmosphere of hydrogen and helium. Jupiter’s iconic Great Red Spot is a giant storm bigger than Earth that has raged for hundreds of years.
</p>
<p class="milkywaytext">
  Jupiter is surrounded by dozens of moons. Jupiter also has several rings, but unlike the famous rings of Saturn, Jupiter’s rings are very faint and made of dust, not ice.
</p>
<p class="milkywaytext">
  Nine spacecraft have studied Jupiter up close. NASA's Juno spacecraft is currently studying the gas giant planet from orbit. The spacecraft, which arrived at Jupiter in July 2016, is the first to study the planet's mysterious, cloud-shrouded
  interior. Scientists also use the Earth-orbiting Hubble Space Telescope and ground-based telescopes to regularly check in on Jupiter.
</p>
<p class="milkywaytext">
  Pioneer 10 was the first spacecraft to fly past Jupiter. It was followed by Pioneer 11, Voyager 1 and Voyager 2 flybys. NASA's Galileo mission was first to orbit Jupiter and to send an atmospheric probe into the stormy clouds. The international
  Ulysses mission used Jupiter's powerful gravity to hurl itself into orbital passes of the Sun's northern and southern poles. Both Cassini and New Horizons studied Jupiter as they hurtled on to their main science targets — Saturn for Cassini and
  Pluto and the Kuiper Belt for New Horizons.
</p>
<p class="milkywaytext">
  Jupiter holds a unique place in the history of space exploration. In 1610, astronomer Galileo Galilei used a new invention called the telescope to look at Jupiter and discovered the first moons known to exist beyond Earth. The discovery ended
  incorrect, ancient belief that everything, including the Sun and other planets, orbited the Earth.
</p>
<img class="milkyimage" src="/images/jupitergif.gif" alt="jupiter" />
<p class="milkywaytext">
  The composition of Jupiter is similar to that of the Sun—mostly hydrogen and helium. Deep in the atmosphere, pressure and temperature increase, compressing the hydrogen gas into a liquid. This gives Jupiter the largest ocean in the solar system—an
  ocean made of hydrogen instead of water. Scientists think that, at depths perhaps halfway to the planet's center, the pressure becomes so great that electrons are squeezed off the hydrogen atoms, making the liquid electrically conducting like
  metal. Jupiter's fast rotation is thought to drive electrical currents in this region, generating the planet's powerful magnetic field. It is still unclear if, deeper down, Jupiter has a central core of solid material or if it may be a thick,
  super-hot and dense soup. It could be up to 90,032 degrees Fahrenheit (50,000 degrees Celsius) down there, made mostly of iron and silicate minerals (similar to quartz).
</p>
<p class="milkywaytext">
  Jupiter took shape when the rest of the solar system formed about 4.5 billion years ago, when gravity pulled swirling gas and dust in to become this gas giant. Jupiter took most of the mass left over after the formation of the Sun, ending up with
  more than twice the combined material of the other bodies in the solar system. In fact, Jupiter has the same ingredients as a star, but it did not grow massive enough to ignite.
</p>
<p class="milkywaytext">
  The vivid colors you see in thick bands across Jupiter may be plumes of sulfur and phosphorus-containing gases rising from the planet's warmer interior. Jupiter's fast rotation—spinning once every 10 hours—creates strong jet streams, separating its
  clouds into dark belts and bright zones across long stretches.
</p>

<img class="milkyimg" src="/images/jupitersurface.jpg" alt="jupiter" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  With a radius of 43,440.7 miles (69,911 kilometers), Jupiter is 11 times wider than Earth. If Earth were the size of a nickel, Jupiter would be about as big as a basketball.
</p>
<p class="milkywaytext">
  From an average distance of 484 million miles (778 million kilometers), Jupiter is 5.2 astronomical units away from the Sun. One astronomical unit (abbreviated as AU), is the distance from the Sun to Earth. From this distance, it takes Sunlight 43
  minutes to travel from the Sun to Jupiter.
</p>
<p class="milkywaytext">
  Jupiter has the shortest day in the solar system. One day on Jupiter takes only about 10 hours (the time it takes for Jupiter to rotate or spin around once), and Jupiter makes a complete orbit around the Sun (a year in Jovian time) in about 12
  Earth years (4,333 Earth days).
</p>
<p class="milkywaytext">
  Its equator is tilted with respect to its orbital path around the Sun by just 3 degrees. This means Jupiter spins nearly upright and does not have seasons as extreme as other planets do.
</p>
<img class="milkyimg" src="/images/jupiter1.png" alt="jupiter" />
<p class="milkywaytext">
  As a gas giant, Jupiter doesn’t have a true surface. The planet is mostly swirling gases and liquids. While a spacecraft would have nowhere to land on Jupiter, it wouldn’t be able to fly through unscathed either. The extreme pressures and
  temperatures deep inside the planet crush, melt and vaporize spacecraft trying to fly into the planet.
</p>
<p class="milkywaytext">
  Jupiter's appearance is a tapestry of colorful cloud bands and spots. The gas planet likely has three distinct cloud layers in its "skies" that, taken together, span about 44 miles (71 kilometers). The top cloud is probably made of ammonia ice,
  while the middle layer is likely made of ammonium hydrosulfide crystals. The innermost layer may be made of water ice and vapor.
</p>
<p class="milkywaytext">
  With no solid surface to slow them down, Jupiter's spots can persist for many years. Stormy Jupiter is swept by over a dozen prevailing winds, some reaching up to 335 miles per hour (539 kilometers per hour) at the equator. The Great Red Spot, a
  swirling oval of clouds twice as wide as Earth, has been observed on the giant planet for more than 300 years. More recently, three smaller ovals merged to form the Little Red Spot, about half the size of its larger cousin. Scientists do not yet
  know if these ovals and planet-circling bands are shallow or deeply rooted to the interior.
</p>
<p class="milkywaytext">
  The Jovian magnetosphere is the region of space influenced by Jupiter's powerful magnetic field. It balloons 600,000 to 2 million miles (1 to 3 million kilometers) toward the Sun (seven to 21 times the diameter or Jupiter itself) and tapers into a
  tadpole-shaped tail extending more than 600 million miles (1 billion kilometers) behind Jupiter, as far as Saturn's orbit. Jupiter's enormous magnetic field is 16 to 54 times as powerful as that of the Earth. It rotates with the planet and sweeps
  up particles that have an electric charge. Near the planet, the magnetic field traps swarms of charged particles and accelerates them to very high energies, creating intense radiation that bombards the innermost moons and can damage spacecraft.
</p>
<br />
<h1 style="color:red";>Jupiter Moons</h1>
<p class="milkywaytext">
  Jupiter has 53 named moons and another 26 awaiting official names. Combined, scientists now think Jupiter has 79 moons.
  </p>
  <br />
  <h3>Critical Science Targets</h3>
  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/io.jpeg" />
        <a href="/io">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore IO</button>
          </a>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/europa.jpeg" />
      <a href="/europa">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Europa</button>
          </a>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/ganymede.jpeg" />
        <a href="/ganymede">

          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Ganymede</button>
        </a>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/gallisto.jpeg" />
        <a href="callisto">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Callisto</button>
          </a>
      </div>
    </div>
  </div>
  </section>
  <br />
  <br />
  <h3 style="color:blue";>Other Moons</h3>
  <br />
  <!-- 2nd row------------------------------------------------------------------------------------------------>
  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/Adrastea1.jpeg" />
      <h6 class="feature-title">Adrastea</h6>
      <p class="factbox">
        Adrastea, also known as Jupiter XV, is the second by distance, and the smallest of the four inner moons of Jupiter. It was discovered in photographs taken by Voyager 2 in 1979, making it the first natural satellite to be discovered from images taken by an interplanetary spacecraft,rather than through a telescope.
        </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Aitne</h6>
      <p class="factbox">
        Aitne, also known as Jupiter XXXI, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard, et al. in 2001, and given the temporary designation S/2001 J 11.
        </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Amalthea</h6>
        <p class="factbox">
          Amalthea is the largest within this grouping with a mean radius of about 83.5 ± 2.4 km. Amalthea orbits 181,400 km from its parent planet, Jupiter. Amalthea takes 0.498 Earth days to complete one orbit.
          </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Ananke</h6>
        <p class="factbox">
          Ananke is a retrograde irregular moon of Jupiter. It was discovered by Seth Barnes Nicholson at Mount Wilson Observatory in 1951 and is named after the mythological Ananke, the personification of Necessity, and the mother of the Moirai by Zeus.
          </p>
      </div>
    </div>
  </div>
  </section>
  <br />
  <!--3rd row------------------------------------------------------------------------------------------------>
  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Aoede</h6>
        <p class="factbox">
          Aoede, also known as Jupiter XLI, is a natural satellite of Jupiter. It was discovered by team of astronomers from the University of Hawaii led by Scott S. Sheppard in 2003. It received the temporary designation S/2003 J 7.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Arche</h6>
        <p class="factbox">
          Arche, also known as Jupiter XLIII, is a moon of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard on 31 October 2002, and received the temporary designation S/2002 J 1.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Autonoe</h6>
        <p class="factbox">
          Autonoe, also known as Jupiter XXVIII, is a natural satellite of Jupiter. Autonoe was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 1.
          </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Callirrhoe</h6>
        <p class="factbox">
          Callirrhoe, also known as Jupiter XVII, is one of Jupiter's outer natural satellites. It is an irregular moon that orbits in a retrograde direction. Callirrhoe was imaged by Spacewatch at Kitt Peak National Observatory from October 6 through November 4, 1999, and originally designated as asteroid 1999 UX₁₈.
          </p>
      </div>
    </div>
  </div>
  </section>
  <br />
  <!--4th row------------------------------------------------------------------------------------------------->
  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/carme.jpeg" />
        <h6 class="feature-title">Carme</h6>
        <p class="factbox">
          Carme is a retrograde irregular satellite of Jupiter. It was discovered by Seth Barnes Nicholson at Mount Wilson Observatory in California in July 1938. It is named after the mythological Carme, mother by Zeus of Britomartis, a Cretan goddess.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Carpo</h6>
        <p class="factbox">
          Carpo, also Jupiter XLVI, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003, and was provisionally designated as S/2003 J 20 until it received its name in early 2005.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Chaldene</h6>
        <p class="factbox">
          Chaldene, also known as Jupiter XXI, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard, et al., in 2000, and given the temporary designation S/2000 J 10.
          </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Cyllene</h6>
        <p class="factbox">
          Cyllene, also known as Jupiter XLVIII, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003, receiving the temporary designation S/2003 J 13.
          </p>
      </div>
    </div>
  </div>
  </section>
  <br />
  <!--5th row---------------------------------------------------------------------------------------------------->
  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Dia</h6>
        <p class="factbox">
          Dia, also known as Jupiter LIII, is a prograde irregular satellite of Jupiter. Provisionally known as S/2000 J 11, it received its name on March 7, 2015. It is named after Dia, daughter of Deioneus, wife of Ixion. According to Homer, she was seduced by Zeus in stallion form; Pirithous was the issue.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Eirene</h6>
        <p class="factbox">
          Eirene, also Jupiter LVII and originally known as S/2003 J 5, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003.but was then lost. It was recovered in 2017 and given its permanent designation that year.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Elara</h6>
        <p class="factbox">
          Elara is a prograde irregular satellite of Jupiter. It was discovered by Charles Dillon Perrine at Lick Observatory in 1905. It is the eighth-largest moon of Jupiter and is named after Elara, one of Zeus's lovers and the mother of the giant Tityos.
          </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Erinome</h6>
        <p class="factbox">
          Erinome, also known as Jupiter XXV, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard et al. in 2000, and given the temporary designation S/2000 J 4.
          </p>
      </div>
    </div>
  </div>
  </section>
  <br />
  <!--5th row----------------------------------------------------------------------------------------------------------------->
  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Ersa</h6>
        <p class="factbox">
          Ersa, also Jupiter LXXI, originally known as S/2018 J 1, is an outer natural satellite of Jupiter. It was discovered by Scott S. Sheppard and his team in 2018, and was announced on July 17, 2018, via a Minor Planet Electronic Circular from the Minor Planet Center.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Euanthe</h6>
        <p class="factbox">
          Euanthe, also known as Jupiter XXXIII, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 7.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Eukelade</h6>
        <p class="factbox">
          Eukelade, also known as Jupiter XLVII, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003, and received the temporary designation S/2003 J 1.
          </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Eupheme</h6>
        <p class="factbox">
          Eupheme, also Jupiter LX, originally known as S/2003 J 3, is an outer natural satellite of Jupiter, 2 km in diameter.
          </p>
      </div>
    </div>
  </div>
  </section>
  <br />
  <!--7th row----------------------------------------------------------------------------------------------------------------------->

  <section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Euporie</h6>
        <p class="factbox">
          Euporie, also known as Jupiter XXXIV, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 10.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Eurydome</h6>
        <p class="factbox">
          Eurydome, also known as Jupiter XXXII, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 4.
          </p>
              </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Harpalyke</h6>
        <p class="factbox">
          Harpalyke, also known as Jupiter XXII, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2000, and given the temporary designation S/2000 J 5.
          </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Hegemone</h6>
        <p class="factbox">
          Hegemone, also known as Jupiter XXXIX, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003, and given the temporary designation S/2003 J 8
          </p>
      </div>
    </div>
  </div>
  </section>
  <br />
  <!--8th row-------------------------------------------------------------------------------------------------------------------->

    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Helike</h6>
          <p class="factbox">
            Helike, also known as Jupiter XLV, is a moon of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003, and given the temporary designation S/2003 J 6.
            </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Hermippe</h6>
          <p class="factbox">
            Hermippe, or Jupiter XXX, is a natural satellite of Jupiter. It was discovered along with Eurydome by team of astronomers from the Institute for Astronomy of the University of Hawaii led by David Jewitt and Scott S. Sheppard and Jan Kleyna in 2001, and given the temporary designation S/2001 J 3.
            </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Herse</h6>
          <p class="factbox">
            Herse, or Jupiter L, previously known by its provisional designation of S/2003 J 17, is a natural satellite of Jupiter. It was discovered on 8 February 2003 by the astronomers Brett J. Gladman, John J. Kavelaars, Jean-Marc Petit, and Lynne Allen and also by a team of astronomers at University of Hawaii.
            </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Himalia</h6>
          <p class="factbox">
            Himalia, or Jupiter VI, is the largest irregular satellite of Jupiter, with a diameter of at least 140 km. It is the fifth largest Jovian satellite, after the four Galilean moons. It was discovered by Charles Dillon Perrine at the Lick Observatory on 3 December 1904 and is named after the nymph Himalia, who bore three sons of Zeus.
            </p>
        </div>
      </div>
    </div>
    </section>
    <br />
    <!--9th row------------------------------------------------------------------------------------------------------------------------>
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Iocaste</h6>
          <p class="factbox">
            Iocaste, also known as Jupiter XXIV, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2000, and given the temporary designation S/2000 J 3.
            </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Isonoe</h6>
          <p class="factbox">
            Isonoe, also known as Jupiter XXVI, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2000, and given the temporary designation S/2000 J 6.
            </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Jupiter LI</h6>
          <p class="factbox">
            Jupiter LI, provisionally known as S/2010 J 1, is a natural satellite of Jupiter. It was discovered by R. Jacobson, M. Brozović, B. Gladman, and M. Alexandersen in 2010. It received its permanent number in March 2015.Jupiter LI is about 3 km wide.
            </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Jupiter LII</h6>
          <p class="factbox">
            Jupiter LII, originally known as S/2010 J 2, is a natural satellite of Jupiter. It was discovered by Christian Veillet in 2010. It received its permanent number in March 2015. It takes 1.69 years to orbit around Jupiter, and its average distance is 21.01 million km.
            </p>
        </div>
      </div>
    </div>
    </section>
    <br />
<!--10th row---------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Kale</h6>
      <p class="factbox">
        Kale, also known as Jupiter XXXVII, is a retrograde irregular satellite of Jupiter. It was discovered in 2001 by astronomers Scott S. Sheppard, D. Jewitt, and J. Kleyna, and was originally designated as S/2001 J 8.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Kallichore</h6>
      <p class="factbox">
        Kallichore, also known as Jupiter XLIV, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard, et al. in 2003. It received the temporary designation S/2003 J 11.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Kalyke</h6>
      <p class="factbox">
        Kalyke, also known as Jupiter XXIII, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard et al. in 2000, and given the temporary designation S/2000 J 2.
        </p>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Kore</h6>
      <p class="factbox">
        Kore, also known as Jupiter XLIX, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2003 and given the provisional designation S/2003 J 14.
        </p>
    </div>
  </div>
</div>
</section>
<br />
<!--11th row---------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Leda</h6>
      <p class="factbox">
        Leda, also known as Jupiter XIII, is a prograde irregular satellite of Jupiter. It was discovered by Charles T. Kowal at the Mount Palomar Observatory on September 14, 1974, after three nights' worth of photographic plates had been taken. It was named after Leda, who was raped by Zeus, the Greek equivalent of Jupiter.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Lysithea</h6>
      <p class="factbox">
        Lysithea is a prograde irregular satellite of Jupiter. It was discovered by Seth Barnes Nicholson in 1938 at Mount Wilson Observatory and is named after the mythological Lysithea, daughter of Oceanus and one of Zeus' lovers. Lysithea did not receive its present name until 1975; before then, it was simply known as Jupiter X.

        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Megaclite</h6>
      <p class="factbox">
        Megaclite, also known as Jupiter XIX, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2000, and given the temporary designation S/2000 J 8.
        </p>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Metis</h6>
      <p class="factbox">
        Metis, also known as Jupiter XVI, is the innermost known moon of Jupiter. It was discovered in 1979 in images taken by Voyager 1, and was named in 1983 after the first wife of Zeus, Metis. Additional observations made between early 1996 and September 2003 by the Galileo spacecraft allowed its surface to be imaged.
        </p>
    </div>
  </div>
</div>
</section>
<br />
<!-- 12th row------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/mneme1.jpeg" />
      <h6 class="feature-title">Mneme</h6>
      <p class="factbox">
        Mneme, also known as Jupiter XL, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard, et al. in 2003, and was provisionally designated S/2003 J 21.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Orthosie</h6>
      <p class="factbox">
        Orthosie, also known as Jupiter XXXV, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 9.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Pandia</h6>
      <p class="factbox">
        Pandia, also known as Jupiter LXV, originally known as S/2017 J 4, is an outer natural satellite of Jupiter, 3 km in diameter.
        </p>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Pasiphae</h6>
      <p class="factbox">
        Pasiphae, formerly spelled Pasiphaë, is a retrograde irregular satellite of Jupiter. It was discovered in 1908 by Philibert Jacques Melotte and later named after the mythological Pasiphaë, wife of Minos and mother of the Minotaur from Greek legend.
        </p>
    </div>
  </div>
</div>
</section>
<br />
<!--13 row-------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Pasithee</h6>
      <p class="factbox">
        Pasithee, also known as Jupiter XXXVIII, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 6.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Philophrosyne</h6>
      <p class="factbox">
        Philophrosyne, also Jupiter LVIII and provisionally known as S/2003 J 15, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard, et al. in 2003, but then lost. It was recovered in 2017 and given its permanent designation that year.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Praxidike</h6>
      <p class="factbox">
        Praxidike, also known as Jupiter XXVII, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2000, and given the temporary designation S/2000 J 7.
        </p>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Sinope</h6>
      <p class="factbox">
        Sinope is a retrograde irregular satellite of Jupiter discovered by Seth Barnes Nicholson at Lick Observatory in 1914, and is named after Sinope of Greek mythology. Sinope did not receive its present name until 1975; before then, it was simply known as Jupiter IX.
        </p>
    </div>
  </div>
</div>
</section>
<br />
<!-- 14th row-------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Sponde</h6>
      <p class="factbox">
        Sponde, also known as Jupiter XXXVI, is a natural satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard in 2001, and given the temporary designation S/2001 J 5.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Taygete</h6>
      <p class="factbox">
        Taygete, also known as Jupiter XX, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from University of Hawaii led by Scott S. Sheppard, et al. in 2000, and given the temporary designation S/2000 J 9.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Thebe</h6>
      <p class="factbox">
        Thebe, also known as Jupiter XIV, is the fourth of Jupiter's moons by distance from the planet. It was discovered by Stephen P. Synnott in images from the Voyager 1 space probe taken on March 5, 1979, while making its flyby of Jupiter.
        </p>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Thelxinoe</h6>
      <p class="factbox">
        Thelxinoe, also known as Jupiter XLII, is a natural satellite of Jupiter. It was discovered by a team of astronomers from the University of Hawaii led by Scott S. Sheppard in 2004.
        </p>
    </div>
  </div>
</div>
</section>
<br />
<!--15 row---------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Themisto</h6>
      <p class="factbox">
        Themisto, also known as Jupiter XVIII, is a small prograde irregular satellite of Jupiter. It was discovered in 1975, subsequently lost, and rediscovered in 2000.
        </p>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/nomoon.jpeg" />
      <h6 class="feature-title">Thyone</h6>
      <p class="factbox">
        Thyone, also known as Jupiter XXIX, is a retrograde irregular satellite of Jupiter. It was discovered by team of astronomers from  University of Hawaii led by Scott S. Sheppard, et al. in 2001.
        </p>
            </div>
    </div>
</div>
</section>
<br />
<%- include('footer'); -%>
