<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Lagoon Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/lagoon.jpeg" alt="lagoon" />
<p class="milkywaytext">
  The Lagoon Nebula, or Messier 8 (M8), is a large interstellar cloud classified as an emission nebula and an H II region. The nebula is located in Sagittarius constellation, within the Milky Way Galaxy. It lies in the direction of the galaxy’s centre. The nebula’s designation in the New General Catalogue is NGC 6523.

</p>
<p class="milkywaytext">
  The Lagoon Nebula is the brightest, largest nebula in Sagittarius, a constellation that is home to a number of notable nebulous regions. M8 is estimated to lie at a distance between 4,000 and 6,000 light years from Earth. It spans a region 110 by 50 light years in size.
</p>
<p class="milkywaytext">
  When observed through a telescope or binoculars, the nebula appears gray, while time-exposure photos reveal a pink colour. The structure of the nebula, resembling that of a tornado or funnel, is a result of ultraviolet light coming from a hot O-type star that heats and ionizes gases on the nebula’s surface
</p>
<p class="milkywaytext">
  Messier 8 has an apparent magnitude of 6.0, which makes it barely visibile as a faint patch of light to the naked eye in extremely good conditions. Visually, the object has a diameter about three times that of the full Moon and is the largest and brightest nebula in Sagittarius and the surrounding region.
</p>
<p class="milkywaytext">
  The Lagoon Nebula was named for the lagoon-shaped dark lane above the bright Hourglass region. The lane appears to divide the nebula in half.
</p>
<p class="milkywaytext">
  The best time of year to observe the Lagoon Nebula is from mid-summer to mid-fall. However, as it is located in the southern sky (-24 degrees declination), it is much easier to observe the nebula from southern latitudes because it appears higher in the sky there. M8 lies to the north of the spout of the Teapot, the asterism Sagittarius is well known for. It is easily seen without binoculars on winter nights in the southern latitudes as it lies in a dark part of the Milky Way.
</p>

<br />

<h3>LOcation</h3>
<p class="milkywaytext">
  The Lagoon Nebula was first spotted by the Italian astronomer Giovanni Battista Hodierna in 1654 and then rediscovered by the French astronomer Guillaume Le Gentil in 1747.
  </p>
<p class="milkywaytext">
  In 1746, the Swiss mathematician and astronomer Philippe Loys de Chéseaux was able to resolve some of the stars in the region and classified the object as a star cluster.
  </p>
  <p class="milkywaytext">
    When Le Gentil observed the nebula the following year, he noted, “The first [nebula] is between the left heel of Serpentarius and the bow of Sagittarius, to the west of a star cluster which is located in this place in the sky, and which appears the same at eyesight, rather resembling the nebula of Cancer [Messier 44, also known as Praesepe or the Beehive Cluster]: That nebula has exactly the shape of an equilateral triangle, a bit elongated, and the turning point to the south-west. I have observed it with a refractor of 18 to 20 feet [FL], and it always appeared to me nebulous and transparent; it touches with its base a rather beautiful star, seen in the refractor, and which is the brightest of all those which compose the star cluster I have mentioned. The right ascension of this star is for the beginning of 1748, 266d 44′ 22” [17h 46m 57s], its southern declination, 25d 8′ 10”, its [ecliptical] longitude, 26d 45′ 00”, and its southern [ecliptical] latitude 1d 30′ 00”.”
    </p>
  <p class="milkywaytext">
    The Lagoon Nebula has a significant number of Bok globules, which are collapsing dark protostellar clouds, consisting of interstellar material, about 10,000 AU (astronomical units) in diameter. The American astronomer E.E. Barnard, who discovered them inside the nebula, documented the three most prominent ones as Barnard 88 (B88), Barnard 89 (B89), and Barnard 296 (B296) in his catalogue of dark nebulae.
    </p>
    <p class="milkywaytext">
      Charles Messier observed the nebula on May 23 to 24, 1764 and later noted, “I also have determined, in the same night [May 23-24, 1764], the position of a small star cluster which one sees in the form of a nebula, if one views it with an ordinary [non-achromatic] refractor of 3 feet [FL], but when employing a good instrument one notices a large quantity of small stars: near this cluster is a rather brilliant star which is surrounded by a very faint light: this is the ninth star of Sagittarius, of seventh magnitude, according to the catalog of Flamsteed: this cluster appears in an elongated shape which extends from North-East to South-West. I observed its position during its passage of the Meridian, comparing it with the star Delta Sagittarii, and I determined its right ascension as 267d 29′ 30”, and its declination as 24d 21′ 10” south. This star cluster could have an extension, from North-East to South-West, of about 30 minutes of arc.”
      </p>
      <p class="milkywaytext">
        The Lagoon Nebula is one of only two star-forming nebulae that can be seen without binoculars from mid-northern latitudes. It is composed mainly of hydrogen, most of it ionized by radiation from the star Herschel 36.
        </p>
        <p class="milkywaytext">
          Messier 8 contains the Hourglass Nebula, NGC 6523, and NGC 6530. The Hourglass Nebula, named by John Herschel, who discovered it, lies at the centre of Messier 8. It is not to be confused with the more famous Hourglass Nebula located in the constellation Musca, the Fly. The Hourglass at the core of M8 is the brightest portion of the nebula, and a known star forming region.
          </p>
<%- include('footer'); -%>
