<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Large Magellanic Cloud</big></h1>
<br />
<img class="milkyimg" src="/images/large.jpeg" alt="largeMagellanic" />
<p class="milkywaytext">
  The Large Magellanic Cloud (LMC) is a dwarf irregular galaxy located on the border between the constellations Dorado and Mensa.
</p>
<p class="milkywaytext">
  The galaxy is believed to be a satellite of the Milky Way and a member of the Local Group of galaxies, which includes about 30 galaxies that are loosely bound together by their gravitation.
</p>
<p class="milkywaytext">

The Large Magellanic cloud lies an an approximate distance of 163,000 light years, or just under 50 kiloparsecs from Earth. Covering several degrees of the sky, the Large Magellanic Cloud is quite large in size, as its name indicates, and easy to find without binoculars for observers in the southern hemisphere.
</p>
<p class="milkywaytext">
  It is the fourth largest galaxy in the Local Group, after Andromeda Galaxy, the Milky Way, and Triangulum Galaxy. The LMC is also one of very few galaxies that are visible to the naked eye. The galaxy appears as a faint cloud more than 20 times the width of the full Moon. The visible part of the Large Magellanic Cloud is about 17,000 light years across.
</p>
<p class="milkywaytext">
  Along with the Small Magellanic Cloud (SMC), the LMC appears like a piece of the Milky Way that has broken off, when in fact both Magellanic Clouds are separate small galaxies.
  </p>
  <img class="milkyimg" src="/images/large1.jpg" alt="largeMagellanic" />
  <p class="milkywaytext">
    In northern latitudes, the Large Magellanic Cloud can be seen south of latitude 20°N. The galaxy is not easy to observe because even when it does appear above the southern horizon, it only appears very low in the sky. The LMC is best seen in the evenings from December to April, when the constellation Orion also reaches its highest point in the sky.
    </p>
<%- include('footer'); -%>
