<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Leo</big></h1>
<br />
<img class="milkyimg" src="/images/leo1.jpeg" alt="leo" />
<p class="milkywaytext">
  Leo constellation lies in the northern sky. It is one of the zodiac constellations and one of the largest constellations in the sky.
</p>
<p class="milkywaytext">
  Leo represents the lion and is usually associated with the Nemean lion in Greek mythology. The constellation was first catalogued by the Greek astronomer Ptolemy in the 2nd century, along with all the other constellations of the zodiac.
</p>
<p class="milkywaytext">
  Leo constellation is home to the bright stars Regulus and Denebola, the nearby star Wolf 359, and to a number of famous deep sky objects, among them galaxies Messier 65, Messier 66, Messier 95, Messier 96, Messier 105, and NGC 3628.
</p>
<p class="milkywaytext">
  Leo is the 12th largest constellation in size, occupying an area of 947 square degrees. It is located in the second quadrant of the northern hemisphere (NQ2) and can be seen at latitudes between +90° and -65°. The neighboring constellations are
  Cancer, Coma Berenices, Crater, Hydra, Leo Minor, Lynx, Sextans, Ursa Major and Virgo.
</p>
<p class="milkywaytext">
  Leo contains five Messier objects: Messier 65 (M65, NGC 3623), Messier 66 (M66, NGC 3627), Messier 95 (M95, NGC 3351), Messier 96 (M96, NGC 3368), and Messier 105 (M105, NGC 3379). It has 11 stars with known planets.
</p>
<p class="milkywaytext">
  he brightest star in Leo is Regulus, Alpha Leonis, with an apparent magnitude of 1.35. There are two meteor showers associated with the constellation. The Leonids usually peak on November 17-18 every year and have a radiant near the bright star
  Gamma Leonis. The January Leonids are a minor shower that peaks between January 1 and 7.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN LEO</h3>
<br />
<h3>Regulus – α Leonis (Alpha Leonis)</h3>
<p class="milkywaytext">
  Regulus, Alpha Leonis, is the brightest star in Leo and the 22nd brightest star in the sky. It has an apparent magnitude of 1.35 and is approximately 77 light years distant.
</p>
<p class="milkywaytext">
  Regulus is a four-star system composed of two pairs of stars. Regulus A is a spectroscopic binary star composed of a blue-white main sequence star belonging to the spectral class B7 V, and a companion star which cannot be resolved, but is believed
  to be a white dwarf. The two stars complete an orbit around their common centre of mass every 40 days or so.
</p>
<p class="milkywaytext">
  The primary star of Regulus A is a young star, only a few million years old, and has 3.5 times the mass of the Sun. The star is an extremely fast rotator, with a rotation period of only 15.9 hours. As a result, it has an oblate shape. If it were
  rotating 16% faster, the centripetal force provided by the star’s gravity would not be enough to hold the star together.Alpha Leonis is the closest bright star to the ecliptic. For this reason, it is regularly occulted by the Moon and, rarely, by
  Mercury and Venus.
</p>
<br />
<h3>Denebola – β Leonis (Beta Leonis) </h3>
<p class="milkywaytext">
  Denebola is the second brightest star in Leo and the 61st brightest star in the sky. It is a main sequence star with the stellar classification A3 V. It has an apparent magnitude of 2.113 and is approximately 35.9 light years distant from Earth.
  The star can easily be seen without binoculars.
</p>
<p class="milkywaytext">
  Denebola has 75% more mass than the Sun, 173% of the solar radius, and is 12 times more luminous. It is classified as a Delta Scuti variable, which means that its brightness varies slightly over a period of a few hours. Denebola exhibits variations
  in luminosity of 0.025 magnitudes about ten times a day.
</p>
<p class="milkywaytext">
  Beta Leonis is a relatively young star. Its estimated age is less than 400 million years. Like Regulus, Denebola is a rapid rotator, which results in an oblate shape of the star, with a bulge at the equator. The star’s projected rotational velocity
  is 128 km/s.
</p>
<br />
<h3>Algieba – γ Leonis (Gamma Leonis)</h3>
<p class="milkywaytext">
  Gamma Leonis is a double star in Leo. Its traditional name, Algieba or Al Gieba, comes from the Arabic Al-Jabhah, which means “the forehead.” The star is sometimes also known by its Latin name, Juba.
</p>
<p class="milkywaytext">
  Algieba is composed of a giant star with the spectral classification K1-IIIbCN0.5 and a dimmer companion star which belongs to the spectral class G7IIICN-I. The brighter giant is 180 times more luminous than the Sun and has an apparent magnitude of
  2.28. The G7 class star has a visual magnitude of 3.51, is 50 times brighter than the Sun, and has 10 times the solar diameter. The two stars have an orbital period of 500 years. A planet was discovered in the orbit of the primary star in November
  2009.
</p>
<p class="milkywaytext">
  The Gamma Leonis system has a combined apparent magnitude of 1.98 and is approximately 130 light years distant from the Sun. It is easy to observe in a small telescope under good conditions and appears as a bright double star with orange red and
  greenish yellow components.
</p>
<br />
<h3>Zosma – δ Leonis (Delta Leonis)</h3>
<p class="milkywaytext">
  Zosma, Delta Leonis, is another rapid rotator in Leo, with a projected rotational velocity of 180 km/s. Like Regulus and Denebola, Zosma has an equatorial bulge and an oblate shape.
</p>
<p class="milkywaytext">
  Zosma is a white main sequence star of the spectral type A4 V, approximately 58.4 light years from Earth. It has a visual magnitude of 2.56.
</p>
<br />
<h3>Chort – θ Leonis (Theta Leonis)</h3>
<P class="milkywaytext">
  Theta Leonis is another white main sequence star. It has the stellar classification A2 V and a mass 2.5 times that of the Sun. The star is visible to the naked eye. It has an apparent magnitude of 3.324 and is approximately 165 light years distant from the solar system.
  </P>
  <br />
  <h3>Alterf – λ Leonis (Lambda Leonis) </h3>
  <p class="milkywaytext">
    Lambda Leonis is a K5-class star, about 336 light years from the Sun. It has an apparent magnitude of 4.32. The star’s traditional name, Alterf, comes from the Arabic aṭ-ṭarf, which means “the view (of the lion)".
    </p>
<%- include('footer'); -%>
