<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Leonids</big></h1>
<br />
<img class="milkyimg" src="/images/leo.jpeg" alt="leonids" />
<p class="milkywaytext">
The Leonids, which peak during mid-November each year, are considered to be a major shower though meteor rates are often as low as about 15 meteors per hour. The Leonids are bright meteors and can also be colorful. They are also fast: Leonids travel at speeds of 44 miles (71 kilometers) per second, and are considered to be some of the fastest meteors out there.
</p>
<p class="milkywaytext">
Every 33 years, or so, viewers on Earth may experience a Leonid storm that can peak with hundreds to thousands of meteors seen per hour depending on the location of the observer.
</p>
<p class="milkywaytext">
A meteor storm versus a shower is defined as having at least 1,000 meteors per hour. Viewers in 1966 experienced a spectacular Leonid storm: thousands of meteors per minute fell through Earth's atmosphere during a 15 minute period. There were so many meteors seen that they appeared to fall like rain. The last Leonid meteor storm took place in 2002.
</p>
<p class="milkywaytext">
Leonids are also known for their fireballs and earthgrazer meteors. Fireballs are larger explosions of light and color that can persist longer than an average meteor streak. This is due to the fact that fireballs originate from larger particles of cometary material. Fireballs are also brighter, with magnitudes brighter than -3. Earthgrazers are meteors that streak close to the horizon and are known for their long and colorful tails.
</p>
<br />
<h3>Viewing Tips</h3>
<p class="milkywaytext">
The Leonids are best viewed starting at about midnight local time. Find an area well away from city or street lights. Come prepared for winter temperatures with a sleeping bag, blanket or lawn chair. Orient yourself with your feet towards east, lie flat on your back, and look up, taking in as much of the sky as possible. In less than 30 minutes in the dark, your eyes will adapt and you will begin to see meteors. Be patient  the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h3>Must Read Facts!</h3>
<p class="milkywaytext">
The pieces of space debris that interact with our atmosphere to create the Leonids originate from comet 55P/Tempel-Tuttle. It takes comet Tempel-Tuttle 33 years to orbit the sun once.
</p>
<p class="milkywaytext">
You should not look only to the constellation of Leo to view the Leonids—they are visible throughout the night sky. It is actually better to view the Leonids away from the radiant: They will appear longer and more spectacular from this perspective. If you do look directly at the radiant, you will find that the meteors will be short—this is an effect of perspective called foreshortening.
</p>
<%- include('footer'); -%>
