<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Libra</big></h1>
<br />
<img class="milkyimg" src="/images/libra.jpeg" alt="libra" />
<p class="milkywaytext">
Libra constellation lies in the southern sky. It is one of the zodiac constellations, first catalogued by Ptolemy in the 2nd century.
</p>
<p class="milkywaytext">
Libra is the only zodiac constellation that represents an object, not an animal or a character from mythology. The four brightest stars in the constellation form a quadrangle. Alpha and Beta Librae mark the scales’ balance beam, and Gamma and Sigma Librae represent the weighing pans. Libra is also home to HD 140283, popularly known as Methuselah, currently the oldest known star in the universe.
</p>
<p class="milkywaytext">
Libra is the 29th constellation in size, occupying an area of 538 square degrees. It lies in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +65° and -90°. The neighboring constellations are Centaurus, Hydra, Lupus, Ophiuchus, Scorpius, Serpens Caput and Virgo.
</p>
<p class="milkywaytext">
Libra contains three stars with known planets and does not have any Messier objects. The brightest star in the constellation is Zubeneschamali, Beta Librae, with an apparent magnitude of 2.61. There is one meteor shower associated with the constellation, the May Librids.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN LIBRA</h3>
<br />
<h3>Zubeneschamali – β Librae (Beta Librae)</h3>
<p class="milkywaytext">
Beta Librae is the brightest star in the constellation. It has an apparent magnitude of 2.61 and is approximately 185 light years distant from the solar system.
</p>
<p class="milkywaytext">
It has the stellar classification of B8 V, which means that it is a blue-white dwarf. Beta Librae is a very fast spinner, with a projected rotational velocity of 250 km/s. It has 4.9 times the solar radius and is approximately 130 times more luminous than the Sun.
</p>
<p class="milkywaytext">
Beta Librae is classified as a single star, but it shows small periodic variations in luminosity (0.03 of a magnitude), which indicate the presence of a companion star.
</p>
<br />
<h3>Zubenelgenubi – α Librae (Alpha Librae)</h3>
<p class="milkywaytext">
  Alpha Librae is the second brightest star in Libra. It is a multiple star system whose two brightest components form a binary star and share a common proper motion through space. They are suspected members of the Castor Moving Group of stars, which share a common origin about 200 million years ago.
</p>
<p class="milkywaytext">
  The Alpha Librae system lies close to the ecliptic and can be occulted by the Moon and, much less frequently, by planets. It will next be occulted by a planet (Mercury) on November 10, 2052.
</p>
<p class="milkywaytext">
  Alpha-1 Librae is the dimmer of the two main components in the system. It has an apparent magnitude of 5.153. Alpha-1 Librae is a spectroscopic binary system with an orbital period of 5,870 days, with components separated by 0.383 seconds of arc (10 astronomical units). The system has the stellar classification F4 and an apparent magnitude of 5.153. It is 74.9 light years distant from Earth.
</p>
<P class="milkywaytext">
  Alpha-2 Librae has an apparent magnitude of 2.741. It is also a spectroscopic binary system, separated from Alpha-1 Librae by about 5,400 astronomical units. It has the stellar classification A3 and an apparent magnitude of 2.741. It is 75.8 light years distant from the Sun.
  </P>
<br />
<h3>Brachium – σ Librae (Sigma Librae)</h3>
<p class="milkywaytext">
  Sigma Librae is a red giant star with the stellar classification of M3/M4 III. It has an apparent magnitude of 3.29 and is approximately 288 light years distant from the Sun. The star’s traditional name, Brachium, means “arm” in Latin. It is also sometimes known as Cornu (Latin for “horn”) and Zubenalgubi (“southern claw” in Arabic).
</p>
<p class="milkywaytext">
  Sigma Librae used to have the Bayer designation Gamma Scorpii even though it lies quite far from the border with Scorpius constellation. It only became Sigma Librae in the 19th century, and the designation was confirmed by the International Astronomical Union on July 31, 1930.
</p>
<p class="milkywaytext">
  Brachium is a semi-regular variable star with a single pulsation period of 20 days. It exhibits small variations in magnitude of 0.10 to 0.15 over short periods of 15 to 20 minutes every 2.5 to 3 hours or so.
</p>
<br />
<h3>Methuselah – HD 140283</h3>
<p class="milkywaytext">
  HD 140283 is the oldest known star in the Universe, believed to have been created shortly after the Big Bang.
</p>
<p class="milkywaytext">
  It is a subgiant star that is very metal poor and consists almost entirely of hydrogen and helium. Its iron content is less than 1 percent that of the Sun’s.
</p>
<p class="milkywaytext">
  The star’s age is estimated to be 14.46 billion years old, while the Universe is believed to be 13.77 billion years old. The star’s age does not really conflict with the age of the Universe because the values are uncertain.
</p>
<br />
<h3>υ Librae (Upsilon Librae)</h3>
<p class="milkywaytext">
  Upsilon Librae has the stellar classification of K3III, which makes the star an orange giant. It is a multiple star system with an apparent magnitude of 3.60. It is approximately 195 light years distant from the Sun.
</p>
<br />
<h3>τ Librae (Tau Librae) </h3>
<p class="milkywaytext">
  Tau Librae is a blue-white dwarf with the stellar classification of B2.5V. It has an apparent magnitude of 3.66 and is approximately 445 light years distant. The star has 3.2 times the Sun’s radius.
</p>
<%- include('footer'); -%>
