<%- include('header1'); -%>
</div>
</section>
<div class="loginbox">
  <img src="images/avatar.png" class="avatar" />
  <h1>Login Here</h1>
  <form action="/loggin" method="POST">
    <p>Email</p>
    <input type="email" name="name" placeholder="Enter E-mail" />
    <p>Password </p>
    <input type="password" name="pass" placeholder="Enter Password" />
    <input type="submit" name="" value="Login" />
    <a href="/">Lost Your Password ?</a><br />
    <a href="#">Don't Have An Account ?</a><br />
  </div>

  </body>
  </html>
