<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Lyrids</big></h1>
<br />
<img class="milkyimg" src="/images/apr.jpeg" alt="lyrids" />
<p class="milkywaytext">
The Lyrids, which peak during late April, are one of the oldest known meteor showers: Lyrids have been observed for 2,700 years. (The first recorded sighting of a Lyrid meteor shower goes back to 687 BC by the Chinese.)
</p>
<p class="milkywaytext">
The Lyrids are known for their fast and bright meteors, though not as fast or as plentiful as the famous Perseids in August, Lyrids can surprise watchers with as many as 100 meteors seen per hour. Sightings of these heavier showers occurred in 1803 (Virginia), 1922 (Greece), 1945 (Japan), and 1982 (U.S.). In general, 10-20 Lyrid meteors can be seen per hour during their peak.
</p>
<p class="milkywaytext">
Lyrids frequently leave glowing dust trains behind them as they streak through the Earth's atmosphere. These trains can be observable for several seconds.
</p>
<br />
<h3>Viewing Tips</h3>
<p class="milkywaytext">
The Lyrids are best viewed in the Northern Hemisphere during the dark hours (after moonset and before dawn). Find an area well away from city or street lights. Come prepared with a sleeping bag, blanket or lawn chair. Lie flat on your back with your feet facing east and look up, taking in as much of the sky as possible. After about 30 minutes in the dark, your eyes will adapt and you will begin to see meteors. Be patient—the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h3>Must Read Facts!</h3>
<p class="milkywaytext">
Meteors come from leftover comet particles and bits from broken asteroids. When comets come around the sun, they leave a dusty trail behind them. Every year the Earth passes through these debris trails, which allows the bits to collide with our atmosphere where they disintegrate to create fiery and colorful streaks in the sky.
</p>
<p class="milkywaytext">
The pieces of space debris that interact with our atmosphere to create the Lyrids originate from comet C/1861 G1 Thatcher. Comet Thatcher was discovered on 5 April 1861 by A. E. Thatcher.
</p>
<p class="milkywaytext">
Their radiant—the point in the sky from which the Lyrids appear to come from—is the constellation Lyra, the harp. Lyrids appear to particularly radiate out from the star Vega—Vega is the brightest star within this constellation. (Helpful Hint: Vega is one of the brightest stars in the night sky and is easy to spot in even light-polluted areas.) The constellation of Lyra is also where we get the name for the shower: Lyrids.
</p>
<p class="milkywaytext">
It is actually better to view the Lyrids away from their radiant: They will appear longer and more spectacular from this perspective. If you do look directly at the radiant, you will find that the meteors will be short—this is an effect of perspective called foreshortening.
</p>
<%- include('footer'); -%>
