<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>M2-9 Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/m2-9.jpeg" alt="m29" />
<p class="milkywaytext">
  The Twin Jet Nebula is a bipolar planetary nebula located in the constellation Ophiuchus. It is also known as Minkowski 2-9 (M2-9), Minkowski’s Butterfly or the Wings of a Butterfly Nebula. The nebula lies at a distance of 2,100 light years from Earth and has an apparent magnitude of 14.7. It was named after Rudolph Minkowski, the German-American astronomer who discovered it in 1947.
</p>
<p class="milkywaytext">

The nebula is known for its peculiar form, with twin lobes of material emanating from the central progenitor star. The nebula’s appearance, with two jets discharged by the star creating the shape of the lobes, has earned it the name Twin Jet Nebula. The huge jets of gas are moving at speeds of more than 1 million km/h.
</p>
<p class="milkywaytext">
  The central star is in fact a binary system composed of a white dwarf and a companion in a close orbit. Both stars have roughly the same mass as the Sun. The primary component is estimated to have a mass of 1.0 to 1.4 solar masses and the companion, between 0.6 and 1.0 solar masses.
</p>
<p class="milkywaytext">
  The primary component, once a red giant, expelled most of its outer layers and is contracting into a white dwarf, a hot, exposed stellar core, that illuminates the ejected material. The star was probably similar to the Sun early in its life. The companion is suspected to be engulfed by the white dwarf’s expanding atmosphere and the interaction between the two is creating and shaping the surrounding nebula.
</p>
<p class="milkywaytext">
  The shape of the nebula’s wings is believed to be caused by the movement of the central two stars. The gas expelled by the dying star creates two lobes of material instead of expanding into a sphere. The stars complete an orbit around each other every 100 years or so and the rotation allows the white dwarf to keep accumulating gas from the companion.
</p>
<p class="milkywaytext">
  A fast stellar wind is responsible for inflating the nebula’s wings. The wind blows out into the surrounding disk, expanding the wings perpendicular to the disk. Based on the rate of expansion of the wings, the nebula is estimated to be about 1,200 years old.
</p>
<p class="milkywaytext">
  In August 2015, observations with the NASA/ESA Hubble Space Telescope revealed the remarkably complex structure of the Twin Jet Nebula, with a detailed view of its shells and knots of expanding gas.
</p>
<p class="milkywaytext">
  The Twin Jet Nebula is sometimes called simply the Butterfly Nebula, but should not be confused with NGC 6302, a bipolar planetary nebula in Scorpius, more commonly known as the Butterfly Nebula, or any of the other nebulae sometimes referred to by that name: NGC 2346 in Monoceros, NGC 5189 (Spiral Planetary Nebula) in Musca, NGC 6881 in Cygnus, and IC 1318 (Gamma Cygni Nebula), also in Cygnus.
</p>
<%- include('footer'); -%>
