<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Messier 82</big></h1>
<br />
<img class="milkyimg" src="/images/messier 82.jpeg" alt="messier" />
<p class="milkywaytext">
  M82(Messier 82) or the Cigar galaxy, shines brightly at infrared wavelengths and is remarkable for its star formation activity. The Cigar galaxy experiences gravitational interactions with its galactic neighbor, M81, causing it to have an extraordinarily high rate of star formation — a starburst.
</p>
<p class="milkywaytext">
  Around the galaxy’s center, young stars are being born 10 times faster than they are inside our entire Milky Way galaxy. Radiation and energetic particles from these newborn stars carve into the surrounding gas, and the resulting galactic wind compresses enough gas to make millions of more stars. The rapid rate of star formation in this galaxy eventually will be self-limiting. When star formation becomes too vigorous, it will consume or destroy the material needed to make more stars. The starburst will then subside, probably in a few tens of millions of years.
</p>
<img class="milkyimg" src="/images/m82.jpg" alt="messier" />
<p class="milkywaytext">
M82 was discovered, along with its neighbor M81, by the German astronomer Johann Elert Bode in 1774. Located 12 million light-years from Earth in the constellation Ursa Major, M82 has an apparent magnitude of 8.4 and is best observed in April. Although it is visible as a patch of light with binoculars in the same field of view as M81, larger telescopes are needed in order to resolve the galaxy’s core.
</p>
<%- include('footer'); -%>
