<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Messier 87</big></h1>
<br />
<img class="milkyimg" src="/images/messier 87.png" alt="messier87" />
<p class="milkywaytext">
  The elliptical galaxy M87(Messier 87) is the home of several trillion stars, a supermassive black hole and a family of roughly 15,000 globular star clusters. For comparison, our Milky Way galaxy contains only a few hundred billion stars and about 150 globular clusters. The monstrous M87 is the dominant member of the neighboring Virgo cluster of galaxies, which contains some 2,000 galaxies. Discovered in 1781 by Charles Messier, this galaxy is located 54 million light-years away from Earth in the constellation Virgo. It has an apparent magnitude of 9.6 and can be observed using a small telescope most easily in May.
</p>
<img class="milkyimg" src="/images/m87.jpg" alt="messier87" />

<p class="milkywaytext">
  The jet is a black-hole-powered stream of material that is being ejected from M87’s core. As gaseous material from the center of the galaxy accretes onto the black hole, the energy released produces a stream of subatomic particles that are accelerated to velocities near the speed of light.
</p>
<p class="milkywaytext">
At the center of the Virgo cluster, M87 may have accumulated some of its many globular clusters by gravitationally pulling them from nearby dwarf galaxies that seem to be devoid of such clusters today.
</p>
<%- include('footer'); -%>
