<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Meteorites</big></h1>
<br />
<img class="milkyimg" src="/images/meteorite.jpeg" alt="meteor" />
<p class="milkywaytext">
  Meteoroids are what we call “space rocks” that range in size from dust grains to small asteroids. This term only applies when they’re in space.
</p>
<p class="milkywaytext">
  Most are pieces of other, larger bodies that have been broken or blasted off. Some come from comets, others from asteroids, and some even come from the Moon and other planets. Some meteoroids are rocky, while others are metallic, or combinations of
  rock and metal.
</p>
<p class="milkywaytext">
  When meteoroids enter Earth’s atmosphere, or that of another planet, like Mars, at high speed and burn up, they’re called meteors. This is also when we refer to them as “shooting stars.” Sometimes meteors can even appear brighter than Venus --
  that’s when we call them “fireballs.” Scientists estimate that about 48.5 tons (44,000 kilograms) of meteoritic material falls on Earth each day.
</p>
<p class="milkywaytext">
  When a meteoroid survives its trip through the atmosphere and hits the ground, it’s called a meteorite.
</p>
<p class="milkywaytext">
  Several meteors per hour can usually be seen on any given night. When there are lots more meteors, you’re watching a meteor shower. Some meteor showers occur annually or at regular intervals as the Earth passes through the trail of dusty debris
  left by a comet (and, in a few cases, asteroids).
</p>
<p class="milkywaytext">
  Meteor showers are usually named after a star or constellation that is close to where the meteors appear to originate in the sky. Perhaps the most famous are the Perseids, which peak around August 12 every year. Every Perseid meteor is a tiny piece
  of the comet Swift-Tuttle, which swings by the Sun every 135 years. Other notable meteor showers include the Leonids, associated with comet Tempel-Tuttle; the Aquarids and Orionids, linked to comet Halley, and the Taurids, associated with comet
  Encke. Most of this comet debris is between the size of a grain of sand and a pea and burns up in the atmosphere before reaching the ground. Sometimes, meteor dust is captured by high-altitude aircraft and analyzed in NASA laboratories.
</p>
<img class="milkyimg" src="/images/328.jpeg" alt="meteor" />

<p class="milkywaytext">
  Most space rocks smaller than a football field will break apart in Earth’s atmosphere. Traveling at tens of thousands of miles per hour, the object disintegrates as pressure exceeds the strength of the object, resulting a bright flare. Typically
  less than 5 percent of the original object will ever make it down to the ground. These meteorites, pieces of meteors that are found, typically range between the size of a pebble and a fist.
</p>
<p class="milkywaytext">
  Don’t expect to find meteorites after a meteor shower. Most meteor showers come from comets, whose material is quite fragile. Small comet fragments generally won’t survive entry into our atmosphere. In theory, the Taurids and Geminids could send
  meteorites down to our surface every once in a while, but no remnants have been traced to them definitively.
</p>
<p class="milkywaytext">
  It can be difficult to distinguish a meteorite from an Earth rock by appearance alone in most parts of the world, but there are some special places where they’re much easier to identify: deserts. In sandy deserts with large, open regions of sand
  and few rocks, dark meteorites stand out clearly. Similarly, meteorites can be much easier to spot in cold, icy deserts, such as the frozen plains of Antarctica.
</p>
<img class="milkyimg" src="/images/meteroid.jpeg" alt="meteor" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  Meteorites that fall to Earth represent some of the original, diverse materials that formed planets billions of years ago. By studying meteorites we can learn about early conditions and processes in the solar system’s history. These include the age
  and composition of different planetary building blocks, the temperatures achieved at the surfaces and interiors of asteroids, and the degree to which materials were shocked by impacts in the past.
</p>
<p class="milkywaytext">
  Meteorites may resemble Earth rocks, but they usually have a burned exterior that can appear shiny. This “fusion crust” forms as the meteorite’s outer surface melts while passing through the atmosphere.
</p>
<p class="milkywaytext">
  There are three major types of meteorites: the "irons," the "stonys," and the stony-irons. Although the majority of meteorites that fall to Earth are stony, most of the meteorites discovered long after they fall are irons. Irons are heavier and
  easier to distinguish from Earth rocks than stony meteorites.
</p>
<p class="milkywaytext">
  Most meteorites found on Earth come from shattered asteroids, although some come from Mars or the Moon. In theory, small pieces of Mercury or Venus could have also reached Earth, but none have been conclusively identified.
</p>
<p class="milkywaytext">
  Scientists can tell where meteorites originate based on several lines of evidence. They can use photographic observations of meteorite falls to calculate orbits and project their paths back to the asteroid belt. They can also compare compositional
  properties of meteorites to the different classes of asteroids. And they can study how old the meteorites are – up to 4.6 billion years.
</p>
<img class="milkyimg" src="/images/meteorshower.jpeg" alt="meteor" />
<p class="milkywaytext">
  More than 50,000 meteorites have been found on Earth.
</p>
<p class="milkywaytext">
  Of these, 99.8 percent come from asteroids. The remaining small fraction (0.2 percent) of meteorites is split roughly equally between meteorites from Mars and the Moon. The over 60 known Martian meteorites were blasted off Mars by meteoroid
  impacts. All are igneous rocks crystallized from magma. The rocks are very much like Earth rocks with some distinctive compositions that indicate Martian origin.
</p>
<p class="milkywaytext">
  The nearly 80 lunar meteorites are similar in mineralogy and composition to Apollo mission Moon rocks, but distinct enough to show that they have come from other parts of the Moon. Studies of lunar and Martian meteorites complement studies of
  Apollo Moon rocks and the robotic exploration of Mars.
</p>
<p class="milkywaytext">
  Early Earth experienced many large meteor impacts that caused extensive destruction. While most craters left by ancient impacts on Earth have been erased by erosion and other geologic processes, the Moon’s craters are still largely intact and
  visible. Today, we know of about 190 impact craters on Earth.
</p>
<p class="milkywaytext">
  A very large asteroid impact 65 million years ago is thought to have contributed to the extinction of about 75 percent of marine and land animals on Earth at the time, including the dinosaurs. It created the 180-mile-wide (300-kilometer-wide)
  Chicxulub Crater on the Yucatan Peninsula.
</p>
<img class="milkyimg" src="/images/arizona.jpg" alt="meteor" />
<p class="milkywaytext">
  One of the most intact impact craters is the Barringer Meteor Crater in Arizona. It’s about 0.6 miles (1 kilometer) across and was formed by the impact of a piece of iron-nickel metal approximately 164 feet (50 meters) in diameter. It is only
  50,000 years old and so well preserved that it has been used to study impact processes. Since the 1890s geologists studied it, but its status as an impact crater wasn’t confirmed until 1960.
</p>
<br />
<h3>Meteor Showers</h3>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/jan.jpeg" />
      <a href="/quadrantids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">January: Quadrantids</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/apr.jpeg" />
    <a href="/lyrids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">April: Lyrids</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/eta.jpeg" />
      <a href="/etaaquarids">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">May: Eta Aquarids</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/delta.jpeg" />
      <a href="deltaaquarids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">July: Delta Aquariids</button>
        </a>
    </div>
  </div>
</div>
</section>
<!--2md row-------------------------------------------------------------------------------------------------------------------------->
<br  />
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/per.jpeg" />
      <a href="/perseids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">August: Perseids</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/Orionids.jpeg" />
    <a href="/orionids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">October: Orionids</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/leo.jpeg" />
      <a href="/leonids">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">November: Leonids</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/gemenids.jpeg" />
      <a href="geminids">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">December: Geminids</button>
        </a>
    </div>
  </div>
</div>
</section>
<%- include('footer'); -%>
