<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Milky Way</big></h1>
<br />
<br />
<img class="milkyimg" src="/images/milkywaygalaxy.jpg" alt="milky way" />
<p class="milkywaytext">
  Milky Way Galaxy is most significant to us because it is home sweet home. But when it comes down to it, our galaxy is a typical barred spiral, like billions of other galaxies in the universe. Let's explore the Milky Way.
</p>
<P class="milkywaytext">
  The Milky Way is a spiral galaxy , about 100,000 light-years across. If you look down on it from the top, you see a central bulge surrounded by four large spiral arms that wrap around it. Spiral galaxies make up about two-third of
  the galaxies in the universe.
</P>
<img class="milkyimg" src="/images/milkygalaxy.jpg" alt="milky way" />
<p class="milkywaytext">
  Unlike a regular spiral, a barred spiral contains a bar across its center region, and has two major arms. The Milky Way also contains two significant minor arms, as well as two smaller spurs. One of the spurs, known as the Orion Arm, contains the
  sun and the solar system. The Orion arm is located between two major arms, Perseus and Sagittarius.
</p>
<p class="milkywaytext">
  The Milky Way does not sit still, but is constantly rotating. As such, the arms are moving through space. The sun and the solar system travel with them. The solar system travels at an average speed of 515,000 mph (828,000 km/h). Even at this rapid
  speed, the solar system would take about 230 million years to travel all the way around the Milky Way.
</p>
<p class="milkywaytext">
  Our galaxy is surrounded by an enormous halo of hot gas that extends for hundreds of thousands of light-years. The gas halo is estimated to be as massive as all of the stars in the Milky Way. Like the galaxy itself, the halo is spinning rapidly.
</p>
<p class="milkywaytext">
  At the center of the galaxy is the galactic bulge. The heart of the Milky Way is crammed full of gas, dust, and stars. The bulge is the reason that you can only see a small percentage of the total stars in the galaxy. Dust and gas within it are so
  thick that you can't even peer into the bulge of the Milky Way, much less see out the other side.
</p>
<img class="milkyimage" src="/images/planet.gif" alt="milky way" />
<p class="milkywaytext">
  Recent measurements have weighed the galaxy at between 400 billion and 780 billion times the mass of the sun. By focusing on how the Milky Way affects its neighboring globular clusters, dense groups of stars smaller than a galaxy, scientists were
  able to calculate the mass of the Milky Way at varying distances.
</p>
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  The Milky Way contains over 200 billion stars, and enough dust and gas to make billions more.
</p>
<p class="milkywaytext">
  The solar system lies about 30,000 light-years from the galactic center, and about 20 light-years above the plane of the galaxy. Earth and its neighbors don't orbit within the plane of the galaxy but are instead tipped by about 63 degrees.
</p>
<p class="milkywaytext">
  More than half the stars found in the Milky Way are older than the Sun which is 4.5-billion-year-old. Galaxies like ours (Milky Way) typically undergo a stellar baby boom, churning out stars in enormous quantities.
</p>
<p class="milkywaytext">
  At the center of the galaxy is the galactic bulge. The heart of the Milky Way is crammed full of gas, dust, and stars. The bulge is the reason that you can only see a small percentage of the total stars in the galaxy. Dust and gas within it are so
  thick that you can't even peer into the bulge of the Milky Way, much less see out the other side.
</p>
<p class="milkywaytext">
  The Milky Way, like all galaxies, is surrounded by a vast halo of dark matter, which accounts for some 90% of its mass. Nobody knows precisely what dark matter is, but its mass has been inferred by observations of how fast the galaxy rotates and
  other general behaviors. More importantly, it is believed that this mass helps keep the galaxy from tearing itself apart as it rotates.
</p>
<br />
<h1>Order of the Planets!</h1>
<br />
<img class="milkyimg" src="/images/oder.jpeg" alt="order of planets" />
<br />
<br />
<br />
<h1>More to Explore!</h1>
<br />

<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/sun.png" />
        <a href="/sun">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Sun </button>
        </a>
        <p class="factbox">
          It is a nearly perfect sphere of hot plasma, with internal convective motion that generates a magnetic field via a dynamo process.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/mercury.jpeg" />
        <a href="/mercury">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Mercury</button>
        </a>
        <p class="factbox">
          Mercury is the smallest and innermost planet in the Solar System. Its orbit around the Sun takes 87.97 days.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/venus.jpeg" />
        <a href="/venus">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Venus</button>
        </a>
        <p class="factbox"> It is named after the Roman goddess of love and beauty.The second-brightest natural object in the night sky after the Moon.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- second row------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/earth.jpeg" />
        <a href="/earth">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Earth
          </button>
        </a>
        <p class="factbox">
          Only astronomical object known to harbor life. According to radiometric dating estimation and other evidence, Earth formed over 4.5 billion years ago.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/mars.jpeg" />
        <a href="/mars">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Mars</button>
        </a>
        <p class="factbox">
          Mars is the second-smallest planet in the Solar System, being only larger than Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/jupiter.jpeg" />
        <a href="/jupiter">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Jupiter</button>
        </a>
        <p class="factbox"> Jupiter is the largest in the Solar System. It is a gas giant with a mass one-thousandth that of the Sun, but two-and-a-half times that of all the other planets in the Solar System combined. </p>
      </div>
    </div>
  </div>
</section>
<!-- third row----------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/saturn.jpeg" />
        <a href="/saturn">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Saturn
          </button>
        </a>
        <p class="factbox">
          The second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times
          more massive.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/uranus.jpeg" />
        <a href="/uranus">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Uranus</button>
        </a>
        <p class="factbox">
          Its name is a reference to the Greek god of the sky, Uranus, who, according to Greek mythology, was the grandfather of Zeus and father of Cronus. It has the third-largest planetary radius and fourth-largest planetary mass in the Solar
          System.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/neptune.jpeg" />
        <a href="/neptune">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Neptune</button>
        </a>
        <p class="factbox">In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet. It is 17 times the mass of Earth, slightly more massive than its near-twin Uranus.</p>
      </div>
    </div>
  </div>
</section>
<!-- fourth row ------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/pluto.jpeg" />
        <a href="/pluto">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Pluto
          </button>
        </a>
        <p class="factbox">
          Pluto is an icy dwarf planet in the Kuiper belt. It was the first and the largest Kuiper belt object to be discovered. Pluto was discovered by Clyde Tombaugh in 1930 and declared to be the ninth planet .
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/eris.jpeg" />
        <a href="/eris">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Eris</button>
        </a>
        <p class="factbox">
          Eris is the most massive and second-largest known dwarf planet in the Solar System. Eris was discovered in January 2005 by a Palomar Observatory-based team led by Mike Brown. </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/cerescover.jpeg" />
        <a href="/ceres">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Ceres</button>
        </a>
        <p class="factbox">Ceres is the largest object in the main asteroid belt that lies between the orbits of Mars and Jupiter. With a diameter of 940 km, Ceres is both the largest of the asteroids and the only dwarf planet inside Neptune's orbit.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- fifth row------------------------------------------------------------------------------------>
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/sedna1.jpeg" />
        <a href="/sedna">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Sedna
          </button>
        </a>
        <p class="factbox">
          90377 Sedna, or simply Sedna, is a large planetoid in the outer reaches of the Solar System that was, as of 2020, at a distance of about 85 astronomical units from the Sun, about three times as far as Neptune.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/Orcus.jpeg" />
        <a href="/orcus">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore orcus</button>
        </a>
        <p class="factbox">
          90482 Orcus, provisional designation 2004 DW, is a trans-Neptunian object with a large moon, Vanth. With a diameter of 910 km, it is a possible dwarf planet. The surface of Orcus is relatively bright with albedo reaching 23 percent, neutral
          in color and rich in water ice.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/haumea.jpeg" />
        <a href="/haumea">

          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Haumea</button>
        </a>

        <p class="factbox">Haumea is a likely dwarf planet located beyond Neptune's orbit. It was discovered in 2004 by a team headed by Mike Brown of Caltech at the Palomar Observatory in the United States and independently in 2005 by a team headed
          by José Luis Ortiz Moreno at the Sierra Nevada Observatory in Spain, though the latter claim has been contested.</p>
      </div>
    </div>
  </div>
</section>
<!-- sixth row------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/asteroid.jpeg" />
        <a href="/asteroidbelt">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Asteroid Belt
          </button>
        </a>
        <p class="factbox">
          The asteroid belt is a torus-shaped region in the Solar System, located roughly between the orbits of the planets Jupiter and Mars, that is occupied by a great many solid, irregularly shaped bodies, of many sizes but much smaller than
          planets, called asteroids or minor planets.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/makemake.jpeg" />
        <a href="/makemake">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Makemake</button>
        </a>
        <p class="factbox">
          Makemake is a likely dwarf planet and perhaps the second largest Kuiper belt object in the classical population, with a diameter approximately two-thirds that of Pluto. Makemake has one known satellite, S/2015.It's extremely low average
          temperature, about 40 K, means its surface is covered with methane, ethane, and possibly nitrogen ices.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <img class="milkyway" src="/images/Quaoar.jpeg" />
        <a href="/quaoar">
          <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/"> Explore Quaoar</button>
        </a>
        <p class="factbox">
          50000 Quaoar is a non-resonant trans-Neptunian object and a possible dwarf planet in the Kuiper belt, a region of icy planetesimals beyond Neptune. It measures approximately 1,121 km in diameter, about half the diameter of Pluto.</p>
      </div>
    </div>
  </div>
</section>
<%- include('footer'); -%>
