<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Nebulae</big></h1>
<br />
<img class="milkyimg" src="/images/nebula1.jpeg" alt="venus" />
<p class="milkywaytext">
  A nebula is a cloud of gas and dust in interstellar space. Every nebula contains hydrogen and helium, plus a mixture of other gases. There are several types of nebulae (plural of “nebula): molecular clouds (also known as HII regions because they
  are mainly hydrogen), dark nebulae, supernova remnants, and planetary nebulae. Our galaxy has many nebulae, and astronomers have found these clouds in other galaxies, as well.
</p>
<br />
<h3>Types of Nebulae</h3>
<p class="milkywaytext">
  HII regions and dark nebulae are where stars can form. They are made mostly of hydrogen and helium, with traces of other gases and infusions of dust grains. hey are found largely in the spiral arms of our galaxy. Our own solar system was born in
  such a region more than 4.5 billion years ago. The best-known molecular clouds are the Orion Nebula, the Eta Carinae Nebula, The Eagle Nebula (also, known as the Pillars of Creation), the Tarantula Nebula in the Large Magellanic Cloud, the
  Horsehead Nebula, the Coal Sack, and the Lagoon Nebula. Most of them, except for the Coal Sack, are bathed in the light of the stars that formed within them. The Coal Sack is an example of a dark nebula that obscures nearby stars, and may be
  forming stars within.
</p>
<p class="milkywaytext">
  Supernova remnants are the final remains of massive stars that have blown themselves apart at the ends of their lives. These are expanding clouds of gas and dust with neutron stars or even black holes marking the final resting place of the star.
  The most famous supernova remnant is the Crab Nebula in Taurus. Its explosion appeared in our skies in the year 1054 AD. It contains a pulsar — a spinning neutron star — surrounded by filamentary clouds of material blasted out when its progenitor
  star exploded.
</p>
<p class="milkywaytext">
  Planetary nebulae are the leftovers of stars like the Sun. They consist of a cloud of gas and dust surrounding a slowly cooling white dwarf star. The best-known planetary nebula is the Ring Nebula in the constellation Lyra. It was once a sun-like
  star that gently blew its outer atmosphere to space as it aged. What’s left of that atmosphere is a ring-shaped cloud that glows from the radiation of the dwindling white dwarf star.
</p>
<br />
<h3>Famous Nebulae</h3>
<p class="milkywaytext">
  <b><span style="color:black;">The Orion Nebula</span></b> is part of a huge interstellar cloud called the Orion Molecular Cloud Complex. It lies about 1,500 light-years away in the direction of the constellation Orion. The Orion Nebula is listed as
  M42 and NGC 1976, and is a 24-light-year-wide section containing hundreds of newborn stars and brown dwarfs. It lies just below Orion’s three belt stars, and has a young star cluster called the Trapezium at its heart. These stars are roughly two
  million years old, relatively young for stars.
</p>
<p class="milkywaytext">
  <b><span style="color:black;">The Horsehead Nebula</span></b> (catalogued as Barnard 33) is also part of the Orion Molecular Cloud Complex, and is a dark nebula lit from behind by radiation from several young, nearby stars. Astronomers know that
  stars are forming within the nebula. As they grow, they will gradually eat away at their birth cloud. Eventually the nebula will be consumed and torn apart by the active starbirth nurseries within it.
</p>
<p class="milkywaytext">
  <b><span style="color:black;">The Eagle Nebula</span></b> also known as M16, us more familiarly as the “Pillars of Creation”. It is the site of starbirth regions hidden inside giant pillars of gas and dust. The newborn stars are eating away at the
  clouds, forming the pillar shapes. Eventually this nebula will also disappear as radiation from its child stars destroys the gas and dust. This gorgeous region lies some 7,000 light-years away from us in the constellation Serpens. It stretches
  across more than a hundred light-years of space and contains thousands of stars in and among its pillars
</p>
<p class="milkywaytext">
  <b><span style="color:black;">The Crab Nebula</span></b> (M1) is a supernova remnant. It was created when a star around 10 or 11 times the mass of the Sun exploded in what’s called a “core-collapse” supernova. It blasted much of its mass out to
  space. What was left of the star collapsed to become a neutron star that is spinning 30 times a second. It’s called the “Crab Nebula Pulsar”. The Crab Nebula lies 6,500 light-years away from Earth in the direction of the constellation Taurus, the
  Bull.
</p>
<P class="milkywaytext">
  <b><span style="color:black;">The Eskimo Nebula</span></b> is a planetary nebula formed when a star with a mass similar to the Sun’s began to exhale its outer atmosphere some 10,000 years ago. It formed a double set of clouds that look vaguely like
  a Eskimo face. In a few tens of thousands of years, all the gases and dust in this nebula will have scattered to space, leaving behind only a slowly cooling white dwarf star.
</P>
<br />
<h3>Facts About Nebulae</h3>
<p class="milkywaytext">
  Most nebulae contain the “stuff of stars and planets”, including gases, dust, and complex molecules.
</p>
<p class="milkywaytext">
  As stars die and lose their materials to space, their gases and dust mix with clouds of gas, creating the complex nebulae we see.
</p>
<p class="milkywaytext">
  Nebulae are always in motion, even though they look quiescent in images. The clouds mix and churn, which creates magnetic fields.
</p>
<p class="milkywaytext">
  There are several types of molecular clouds: dark globules, emission nebulae, and reflection nebulae. Emission nebulae glow as their gases are heated. Reflection nebulae are mostly dust which reflects the light from nearby stars.
</p>
<p class="milkywaytext">
  Our Sun and planets formed in a nebula some 4.5 billion years ago.
</p>
<p class="milkywaytext">
  Nebulae exist in other galaxies. Astronomers have observed them in all spirals as well as the nearby Magellanic Clouds.
</p>
<h3>Critical Science Targets</h3>
<br />
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/orionnebula.jpeg" />
      <a href="/orion">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Orion Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/horsehead.jpeg" />
    <a href="/horsehead">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Horsehead  Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/crab.jpeg" />
      <a href="/crab">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Crab  Nebula</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/eagle.jpeg" />
      <a href="/eagle">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Eagle  Nebula</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--2nd row------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/eskimo.jpeg" />
      <a href="/eskimo">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Eskimo  Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/helix.jpeg" />
    <a href="/helix">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Helix  Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ring.jpeg" />
      <a href="/ring">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Ring  Nebula</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/lagoon.jpeg" />
      <a href="lagoon">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Lagoon  Nebula</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--3rd row------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/carinanebula.jpeg" />
      <a href="/carina">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Carina  Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/catseye.jpeg" />
    <a href="/catseye">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Cat's Eye  Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/tarantula.jpeg" />
      <a href="/tarantula">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Tarantula  Nebula</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/dumbbell.jpeg" />
      <a href="dumbbell">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Dumbbell  Nebula</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--4th row------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ngc 5866.jpeg" />
      <a href="/ngc5866">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">NGC 5866</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/owl.jpeg" />
    <a href="/owl">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Owl Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/m2-9.jpeg" />
      <a href="/m29">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">M2-9 Nebula </button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/omega.jpeg" />
      <a href="omega">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Omega Nebula</button>
        </a>
    </div>
  </div>
</div>
</section>
<br />
<!--5th row----------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
<div class="container-fluid">
  <div class="row">
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/saturnnebula.jpeg" />
      <a href="/saturnnebula">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Saturn Nebula </button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/boom.jpeg" />
    <a href="/Boomerang">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Boomerang Nebula</button>
        </a>
            </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/egg.jpeg" />
      <a href="/eggnebula">

        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Egg Nebula</button>
      </a>
    </div>
    <div class="feature-box col-lg-3">
      <img class="milkyway" src="/images/ghost.jpeg" />
      <a href="ghostnebula">
        <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Ghost Nebula</button>
        </a>
    </div>
  </div>
</div>
</section>

<%- include('footer'); -%>
