<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Neptune</big></h1>
<br />
<img class="milkyimg" src="/images/neptune.jpeg" alt="neptune" />
<p class="milkywaytext">
  Dark, cold and whipped by supersonic winds, ice giant Neptune is the eighth and most distant planet in our solar system. More than 30 times as far from the Sun as Earth, Neptune is the only planet in our solar system not visible to the naked eye.
  In 2011 Neptune completed its first 165-year orbit since its discovery in 1846.
</p>
<p class="milkywaytext">
  Neptune is so far from the Sun that high noon on the big blue planet would seem like dim twilight to us. The warm light we see here on our home planet is roughly 900 times as bright as sunlight on Neptune.
</p>
<p class="milkywaytext">
  With a radius of 15,299.4 miles (24,622 kilometers), Neptune is about four times wider than Earth. If Earth were the size of a nickel, Neptune would be about as big as a baseball.
</p>
<p class="milkywaytext">
  From an average distance of 2.8 billion miles (4.5 billion kilometers), Neptune is 30 astronomical units away from the Sun. One astronomical unit (abbreviated as AU), is the distance from the Sun to Earth. From this distance, it takes sunlight 4
  hours to travel from the Sun to Neptune.
</p>
<img class="milkyimage" src="/images/neptunegif.gif" alt="neptune" />
<p class="milkywaytext">
  Neptune is one of two ice giants in the outer solar system (the other is Uranus). Most (80 percent or more) of the planet's mass is made up of a hot dense fluid of "icy" materials—water, methane and ammonia—above a small, rocky core. Of the giant
  planets, Neptune is the densest.Scientists think there might be an ocean of super hot water under Neptune's cold clouds. It does not boil away because incredibly high pressure keeps it locked inside.
</p>
<p class="milkywaytext">
  Neptune took shape when the rest of the solar system formed about 4.5 billion years ago, when gravity pulled swirling gas and dust in to become this ice giant. Like its neighbor Uranus, Neptune likely formed closer to the Sun and moved to the outer
  solar system about 4 billion years ago.
</p>
<p class="milkywaytext">
  Neptune does not have a solid surface. Its atmosphere (made up mostly of hydrogen, helium and methane) extends to great depths, gradually merging into water and other melted ices over a heavier, solid core with about the same mass as Earth.
</p>
<p class="milkywaytext">
  The main axis of Neptune's magnetic field is tipped over by about 47 degrees compared with the planet's rotation axis. Like Uranus, whose magnetic axis is tilted about 60 degrees from the axis of rotation, Neptune's magnetosphere undergoes wild
  variations during each rotation because of this misalignment. The magnetic field of Neptune is about 27 times more powerful than that of Earth.​
</p>
<img class="milkyimg" src="/images/neptunesurface.jpg" alt="neptune" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  One day on Neptune takes about 16 hours (the time it takes for Neptune to rotate or spin once). And Neptune makes a complete orbit around the Sun (a year in Neptunian time) in about 165 Earth years (60,190 Earth days).
</p>
<p class="milkywaytext">
  Sometimes Neptune is even farther from the Sun than dwarf planet Pluto. Pluto's highly eccentric, oval-shaped orbit brings it inside Neptune's orbit for a 20-year period every 248 Earth years. This switch, in which Pluto is closer to the Sun than
  Neptune, happened most recently from 1979 to 1999. Pluto can never crash into Neptune, though, because for every three laps Neptune takes around the Sun, Pluto makes two. This repeating pattern prevents close approaches of the two bodies.
</p>
<p class="milkywaytext">
  Neptune’s axis of rotation is tilted 28 degrees with respect to the plane of its orbit around the Sun, which is similar to the axial tilts of Mars and Earth. This means that Neptune experiences seasons just like we do on Earth; however, since its
  year is so long, each of the four seasons lasts for over 40 years.
</p>
<p class="milkywaytext">
  Neptune's atmosphere is made up mostly of hydrogen and helium with just a little bit of methane. Neptune's neighbor Uranus is a blue-green color due to such atmospheric methane, but Neptune is a more vivid, brighter blue, so there must be an
  unknown component that causes the more intense color.
</p>
<p class="milkywaytext">
  Neptune is our solar system's windiest world. Despite its great distance and low energy input from the Sun, Neptune's winds can be three times stronger than Jupiter's and nine times stronger than Earth's. These winds whip clouds of frozen methane
  across the planet at speeds of more than 1,200 miles per hour (2,000 kilometers per hour). Even Earth's most powerful winds hit only about 250 miles per hour (400 kilometers per hour).
</p>
<img class="milkyimg" src="/images/neptuneslice.png" alt="neptune" />
<p class="milkywaytext">
  In 1989 a large, oval-shaped storm in Neptune's southern hemisphere dubbed the "Great Dark Spot" was large enough to contain the entire Earth. That storm has since disappeared, but new ones have appeared on different parts of the planet.
</p>
<p class="milkywaytext">
  Neptune at least five main rings and four prominient ring arcs that we know of so far. Starting near the planet and moving outward, the main rings are named Galle, Leverrier, Lassell, Arago and Adams. The rings are thought to be relatively young
  and short-lived.
</p>
<p class="milkywaytext">
  Neptune has 14 known moons. Neptune's largest moon Triton was discovered on October 10, 1846, by William Lassell, just 17 days after Johann Gottfried Galle discovered the planet. Since Neptune was named for the Roman god of the sea, its moons are
  named for various lesser sea gods and nymphs in Greek mythology.
</p>
<p class="milkywaytext">
  Neptune's environment is not conducive to life as we know it. The temperatures, pressures and materials that characterize this planet are most likely too extreme and volatile for organisms to adapt to.
</p>
<br />
<h1 style="color:red" ;>Neptune Moons</h1>
<p class="milkywaytext">
  Lassell was one of 19th century England's grand amateur astronomers, using the fortune he made in the brewery business to finance his telescopes. He spotted Triton on Oct. 10, 1846 -- just 17 days after a Berlin observatory discovered Neptune.
  Scientists using powerful telescopes and spacecraft have since discovered a total of 14 moons orbiting the distant world.
</p>
<br />
<!--1st row------------------------------------------------------------------------------------------------------------------------------------------------------>
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Despine</h6>
        <p class="factbox">
          Despina, also known as Neptune V, is the third-closest inner satellite of Neptune. It is named after Greek mythological character Despoina, a nymph who was a daughter of Poseidon and Demeter.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Galatea</h6>
        <p class="factbox">
          Galatea, also known as Neptune VI, is the fourth-closest inner satellite of Neptune. It is named after Galatea, one of the fifty Nereids of Greek legend, with whom Cyclops Polyphemus was vainly in love.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Halimede</h6>
        <p class="factbox">
          Halimede, or Neptune IX, is a retrograde irregular satellite of Neptune. It was discovered by Matthew J. Holman, John J. Kavelaars, Tommy Grav, Wesley C. Fraser and Dan Milisavljevic on August 14, 2002.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/hippcamp.jpg" />
        <h6 class="feature-title">Hippocamp</h6>
        <p class="factbox">
          Hippocamp, also designated Neptune XIV, is a small moon of Neptune discovered on 1 July 2013. It was found by astronomer Mark Showalter by analyzing archived Neptune photographs the Hubble Space Telescope captured between 2004 and 2009.
        </p>
      </div>
    </div>
  </div>
</section>
<br />
<!--2nd row---------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Laomedeia</h6>
        <p class="factbox">
          Laomedeia, also known as Neptune XII, is a prograde irregular satellite of Neptune. It was discovered by Matthew J. Holman, et al. on August 13, 2002. Before the announcement of its name on February 3, 2007, it was known as S/2002 N 3. It
          orbits Neptune at a distance of about 23,571,000 km and is about 42 kilometers in diameter.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Larissa</h6>
        <p class="factbox">
          Larissa, also known as Neptune VII, is the fifth-closest inner satellite of Neptune. It is named after Larissa, a lover of Poseidon in Greek mythology and eponymous nymph of the city in Thessaly, Greece.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Naiad</h6>
        <p class="factbox">
          Naiad, also known as Neptune III, is the innermost satellite of Neptune, named after the naiads of Greek legend.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/neso.jpg" />
        <h6 class="feature-title">Neso</h6>
        <p class="factbox">
          Neso, also known as Neptune XIII, is the outermost known natural satellite of Neptune. It is an irregular moon discovered by Matthew J. Holman, Brett J. Gladman, et al. on August 14, 2002, though it went unnoticed until 2003. Neso orbits
          Neptune at a distance of more than 48 Gm, making it the most distant known moon of any planet.
        </p>
      </div>
    </div>
  </div>
</section>
<br />
<!--3rd row----------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Nereid</h6>
        <p class="factbox">
          Nereid, or Neptune II, is the third-largest moon of Neptune. Of all known moons in the Solar System, it has the most eccentric orbit. It was the second moon of Neptune to be discovered, by Gerard Kuiper in 1949.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Proteus</h6>
        <p class="factbox">
          Proteus, also known as Neptune VIII, is the second-largest Neptunian moon, and Neptune's largest inner satellite. Discovered by Voyager 2 spacecraft in 1989, it is named after Proteus, the shape-changing sea god of Greek mythology.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Psamathe</h6>
        <p class="factbox">
          Psamathe, also known as Neptune X, is a retrograde irregular satellite of Neptune. It is named after Psamathe, one of the Nereids. Psamathe was discovered by Scott S. Sheppard and David C. Jewitt in 2003 using the 8.2 meter Subaru
          telescope.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Sao</h6>
        <p class="factbox">
          Sao is a prograde irregular satellite of Neptune. It was discovered by Matthew J. Holman et al. on August 14, 2002. Sao orbits Neptune at a distance of about 22.4 million km and is about 44 kilometers in diameter.
        </p>
      </div>
    </div>
  </div>
</section>
<br />
<!--4th row---------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Thalassa</h6>
        <p class="factbox">
          Thalassa, also known as Neptune IV, is the second-innermost satellite of Neptune. Thalassa was named after sea goddess Thalassa, a daughter of Aether and Hemera from Greek mythology. "Thalassa" is also the Greek word for "sea".
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/triton.jpeg" />
        <h6 class="feature-title">Triton</h6>
        <p class="factbox">
          Triton is the largest natural satellite of the planet Neptune, and the first Neptunian moon to be discovered. The discovery was made on October 10, 1846, by English astronomer William Lassell. It is the only large moon in the Solar System
          with a retrograde orbit, an orbit in the direction opposite to its planet's rotation.
        </p>
      </div>

    </div>
  </div>
</section>
<%- include('footer'); -%>
