<%- include('header'); -%>
</div>
</section>
<br />
<h3><big>Service Will Be Available Soon.</big></h3>
<br />
<img class="milkyimg" src="/images/available.jpeg" alt="available" />
<%- include('footer'); -%>
