<%- include('header'); -%>
</div>
</section>
<br />
<br />
<br />
<h1 class="newsheading">Update Yourself Explorer!</h1>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/isro.webp" />
            <div class="card-body">
              <p class="factbox">The moon is rusting, and Earth is to blame.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="newsmoon">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/blackcollision.jpg" />
            <div class="card-body">
              <p class="factbox">Two Black Holes Smashed and Completely Changed Our About the Universe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="blacknews">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/astro.webp" />
            <div class="card-body">
              <p class="factbox">4 Indian astronauts are training in Russia for future spaceflights.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/astro">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">4 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('footer'); -%>
