<%- include('header'); -%>
</div>
</section>
<br />
<br />

<h2 class="newsheading"><big>The moon is rusting, and Earth is to blame.</big></h2>
<br />
<br />
<br />

<img class="milkyimg" src="/images/rustmoon.jpg" alt="moon" />
<br />
<br />

<p class="milkywaytext">
Moon is rusting. Images captured by ISRO's Chandrayaan-1 suggests the moon is rusting along the poles. The formation of rust can be attributed to the presence of two key elements - water and oxygen when in contact with iron. Scientists propose that fast-moving dust particles might initiate the release of surface borne water molecules, thus allowing water to mix with iron.
</p>
<p class="milkywaytext">
India's lunar probe, Chandrayaan-1, orbited the moon in 2008, gathering data that has led to numerous discoveries over the years -including the revelation that there are water molecules on its surface. The probe also carried an instrument built by NASA that could analyze the moon's mineral composition.
</p>
<p class="milkywaytext">
When researchers at NASA and the Hawaii Institute of Geophysics and Planetology analyzed the data recently, they were stunned to find hints of hematite, a form of iron oxide known as rust. There are plenty of iron-rich rocks on the moon -- but rust is only produced when iron is exposed to oxygen and water.
</p>


<img class="milkyimg" src="/images/isro.webp" alt="venus" />
<br />
<h3>Possible explanations:</h3>

<p class="milkywaytext">
First explanation: "For starters, while the Moon lacks an atmosphere, it is in fact home to trace amounts of oxygen. The source of that oxygen: our planet. Earth's magnetic field trails behind the planet like a windsock. In 2007, Japan's Kaguya orbiter discovered that oxygen from Earth's upper atmosphere can hitch a ride on this trailing magnetotail, as it's officially known, traveling the 239,000 miles (385,00 kilometers) to the Moon.
</p>
<p class="milkywaytext">
2nd Explanation: That discovery fits with data from M3, which found more hematite on the Moon's Earth-facing near side than on its far side. "This suggested that Earth's oxygen could be driving the formation of hematite," Li was quoted by NASA. The Moon has been inching away from Earth for billions of years, so it's also possible that more oxygen hopped across this rift when the two were closer in the ancient past.
</p>
<p class="milkywaytext">
Thirdly, Then there's the matter of all that hydrogen being delivered by the solar wind. As a reducer, hydrogen should prevent oxidation from occurring. But Earth's magnetotail has a mediating effect. Besides ferrying oxygen to the Moon from our home planet, it also blocks over 99% of the solar wind during certain periods of the Moon's orbit (specifically, whenever it's in the full Moon phase). That opens occasional windows during the lunar cycle when rust can form.
</p>
<%- include('footer'); -%>
