<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>NGC 5866 Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/ngc 5866.jpeg" alt="ngc" />
<p class="milkywaytext">
  NGC 5866 (also called the Spindle Galaxy or Messier 102) is a relatively bright lenticular or spiral galaxy in the constellation Draco. NGC 5866 was most likely discovered by Pierre Méchain or Charles Messier in 1781, and independently found by William Herschel in 1788. Measured orbital velocities of its globular cluster system imply that dark matter makes up only 34±45% of the mass within 5 effective radii; a notable paucity.
Contents
</p>
<p class="milkywaytext">
  One of the most outstanding features of NGC 5866 is the extended dust disk, which is seen almost exactly edge-on. This dust lane is highly unusual for a lenticular galaxy. The dust in most lenticular galaxies is generally found only near the nucleus and generally follows the light profile of the galaxies' bulges.This dust disk may contain a ring-like structure, although the shape of this structure is difficult to determine given the edge-on orientation of the galaxy.It is also possible that the galaxy is a spiral galaxy that was misclassified as a lenticular galaxy because of its edge-on orientation, in which case the dust lane would not be too unusual.
</p>
<p class="milkywaytext">
  NGC 5866 is one of the brightest galaxies in the NGC 5866 Group, a small galaxy group that also includes the spiral galaxies NGC 5879 and NGC 5907.
</p>
<p class="milkywaytext">
  This group may actually be a subclump at the northwest end of a large, elongated structure that comprises the M51 Group and the M101 Group, although most sources distinguish the three groups as separate entities.
</p>
<%- include('footer'); -%>
