<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>NGc 1300 Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/ngc 1300.jpeg" alt="ngc1300" />
<p class="milkywaytext">
  NGC 1300 is a barred spiral galaxy deep space object. It is not located in the Solar System. It lies at a distance of about 61,000,000.00 light years away in the constellation of Eridanus.
</p>
<p class="milkywaytext">
  It is also referred to as NGC 1300 in the New General Catalogue. This is a list of deep space objects that was compiled by John Louis Emil Dreyer in 1888 in an update to John Herschel earlier catalogue.
  </p>
<p class="milkywaytext">
  The NGC 1300's location is 03:19:41.1 (R.A.) and -19:24.41 (Dec.). The Right Ascension is the angular distance of an object along the celestial equator from the March Equinox. As rough guide, the location is located in the constellation of Pisces. If the number is negative, it is "west" of the March Equinox. The Declination is the angle of the object from the celestial equator. A negative value indicates it is in the southern hemisphere.
</p>
<p class="milkywaytext">
  Its Visual (Apparent) Brightness is 11.00 Magnitude . The object can not be seen by the naked eye from Earth, you need a telescope to see it.
</p>
<%- include('footer'); -%>
