<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Oberon</big></h1>
<br />
<img class="milkyimg" src="/images/oberon.png" alt="oberon" />
<p class="milkywaytext">
Oberon was discovered in Jan. 11, 1787 by William Herschel.
</p>
<p class="milkywaytext">
Oberon is the second largest moon of Uranus. Discovered in 1787, little was known about this moon until Voyager 2 passed it during its flyby of Uranus in January 1986. Oberon is heavily cratered―similar to Umbriel―especially when compared to three other moons of Uranus: Ariel, Titania and Miranda. Like all of Uranus' large moons, Oberon is composed of roughly half ice and half rock. Oberon has at least one large mountain that rises about 6 km off the surface.
</p>
<p class="milkywaytext">
Named by Herschel's son John in early 19th century for the king of the fairies in Shakespeare's "A Midsummer Night's Dream."
</p>
<%- include('footer'); -%>
