<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Omega Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/omega.jpeg" alt="omega" />
<p class="milkywaytext">
  The Omega Nebula, also known as Messier 17 (M17), is a bright emission nebula located in Sagittarius constellation. It was named Omega for its resemblance to the Greek letter omega, Ω.
</p>
<p class="milkywaytext">
  The nebula has the designation NGC 6618 in the New General Catalogue. It is also known as the Swan Nebula, Horseshoe Nebula, Lobster Nebula, or Checkmark Nebula.
</p>
<p class="milkywaytext">
  Messier 17 is a star forming region with an open cluster, and it is part of a larger cloud of molecular gas found in the direction of Sagittarius.
</p>
<p class="milkywaytext">
  The Omega Nebula lies at a distance between 5,000 and 6,000 light years from Earth, a bit closer to us than M17’s larger neighbour, the Eagle Nebula (Messier 16).
</p>
<p class="milkywaytext">
  M17 is one of the brightest, most massive star-forming regions in our galaxy. It has a diameter spanning about 15 light years. It is illuminated by 35 hot, young stars that form an open cluster, embedded within the nebula.
</p>
<p class="milkywaytext">
  The Omega Nebula is part of a larger cloud which is about 40 light years in diameter. The nebula has an estimated mass of 800 solar masses, while the cloud has approximately 30,000 solar masses.
</p>
<p class="milkywaytext">
  Messier 17 lies in the Sagittarius arm of the Milky Way Galaxy, also known as the Sagittarius-Carina arm. It has a geometry similar to the famous Orion Nebula (Messier 42), but unlike M42, which appears face-on when observed from Earth, the Omega Nebula appears edge-on.
</p>
<p class="milkywaytext">
  The Omega Nebula’s reddish colour is the result of hot hydrogen gas being illuminated by newly formed stars in the nebula. M17 contains a large amount of dark obscuring material, which is also heated by the hot young stars, and can be seen in infrared wavelengths.
</p>

<p class="milkywaytext">
  The Omega Nebula contains up to 800 stars in total. About a hundred of them belong to a spectral class earlier than B9, while nine of them are type O stars. There are also more than a thousand stars being formed in the nebula’s outer regions. M17 contains far more newly formed stars than the Orion Nebula. The stars in the Omega Nebula do not readily appear in optical images, but are hidden within the nebula.
  </p>
  <p class="milkywaytext">
The 35 young, massive stars responsible for the nebula’s glow are each 20 to 30 times more massive than the Sun and about six times hotter. Their ultraviolet radiation erodes the dense cloud in which they were formed. The cold hydrogen gas clouds are heated and shaped by the radiation, and the pressure causes some of the material on the surfaces of the clouds to stream away, creating an intricate structure than obscures the clouds in the background.
    </p>
    <p class="milkywaytext">
<%- include('footer'); -%>
