<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Oort Cloud</big></h1>
<br />
<img class="milkyimg" src="/images/ooth.jpeg" alt="oort cloud" />
<p class="milkywaytext">
The Oort Cloud lies far beyond Pluto and the most distant edges of the Kuiper Belt. While the planets of our solar system orbit in a flat plane, the Oort Cloud is believed to be a giant spherical shell surrounding the Sun, planets and Kuiper Belt Objects. It's like a big, thick bubble around our solar system, made of icy, comet-like objects. The Oort Cloud's icy bodies can be as large as mountains — and sometimes larger.
</p>
<p class="milkywaytext">
The Oort Cloud is the most distant region in our solar system, and it's jaw-droppingly far away,extending perhaps one-quarter to halfway from our Sun to the next star.
</p>
<p class="milkywaytext">
To appreciate the distance to the Oort Cloud, it’s helpful to set aside miles and kilometers and instead use the astronomical unit, or AU — a unit defined as the distance between Earth and the Sun, with 1 AU being roughly 93 million miles or 150 million kilometers.
</p>
<p class="milkywaytext">
For comparison, Pluto’s more elliptical orbit carries it between about 30 and 50 astronomical units from the Sun. The inner edge of the Oort Cloud, however, is thought to be located between 2,000 and 5,000 AU from the Sun, with the outer edge being located somewhere between 10,000 and 100,000 AU from the Sun.
</p>
<p class="milkywaytext">
If those distances are difficult to visualize, you can instead use time as your ruler. At its current speed of about a million miles a day, NASA's Voyager 1 spacecraft won't enter the Oort Cloud for about 300 years. And it won’t exit the outer edge for maybe 30,000 years.
</p>

<img class="milkyimg" src="/images/kuiperoort.jpeg" alt="oort cloud" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
The leading idea for the formation of the Oort Cloud says that these icy objects were not always so far from the Sun. After the planets formed 4.6 billion years ago, the region in which they formed still contained lots of leftover chunks called planetesimals. Planetesimals formed from the same material as the planets did. The gravity of the planets (primarily Jupiter) then scattered the planetesimals every which way.
</p>
<p class="milkywaytext">
Some planetesimals were ejected from the solar system entirely, while others were flung into eccentric orbits where they were still held by the Sun’s gravity, but were far enough out that galactic influences also tugged on them. Likely the strongest influence was the tidal force from our galaxy itself.
</p>
<p class="milkywaytext">
In short, gravity from the planets shoved many icy planetesimals away from the Sun, and gravity from the galaxy likely caused them to settle in the borderlands of the solar system, where the planets couldn’t perturb them anymore. And they became what we now call the Oort Cloud. Again, that’s the leading idea, but the Oort Cloud could also capture objects that didn’t form in the solar system.
</p>
<img class="milkyimg" src="/images/oortcloud.jpg" alt="oort cloud" />
<p class="milkywaytext">
Unlike the planets, the main asteroid belt and many objects in the Kuiper Belt, objects in Oort Cloud do not necessarily travel in the same direction in a shared orbital plane around the Sun. Instead, they can travel under, over and at various inclinations, around the Sun as a thick bubble of distant, icy debris. Hence, they’re called the Oort Cloud rather than the Oort Belt.
</p>

<p class="milkywaytext">
Dutch astronomer Jan Oort proposed the existence of the cloud to explain (among other things) where long-period comets come from, and why they seem to come from all directions rather than along the orbital plane shared by the planets, asteroids and the Kuiper Belt.
</p>
<p class="milkywaytext">
There may be hundreds of billions, even trillions, of icy bodies in the Oort Cloud. Now and then, something disturbs the orbit of one of these icy worlds, and it begins a long fall toward our Sun. Two recent examples are comets C/2012 S1 (ISON) and C/2013 A1 Siding Spring. ISON disintegrated when it passed too close to the Sun. Siding Spring, which made a very close pass by Mars, survived its visit to the inner solar system, but will not return for about 740,000 years.
</p>
<p class="milkywaytext">
  Most known long-period comets have been seen only once in recorded history because their orbital periods are so, well, long. (Hence the name.) Countless more unknown long-period comets have never been seen by human eyes. Some have orbits so long that the last time they passed through the inner solar system, our species did not yet exist. Others have never ventured close to the Sun in the billions of years since they formed.
  </p>
<%- include('footer'); -%>
