<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Orcus</big></h1>
<br />
<img class="milkyimg" src="/images/orcus.jpeg" alt="orcus" />
<p class="milkywaytext">
  Although similar in size and orbital characteristics to Pluto, Orcus is Pluto’s opposite in many ways. For this reason, Orcus is often referred to as the “anti-Pluto”, a fact that contributed greatly to the selection of its name. Although Orcus has
  not yet been officially categorized as a dwarf planet by the IAU, many astronomers agree that it meets all the requirements and will be in the future.
</p>
<p class="milkywaytext">
  Orcus was discovered on February 17th, 2004, by Michael Brown of Caltech, Chad Trujillo of the Gemini Observatory, and David Rabinowitz of Yale University. Although discovered using images that were taken in 2004, prerecovery images of Orcus have
  been identified going back as far as November 8th, 1951.
</p>
<p class="milkywaytext">
  Provisionally known as 90482 2004 DW, by November 22nd, 2004, the name Orcus was assigned. In accordance with the IAU’s astronomical conventions, objects with a similar size and orbit to that of Pluto are to be named after underworld deities.
  Therefore, the discovery team suggested the name Orcus, after the Etruscan god of the underworld and the equivalent of the Roman god Pluto.
</p>
<p class="milkywaytext">
  Given its distance, estimates of Orcus’ diameter and mass have varied over time. In 2008, observations made using the Spitzer Space Telescope in the far infrared placed its diameter at 958.4 ± 22.9 km. Subsequent observations made in 2013 using the
  Herschel Space Telescope at submillimeter wavelengths led to similar estimates being made.
</p>
<p class="milkywaytext">
  In addition, Orcus appears to have an albedo of about 21% to 25%, which may be typical of trans-Neptunian objects approaching the 1000 km diameter range. However, these estimates were based on the assumption that Orcus was a singular object and not
  part of a system. The discovery of the relatively large satellite Vanth (see below) in 2007 by Brown et al. is likely to change these considerably.
</p>
<p class="milkywaytext">
  The absolute magnitude of Vanth is estimated to be 4.88, which means that it is about 11 times fainter than Orcus itself. If the albedos of both bodies are the same at 0.23, then the diameter of Orcus would be closer to 892 -942 km, while Vanth
  would measure about 260 -293 km.
</p>
<p class="milkywaytext">
  Another interesting feature on Orcus is the presence of crystalline ice on its surface – which may be an indication of cryovolcanism – and the possible presence of ammonia dissolved in water and/or methane/ethane ices.
</p>
<img class="milkyimg" src="/images/orcusplanet.jpeg" alt="orcus" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  Much like Pluto, Orcus has a very long orbital period, taking 245.18 years (89552 days) to complete a single rotation around the Sun. It also is in a 2:3 orbital resonance with Neptune and is above the ecliptic during perihelion. In addition, it’s
  orbit has a similar inclination and eccentricity as Pluto’s – 20.573° to the ecliptic, and 0.227, respectively.
</p>
<p class="milkywaytext">
  In short, Orcus orbits the Sun at a distance of 30.27 AU (4.53 billion km) at perihelion and 48.07 AU (7.19 billion km) at aphelion. However, Pluto and Orcus are oriented differently. For one, Orcus is at aphelion when Pluto is at perihelion (and
  vice versa), and the aphelion of Orcus’s orbit points in nearly the opposite direction from Pluto’s. Hence why Orcus is often referred to as the “anti-Pluto”.
</p>
<p class="milkywaytext">
  In terms of mass, the Orcus system is estimated to be 6.32 ± 0.05 ×10<sup>20</sup> kg, which is about 3.8% the mass of the dwarf planet Eris. How this mass is partitioned between Orcus and Vanth depends of their relative sizes. If Vanth is 1/3rd
  the diameter Orcus, its mass is likely to be only 3% of the system. However, if it’s diameter is about half that of Orcus, then its mass could be as high as 1/12 of the system, or about 8% of the mass of Orcus.
</p>
<p class="milkywaytext">
  The density of the primary (and secondary assuming they have the same density) is estimated to be 1.5 g/cm<sup>3</sup>. In addition, spectroscopic and near-infrared observations have indicated that the surface is neutral in color and shows signs of
  water. Further infrared observations in 2004 by the European Southern Observatory and the Gemini Observatory indicated the possible presence of water ice and carbonaceous compounds.
</p>

<p class="milkywaytext">
  In 2011, Mike Brown and T.A. Suer detected a satellite in orbit of Orcus, based on images taken by the Hubble Space Telescope on November 13th, 2005. The satellite was given the designation S/2005 (90482) before being renamed Vanth on March 30th,
  2005. This name was the result of an opinion poll where Mike Brown asked readers of his weekly column to submit their suggestions.
</p>

<p class="milkywaytext">
  The name Vanth, after the Etruscan goddess who guided the souls of the dead to the underworld, was eventually chosen from among a large pool of submissions, which Brown then submitted to the IAU. The IAU’s Committee for Small Body Nomenclature
  assessed it and determined it fit with their naming procedures, and officially approved of it in March of 2010.
</p>
<p class="milkywaytext">
  Vanth orbits Orcus in a nearly face-on circular orbit at a distance of 9030 ± 89 km. It has an eccentricity of about 0.007 and an orbital period of 9.54 days. In terms of how Orcus acquired it, it is not likely that it was the result of a collision
  with an object, since Vanth’s spectrum is very different from that of its primary.

</p>
<%- include('footer'); -%>
