<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Orion Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/orion.jpeg" alt="orion" />
<p class="milkywaytext">
The Orion Nebula is a massive cloud of gas and dust around 1,300 light years from Earth and is located in the constellation of Orion.
</p>
<p class="milkywaytext">
It is around 25 light years across and is the closest star forming region to Earth.
</p>
<p class="milkywaytext">
The Orion Nebula is a hive of star forming activity, as a result it has given us a greater understanding as to how stars are formed.
</p>
<p class="milkywaytext">
Many stars in the Orion Nebula have disks of debris around them, indicating the very beginnings of planetary formation.
</p>
<p class="milkywaytext">
The Orion Nebula contains the Trapezium star cluster, a tight group of young massive stars that provide much of the nebula's brightness.
</p>
<p class="milkywaytext">
Apart from areas in and around the center of large cities the Orion Nebula is visible to the naked eye.
</p>
<p class="milkywaytext">
The Orion Nebula is actually part of a much larger nebula known as the Orion Molecular Cloud Complex.
</p>
<p class="milkywaytext">
In 1880 the Orion Nebula became the first object of its kind to be photographed, its image was captured by the American astronomer William Huggins.
</p>
<br />
<h3>Discovery</h3>
<p class="milkywaytext">
  Despite the Orion Nebula being visible to the naked eye there is no mention of it in ancient texts. It is therefore possible that the nebula’s brightness may be a recent phenomenon, perhaps due to new star formation. The first recorded observation of the Orion Nebula doesn’t appear until 1610, and this was thanks to the telescope which had been invented two years earlier. Using his telescope the French astronomer Peiresc noticed the diffuse nebula and noted down his observations, he is therefore credited with its discovery.
  </p>
  <p class="milkywaytext">

Throughout the 17th century many others independently discovered the Orion Nebula including the famous Dutch astronomer Christiaan Huygens. In 1774 the French astronomer Charles Messier included the Orion Nebula in his now famous catalogue of deep space objects, naming it Messier 42 or M42, a tag that is still widely used today by professional and amateur astronomers.
    </p>
<br />
<h3>Location</h3>
<br />
<img class="milkyimg" src="/images/orionlocation.jpg" alt="orion" />
<br />
<p class="milkywaytext">
  The Orion Nebula is very easy to locate and to view. The nebula is found in the very bright and easily identifiable constellation of Orion. In the center of the constellation three stars make up Orion’s Belt, just south of the belt you will notice three fainter stars in a line, the middle star is actually the Orion Nebula and appears to the naked eye as a faint smudge. Another way to find the nebula is to locate the very bright star Betelgeuse which marks the top left shoulder of Orion, draw a line down through the most easterly star in Orion’s Belt and that will also take you to your target.
  </p>
<p class="milkywaytext">
   With any telescope or binoculars you will be able to make out some exciting detail, even in areas with light pollution, of course the better the telescope the more spectacular the view. The Orion Nebula is a big favorite amongst astronomers and each time you view it you will see something different.
  </p>
<%- include('footer'); -%>
