<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Orionids</big></h1>
<br />
<img class="milkyimg" src="/images/orionids.jpeg" alt="orionids" />
<p class="milkywaytext">
The Orionids, which peak during mid-October each year, are considered to be one of the most beautiful showers of the year. Orionid meteors are known for their brightness and for their speed. These meteors are fast—they travel at about 148,000 mph (66 km/s) into the Earth's atmosphere. Fast meteors can leave glowing "trains" (incandescent bits of debris in the wake of the meteor) which last for several seconds to minutes. Fast meteors can also sometimes become fireballs: Look for prolonged explosions of light when viewing the Orionid meteor shower.
</p>
<p class="milkywaytext">
The Orionids are also framed by some of the brightest stars in the night sky, which lend a spectacular backdrop for theses showy meteors.
</p>
<br />
<h3>Viewing Tips</h3>
<p class="milkywaytext">
The Orionids are viewable in both the Northern and Southern hemispheres during the hours after midnight. Find an area well away from city or street lights. Come prepared with a sleeping bag, blanket or lawn chair. Lie flat on your back with your feet facing southeast if you are in the Northern Hemisphere or northeast if you are in the Southern Hemisphere, and look up, taking in as much of the sky as possible. In less than 30 minutes in the dark, your eyes will adapt and you will begin to see meteors. Be patient  the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h3>Must Read Facts!</h3>
<p class="milkywaytext">
The pieces of space debris that interact with our atmosphere to create the Orionids originate from comet 1P/Halley. Each time that Halley returns to the inner solar system its nucleus sheds ice and rocky dust into space. The dust grains eventually become the Orionids in October and the Eta Aquarids in May if they collide with Earth's atmosphere.
</p>
<p class="milkywaytext">
Their radiant—the point in the sky from which the Orionids appear to come from—is the constellation Orion. The constellation of Orion is also where we get the name for the shower: Orionids. Note: The constellation for which a meteor shower is named only serves to aid viewers in determining which shower they are viewing on a given night. The constellation is not the source of the meteors.
</p>
<p class="milkywaytext">
You should not look only to the constellation of Orion to view the Orionids—they are visible throughout the night sky. It is actually better to view the Orionids from 45 to 90 degrees away from the radiant. They will appear longer and more spectacular from this perspective. If you do look directly at the radiant, you will find that the meteors will be short—this is an effect of perspective called foreshortening.
</p>
<%- include('footer'); -%>
