<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Oumuamua</big></h1>
<br />
<img class="milkyimg" src="/images/oumuamua.jpeg" alt="oumuamua" />
<p class="milkywaytext">
The first known interstellar object to visit our solar system, 1I/2017 U1 ‘Oumuamua, was discovered Oct. 19, 2017 by the University of Hawaii’s Pan-STARRS1 telescope, funded by NASA’s Near-Earth Object Observations (NEOO) Program, which finds and tracks asteroids and comets in Earth’s neighborhood. While originally classified as a comet, observations revealed no signs of cometary activity after it slingshotted past the Sun on Sept. 9, 2017 at a blistering speed of 196,000 miles per hour (87.3 kilometers per second). It was briefly classified as an asteroid until new measurements found it was accelerating slightly, a sign it behaves more like a comet.
</p>
<p class="milkywaytext">
The first confirmed object from another star to visit our solar system, this interstellar interloper appears to be a rocky, cigar-shaped object with a somewhat reddish hue. The object, named ‘Oumuamua by its discoverers, is up to one-quarter mile (400 meters) long and highly-elongated—perhaps 10 times as long as it is wide. That aspect ratio is greater than that of any asteroid or comet observed in our solar system to date. While its elongated shape is quite surprising, and unlike objects seen in our solar system, it may provide new clues into how other solar systems formed.
</p>
<p class="milkywaytext">
The observations suggest this unusual object had been wandering through the Milky Way, unattached to any star system, for hundreds of millions of years before its chance encounter with our star system.
</p>
<p class="milkywaytext">
  Immediately after its discovery, telescopes around the world, including ESO’s Very Large Telescope in Chile, were called into action to measure the object’s orbit, brightness and color. Urgency for viewing from ground-based telescopes was vital to get the best data.

  Combining the images from the FORS instrument on the ESO telescope using four different filters with those of other large telescopes, a team of astronomers led by Karen Meech of the Institute for Astronomy in Hawaii found that ‘Oumuamua varies in brightness by a factor of 10 as it spins on its axis every 7.3 hours. No known asteroid or comet from our solar system varies so widely in brightness, with such a large ratio between length and width. The most elongated objects we have seen to date are no more than three times longer than they are wide.
</p>
<p class="milkywaytext">
It's properties suggest that ‘Oumuamua is dense, composed of rock and possibly metals, has no water or ice, and that its surface was reddened due to the effects of irradiation from cosmic rays over hundreds of millions of years.
</p>
<p class="milkywaytext">
A few large ground-based telescopes continued to track this fading object as it receded from our planet. Two of NASA’s space telescopes (Hubble and Spitzer) tracked the object traveling about 85,700 miles per hour (38.3 kilometers per second) relative to the Sun. Its outbound path is about 20 degrees above the plane of planets that orbit the Sun. The Oumuamua passed Mars’s orbit around Nov. 1 and will pass Jupiter’s orbit in May of 2018. It will travel beyond Saturn’s orbit in January 2019; as it leaves our solar system, ‘Oumuamua will head for the constellation Pegasus.
</p>
<p class="milkywaytext">
  Preliminary orbital calculations suggest that the object came from the approximate direction of the bright star Vega, in the northern constellation of Lyra. However, it took so long for the interstellar object to make the journey―even at the speed of about 59,000 miles per hour (26.4 kilometers per second)―that Vega was not near that position when the ‘Oumuamua was there about 300,000 years ago.

  Astronomers estimate that an interstellar object similar to ‘Oumuamua passes through the inner solar system about once per year, but they are faint and hard to spot and have been missed until now. It is only recently that survey telescopes, such as Pan-STARRS1, are powerful enough to have a chance to discover them.
</p>
<p class="milkywaytext">
The object was officially named 1I/2017 U1 by the International Astronomical Union (IAU), which is responsible for granting official names to bodies in the solar system and beyond. In addition to the technical name, the Pan-STARRS team dubbed it ‘Oumuamua (pronounced oh MOO-uh MOO-uh), which is Hawaiian for “a messenger from afar arriving first".
</p>
<%- include('footer'); -%>
