<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Owl Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/owl.jpeg" alt="owlnebula" />
<p class="milkywaytext">
  The Owl Nebula, also known as Messier 97 (M97), is a planetary nebula located in Ursa Major. The nebula lies at an approximate distance of 2,030 light years from Earth. It is known for its distinctive shape, resembling a pair of owl-like eyes, that can be seen in larger telescopes.
</p>
<p class="milkywaytext">
  The estimated age of the Owl Nebula is about 8,000 years. The nebula has the designation NGC 3587 in the New General Catalogue.
</p>
<p class="milkywaytext">
  The Owl Nebula was formed when a central star expelled its outer gaseous layers about 8,000 years ago. As the outer layers were gradually blown off over thousands of years, what was left of the original star contracted to form a hot white dwarf.
</p>
<p class="milkywaytext">
  The 16th magnitude central star has 55 to 60 percent of the Sun’s mass, only 4 percent of the Sun’s radius, and an estimated surface temperature of 123,000 K. The star can be seen between the Owl’s eyes. Its radiation is responsible for the nebula’s glow.
</p>
<p class="milkywaytext">
  Most stars that expel material to form planetary nebulae – about 80 percent of them – expel a large amount of it in two opposing directions. The jets blown off by the progenitor star of the Owl Nebula are almost aligned with our line of sight. The dust within the jets blocks enough light from the expanding nebula to create the appearance of owl-like eyes.
</p>
<p class="milkywaytext">
  One of the nebula’s eyes appears darker than the other. This is the jet that is emitted in our direction, while the fainter eye marks the jet expelled in the opposite direction, away from us.
</p>
<p class="milkywaytext">
  The nebula will gradually disperse over the next several thousand years, while the central white dwarf will cool and fade away. In about 5 billion years, our Sun will end its life in similar fashion.
</p>
<p class="milkywaytext">
  The Owl Nebula is one of the faintest Messier objects. It is quite large and has a relatively low surface brightness, but it can be seen in amateur telescopes in good conditions, with clear skies and no light pollution. It can even be spotted with larger binoculars. However, to see why the nebula was named the Owl, one needs a larger instrument, starting from an 8-inch telescope and moderately high power. The 14th magnitude central star can be seen in 10-inch or larger telescopes.
</p>
<p class="milkywaytext">
  M97 is considerably brighter visually than photographically because most of its light is emitted in one green spectral line.
  </p>
  <p class="milkywaytext">
The nebula can be found just below the bowl of the Big Dipper. It lies about 2.3 degrees to the east-southeast of the star Merak, Beta Ursae Majoris, just south of the line from Merak to Phecda, Gamma Ursae Majoris, the other star marking the bottom of the Dipper’s bowl. The barred spiral galaxy Messier 108 lies in the vicinity and can be seen at about a third of the distance between M97 and Merak.
    </p>
<%- include('footer'); -%>
