<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Perseids</big></h1>
<br />
<img class="milkyimg" src="/images/per.jpeg" alt="perseids" />
<p class="milkywaytext">
The Perseids, which peak during mid-August, are considered the best meteor shower of the year. With very fast and bright meteors, Perseids frequently leave long "wakes" of light and color behind them as they streak through Earth's atmosphere. The Perseids are one of the most plentiful showers (50-100 meteors seen per hour) and occur with warm summer nighttime weather, allowing sky watchers to easily view them.
</p>
<p class="milkywaytext">
Perseids are also known for their fireballs. Fireballs are larger explosions of light and color that can persist longer than an average meteor streak. This is due to the fact that fireballs originate from larger particles of cometary material. Fireballs are also brighter, with apparent magnitudes greater than -3
</p>
<br />
<h3>Viewing tips</h3>
<p class="milkywaytext">
The Perseids are best viewed in the Northern Hemisphere during the pre-dawn hours, though at times it is possible to view meteors from this shower as early as 10 p.m.
</p>
<br />
<h3>Must Read Facts!</h3>
<p class="milkywaytext">
The pieces of space debris that interact with our atmosphere to create the Perseids originate from comet 109P/Swift-Tuttle. Swift-Tuttle takes 133 years to orbit the sun once. It was Giovanni Schiaparelli who realized in 1865 that this comet was the source of the Perseids. Comet Swift-Tuttle last visited the inner solar system in 1992.
</p>
<p class="milkywaytext">
Their radiant—the point in the sky from which the Perseids appear to come from—is the constellation Perseus. This is also where we get the name for the shower: Perseids. However, the constellation for which a meteor shower is named only serves to aid viewers in determining which shower they are viewing on a given night. The constellation is not the source of the meteors.
</p>
<%- include('footer'); -%>
