<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Deimos & Probos</big></h1>
<br />
<h3 style="color:red";>Deimos</h3>
<br />
<img class="milkyimg" src="/images/deimos.jpg" alt="deimos" />
<p class="milkywaytext">
Deimos is the smaller of Mars' two moons. Being only 9 by 7 by 6.8 miles in size (15 by 12 by 11 kilometers), Deimos whirls around Mars every 30 hours.
</p>
<p class="milkywaytext">
Like Phobos, Deimos is a small and lumpy, heavily cratered object. Its craters are generally smaller than 1.6 miles (2.5 kilometers) in diameter, however, and it lacks the grooves and ridges seen on Phobos. Typically when a meteorite hits a surface, surface material is thrown up and out of the resulting crater. The material usually falls back to the surface surrounding the crater. However, these ejecta deposits are not seen on Deimos, perhaps because the moon's gravity is so low that the ejecta escaped to space. Material does appear to have moved down slopes. Deimos also has a thick regolith, perhaps as deep as 328 feet (100 meters), formed as meteorites pulverized the surface.
</p>
<p class="milkywaytext">
Deimos is a dark body that appears to be composed of C-type surface materials, similar to that of asteroids found in the outer asteroid belt.
</p>
<p class="milkywaytext">
Deimos was discovered on Aug. 11, 1877 by Asaph Hall.
</p>
<p class="milkywaytext">
  Hall named Mars' moons for the mythological sons of Ares, the Greek counterpart of the Roman god, Mars. Deimos, whose name means dread, is the brother of Phobos.
  </p>
  <h3 style="color:red";>Phobos</h3>
  <br />
  <img class="milkyimg" src="/images/phobos.jpeg" alt="phobos" />
<p class="milkywaytext">
Asaph Hall was about to give up his frustrating search for a Martian moon one August night in 1877, but his wife Angelina urged him on. He discovered Deimos the next night, and Phobos six nights after that.
</p>
<p class="milkywaytext">
Ninety-four years later, NASA's Mariner 9 spacecraft got a much better look at the two moons from its orbit around Mars. The dominant feature on Phobos, it found, was a crater six miles (10 kilometers) wide—nearly half the width of the moon itself. It was given Angelina's maiden name: Stickney.
</p>
<p class="milkywaytext">
Mars' moons are among the smallest in the solar system. Phobos is a bit larger than Deimos, and orbits only 3,700 miles (6,000 kilometers) above the Martian surface. No known moon orbits closer to its planet. It whips around Mars three times a day, while the more distant Deimos takes 30 hours for each orbit. Phobos is gradually spiraling inward, drawing about six feet (1.8 meters) closer to the planet each century. Within 50 million years, it will either crash into Mars or break up and form a ring around the planet.
</p>
<p class="milkywaytext">
To someone standing on the Mars-facing side of Phobos, Mars would take up a large part of the sky. And people may one day do just that. Scientists have discussed the possibility of using one of the Martian moons as a base from which astronauts could observe the Red Planet and launch robots to its surface, while shielded by miles of rock from cosmic rays and solar radiation for nearly two-thirds of every orbit.
</p>
<p class="milkywaytext">
Like Earth's Moon, Phobos and Deimos always present the same face to their planet. Both are lumpy, heavily-cratered and covered in dust and loose rocks. They are among the darker objects in the solar system. The moons appear to be made of carbon-rich rock mixed with ice and may be captured asteroids.
</p>
<p class="milkywaytext">
Phobos has only 1/1,000th as much gravitational pull as Earth. A 150-pound (68 kilogram) person would weigh two ounces (68 grams) there. Yet NASA's Mars Global Surveyor has shown evidence of landslides, and of boulders and dust that fell back down to the surface after being blasted off the moon by meteorites.
</p>
<p class="milkywaytext">
Hall named the moons for the mythological sons of Ares, the Greek counterpart of the Roman god, Mars. Phobos means fear and Deimos means dread. Fitting names for the sons of a war god.
</p>
<%- include('footer'); -%>
