<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Pinwheel Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/pinwheel.jpeg" alt="pinwheel" />
<p class="milkywaytext">
The Pinwheel Galaxy is in the constellation of Ursa Major (also known as the Big Dipper). It is about 70 percent larger than our own Milky Way Galaxy, with a diameter of about 170,000 light years, and sits at a distance of 21 million light years from Earth. This means that the light we're seeing in this image left the Pinwheel Galaxy about 21 million years ago - many millions of years before humans ever walked the Earth.
</p>
<%- include('footer'); -%>
