<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Pisces</big></h1>
<br />
<img class="milkyimg" src="/images/pisces.jpeg" alt="pisces" />
<p class="milkywaytext">
Pisces constellation lies in the northern sky. Its name means “the fish” (plural) in Latin.
</p>
<p class="milkywaytext">
Pisces lies between Aries constellation to the east and Aquarius to the west. The two celestial fish represent Venus and Cupid in Roman mythology, who transformed themselves into fish in order to escape the monster Typhon. The Vernal equinox, the point at which the Sun moves to the northern hemisphere across the equator every year, is currently located in Pisces.
</p>
<p class="milkywaytext">
Pisces constellation also contains a number of interesting deep sky objects, among them the face-on grand design spiral galaxy Messier 74 (NGC 628), the Pisces Dwarf galaxy, the double radio galaxy 3C 31, and the colliding galaxy pair Arp 284.
</p>
<p class="milkywaytext">
Pisces is the 14th constellation in size, occupying an area of 889 square degrees. It is located in the first quadrant of the northern hemisphere (NQ1) and can be seen at latitudes between +90° and -65°. The neighboring constellations are Andromeda, Aquarius, Aries, Cetus, Pegasus and Triangulum.
</p>
<p class="milkywaytext">
Pisces contains a single Messier object, the spiral galaxy Messier 74 (M74, NGC 628) and has ten stars with known planets. The brightest star in the constellation is Eta Piscium, with an apparent magnitude of 3.62. There is one meteor shower associated with the constellation; the Piscids.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN PISCES</h3>
<br />
<h3>Kullat Nunu – η Piscium (Eta Piscium)</h3>
<p class="milkywaytext">
Eta Piscium is the brightest star in the constellation. It has an apparent magnitude of 3.62 and is approximately 294 light years distant from the solar system. The star belongs to the spectral class G7 IIIa, which means that it is a yellow giant. It has a faint companion about an arc second away.
</p>
<p class="milkywaytext">
Eta Piscium is 316 times more luminous than the Sun and a mass 3.5 to 4 times solar. It is 26 times larger than the Sun.
</p>
<p class="milkywaytext">
The star has an unofficial proper name, Kullat Nunu. Nunu is the Babylonian word for “fish,” and “kullat” refers either to a bucket or the cord used to tie the fish together.
</p>
<br />
<h3>γ Piscium (Gamma Piscium)</h3>
<p class="milkywaytext">
Gamma Piscium is a yellow giant with the stellar classification of G9 III. It is the second brightest star in Pisces. It has an apparent magnitude of 3.699 and is approximately 138 light years distant. The star is ten times the size of the Sun and 61 times more luminous. It is believed to be about 5.5 billion years old.
</p>
<p class="milkywaytext">
The star is part of an asterism called the Circlet of Pisces, which represents the head of the western fish in Pisces constellation.
</p>
<p class="milkywaytext">
Gamma Piscium will not be in the Sun’s vicinity for long. The star moves three quarters of an arc second across the sky every year.
</p>
<br />
<h3>ω Piscium (Omega Piscium)</h3>
<p class="milkywaytext">
Omega Piscium is a yellow-white subgiant star with the stellar classification of F4IV. It has an apparent magnitude of 4.036 and is approximately 106 light years distant from the Sun. It is the first star to the east of the Circlet of Pisces.
</p>
<p class="milkywaytext">
The star is suspected to be a close binary system. If it is a single star, it is 1.8 times more massive than the Sun and 20 times more luminous.
</p>
<br />
<h3>ι Piscium (Iota Piscium)</h3>
<p class="milkywaytext">
Iota Piscium is a yellow-white dwarf with the stellar classification of F7 V. It has an apparent magnitude of 4.13 and is 44.73 light years distant from Earth. It is larger and more luminous than the Sun.
</p>
<p class="milkywaytext">
Iota Piscium is a suspected variable star, and it has two line-of-sight companions.
</p>
<br />
<h3>ο Piscium (Omicron Piscium)</h3>
<p class="milkywaytext">
Omicron Piscium is a yellow giant star with the stellar classification G8 III. It has an apparent magnitude of 4.26 and is approximately 142 light years distant. In the 1515 Almagest, the star was listed with the proper name Torcularis septentrionalis.
</p>
<br />
<h3>Alrescha – α Piscium (Alpha Piscium) </h3>
<p class="milkywaytext">
Alpha Piscium is a close binary star with components separated by 1.8 arc seconds. The primary star belongs to the spectral class A0p and has a visual magnitude of 4.33, and the companion belongs to the spectral class A3m and has an apparent magnitude of 5.23. The stars orbit each other with a period of over 700 years.
</p>
<p class="milkywaytext">
The primary star has 2.3 solar masses and is 31 times more luminous than the Sun, while the companion has 1.8 times the Sun’s mass and is 12 times brighter.
</p>
<p class="milkywaytext">
Alpha Piscium has a combined apparent magnitude of 3.82 and is approximately 139 light years distant from the solar system.
</p>
<%- include('footer'); -%>
