<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Pluto</big></h1>
<br />
<img class="milkyimg" src="/images/pluto.jpeg" alt="pluto" />
<p class="milkywaytext">
  Pluto is a complex and mysterious world with mountains, valleys, plains, craters, and maybe glaciers. Discovered in 1930, Pluto was long considered our solar system's ninth planet. But after the discovery of similar intriguing worlds deeper in the
  distant Kuiper Belt, icy Pluto was reclassified as a dwarf planet.
</p>
<p class="milkywaytext">
  Pluto is orbited by five known moons, the largest of which is Charon. Charon is about half the size of Pluto itself, making it the largest satellite relative to the planet it orbits in our solar system. Pluto and Charon are often referred to as a
  "double planet".Pluto is named after the Roman god of the underworld.
</p>
<p class="milkywaytext">
  Pluto's orbit around the sun is unusual compared to the planets: it's both elliptical and tilted. Pluto's 248-year-long, oval-shaped orbit can take it as far as 49.3 astronomical units (AU) from the sun, and as close as 30 AU. (One AU is the mean
  distance between Earth and the sun: about 93 million miles or 150 million kilometers.) But on average, Pluto is 3.7 billion miles (5.9 billion kilometers) away from the sun, or 39 AU.
</p>
<p class="milkywaytext">
  One day on Pluto takes about 153 hours. Its axis of rotation is tilted 57 degrees with respect to the plane of its orbit around the sun, so it spins almost on its side. Pluto also exhibits a retrograde rotation; spinning from east to west like
  Venus and Uranus.
</p>
<img class="milkyimage" src="/images/plutogif.gif" alt="pluto" />
<p class="milkywaytext">
  Dwarf planet Pluto is a member of a group of objects that orbit in a disc-like zone beyond the orbit of Neptune called the Kuiper Belt. This distant realm is populated with thousands of miniature icy worlds, which formed early in the history of our
  solar system about 4.5 billion years ago. These icy, rocky bodies are called Kuiper Belt objects, transneptunian objects, or plutoids.
</p>
<p class="milkywaytext">
  Pluto has a thin, tenuous atmosphere that expands when it comes closer to the sun and collapses as it moves farther away—similar to a comet. The main constituent is molecular nitrogen, though molecules of methane and carbon monoxide have also been
  detected.
</p>
<p class="milkywaytext">
  When Pluto is close to the sun, its surface ices sublimate (changing directly from solid to gas) and rise to temporarily form a thin atmosphere. Pluto's low gravity (about six percent of Earth's) causes the atmosphere to be much more extended in
  altitude than our planet's atmosphere. Pluto becomes much colder during the part of each year when it is traveling far away from the sun. During this time, the bulk of the planet's atmosphere may freeze and fall as snow to the surface.
</p>
<p class="milkywaytext">
  Pluto has five known moons: Charon, Nix, Hydra, Kerberos and Styx. This moon system might have formed by a collision between Pluto and another similar-sized body early in the history of the solar system.
</p>
<img class="milkyimg" src="/images/plutosurface.jpg" alt="pluto" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  With a radius of 715 miles (1,151 kilometers), Pluto is about 1/6 the width of Earth. If Earth was the size of a nickel, Pluto would be about as big as a popcorn kernel.
</p>
<p class="milkywaytext">
  From an average distance of 3.7 billion miles (5.9 billion kilometers), Pluto is 39 astronomical units away from the sun. One astronomical unit (abbreviated as AU), is the distance from the sun to Earth. From this distance, it takes sunlight 5.5
  hours to travel from the sun to Pluto.
</p>
<p class="milkywaytext">
  f you were to stand on the surface of Pluto at noon, the sun would be 1/900 the brightness it is here on Earth, or about 300 times as bright as our full moon. There is a moment each day near sunset here on Earth when the light is the same
  brightness as midday on Pluto. Find out when you can experience "Pluto time" where you live.
</p>
<p class="milkywaytext">
  Pluto is about two-thirds the diameter of Earth's moon and probably has a rocky core surrounded by a mantle of water ice. Interesting ices like methane and nitrogen frost coat its surface. Due to its lower density, Pluto's mass is about one-sixth
  that of Earth's moon.
</p>
<img class="milkyimg" src="/images/plutocrust.jpg" alt="pluto" />
<p class="milkywaytext">
  Pluto's surface is characterized by mountains, valleys, plains, and craters. The temperature on Pluto can be as cold as -375 to -400 degrees Fahrenheit (-226 to -240 degrees Celsius).
</p>
<p class="milkywaytext">
  Pluto's mountains can be as tall as 6,500 to 9,800 feet (2 to 3 kilometers) and are big blocks of water ice, sometimes with a coating of frozen gases like methane. And long troughs and valleys as long as 370 miles (600 kilometers) add to the
  interesting features of this faraway dwarf planet.
</p>
<p class="milkywaytext">
  Craters as large as 162 miles (260 kilometers) in diameter dot some of the landscape on Pluto, with some showing signs of erosion and filling. This suggests tectonic forces are slowly resurfacing Pluto.
</p>
<p class="milkywaytext">
  It isn't known whether Pluto has a magnetic field, but its small size and slow rotation suggest little or none.There are no known rings around Pluto.
</p>
<h1 style="color:red" ;>Pluto Moons</h1>
<p class="milkywaytext">
  Pluto's entire moon system is believed to have formed by a collision between the dwarf planet and another Kuiper Belt Object early in the history of the solar system.All of Pluto's moons are named for mythological figures associated with the underworld, a naming conventions started by 11-year-old Venetia Burney in 1930.
</p>
<br />
<img class="milkyimg" src="/images/plutomoon.png" alt="pluto" />
<br />
<br />
<!--1st row---------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/charon.jpeg" />
        <h6 class="feature-title">Charon</h6>
        <p class="factbox">
          Charon, also known as Pluto I, is the largest of the five known natural satellites of the dwarf planet Pluto. It has a mean radius of 606 km. Charon is the sixth-largest trans-Neptunian object after Pluto, Eris, Haumea, Makemake and Gonggong.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/hydra.jpeg" />
        <h6 class="feature-title">Hydra</h6>
        <p class="factbox">
          Hydra is a natural satellite of Pluto, with a diameter of approximately 51 km across its longest dimension. It is the second largest moon of Pluto, being slightly larger than Nix. Hydra was discovered along with Nix by the Pluto Companion Search Team in June 2005.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/kerberos.jpeg" />
        <h6 class="feature-title">Kerberos</h6>
        <p class="factbox">
          Kerberos is a small natural satellite of Pluto, about 19 km in its longest dimension. It was the fourth moon of Pluto to be discovered and its existence was announced on 20 July 2011. It was imaged, along with Pluto and its four other moons, by the New Horizons spacecraft in July 2015. The first image of Kerberos from the flyby was released to the public on 22 October 2015.
        </p>
      </div>
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/nix.jpeg" />
        <h6 class="feature-title">Nix</h6>
        <p class="factbox">
          Nix is a natural satellite of Pluto, with a diameter of 49.8 km across its longest dimension. It was discovered along with Pluto's outermost moon Hydra in June 2005 by the Pluto Companion Search Team. It was named after Nyx, the Greek goddess of the night.
        </p>
      </div>
    </div>
  </div>
</section>
<br />
<!--2nd row--------------------------------------------------------------------------------------------------------------------------------------------->
<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="milkyway" src="/images/styx.jpeg" />
        <h6 class="feature-title">Styx</h6>
        <p class="factbox">
          Styx is a small natural satellite of Pluto whose discovery was announced on 11 July 2012 and it is the smallest moon of Pluto. It was imaged along with Pluto and Pluto's other moons by the New Horizons spacecraft in July 2015.
        </p>
      </div>
        </div>
  </div>
</section>
<br />
<%- include('footer'); -%>
