<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Quadrantids</big></h1>
<br />
<img class="milkyimg" src="/images/jan.jpeg" alt="quadrantids" />
<p class="milkywaytext">
  The Quadrantids, which peak during early-January each year, are considered to be one of the best annual meteor showers. Most meteor showers have a two day peak, which makes catching sight of these other meteors much more possible. The Quadrantids
  peak, on the other hand, is much shorter—only a few hours. (The reason the peak is so short is due to the shower's thin stream of particles and the fact that the Earth crosses the stream at a perpendicular angle.) During its peak, 60 to as many as
  200 Quadrantid meteors can be seen per hour under perfect conditions.
</p>
<p class="milkywaytext">
  Quadrantids are also known for their bright fireball meteors. Fireballs are larger explosions of light and color that can persist longer than an average meteor streak. This is due to the fact that fireballs originate from larger particles of
  material. Fireballs are also brighter, with magnitudes brighter than -3.
</p>
<br />

<h3>Viewing Tips</h3>
<p class="milkywaytext">
  The Quadrantids are best viewed in the Northern Hemisphere (this shower can also be seen at latitudes north of 51 degrees south) during the night and predawn hours. To view the Quadrantids, find an area well away from city or street lights. Come
  prepared for winter weather with a sleeping bag, blanket or lawn chair. Lie flat on your back with your feet facing northeast and look up, taking in as much of the sky as possible. In less than 30 minutes in the dark, your eyes will adapt and you
  will begin to see meteors. Be patient—the show will last until dawn, so you have plenty of time to catch a glimpse.
</p>
<br />
<h3>Must read Facts!</h3>
<p class="milkywaytext">
  Meteors come from leftover comet particles and bits from broken asteroids. When these objects come around the sun, the dust they emit gradually spreads into a dusty trail around their orbits. Every year the Earth passes through these debris trails,
  which allows the bits to collide with our atmosphere where they disintegrate to create fiery and colorful streaks in the sky.
</p>
<p class="milkywaytext">
  Unlike most meteor showers which originate from comets, the Quadrantids originate from an asteroid: asteroid 2003 EH1. Asteroid 2003 EH1 takes 5.52 years to orbit the sun once. It is possible that 2003 EH is a "dead comet" or a new kind of object
  being discussed by astronomers called a "rock comet."
</p>
<p class="milkywaytext">
  2003 EH1 was discovered on Mar. 6, 2003 by the Lowell Observatory Near-Earth Object Search (LONEOS). 2003 EH1 is a small asteroid—its diameter measures only about two miles (three kilometers) across. It was astronomer and research scientist Peter
  Jenniskens who realized that 2003 EH1 is the source for the Quadrantid meteors.
</p>
<P class="milkywaytext">
  Their radiant—the point in the sky from which the Quadrantids appear to come from -- is a obsolete constellation called "Quadrans Muralis." French astronomer Jerome Lalande created this constellation in 1795. (The constellation takes its name from
  an early astronomical instrument used to observe and plot star positions: a quadrant.) The Quadrantids were first seen in 1825.
</P>
<P class="milkywaytext">
  When the International Astronomical Union (IAU) created a list of recognized modern constellations in 1922, Quadrans Muralis was left off the list. Quadrans Muralis is located between the constellations of Bootes and Draco (near the end of the
  handle of the "Big Dipper"). An alternative name for the Quadrantids is the Bootids since the meteors appear to radiate from the modern constellation of Bootes. Even though, the constellation may no longer be recognized, it was considered a
  constellation long enough to give the meteor shower its name.
</P>
<P class="milkywaytext">
  The constellation for which a meteor shower is named only serves to aid viewers in determining which shower they are viewing on a given night. The constellation is not the source of the meteors. Also, you should not look only to the constellation
  of Bootes to view the Quadrantids -- they are visible throughout the night sky.
</P>
<%- include('footer'); -%>
