<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Quaoar</big></h1>
<br />
<img class="milkyimg" src="/images/Quaoar1.jpg" alt="quaoar" />
<p class="milkywaytext">
Quaoar was discovered on June 4th, 2002 by astronomers Chad Trujillo and Michael Brown of the California Institute of Technology, using images that were obtained with the Samuel Oschin Telescope at Palomar Observatory. The discovery was announced on October 7th, 2002, at a meeting of the American Astronomical Society. At the time, the object was designated as 2002 LM60, but would soon be renamed by Brown and Caltech his team.
</p>
<p class="milkywaytext">
Consistent with the IAU conventions for naming non-resonant Kuiper Belt Objects after creator deities, the object was given the name Quaoar after the Tongva creator god. The Tongva people (otherwise known as the Mission Indians) are native to the area around Los Angeles, where the discovery of Quaoar was made.
</p>
<p class="milkywaytext">
Quaoar orbit around the Sun varies slightly, ranging from 45.114 AU (6.75 x 10<sup>9</sup>km / 4.19 x 10<sup>9</sup>mi) at aphelion to 41.695 AU (6.24 x 10 km<sup>9</sup>/3.88 x 10<sup>9</sup>mi) at perihelion. Quaoar has an orbital period of 284.5 years, and a sidereal rotation period of about 17.68 hours.
</p>
<p class="milkywaytext">
Its orbit is also nearly circular and moderately inclined at approximately 8°, which is typical for the population of small classical KBOs, but exceptional among the large KBO. Pluto, Makemake, Haumea, Orcus, Varuna, and Salacia are all on highly inclined, more eccentric orbits.
</p>
<p class="milkywaytext">
At 43 AU and with a near-circular orbit, Quaoar is not significantly perturbed by Neptune; unlike Pluto, which is in 2:3 orbital resonance with Neptune. As of 2008, Quaoar was only 14 AU from Pluto, which made it the closest large body to the Pluto–Charon system. By Kuiper Belt standards this is very close.
</p>
<p class="milkywaytext">
Quaoar has one known satellite, which was discovered on February 22nd, 2007. It orbits its primary at a distance of 14,500 km and has an orbital eccentricity of 0.14. Based on the assumption that the moon has the same albedo and density as Quaoar, the apparent magnitude of the moon indicates that it is 74 km in diameter and has 1/2000 the mass of Quaoar.
</p>
<p class="milkywaytext">
In terms of where it came from, Brown has suggested that it may be a remnant from a collision, which lost most of its mantle ice in the process. The choice for naming the moon was deferred to the Tongva people themselves, who selected the sky god Weymot, who is the son of Quaoar in Tongva mythology. The name became official on October 4th, 2009, with the publication of the Minor Planet Center’s latest issue.
</p>
<img class="milkyimg" src="/images/Quaoar_orbit.png" alt="quaoar" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Given its distance, accurate measurements of Quaoar have been difficult to obtain. In 2004, Brown and Trujillo made direct measurements of the object with the Hubble Space Telescope and came up with an estimated diameter of  1260 ± 190 km.
</p>
<p class="milkywaytext">
However, these estimates were subsequently revised downward in 2013 by teams using a stellar occultation, and with data obtained with the Herschel Observatory’s PACS instrument and the Spectral and Photometric Imaging Receiver (SPIRE) at the University of Lethbridge, Alberta.
</p>
<p class="milkywaytext">
Combining this information, estimates of its diameter were then changed to between 1110 ± 5 km and 1074±38 km. By these estimates, Quaoar was the largest object to be discovered in the Solar System since the discovery of Pluto.
</p>
<p class="milkywaytext">
In addition, new techniques and a greater knowledge of KBOs led scientists to conclude that the 2004 HST size estimate for Quaoar was approximately 40% too large, and that a more proper estimate would be about 900 km. Using a weighted average of the SST and corrected HST estimates, Quaoar, as of 2010, is now believed to be about 890±70 km in diameter.
</p>
<p class="milkywaytext">
Quaoar is roughly one-twelfth the diameter of Earth, one third the diameter of the Moon, and half the size of Pluto. And with an estimated mass of 1.4 ± 0.1 × 10<sup>21</sup>kg, Quaoar is about as massive as Pluto’s moon Charon, equivalent to 0.12 times the mass of Eris, and approximately 2.5 times as massive as Orcus.
</p>
<p class="milkywaytext">
The surface is also moderately red, meaning that Quaoar is relatively more reflective in the red and near-infrared than in the blue. A 2006 model of internal heating via radioactive decay suggested that, unlike Orcus, Quaoar may not be capable of sustaining an internal ocean of liquid water at the mantle-core boundary.
</p>
<p class="milkywaytext">
Observations of Quaoar in the near infrared spectrum have indicated the presence of a small quantities of methane and ethane ice (about 5%). Scientists have also been surprised to find signs of crystalline ice on Quaoar, which is caused by sublimation and refreezing of water. This would indicate that the temperature rose to at least -160 °C (110 K or -260 °F) sometime in the last ten million years.
</p>
<p class="milkywaytext">
  Speculation as to what could have caused Quaoar to heat up from its natural temperature of -220 °C (55 K or -360 °F) have led to theories ranging from a barrage of mini-meteors that could have raised the temperature, to the presence of cryovolcanism. The latter theory, which is the more widely accepted one, holds that cryovolcanism occurred as a result of the decay of radioactive elements within Quaoar’s core.
  </p>
  <p class="milkywaytext">
    Some scientist believe that Quaoar was nearly twice its current size before an ancient collision with another object, possibly Pluto, stripped it of its outer mantle. If true, it would mean that Quaoar once had more ice on its surface, and possibly a liquid water ocean at the core-mantle boundary.
    </p>
<%- include('footer'); -%>
