<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Ring Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/ring.jpeg" alt="ring" />
<p class="milkywaytext">
  The Ring Nebula is a planetary nebula, these type of nebula are created when a small star sheds it mass at the end of its life span.
</p>
<p class="milkywaytext">
  The core of the star remains in the form of white dwarf, it ionizes the surrounding gas producing an impressive light display.
</p>
<p class="milkywaytext">
  The different colors represent the various types of ionized gas that surround the star's core.
</p>
<p class="milkywaytext">
  The original star that created the Ring Nebula is thought to have been several times more massive than our sun but not large enough to explode as a supernova.
</p>
<p class="milkywaytext">
  The event that produced the Ring Nebula is estimated to have occurred around 4,000 years ago .
</p>
<p class="milkywaytext">
  The Ring Nebula is around 1 light year across and is expanding at a rate of 1.5 million kilometers per day.
</p>
<p class="milkywaytext">
  The Ring Nebula will grow 50% larger in diameter over the next few thousand years before it begins to fade and disperse.
</p>
<p class="milkywaytext">
</p>
<br />
<h3>Discovery</h3>
<p class="milkywaytext">
  In January 1779 the Ring Nebula was discovered by the little known French astronomer Antoine Darquier de Pellepoix. Coincidentally a few weeks later another French astronomer Charles Messier, who was unaware of Pellepoix’s discovery, listed the nebula in his catalogue of deep sky objects as Messier 57. Messier was unaware of what the object actually was, he concluded that it was a group of dim stars.
  </p>
  <p class="milkywaytext">
    It wasn’t until the late 19th century that the true nature of these objects began to be revealed. After observing the Ring Nebula and other similar objects the British astronomer William Huggins concluded that they were not composed of stars at all but of luminous gas. In the late 20th century the true nature of the Ring Nebula’s beauty was revealed by the Hubble space telescope, its colorful display making it one of the most spectacular objects in our galaxy. Observations of the Ring Nebula continue to reveal secrets of these fascinating objects.
    </p>
  <br />
<h3>LOcation</h3>
<br />
<img class="milkyimg" src="/images/ringlocation.jpg" alt="ring" />
<br />
<p class="milkywaytext">
  This image shows the position of the Ring Nebula in the night sky. The Ring Nebula is incredibly easy to find due to its close proximity to very bright and easily located star Vega in the constellation of Lyra. Once you find Vega you will notice two dimmer stars in close proximity, the Ring Nebula is in between these stars. The Ring Nebula cannot be viewed with the naked eye, even binoculars will not be strong enough to make out any detail so a telescope with at least a 4 inch aperture is required to view the ring like structure. The Ring Nebula is visible from early spring to early winter and is a firm favorite amongst amateur astronomers due to its easily identifiable doughnut like shape.

  </p>
<%- include('footer'); -%>
