<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Sagittarius</big></h1>
<br />
<img class="milkyimg" src="/images/sagittarius.jpeg" alt="sagittarius" />
<p class="milkywaytext">
Sagittarius constellation lies in the southern sky. It is one of the constellations of the zodiac. It represents the archer.
</p>
<p class="milkywaytext">
It is also associated with Crotus, the satyr who kept company of the Muses on Mount Helicon. Sagittarius is one of the largest southern constellations. It is easy to find because it lies on the Milky Way and its brightest stars form an asterism known as the Teapot. Like other zodiac constellations, Sagittarius was first catalogued by the Greek astronomer Ptolemy in the 2nd century.
</p>
<p class="milkywaytext">
The constellation contains the Arches Cluster, the Quintuplet Cluster with the luminous Pistol Star, the Galactic centre, the radio source Sagittarius A, and a number of very famous deep sky objects, including the Sagittarius Dwarf Elliptical Galaxy, the Sagittarius Dwarf Irregular Galaxy, Barnard’s Galaxy, the Bubble Nebula, and as many as 15 Messier objects, among them the Sagittarius Star Cloud (Messier 24), the Omega Nebula (Messier 17), Messier 18, the Lagoon Nebula (Messier 8), and the Trifid Nebula (Messier 20).
</p>
<p class="milkywaytext">
Sagittarius is the 15th largest constellation in the sky. It occupies an area of 867 square degrees. It is located in the fourth quadrant of the southern hemisphere (SQ4) and can be seen at latitudes between +55° and -90°. The neighboring constellations are Aquila, Capricornus, Corona Australis, Indus, Microscopium, Ophiuchus, Scutum, Scorpius, Serpens Cauda and Telescopium.
</p>
<p class="milkywaytext">
Sagittarius has seven stars brighter than magnitude 3.00 and three stars located within 10 parsecs (32.6 light years) of Earth. The brightest star in Sagittarius is Kaus Australis, Epsilon Sagittarii (spectral class B9.5 III), with an apparent magnitude of 1.79. The nearest star is Ross 154 (V1216 Sagittarii, spectral class M3.5V), located at a distance of only 9.69 light years from Earth.
</p>
<p class="milkywaytext">
Sagittarius contains 15 Messier objects: Messier 8 (M8, NGC 6523, Lagoon Nebula), Messier 17 (M17, NGC 6618 Omega, Swan, Horseshoe or Lobster Nebula), Messier 18 (M18, NGC 6613), Messier 20 (M20, NGC 6514, Trifid Nebula), Messier 21 (M21, NGC 6531), Messier 22 (M22, NGC 6656, Sagittarius Cluster), Messier 23 (M23, NGC 6494), Messier 24 (M24, NGC 6603, Sagittarius Star Cloud), Messier 25 (M25, IC 4725), Messier 28 (M28, NGC 6626), Messier 54 (M54, NGC 6715), Messier 55 (M55, NGC 6809), Messier 69 (M69, NGC 6637), Messier 70 (M70, NGC 6681) and Messier 75 (M75, NGC 6864). There are no meteor showers associated with the constellation.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN SAGITTARIUS</h3>
<br />
<h3>Kaus Australis – ε Sagittarii (Epsilon Sagittarii)</h3>
<p class="milkywaytext">
Epsilon Sagittarii is a binary star approximately 143 light years distant. It is a blue class B giant with an apparent magnitude of 1.79 and a luminosity 375 times that of the Sun. Kaus Australis is the brightest star in the constellation Sagittarius and the 36th brightest star in the sky. It has a faint 14th magnitude companion 32 arc seconds away.
</p>
<p class="milkywaytext">
The star’s traditional name, Kaus Australis, comes from the Arabic word for “bow” (qaws) and the Latin word for “southern” (australis). The star marks the base of the archer’s bow. Together with the stars Delta (Kaus Media) and Lambda Sagittarii (Kaus Borealis), Epsilon Sagittarii represents the archer’s bow.
</p>
<br />
<h3>Nunki – σ Sagittarii (Sigma Sagittarii)</h3>
<p class="milkywaytext">
Sigma Sagittarii is the second brightest star in the constellation Sagittarius. It is a hydrogen fusing dwarf star that belongs to the spectral type B2.5 V. It has an apparent magnitude of 2.1. The star has a luminosity 3,300 times that of the Sun and about seven solar masses. It is a very fast rotator, spinning with a speed of more than 200 kilometres per second, which is about 100 times faster than the Sun. The star lies approximately 228 light years from Earth.
</p>
<p class="milkywaytext">
Sigma Sagittarii is sometimes also known as Nunki. This is the star’s modern name, which is either Babylonian or Assyrian in origin. The significance of the name is unknown, except that it is a proper name. It was recovered by archaeologists and made public by Richard Hinckley Allen in his book Star names, their lore and meaning.
</p>
<br / >
<h3>Kaus Media – δ Sagittarii (Delta Sagittarii)</h3>
<p class="milkywaytext">
Delta Sagittarii is a multiple star system approximately 306 light years distant in the constellation Sagittarius. It has an apparent magnitude of 2.72 and belongs to the spectral type K3III.
</p>
<p class="milkywaytext">
Delta Sagittarii has a radius 62 times solar, a mass about five times solar, and is 1180 times more luminous than the Sun. The star’s traditional name, Kaus Media, means “the middle bow.” The primary star in the Delta Sagittarii system has three dim companions: Delta Sagittarii B, a 14th magnitude star 26 arc seconds away, Delta Sagittarii C, a 15th magnitude star 40 arc seconds away, and Delta Sagittarii D, a 13th magnitude star 58 arc seconds away.
</p>
<br />
<h3>Kaus Borealis – λ Sagittarii (Lambda Sagittarii) </h3>
<p class="milkywaytext">
Lambda Sagittarii is an orange giant star, belonging to the spectral class K1+IIIb, with an apparent magnitude of 2.82. It is approximately 77.3 light years distant. It has a radius 11 times solar and is 52 times more luminous than the Sun. Lambda Sagittarii is what astronomers sometimes refer to as a clump star: one undergoing the final stages of its existence, but stable nevertheless and fusing helium into carbon and oxygen in its core.
</p>
<p class="milkywaytext">
The star’s traditional name, Kaus Borealis, means “the northern bow.” It marks the top of the centaur’s bow. Since it lies very close to the ecliptic, Lambda Sagittarii is occasionally occulted by the Moon and, more rarely, by planets. The last time this happened was on November 19, 1984, when Venus passed in front of the star, eclipsing it. Before that, Mercury occulted the star on December 5, 1865.
</p>
<br />
<h3>Rukbat – α Sagittarii (Alpha Sagittarii)</h3>
<p class="milkywaytext">
Alpha Sagittarii is a blue dwarf belonging to the spectral class B8V. It has an apparent magnitude of 3.97 and is approximately 170 light years distant. The star is believed to have a debris disk, like Vega, the brightest star in the constellation Lyra. What is atypical for a B8V class star is that Alpha Sagittarii is emitting an excess flux of X-rays, possibly because its companion star is still in the pre-main sequence stage.
</p>
<p class="milkywaytext">
Alpha Sagittarii shares its traditional name, Rukbat, with the star Delta Cassiopeiae (now formally known as Ruchbah). The name is derived from the Arabic word rukbah, which means “knee".
</p>
<br />
<h3>Arkab – β Sagittarii (Beta Sagittarii)</h3>
<p class="milkywaytext">
Beta Sagittarii is a designation shared by two star systems, Beta-1 Sagittarii and Beta-2 Sagittarii, which lie 0.36° apart in the sky. The system is also known by its traditional name, Arkab, from the Arabic carqūb, which means “hamstring".
</p>
<p class="milkywaytext">
Beta-1 Sagittarii, or Arkab Prior (prior because it leads Beta-2 across the sky), is a double star approximately 378 light years distant. It belongs to the spectral type B9V. The primary component, Arkab Prior A, is a B9 type main sequence dwarf with an apparent magnitude of 3.96, while the companion star, Arkab Prior B, is a class A3 dwarf with an apparent magnitude of 7.4. The stars are 28 arc seconds apart.
</p>
<br />
<h3>Ascella – ζ Sagittarii (Zeta Sagittarii)</h3>
<p class="milkywaytext">
  Zeta Sagittarii is another binary star in Sagittarius. It is the third brightest star in the constellation, after Epsilon and Sigma Sagittarii. Its traditional name, Ascella, means “armpit” in Latin. The star is approximately 89.1 light years distant from Earth.
</p>
<p class="milkywaytext">
  Zeta Sagittarii consists of a class A2 giant star with an apparent magnitude of 3.26 and an A4 type subgiant star with an apparent magnitude of 3.37. The binary system has a combined apparent magnitude of 2.60. The two stars are separated by 13.4 astronomical units (AU). Ascella also has a dim companion 75 arc seconds away. It is a 10th magnitude star.
</p>
<%- include('footer'); -%>
