<%- include('header'); -%>
</div>
</section>
<br />
<br />

<h2 class="newsheading"><big>Most Popular Satellites</big></h2>
<br />
<br />

<img class="milkyimg" src="/images/satellite.jpg" alt="satellite" />
<br />
<br />
<br />

<table id="customers">
  <tr>
    <th>Name</th>
    <th>
      Description
      </th>
      <th>
        Launched
        </th>
    </tr>

  <tr>
    <td>SPACE STATION</td>
    <td>The International Space Station (ISS) is a joint project of five space agencies: the National Aeronautics and Space Administration (United States), the Russian Federal Space Agency (Russian Federation), the Japan Aerospace Exploration Agency (Japan), the Canadian Space Agency (Canada) and the European Space Agency (Europe).</td>
<td>
  November 20, 1998
  </td>
  </tr>
  <tr>
    <td>SES 1</td>
    <td>SES 1 is a communications satellite designed to replace two aging spacecraft serving North America.</td>
    <td>
      April 24, 2010
      </td>
  </tr>
  <tr>
    <td>NOAA 19 </td>
    <td>NOAA 19 is the fifth in a series of five Polar-orbiting Operational Environmental Satellites (POES) with advanced microwave sounding instruments that provide imaging and sounding capabilities.
      </td>
      <td>
        February 6, 2009
        </td>
  </tr>
  <tr>
    <td>GOES 13</td>
    <td>	GOES 13 is an American (NOAA) geostationary weather satellite that was launched by a Delta 4 rocket from Cape Canaveral at 22:11 UT on 24 May 2006.</td>
    <td>
      May 24, 2006
      </td>
  </tr>

  <tr>
    <td>NOAA 15</td>
    <td>NOAA 15 (designated NOAA-K before launch) is one of the NASA-provided TIROS series of weather forecasting satellite run by NOAA.</td>
    <td>
      May 13, 1998
      </td>
  </tr>
  <tr>
    <td>NOAA 18</td>
    <td>NOAA 18, known before launch as NOAA-N, is a weather forecasting satellite run by NOAA.</td>
    <td>
      May 20, 2005
      </td>
  </tr>
  <tr>
    <td> TERRA </td>
    <td>	TERRA (EOS AM-1) is a multi-national NASA scientific research satellite in a Sun-synchronous orbit around the Earth. </td>
    <td>
December 18, 1999
      </td>
  </tr>
  <tr>
    <td>AQUA</td>
    <td>AQUA (EOS-PM1) is an afternoon equator-crossing platform which includes a suite of sensors designed to study the diurnal properties of cloud and aerosol radiative fluxes, cloud formation, and precipitation (MIMR, AIRS/AMSU-A/MHS, and MODIS-N) in conjunction with a wind scatterometer planned for the Japanese ADEOS-II spacecraft.</td>
    <td>
      May 4, 2002
      </td>
  </tr>


  <tr>
    <td>METOP-B</td>
    <td>METOP-B is a 9,005-pound (4,085-kg) spacecraft outfitted with eight instruments to survey clouds, winds, moisture, greenhouse gases, and other atmospheric conditions for at least five years.</td>
    <td>
September 17, 2012
      </td>
  </tr>
  <tr>
    <td>GOES 15</td>
    <td>GOES 15 (GOES-P) is an American weather satellite, which will form part of the Geostationary Operational Environmental Satellite (GOES) system operated by the US National Oceanic and Atmospheric Administration.</td>
    <td>
      March 4, 2010
      </td>
  </tr>
  <tr>
    <td> FOX-1A (AO-85)</td>
    <td>FOX-1A is a small 1-Unit CubeSat developed by AMSAT. </td>
    <td>October 8, 2015
      </td>
  </tr>
  <tr>
    <td>SAUDISAT 1C</td>
    <td>SAUDISAT 1C (or SO-50, Saudi-OSCAR 50) carries several experiments, including a mode J FM amateur repeater experiment operating on 145.</td>
    <td>
      December 20, 2002
      </td>
  </tr>
  <tr>
    <td>KMS-4</td>
    <td>
      KMS-4 (Kwangmyongsong-4 meaning Bright Star-4 or Lodestar-4 in Korean) is an earth observation satellite launched by North Korea on 7 February 2016.</td>
      <td>
        February 7, 2016
        </td>
  </tr>
  <tr>
    <td>TIANGONG 1</td>
    <td>TIANGONG 1 is the first Chinese space laboratory module launched on a critical test flight to demonstrate the vital docking technology required for a future space station.</td>
    <td>
      September 29, 2011
      </td>
  </tr>
  <tr>
    <td>METEOR M2</td>
    <td>METEOR M2 was designed to watch global weather, the ozone layer, the ocean surface temperature and ice conditions to facilitate shipping in polar regions and to monitor radiation environment in the near-Earth space.</td>
    <td>
      July 8, 2014
      </td>

</table>
<%- include('footer'); -%>
