<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Saturn Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/saturnnebula.jpeg" alt="saturn nebula" />
<p class="milkywaytext">
  The Saturn Nebula (NGC 7009) is a small but fairly bright planetary nebula found in Aquarius constellation, about a degree west of the star Nu Aquarii. The nebula has an apparent magnitude of 8.0 and lies at an estimated distance between 2,000 and 4,000 light years from Earth. It was named the Saturn Nebula by Lord Rosse in 1840s, who noted its resemblance to the planet, with its rings appearing almost edge-on when seen from Earth.
</p>
<p class="milkywaytext">
  The Saturn Nebula has an apparent size of 41″ by 35″, which translates into a linear radius between 0.2 and 0.4 light years, depending on the nebula’s exact distance, which is uncertain. The most recent estimates place it at 5,000 light years. The nebula’s central region measures 25″ by 17″.
</p>
<p class="milkywaytext">
  The nebula was formed when a low-mass star expelled its outer layers, which are now illuminated by strong ultraviolet irradiation from the remnant of the progenitor star, a bright white dwarf with a temperature of 55,000 K and a visual magnitude of 11.5. The central star has an absolute magnitude of +1.5, which translates into a luminosity about 20 times that of the Sun. The nebula is moving toward us at a radial velocity of 28 miles per second.
</p>
<img class="milkyimg" src="/images/saturn-nebula.jpeg" alt="saturn nebula" />

<p class="milkywaytext">
  The nebula has a complex structure consisting of a number of sub-systems, including jet-like streams, several shells, filaments, knots, ansae and a halo. The ansae (handles of low-density gas protruding from either side of the disk, spanning 41 arc seconds) are particularly striking in this nebula, but have also been observed in other planetary nebulae, including the Cat’s Eye Nebula (NGC 6543) in Draco constellation, the Ghost of Jupiter (NGC 3242) in Hydra, and the Gemini Nebula, sometimes also known as the Peanut Nebula (NGC 2371-2), in Gemini.
</p>
<p class="milkywaytext">
  The Saturn Nebula can be seen in small amateur telescopes and appears as a hazy greenish or yellowish patch. 10-inch telescopes will reveal the ansae under good viewing conditions. The nebula lies in the western part of Aquarius, just west of Nu Aquarii and 2 degrees northeast of the asterism Messier 73.

</p>
<p class="milkywaytext">
  The nebula was discovered by William Herschel on September 7, 1782, who used his own home-built telescope to observe this area of the sky from his home in Datchet, England. NGC 7009 was one of the first objects he discovered. Herschel himself coined the term planetary nebula because, at the time, he believed that these nebulae were contracting clouds of material around young stars, which would eventually form planets in the stars’ orbit.
</p>
<p class="milkywaytext">
  The Saturn Nebula was recently studied by the Multi Unit Spectroscopic Explorer (MUSE) instrument, installed at the Very Large Telescope (VLT) of the European Southern Observatory’s (ESO) Paranal Observatory in Chile. ESO researchers were able to accurately map the nebula in order to better understand its structure.
</p>
<p class="milkywaytext">
  The team discovered a wave-like feature in the dust, which is typically evenly distributed throughout the nebula. However, the rim of the Saturn Nebula’s inner shell has a distinct lack of dust. This has led astronomers to speculate that the dust is being destroyed in this part of the nebula, either by a shockwave (in the form of nebula’s expanding inner shell) smashing into it and destroying it or a shockwave causing a strong heating effect that evaporates the dust. By using MUSE to map planetary nebulae’s complex structures, astronomers are hoping to shed some light on the role that dust and gas play in the lives and deaths of low-mass stars, as well as on the ways that the complex structures of these nebulae are formed.
</p>
<%- include('footer'); -%>
