<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Scorpius</big></h1>
<br />
<img class="milkyimg" src="/images/scorpius.jpeg" alt="scorpio" />
<p class="milkywaytext">
Scorpius constellation lies in the southern sky. It represents the scorpion and is associated with the story of Orion in Greek mythology.
</p>
<p class="milkywaytext">
Scorpius is one of the zodiac constellations, first catalogued by the Greek astronomer Ptolemy in the 2nd century. The Sumerians called it GIR-TAB, or “the scorpion,” about 5,000 years ago.
</p>
<p class="milkywaytext">
The constellation is easy to find in the sky because it is located near the centre of the Milky Way. It contains a number of notable stars and deep sky objects, including the bright stars Antares and Shaula, the Butterfly Cluster (Messier 6), the Ptolemy Cluster (Messier 7), Cat’s Paw Nebula (NGC 6334), the Butterfly Nebula (NGC 6302), and the War and Peace Nebula (NGC 6357).
</p>
<p class="milkywaytext">
Scorpius is the 33rd constellation in size, occupying an area of 497 square degrees. It lies in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +40° and -90°. The neighboring constellations are Ara, Corona Australis, Libra, Lupus, Norma, Ophiuchus and Sagittarius.
</p>
<p class="milkywaytext">
Scorpius contains four Messier objects – Messier 4 (M4, NGC 6121), Messier 6 (M6, NGC 6405, Butterfly Cluster), Messier 7 (M7, NGC 6475, Ptolemy Cluster) and Messier 80 (NGC 6093). It also has 13 stars with known planets. The brightest star in the constellation is Antares, Alpha Scorpii, with an apparent magnitude of 0.96. Antares is also one of the brightest stars in the sky. There are two meteor showers associated with the constellation: the Alpha Scorpiids and the Omega Scorpiids.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN SCORPIUS</h3>
<br />
<h3>Antares – α Scorpii (Alpha Scorpii)</h3>
<p class="milkywaytext">
Antares is a red supergiant star with a visual magnitude of 0.96, approximately 550 light years distant from the Sun. It is the brightest star in the Scorpius constellation and the 16th brightest star in the night sky. Sometimes it is referred to as the 15th brightest star if the two brighter components in the Capella (Alpha Aurigae, located in Auriga constellation) system are counted as one star.
</p>
<p class="milkywaytext">
Antares is one of the four first magnitude stars lying within 5° of the ecliptic, along with Aldebaran in the Taurus constellation, Spica in Virgo, and Regulus in Leo. It can be occulted by the Moon and very infrequently by Venus. (The last recorded occultation by Venus occurred on September 17, 525 BC).
</p>
<p class="milkywaytext">
Antares is the most massive, brightest and most evolved member of the Scorpius-Centaurus association, the nearest OB stellar association to the solar system. The star belongs to the spectral class M1.5lab-b and has the radius about 883 times solar. It is approximately 10,000 times more luminous than the Sun, and has between 15 and 18 solar masses. The star’s estimated age is about 12 million years.
</p>
<br />
<h3>Shaula – λ Scorpii (Lambda Scorpii)</h3>
<p class="milkywaytext">
Shaula is the second brightest star in Scorpius and the 25th brightest star in the sky. It is approximately 700 light years distant from the solar system.
</p>
<p class="milkywaytext">
Lambda Scorpii is a multiple star system with three visible components, Lambda Scorpii A, Lambda Scorpii B, and Lambda Scorpii C. Lambda Scorpii A is a triple star system composed of two class B stars and a pre-main sequence star. Lambda Scorpii B lies 42 arc seconds away from the first component, and Lambda Scorpii C is a 12th magnitude star 95 arc seconds away from component A.
</p>
<p class="milkywaytext">
The primary star in the Lambda Scorpii A system is a Beta Cephei type variable. The estimated age of the star system is about 10-13 million years.
</p>
<br />
<h3>Acrab (Graffias) – β Scorpii (Beta Scorpii) </h3>
<p class="milkywaytext">
Beta Scorpii is another multiple star system in Scorpius. In small telescopes, it appears as a binary star with two components separated by 13.5 seconds of arc. The brighter of the two components is itself a binary star with an orbital period of 610 years and its own brighter component is a spectroscopic binary, with components separated by only 1.42 miliarcseconds and orbiting each other every 6.82 days. The other visual component also has two subcomponents with an angular separation of 0.1328 and an orbital period of 39 years. The dimmer subcomponent is yet another spectroscopic binary star with an orbital period of 10.7 days.
</p>
<p class="milkywaytext">
The two most massive stars in the system are main sequence stars belonging to the spectral class B. Each has at least 10 solar masses and both are expected to end their lives in massive Type II supernova explosions.
</p>
<p class="milkywaytext">
Beta Scorpii’s traditional name, Acrab (Akrab, Elacrab) is derived from the Arabic al-‘Aqrab, which means “the scorpion.” The star’s other proper name, Graffias, which it shares with Xi Scorpii, means “the claws".
</p>
<br />
<h3>Dschubba – δ Scorpii (Delta Scorpii) </h3>
<p class="milkywaytext">
Delta Scorpii has the stellar classification B0.3 IV and is approximately 490 light years distant. It has a visual magnitude of 2.307. The star has a class B companion orbiting it every 20 days, and another star in a very eccentric orbit that orbits the primary star every 10 years.
</p>
<p class="milkywaytext">
Delta Scorpii’s traditional name, Dschubba (or Dzuba) comes from the Arabic jabhat, which means “the forehead,” referring to the scorpion’s forehead. Sometimes the star is also known as Iclarcrau or Iclarkrav.
</p>
<br />
<h3>Sargas – θ Scorpii (Theta Scorpii)</h3>
<p class="milkywaytext">
Theta Scorpii is an evolved bright yellow giant star belonging to the spectral class F0 II. It has an apparent magnitude of 1.87 and is approximately 300 light years distant from the solar system. The star has 5.7 solar masses, 26 times the solar radius, and is 1,834 times more luminous than the Sun. It has a companion with an apparent magnitude of 5.36 located 6.470 arc seconds away from the primary star. The star’s traditional name, Sargas, is of Sumerian origin. The meaning of the name is unknown.
</p>
<br />
<h3>ε Scorpii (Epsilon Scorpii)</h3>
<p class="milkywaytext">
Epsilon Scorpii is a giant star with the stellar classification K1 III. It has a visual magnitude of 2.310 and is 63.7 light years distant. The star has a radius almost 13 times that of the Sun. It is classified as a variable, as its brightness varies slightly, only by 0.01-0.02 magnitudes.
</p>
<%- include('footer'); -%>
