<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Scupltor Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/sculptor.jpeg" alt="scupltor" />
<p class="milkywaytext">
  The Sculptor Galaxy (also known as the Silver Coin, Silver Dollar Galaxy, NGC 253, or Caldwell 65) is an intermediate spiral galaxy in the constellation Sculptor. The Sculptor Galaxy is a starburst galaxy, which means that it is currently undergoing a period of intense star formation.
</p>

<p class="milkywaytext">
  The galaxy was discovered by Caroline Herschel in 1783 during one of her systematic comet searches. About half a century later, John Herschel observed it using his 18-inch metallic mirror reflector at the Cape of Good Hope.
</p>
<img class="milkyimg" src="/images/scupltor.jpeg" alt="scupltor" />

<p class="milkywaytext">
  As one of the brightest galaxies in the sky, the Sculptor Galaxy can be seen through binoculars and is near the star Beta Ceti. It is considered one of the most easily viewed galaxies in the sky after the Andromeda Galaxy.
</p>
<p class="milkywaytext">
  The Sculptor Galaxy is a good target for observation with a telescope with a 300 mm diameter or larger. In such telescopes, it appears as a galaxy with a long, oval bulge and a mottled galactic disc. Although the bulge appears only slightly brighter than the rest of the galaxy, it is fairly extended compared to the disk.In 400 mm scopes and larger, a dark dust lane northwest of the nucleus is visible, and over a dozen faint stars can be seen superimposed on the bulge.
  </p>
<%- include('footer'); -%>
