<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Sedna</big></h1>
<br />
<img class="milkyimg" src="/images/sedna.jpeg" alt="sedna" />
<p class="milkywaytext">
Sedna is a solar system body that is one of the most distant bodies found in our solar system. The object's closest approach to the sun is far greater than Pluto's distance away from Earth.
</p>
<p class="milkywaytext">
At 8 billion miles (12.8 billion kilometers) away, it's hard to figure out things such as surface features, but one thing astronomers have been able to identify is Sedna's distinct reddish color. In 2004, it was described as the second-reddest object in our solar system, after Mars.
</p>

<img class="milkyimg" src="/images/sednasurface.jpeg" alt="sedna" />
<p class="milkywaytext">
Sedna takes some time to orbit the sun, not only because of its vast distance but also because its orbit is so elliptical or oval-shaped. The small world takes roughly 10,000 years to complete one circuit around the sun. At the time of its discovery, it was at one of the closest points of its orbit to the sun, making it easier to spot.
</p>
<p class="milkywaytext">
Sedna's orbit is extremely elongated, which is quite different from the circular planetary orbits that feature in our solar system.
</p>
<p class="milkywaytext">
"So the zeroth-order piece of information is that, somewhere out there, something perturbed Sedna, and that thing is no longer there. Now, that thing could've been another planet; it could have been a star that came close to the sun; it could have been a lot of stars, if the sun was born in a cluster," Brown said.
</p>
<p class="milkywaytext">
These discoveries spurred the International Astronomical Union to examine the definition of a planet in a 2006 meeting in Prague. The astronomers present voted that a planet 1) is a body orbiting the sun without being another object's satellite, 2) has a mass large enough to be nearly round, and 3) has cleared debris from its orbit. Dwarf planets, while also in orbit around the sun and mostly round, have not cleared debris from their orbits.
</p>
<img class="milkyimg" src="/images/sednaface.webp" alt="sedna" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Sedna is extremely far from the sun, in the coldest known region of our solar system, where temperatures never rise above minus 240 degrees Celsius (minus 400 degrees Fahrenheit). The planetoid is usually even colder, because it approaches the sun only briefly during its 10,500- year solar orbit. At its most distant, Sedna is 130 billion kilometers (84 billion miles) from the sun, which is 900 times Earth's solar distance.
</p>
<p class="milkywaytext">
  "The sun appears so small from that distance that you could completely block it out with the head of a pin," said Dr. Mike Brown, California Institute of Technology (Caltech), Pasadena, Calif., associate professor of planetary astronomy and leader of the research team. The object, called Sedna for the Inuit goddess of the ocean, is 13 billion kilometers (8 billion miles) away, in the farthest reaches of the solar system.
  </p>
<p class="milkywaytext">
Scientists used the fact that even the Spitzer telescope was unable to detect the heat of the extremely distant, cold object to determine it must be less than 1,700 kilometers (about 1,000 miles) in diameter, which is smaller than Pluto. By combining available data, Brown estimated Sedna's size at about halfway between Pluto and Quaoar, a smaller planetoid discovered by the same team in 2002.
</p>
<%- include('footer'); -%>
