<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>P/Shoemaker-Levy 9 </big></h1>
<br />
<img class="milkyimg" src="/images/shoemaker.jpeg" alt="shoemaker-levy" />
<p class="milkywaytext">
  Shoemaker-Levy 9 was discovered by Carolyn and Gene Shoemaker and David Levy in a photograph taken on Mar. 18, 1993 with the 0.4-meter Schmidt telescope at Mt. Palomar.
</p>
<p class="milkywaytext">
  Comet Shoemaker-Levy 9 was captured by the gravity of Jupiter, torn apart and then crashed into the giant planet in July 1994.
</p>
<p class="milkywaytext">
  When the comet was discovered in 1993, it already had been torn into more than 20 pieces traveling around the planet in a two year orbit. Further observations revealed the comet (believed to be a single body at the time) had made a close approach
  to Jupiter in July 1992 and was torn apart by tidal forces resulting from planet's powerful gravity. The comet was thought to have been orbiting Jupiter for about a decade before its demise.
</p>
<p class="milkywaytext">
  The disruption of a comet into multiple fragments was rare and observing a captured comet in orbit about Jupiter was even more unusual, but the biggest and rarest revelation was that the fragments were going to smash into Jupiter.
</p>
<p class="milkywaytext">
  NASA had spacecraft in position to watch—for the first time in history—a collision between two bodies in the solar system.
</p>
<p class="milkywaytext">
  NASA's Galileo orbiter (then still en route to Jupiter) captured unprecedented direct views as the string of fragments labeled A through W smashed into Jupiter's cloud tops. The impacts started on 16 July 1994 and ended on 22 July 1994.
</p>
<img class="milkyimg" src="/images/jupitercomet.jpeg" alt="shoemaker-levy" />

<p class="milkywaytext">
  Many observatories and orbiting spacecraft including Hubble Space Telescope, Ulysses and Voyager 2 also studied the impact and its aftermath.
</p>
<p class="milkywaytext">
  The "freight train" of fragments smashed into Jupiter with the force of 300 million atomic bombs. The fragments created huge plumes that were 2,000 to 3,000 kilometers (1,200 to 1,900 miles) high, and heated the atmosphere to temperatures as hot as
  30,000 to 40,000 degrees Celsius (53,000 to 71,000 degrees Fahrenheit). Shoemaker-Levy 9 left dark, ringed scars that were eventually erased by Jupiter's winds.
</p>
<P class="milkywaytext">
  While the impact was dramatic, it was more than a show. It gave scientists an opportunity to gain new insights into Jupiter, Shoemaker-Levy 9 and cosmic collisions in general. Researchers were able to deduce the composition and structure of the
  comet. The collision also left dust floating on the top of Jupiter's clouds. By watching the dust spread across the planet, scientists were able to track high-altitude winds on Jupiter for the first time. And by comparing changes in the
  magnetosphere with changes in the atmosphere following the impact, scientists were able to study the relation-ship between them.
</P>
<p class="milkywaytext">
  Scientists have calculated that the comet was originally about 1.5 to 2 kilometers (0.9 to 1.2 miles) wide. If a similar-sized object were to hit Earth, it would be devastating. The impact might send dust and debris into the sky, creating a haze
  that would cool the atmosphere and absorb sunlight, enveloping the entire planet in darkness. If the haze lasted long enough, plant life would die - along with the people and animals that depend on it to survive.
</p>
<P class="milkywaytext">
  These kinds of collisions were more frequent in the early solar system. In fact, comet impacts were probably the main way that elements other than hydrogen and helium got to Jupiter.
</P>
<P class="milkywaytext">
  Today, impacts of this size probably occur only every few centuries—and pose a real threat.
</P>
<p class="milkywaytext">
  The comet was named for its discoverers. Shoemaker-Levy 9 was the ninth short-periodic comet discovered by Eugene and Carolyn Shoemaker and David Levy.​
</p>
<%- include('footer'); -%>
