<%- include('header'); -%>
</div>
</section>
<br />
<br />
<br />
<h1 class="newsheading">Pack Your Backpack!!!</h1>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/oriongoscope.jpg" />
            <div class="card-body">
              <p class="factbox">Orion Goscope III 70mm Refractor Special Travel Telescope Kit, Red (21099)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3oDvPOS">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                    <a href="https://amzn.to/3oDvPOS">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/celestron.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron AstroMaster 130 EQ Telescope</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/342anLv">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/342anLv">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/celestron1.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron 21045 114mm Equatorial PowerSeeker EQ Telescope</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/https://amzn.to/3gxhPU9">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="/https://amzn.to/3gxhPU9">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd row---------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/celestron3.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron 21062 AstroMaster 70 EQ Refractor Telescope (Black)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3qKjCtD">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3qKjCtD">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/powerseek.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron PowerSeeker 70EQ Telescope (Black)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3maef3b">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                    <a href="https://amzn.to/3maef3b">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/vixen.jpg" />
            <div class="card-body">
              <p class="factbox">Vixen R200SS 8" Newtonian Reflector Telescope w/Feathertouch Focuser</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3ncihd2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3ncihd2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--3rd row------------------------------------------------------------------------------------------------------>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/celestron114.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron 114 LCM Computerized Telescope (Black)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/2IAagPQ">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/2IAagPQ">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/zhumbell.jpg" />
            <div class="card-body">
              <p class="factbox">Zhumell ZHUN002-1 76mm AZ Reflector Telescope, Black</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3gxlwct">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3gxlwct">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/celestronaz.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron 31036 AstroMaster LT 76AZ Breathtaking Views, Astronomical Telescope, Blue</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3gCK3Nk">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3gCK3Nk">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--4th row------------------------------------------------------------------------------------------------------------>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/ultima.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron Ultima 100 Angled Spotting Scope – 22 to 66x100mm Zoom Eyepiece – Multi-Coated Optics for Bird Watching, Wildlife, Scenery and Hunting – Waterproof and Fogproof – Includes Soft Carrying Case</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/2W1snBp">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/2W1snBp">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/nextar.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron NexStar 4 SE Telescope</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/2KgIXuA">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/2KgIXuA">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/skyprodigy.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron SkyProdigy 6, 11076 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3n7kYfQ">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3n7kYfQ">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--5th row ----------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/upclose.jpg" />
            <div class="card-body">
              <p class="factbox">Celestron Upclose Refractor Series 52229 Upclose Refractor Series 60mm Zoom Spotting Scope (Black) </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/2W1xvFz">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/2W1xvFz">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/karmakara.jpg" />
            <div class="card-body">
              <p class="factbox">Karmakara Antique Maritime Brass Telescope With Adjustable Tripod Standã‚ </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3m3FnRG">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3m3FnRG">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/astrozap.jpg" />
            <div class="card-body">
              <p class="factbox">Astrozap Light Shroud - Meade 12" LightBridge Dobsonian </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/372RUR4">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/372RUR4">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--6th ----------------------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/skyscanner.jpg" />
            <div class="card-body">
              <p class="factbox">Orion 10012 SkyScanner 100mm TableTop Reflector Telescope (Burgundy) </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/2LqRcVl">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/2LqRcVl">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/focal.jpg" />
            <div class="card-body">
              <p class="factbox">Orion 8894 0.8X Focal Reducer for Refractor Telescopes </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3man5hn">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3man5hn">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/dualfocal.jpg" />
            <div class="card-body">
              <p class="factbox">Orion 13032 2-Inch Dual-Speed Crayford Refractor Telescope Focuser </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3m1Od2l">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3m1Od2l">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--7th row----------------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/nexstar.webp" />
            <div class="card-body">
              <p class="factbox">Celestron NexStar 6SE Computerized Telescope </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/33VZ87t">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/33VZ87t">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/meade.jpg" />
            <div class="card-body">
              <p class="factbox">Meade Instruments 07356 SLR 1.25-Inch Basic Camera Adapter for Refractor and Reflector Telescopes (Black)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/377hO6i">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/377hO6i">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img  class="newsimg" src="images/meadeultra.jpg" />
            <div class="card-body">
              <p class="factbox">Meade Instruments Ultra Wide Angle 20mm 2-Inch Waterproof Eyepiece (7743) </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://amzn.to/3a0FgDN">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </a>
                  <a href="https://amzn.to/3a0FgDN">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
<%- include('footer'); -%>
