<%- include('header1'); -%>
</div>
</section>
<div class="loginbox">
  <img src="images/avatar.png" class="avatar" />
  <h1>Sign Me Up</h1>
  <form action="/signup" method="POST">
    <p>Email</p>
    <input type="email" name="username" placeholder="Enter E-mail" />
    
    <input type="submit" name="" value="Login" />
    <a href="#">Free Newsletters Will be send via Email.    Please Make Sure You Enter Proper E-Mail Id.</a><br />

  </div>

  </body>
  </html>
