<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Small Magellanic Cloud</big></h1>
<br />
<img class="milkyimg" src="/images/small.jpeg" alt="small Magellanic" />
<p class="milkywaytext">
  The Small Magellanic Cloud (SMC), or Nubecula Minor, is a dwarf galaxy near the Milky Way.Classified as a dwarf irregular galaxy, the SMC has a diameter of about 7,000 light-years, contains several hundred million stars,and has a total mass of approximately 7 billion solar masses. The SMC contains a central bar structure, and astronomers speculate that it was once a barred spiral galaxy that was disrupted by the Milky Way to become somewhat irregular. At a distance of about 200,000 light-years, the SMC is among the nearest intergalactic neighbors of the Milky Way and is one of the most distant objects visible to the naked eye.
</p>
<p class="milkywaytext">
  The SMC is visible from the entire Southern Hemisphere, but can be fully glimpsed low above the southern horizon from latitudes south of about 15° north. The galaxy is located across both the constellations of Tucana and part of Hydrus, appearing as a faint hazy patch resembling a detached piece of the Milky Way. The SMC has an average apparent diameter of about 4.2° (8 times the Moon's) and thus covers an area of about 14 square degrees (70 times the Moon's). Since its surface brightness is very low, this deep-sky object is best seen on clear moonless nights and away from city lights. The SMC forms a pair with the Large Magellanic Cloud (LMC), which lies 20° to the east, and like the LMC, is a member of the Local Group and highly probably is a former satellite of the Large Magellanic Cloud and a current satellite of the Milky Way.
</p>
<%- include('footer'); -%>
