<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Sombrero Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/som.jpg" alt="sombrero" />
<p class="milkywaytext">
  Sombrero's unusually large and extended central bulge of stars, and dark prominent dust lanes that appear in a disk that we see nearly edge-on. Billions of old stars cause the diffuse glow of the extended central bulge. Close inspection of the bulge in the above photograph shows many points of light that are actually globular clusters.
</p>

<p class="milkywaytext">
  The spectacular dust rings harbor many younger and brighter stars, and show intricate details astronomers don't yet fully understand. The very center of the Sombrero is thought to house a large black hole. Fifty million-year-old light from the Sombrero Galaxy can be seen with a small telescope towards the constellation of Virgo.
</p>
<%- include('footer'); -%>
