<%- include('header'); -%>
</div>
</section>
<br />
<br />

<h2 class="newsheading"><big>Basics of Space Flight</big></h2>
<br />
<br />

<br />
<h3>Launch Vehicles</h3>
<img class="milkyimg" src="/images/rocket.jpg" alt="rockets" />
<p class="milkywaytext">
  The launch of a spacecraft comprises a period of powered flight during which the vehicle rises above Earth's atmosphere and accelerates at least to orbital velocity. Powered flight ends when the rocket's last stage burns out, and the spacecraft separates and continues in freefall. If the spacecraft has achieved escape from Earth's gravitation, rather than entering Earth orbit, its flight path will then be purely a solar orbit of some description (since the launch pad was also in solar orbit).
</p>
<p class="milkywaytext">
  To date, the only practical way to produce the propulsive energy needed for launching spacecraft from Earth has been by combustion of chemical propellants. Mass drivers, however, may be useful in the future for launching material from the Moon or other small airless bodies. lon-engine propulsion, whether powered by photovoltaics or nuclear reactors, is useful not for launch phase, but for gently but steadily accelerating spacecraft that are already in Earth orbit or beyond.
  </p>
  <p class="milkywaytext">
    there are two groups of propellants for chemical-combustion rockets, liquids and solids. Many spacecraft launches involve the use of both types of rockets, for example the solid rocket boosters attached to liquid-propelled rockets. Hybrid rocket engines use a combination of solid and liquid propellants. Solid rockets are generally simpler than liquid, but they cannot be shut down once ignited. Liquid and hybrid engines may be shut down after ignition and, in some designs, can be re-ignited as needed.
    </p>
    <img class="milkyimg" src="/images/rocket2.png" alt="rockets" />

    <p class="milkywaytext">
      Upper Stage Rockets can be selected for placement atop the launch vehicle's lower stages (or within the Shuttle's cargo bay) to provide the performance needed for a particular payload. The Centaur high-energy upper stage has been a choice for robotic missions to the Moon and planets for many years.
      </p>
      <P class="milkywaytext">
        A sampling of launch vehicles of interest to interplanetary mission follows. One useful measure of performance for comparison among launch vehicles is the amount of mass it can lift to Geosynchronous Transfer Orbit, GTO.
        </P>
<br />
<h3>Launch Windows</h3>
<p class="milkywaytext">
  A launch window is the span of time during which a launch may take place while satisfying the constraints imposed by safety and mission objectives. For an interplanetary launch, the window is constrained typically within a number of weeks by the location of Earth in its orbit around the sun, in order to permit the vehicle to use Earth's orbital motion for its trajectory, while timing it to arrive at its destination when the target planet is in position. The launch window may also be constrained to a number of hours each day, in order to take best advantage of Earth's rotational motion. In the illustration above, the vehicle is launching from a site near the Earth's terminator which is going into night as the Earth's rotation takes it around away from the sun. If the example in the illustration were to launch in the early morning hours on the other side of the depicted Earth, it would be launching in a direction opposite Earth's orbital motion.
  </p>
  <br />
  <h3>Preparations For Launch</h3>
<p class="milkywaytext">
  ATLO stands for Assembly, Test, and Launch Operations. This period is usually scheduled very tightly. Spacecraft engineering components and instruments are all delivered according to plan where the spacecraft first takes shape in a large clean room. They are integrated and tested using computer programs for command and telemetry very much like those that will be used in flight. Communications are maintained with the growing spacecraft nearly continuously throughout ATLO. The spacecraft is transported to an environmental test lab where it is installed on a shaker table and subjected to launch-like vibrations. It is installed in a thermal-vacuum chamber to test its thermal properties, all the while communicating with engineers. Adjustments are made as needed in thermal blanketing, and thermal-vacuum tests may be repeated.
  </p>
  <img class="milkyimg" src="/images/rocket4.jpg" alt="rockets" />

  <p class="milkywaytext">
Then the spacecraft is transported to the launch site. The spacecraft is sealed inside an environmentally controlled carrier for the trip, and internal conditions are carefully monitored throughout the journey whether it is by truck or airplane.
    </p>
<p class="milkywaytext">
  Once at the launch site, additional testing takes place. Propellants are loaded aboard. Any pyrotechnic devices are armed. Then the spacecraft is mated to its upper stage, and the stack is hoisted and mated atop the launch vehicle. Clean-room conditions are maintained atop the launch vehicle while the payload shroud (fairing) is put in place.
  </p>
  <P class="milkywaytext">
    Pre-launch and launch operations of a JPL spacecraft are typically carried out by personnel at the launch site while in direct communication with persons at the Space Flight Operations Facility at JPL. Additional controllers and engineers at a different location may be involved with the particular upper stage vehicle, for example the Lockheed personnel at Sunnyvale, California, monitoring performance of the inertial upper stage (IUS) or the Centaur upper stage. The spacecraft's telecommunications link is maintained through ground facilities close to the launch pad prior to launch and during launch, linking the spacecraft's telemetry to controllers and engineers at JPL. Command sequences must be loaded aboard the spacecraft, verified, and initiated at the proper time prior to launch. Spacecraft health must be monitored, and the launch process interrupted if any critical tolerances are exceeded.
    </P>
<p class="milkywaytext">
  As soon as the spacecraft is launched, the DSN begins tracking, acquiring the task from the launch-site tracking station, and the mission's cruise phase is set to begin.
  </p>
<%- include('footer'); -%>
