<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>109P/Swift-Tuttle</big></h1>
<br />
<img class="milkyimg" src="/images/swift.jpeg" alt="swift" />
<p class="milkywaytext">
  Comet Swift-Tuttle was discovered in 1862 independently by both Lewis Swift and Horace Tuttle.
</p>
<p class="milkywaytext">
  Comet 109P/Swift-Tuttle takes 133 years to orbit the Sun once. Swift-Tuttle last reached perihelion (closest approach to the Sun) in 1992 and will return again in 2125.
</p>
<p class="milkywaytext">
  Swift-Tuttle is a large comet -- its nucleus is 16 miles (26 kilometers) across. (That is more than twice the size of the object hypothesized to have led the demise of the dinosaurs.)
</p>
<p class="milkywaytext">
  The pieces of space debris that interact with our atmosphere to create the popular Perseids meteor shower originate from Swift-Tuttle. This annual meteor shower takes place each August, and peaks mid-month. It was Giovanni Schiaparelli who realized in 1865 that this comet was the source of the Perseids.
</p>
<p class="milkywaytext">
  When comets come around the Sun, the dust they emit gradually spreads into a dusty trail around their orbits. Every year the Earth passes through these debris trails, which allows the bits to collide with our atmosphere where they disintegrate to create fiery and colorful streaks in the sky.
</p>
<p class="milkywaytext">
  Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. Since both Lewis Swift and Horace Tuttle discovered this comet it is named for them. The letter "P" indicates that Swift-Tuttle is a "periodic" comet. Periodic comets have an orbital period of less than 200 years.​
</p>
<%- include('footer'); -%>
