<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Tarantula Nebula</big></h1>
<br />
<img class="milkyimg" src="/images/tarantula.jpeg" alt="tarantula" />
<p class="milkywaytext">
  The Tarantula Nebula is a large emission nebula located in the southern constellation Dorado. The star-forming region lies within the Large Magellanic Cloud (LMC), a small satellite galaxy of the Milky Way and one of the nearest galaxies to our own, located on the border between Dorado and Mensa. The nebula is also known as 30 Doradus. It has the designation NGC 2070 in the New General Catalogue.
</p>
<p class="milkywaytext">
  The Tarantula Nebula is one of the better known nebulae not listed in the Messier catalogue. It is the most active region of star formation known in the Local Group of galaxies, as well as one of the largest, spanning 600 light years, or 13 arc minutes across the sky. The nebula contains more than 800,000 stars and protostars. The newly formed stars are frequently hidden within clouds of dust and can only be seen in infrared wavelengths.
</p>
<p class="milkywaytext">
  The nebula is extremely luminous. It lies at a distance of 160,000 light years from Earth and has an apparent magnitude of 8. Because it lies so far to the south, it is visible primarily from southern latitudes.
</p>
<p class="milkywaytext">
  If it were as close to the solar system as the Orion Nebula, the Tarantula Nebula would be so bright that it would cast shadows. The Orion Nebula, while more famous, especially in the northern hemisphere, is only a hundredth the size of 30 Doradus.
</p>
<p class="milkywaytext">
  The Tarantula Nebula got its name because its glowing filaments of dust resemble the legs of a spider. It is a giant starburst region where the energy from the bright, hot young stars creates huge voids and filaments in the surrounding clouds of gas.
</p>
<p class="milkywaytext">
  The Tarantula Nebula contains two clusters. The compact cluster R136 is responsible for most of the energy that illuminates the nebula, and by extension for the nebula’s visibility.
</p>
<p class="milkywaytext">
  R136 contains several extremely huge stars, roughly 100 times the mass of the Sun. The cluster has an estimated mass of 450,000 solar masses and a diameter of 35 light years. It will likely eventually become a globular cluster, a group of old stars orbiting the centre of the Large Magellanic Cloud.
</p>
<p class="milkywaytext">
  Hodge 301, the other star cluster in NGC 2070, is older, with an estimated age of 20 to 25 million years. It is almost 10 times older than R136. Hodge 301 contains a number of brilliant massive stars.
</p>

<p class="milkywaytext">
  The cluster’s most massive stars have already ended their life in supernova explosions. Three red supergiants found in the cluster are also expected to explode in the near future, relatively speaking. The exploded stars in Hodge 301 are sending material into the surrounding nebula at speeds approaching 200 miles per secon
  </p>
  <p class="milkywaytext">
As the Tarantula Nebula contains the nearest super-cluster of stars, it is an object of study for astronomers studying the starburst activity that was more common in the earlier stages of the universe. The nebula’s environment resembles the extreme conditions of the early universe in terms of dust content, metallicity, and rate of star formation.
    </p>
    <p class="milkywaytext">
      The Tarantula Nebula is located at the eastern end of the stellar bar in the Large Magellanic Cloud, which contains a number of similar regions, but none of them quite and bright and large as the Tarantula.
      </p>
<%- include('footer'); -%>
