<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Taurus</big></h1>
<br />
<img class="milkyimg" src="/images/taurus.jpeg" alt="taurus" />
<p class="milkywaytext">
  Taurus is a large constellation and one of the oldest ones known. In Greek mythology, the constellation is associated with Zeus, who transformed himself into a bull in order to get close to Europa and abduct her.
</p>
<p class="milkywaytext">
  Taurus is known for its bright stars Aldebaran, Elnath, and Alcyone, as well as for the variable star T Tauri. The constellation is probably best known for the Pleiades (Messier 45), also known as the Seven Sisters, and the Hyades, which are the
  two nearest open star clusters to Earth.
</p>
<p class="milkywaytext">
  Taurus also has a number of famous deep sky objects, among them the supernova remnant Messier 1 (the Crab Nebula), Hind’s Variable Nebula (NGC 1555), the colliding galaxies NGC 1410 and NGC 1409, the Crystal Ball Nebula (NGC 1514), and the Merope
  Nebula (NGC 1435).
</p>
<p class="milkywaytext">
  Taurus is the 17th largest constellation in the sky, occupying an area of 797 square degrees. It is located in the first quadrant of the northern hemisphere (NQ1) and can be seen at latitudes between +90° and -65°.
</p>
<p class="milkywaytext">
  The neighboring constellations are Aries, Auriga, Cetus, Eridanus, Gemini, Orion and Perseus.
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN TAURUS</h3>
<br />
<h3>Aldebaran – α Tauri (Alpha Tauri)</h3>
<p class="milkywaytext">
  Aldebaran, Alpha Tauri, is an orange giant with an apparent magnitude varying between 0.75 and 0.95. It is the brightest star in the constellation Taurus and the 13th brightest star in the sky.
</p>
<p class="milkywaytext">
  Alpha Tauri has the stellar classification K5III. It has a diameter 44.2 times that of the Sun and is about 425 times more luminous. The star lies approximately 65.1 light years from Earth. It is classified as a slow irregular variable, type LB.
  Its brightness varies by about 0.2 magnitudes.
</p>
<br />
<h3>Elnath – β Tauri (Beta Tauri)</h3>
<p class="milkywaytext">
  Elnath is the second brightest star in Taurus. It has a visual magnitude of 1.68 and is approximately 131 light years distant.
</p>
<p class="milkywaytext">
  Elnath is a giant star with the stellar classification B7III. It is 700 times more luminous than the Sun. Like Aldebaran, it lies near the ecliptic and can be occulted by the Moon. The star’s proper name, Elnath, Alnath, or El Nath, is derived from
  the Arabic word an-naţħ, which means “the butting,” referring to the bull’s horns.
</p>
<br />
<h3>ζ Tauri (Zeta Tauri)</h3>
<p class="milkywaytext">
  Zeta Tauri is a spectroscopic binary star with the stellar classification B2 IIIpe. It has a visual magnitude of 3.010 and is approximately 440 light years distant. The two components have an orbital period of roughly 133 days.
</p>
<p class="milkywaytext">
  The primary component in the system is a rapid rotator, with a projected rotational velocity of 125 km/s. It has a circumstellar disk of gas. It has 11 solar masses and 5-6 times the Sun’s radius. The companion star is slightly less massive than
  the Sun.
</p>
<br />
<h3>θ Tauri (Theta Tauri) </h3>
<p class="milkywaytext">
  Theta Tauri is another binary star in Taurus. It is one of the stars in the Hyades cluster. The two components in the system are separated by 5.62 arc minutes. The primary star is 154.4 light years distant from the solar system and the secondary is
  150.4 light years away.
</p>
<p class="milkywaytext">
  Theta-1 Tauri is an orange, class K giant (stellar classification K0 IIIb Fe-0.5) and the dimmer of the two components. It has a visual magnitude of 3.84. Theta-2 Tauri is a white giant belonging to the spectral class A7 III with a mean apparent
  magnitude of 3.40. It is a Delta Scuti variable, with variations in brightness ranging from magnitude 3.35 to 3.42 over a period of 1.82 hours.
</p>
<br />
<h3>Pectus Tauri – λ Tauri (Lambda Tauri)</h3>
<p class="milkywaytext">
  Lambda Tauri is a triple star in Taurus constellation. Its Latin name is Pectus Tauri, which means “the bull’s chest.” The system has a visual magnitude of 3.47 and is approximately 480 light years distant.
</p>
<p class="milkywaytext">
  The main component of Lambda Tauri is an inner pair of stars, designated Lambda Tauri AB, which orbit each other every 3.95 days and form an eclipsing binary star system similar to that of Algol in the constellation Perseus. The stars’ combined
  apparent magnitude varies from 3.37 to 3.91.
</p>
<br />
<h3>Ain (Oculus Borealis) – ε Tauri (Epsilon Tauri)</h3>
<p class="milkywaytext">
  Epsilon Tauri is an orange giant with the stellar classification K0 III. It has an apparent magnitude of 3.53 and is approximately 147 light years distant. It is located near the ecliptic and can occasionally be occulted by the Moon and, rarely, by
  planets.
</p>
<p class="milkywaytext">
  Epsilon Tauri has an 11th magnitude companion located 182 arc seconds from the primary.
</p>
<%- include('footer'); -%>
