<%- include('header'); -%>
</div>
</section>
<br />
<br />

<h2 class="newsheading"><big>Best telescopes for beginners</big></h2>
<br />
<br />
<br />
<h3>Celestron Astro Fi 102</h3>
<img class="milkyimg" src="/images/telescope.jpg" alt="telescope" />
<p class="milkywaytext">
  Most "GoTo" scopes have microprocessors on board with many lines of dedicated software code and special-purpose keypads cabled to the mount. The Celestron Astro Fi telescopes do away with all that stuff, because you already own it! Your Apple or Android smartphone or tablet makes a perfectly excellent telescope controller. All you need to do is download Celestron's free SkyPortal app from the Apple App Store or Google Play.</p>
  <br />
  <table id="customers">

    <tr>
      <td>Type:</td>
      <td>Reflective</td>
    </tr>
    <tr>
      <td> Aperture:</td>
      <td>102mm</td>
    </tr>
    <tr>
      <td> Magnification: </td>
      <td>15-241x</td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td>16lbs</td>
    </tr>
      </table>
    <br />
    <h3>Celestron Astro Fi 90</h3>
    <img class="milkyimg" src="/images/telescope1.jpg" alt="telescope" />
    <p class="milkywaytext">
      There's no hand controller, no set of manual pointing knobs and no need for a laptop cabled to the mount. You just hold your phone or tab up to the night sky, and the scope will accurately track what's up tonight. Just touch an on-screen target, and your Astro Fi scope will slew to and center that sight, while your smart device displays information about the object.</p>
      <br />
      <table id="customers">

        <tr>
          <td>Type:</td>
          <td>Reflective</td>
        </tr>
        <tr>
          <td> Aperture:</td>
          <td> 90mm</td>
        </tr>
        <tr>
          <td> Magnification: </td>
          <td>13-231x</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td>15lbs</td>
        </tr>
        </table>
        <br />
        <h3>Meade StarPro AZ</h3>
        <img class="milkyimg" src="/images/telescope2.jpg" alt="telescope" />
        <p class="milkywaytext">
          Easily set-up and inexpensively purchased, Meade's StarPro AZ 70mm refractor is ready to attack the sky. But it's equally useful for targets on Earth. Three included eyepieces, plus a Barlow lens, offers your choice of six different magnifications.

            </p>
          <br />
          <table id="customers">

            <tr>
              <td>Type:</td>
              <td>Refractor</td>
            </tr>
            <tr>
              <td> Aperture:</td>
              <td> 70mm</td>
            </tr>
            <tr>
              <td> Magnification: </td>
              <td>27-110x</td>
            </tr>
            <tr>
              <td>Weight:</td>
              <td>8.4lbs</td>
            </tr>
            </table>
            <br />
            <h3>Orion StarBlast 6i</h3>
            <img class="milkyimg" src="/images/telescope3.jpg" alt="telescope" />
            <p class="milkywaytext">
              If you want the largest light bucket you can get for your dollar, try the StarBlast 6i Dobsonian reflector. You'll get nearly 6 inches (15 centimeters) of aperture on a tabletop turntable, a rocker-arm mount and a pair of 1.25-inch (32 mm) eyepieces. The telescope is very easy to set up, and you'll be observing very quickly — pure analog, just as inventor John Dobson intended.

                </p>
              <br />
              <table id="customers">

                <tr>
                  <td>Type:</td>
                  <td>Dobsonian</td>
                </tr>
                <tr>
                  <td> Aperture:</td>
                  <td>152mm</td>
                </tr>
                <tr>
                  <td> Magnification: </td>
                  <td>21-300x</td>
                </tr>
                <tr>
                  <td>Weight:</td>
                  <td>23.5lbs</td>
                </tr>
                </table>
                <br />
                <h3>Levenhuk SkyMatic 135 GTA</h3>
                <img class="milkyimg" src="/images/telescope4.jpg" alt="telescope" />
                <p class="milkywaytext">
The SkyMatic 135 GTA from Levenhuk, and its close relatives sold under other brand names, packs everything you need for hundreds of rewarding nights into an easy-to-set-up, computerized, transportable package.
                    </p>
                  <br />
                  <table id="customers">

                    <tr>
                      <td>Type:</td>
                      <td>Newtonian</td>
                    </tr>
                    <tr>
                      <td> Aperture:</td>
                      <td>135mm </td>
                    </tr>
                    <tr>
                      <td> Magnification: </td>
                      <td>54-169x</td>
                    </tr>
                    <tr>
                      <td>Weight:</td>
                      <td>13lbs</td>
                    </tr>
                    </table>
                    <br />
<%- include('footer'); -%>
