<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>9P/Tempel 1-Tuttle</big></h1>
<br />
<img class="milkyimg" src="/images/tempel.jpeg" alt="tempel" />
<p class="milkywaytext">
Comet Tempel 1 was discovered by Ernst Wilhelm Leberecht Tempel (more commonly known as Wilhelm Tempel) on 3 Apr. 3, 1867.
</p>
<p class="milkywaytext">
Comet 9P/Tempel 1 orbits the sun within the asteroid belt, which lies between the orbits of Mars and Jupiter. Tempel 1 last reached perihelion (closest approach to the sun) in 2016.
</p>
<p class="milkywaytext">
Tempel 1 is a Jupiter-family comet. A Jupiter-family comet is defined as having an orbital period of less than 20 years and one that has been modified by close passages with the gas giant. It takes 5.56 years for Tempel 1 to orbit the sun once. However, Tempel 1's orbit is changing slowly over time. When Tempel 1 was first discovered, its orbit measured 5.68 years.
</p>
<p class="milkywaytext">
Tempel 1 is a small comet. Its nucleus measures approximately 3.73 miles (6 kilometers) in diameter, which is about half the size of the object hypothesized to have led to the demise of the dinosaurs.
</p>
<p class="milkywaytext">
Two missions have encountered this comet: Deep Impact in 2005 and Stardust NExT in in 2011.
</p>
<p class="milkywaytext">
Deep Impact sent an impactor into Tempel 1, becoming the first spacecraft to eject material from the surface of a comet. Changes in the surface of Tempel 1 were obscured by all the material ejected during and after the collision. The impact site was then re-imaged by a second mission, Stardust NExT, in 2011. Any changes were hard to distinguish when compared with pre-impact images.
</p>
<p class="milkywaytext">
Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. Since Wilhelm Tempel discovered this comet it is named for him. The letter "P" indicates that 9P/Tempel 1 is a periodic comet. Periodic comets have an orbital period of less than 200 years.
</p>
<%- include('footer'); -%>
