<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Titania</big></h1>
<br />
<img class="milkyimg" src="/images/Titania.png" alt="titania" />
<p class="milkywaytext">
Titania was discovered on Jan. 11, 1787 by British astronomer William Herschel.
</p>
<p class="milkywaytext">
Titania is Uranus' largest moon. Images taken by Voyager 2 almost 200 years after Titania's discovery revealed signs that the moon was geologically active.
</p>
<p class="milkywaytext">
A prominent system of fault valleys, some nearly 1,000 miles (1,609 kilometers) long, is visible near the terminator (shadow line). The troughs break the crust in two directions, an indication of some tectonic extension of Titania's crust. Deposits of highly reflective material, which may represent frost, can be seen along the Sun-facing valley walls.
</p>
<p class="milkywaytext">
The moon is about 1,000 miles (1,600 kilometers) in diameter. The neutral gray color of Titania is typical of most of the significant Uranian moons.
</p>
<p class="milkywaytext">
Titania is named for the queen of the fairies in William Shakespeare's 16th century play "A Midsummer Night's Dream."
</p>
<%- include('footer'); -%>
