<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Triangulum Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/triangulum.jpeg" alt="triangulum" />
<p class="milkywaytext">
  Spiral galaxy M33 is located in the triangle-shaped constellation Triangulum, earning it the nickname the Triangulum galaxy. About half the size of our Milky Way galaxy, M33 is the third-largest member of our Local Group of galaxies following the Andromeda galaxy (M31) and the Milky Way. Comprised of 54 separate Hubble fields of view, this image is the largest high-resolution mosaic of M33 assembled to date by any observatory. It resolves 25 million individual stars in a 14,000-light-year-wide region spanning the center of the galaxy.
</p>
<p class="milkywaytext">
  The Triangulum galaxy’s orderly spiral structure displays few signs of interactions with nearby galaxies. However, that could change in the future. Only slightly farther away from us than the Andromeda galaxy, about 3 million light-years from Earth, M33 is a suspected gravitational companion to Andromeda, and both galaxies are moving toward our own. M33 could become a third party involved in the impending collision between the Andromeda and Milky Way galaxies more than 4 billion years from now.
</p>
<p class="milkywaytext">
M33 has a relatively bright apparent magnitude of 5.7, making it one of the most distant objects that keen-eyed observers can view with the unaided eye (under exceptionally clear and dark skies). Although a telescope will start to reveal some of M33’s spiral features, the diffuse galaxy is actually easiest to examine with low magnification and a wide field of view, such as through binoculars. It is best observed in October.
  </p>
  <p class="milkywaytext">
    Although others may have viewed the galaxy earlier, Charles Messier was the first to catalog M33 after observing it in August 1764. In the 1920s, astronomer Edwin Hubble studied dozens of variable stars (those that periodically change brightness) in M33, which helped him to estimate the object’s distance and prove that M33 is not a nebula within our own galaxy, as previously suspected, but actually a separate galaxy outside our own.
    </p
<%- include('footer'); -%>
