<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Umbriel</big></h1>
<br />
<img class="milkyimg" src="/images/umbriel.jpg" alt="umbriel" />
<p class="milkywaytext">
Umbriel was discovered on Oct. 24, 1851 by English astronomer William Lassell.
</p>
<p class="milkywaytext">
Umbriel is the darkest of Uranus' largest moons. It reflects only 16 percent of the light that strikes its surface, a feature similar to the highland areas of Earth's Moon. Other Uranian moons are much brighter. The process by which Umbriel's ancient cratered surface was darkened remains a mystery.
</p>
<img class="milkyimg" src="/images/umbrielinfo.png" alt="umbriel" />
<p class="milkywaytext">
Umbriel has a diameter of about 750 miles (1,200 kilometers). Images taken by Voyager 2 in 1986 revealed a curious bright ring about 90 miles (140 kilometers) in diameter on the moon's dark surface. It is unclear what created the distinctive ring, although it may be frost deposits associated with an impact crater.
</p>
<p class="milkywaytext">
Umbriel is named for a malevolent spirit in English poet Alexander Pope's 18th century poem "Rape of the Lock."
</p>
<%- include('footer'); -%>
