<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Uranus</big></h1>
<br />
<img class="milkyimg" src="/images/uranus.jpeg" alt="Uranus" />
<p class="milkywaytext">
The seventh planet from the Sun with the third largest diameter in our solar system, Uranus is very cold and windy. The ice giant is surrounded by 13 faint rings and 27 small moons as it rotates at a nearly 90-degree angle from the plane of its orbit. This unique tilt makes Uranus appear to spin on its side, orbiting the Sun like a rolling ball.
</p>
<p class="milkywaytext">
  The first planet found with the aid of a telescope, Uranus was discovered in 1781 by astronomer William Herschel, although he originally thought it was either a comet or a star. It was two years later that the object was universally accepted as a new planet, in part because of observations by astronomer Johann Elert Bode.
</p>
<p class="milkywaytext">
Uranus is one of two ice giants in the outer solar system (the other is Neptune). Most (80 percent or more) of the planet's mass is made up of a hot dense fluid of "icy" materials—water, methane and ammonia—above a small rocky core. Near the core, it heats up to 9,000 degrees Fahrenheit (4,982 degrees Celsius).
</p>
<p class="milkywaytext">
Uranus is slightly larger in diameter than its neighbor Neptune, yet smaller in mass. It is the second least dense planet; Saturn is the least dense of all.
</p>
<img class="milkyimg" src="/images/uranusinfra.jpeg" alt="uranus" />
<p class="milkywaytext">
  Uranus gets its blue-green color from methane gas in the atmosphere. Sunlight passes through the atmosphere and is reflected back out by Uranus' cloud tops. Methane gas absorbs the red portion of the light, resulting in a blue-green color.
</p>
<p class="milkywaytext">
  As an ice giant, Uranus doesn’t have a true surface. The planet is mostly swirling fluids. While a spacecraft would have nowhere to land on Uranus, it wouldn’t be able to fly through its atmosphere unscathed either. The extreme pressures and temperatures would destroy a metal spacecraft.
</p>
<p class="milkywaytext">
Uranus has an unusual, irregularly shaped magnetosphere. Magnetic fields are typically in alignment with a planet's rotation, but Uranus' magnetic field is tipped over: the magnetic axis is tilted nearly 60 degrees from the planet's axis of rotation, and is also offset from the center of the planet by one-third of the planet's radius.
</p>
<img class="milkyimg" src="/images/uranusring.jpeg" alt="uranus" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
Uranus is the only planet whose equator is nearly at a right angle to its orbit, with a tilt of 97.77 degrees—possibly the result of a collision with an Earth-sized object long ago. This unique tilt causes the most extreme seasons in the solar system. For nearly a quarter of each Uranian year, the Sun shines directly over each pole, plunging the other half of the planet into a 21-year-long, dark winter.
</p>
<p class="milkywaytext">
  Uranus took shape when the rest of the solar system formed about 4.5 billion years ago, when gravity pulled swirling gas and dust in to become this ice giant. Like its neighbor Neptune, Uranus likely formed closer to the Sun and moved to the outer solar system about 4 billion years ago, where it is the seventh planet from the Sun.
  </p>

<p class="milkywaytext">
One day on Uranus takes about 17 hours (the time it takes for Uranus to rotate or spin once). And Uranus makes a complete orbit around the Sun (a year in Uranian time) in about 84 Earth years (30,687 Earth days).
</p>
<p class="milkywaytext">
  Uranus' atmosphere is mostly hydrogen and helium, with a small amount of methane and traces of water and ammonia. The methane gives Uranus its signature blue color.
</p>
<img class="milkyimg" src="/images/uranus1.jpeg" alt="uranus" />
<p class="milkywaytext">
  Uranus' planetary atmosphere, with a minimum temperature of 49K (-224.2 degrees Celsius) makes it even colder than Neptune in some places.
</p>
<p class="milkywaytext">
  Wind speeds can reach up to 560 miles per hour (900 kilometers per hour) on Uranus. Winds are retrograde at the equator, blowing in the reverse direction of the planet’s rotation. But closer to the poles, winds shift to a prograde direction, flowing with Uranus' rotation.
</p>
<p class="milkywaytext">
  Uranus has two sets of rings. The inner system of nine rings consists mostly of narrow, dark grey rings. There are two outer rings: the innermost one is reddish like dusty rings elsewhere in the solar system, and the outer ring is blue like Saturn's ring.
</p>
<p class="milkywaytext">
Uranus has 27 known moons. While most of the satellites orbiting other planets take their names from Greek or Roman mythology, Uranus' moons are unique in being named for characters from the works of William Shakespeare and Alexander Pope.
</p>
<p class="milkywaytext">
  All of Uranus' inner moons appear to be roughly half water ice and half rock. The composition of the outer moons remains unknown, but they are likely captured asteroids.
  </p>
  <br />
  <h1 style="color:red";>Uranus Moons</h1>

  <p class="milkywaytext">
    While most of the satellites orbiting other planets take their names from ancient mythologies, Uranus' moons are unique in being named for Shakespearean characters, along with a couple of the moons being named for characters from the works of Alexander Pope.
    </p>
    <p class="milkywaytext">
      Oberon and Titania are the largest Uranian moons, and were first to be discovered—by William Herschel in 1787. William Lassell, who had been first to see a moon orbiting Neptune, discovered the next two, Ariel and Umbriel. Nearly a century passed before Gerard Kuiper found Miranda in 1948. And that was it until a NASA robot made it to distant Uranus.
      </p>
      <p class="milkywaytext">
        The Voyager 2 spacecraft visited the Uranian system in 1986 and tripled the number of known moons. Voyager 2 found an additional 10, just 26-154 km (16-96 miles) in diameter: Juliet, Puck, Cordelia, Ophelia, Bianca, Desdemona, Portia, Rosalind, Cressida and Belinda.
        </p>
        <p class="milkywaytext">
          Since then, astronomers using the Hubble Space Telescope and improved ground-based telescopes have raised the total to 27 known moons. Spotting the post-Voyager moons is an impressive feat. They're tiny—as little as 12-16 km (8-10 miles) across, and blacker than asphalt. And of course, they're about 2.9 billion km (1.8 billion miles) away from the Sun.
          </p>
          <p class="milkywaytext">
            All of Uranus's inner moons (those observed by Voyager 2) appear to be roughly half water ice and half rock. The composition of the moons outside the orbit of Oberon remains unknown, but they are likely captured asteroids.
            </p>
    <br />
    <h3>Critical Science Targets</h3>
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/arial.jpeg" />
          <a href="/ariel">
            <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Ariel</button>
            </a>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/oberon.png" />
          <a href="/oberon">
            <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Oberon</button>
            </a>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/titania.png" />
          <a href="/titania">
            <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Titania</button>
            </a>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/umbrielinfo.png" />
          <a href="/umbriel">
            <button type="button" class="btn btn-dark btn-lg download-button exploring" onclick="/">Explore Umbriel</button>
            </a>
        </div>
      </div>
    </div>
    </section>
    <br />
    <img class="milkyimg" src="/images/uranusmoon.jpg" alt="Uranusmoon" />
    <br />
    <h3 style="color:blue";>Other Moons</h3>
    <br />
    <!--1st row--------------------------------------------------------------------------------------------------------------------------------------->
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Belinda</h6>
          <p class="factbox">
            Belinda is an inner satellite of the planet Uranus. Belinda was discovered from the images taken by Voyager 2 on 13 January 1986 and was given the temporary designation S/1986 U 5. It is named after the heroine of Alexander Pope's The
            Rape of the Lock. It is also designated Uranus XIV.
          </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Bianca</h6>
          <p class="factbox">
            Bianca is an inner satellite of Uranus. It was discovered from the images taken by Voyager 2 on January 23, 1986, and was given temporary designation S/1986 U 9. It was named after the sister of Katherine in Shakespeare's play The Taming
            of the Shrew. It is also designated Uranus VIII.
          </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Caliban</h6>
          <p class="factbox">
            Caliban is the second-largest retrograde irregular satellite of Uranus. It was discovered on 6 September 1997 by Brett J. Gladman, Philip D. Nicholson, Joseph A. Burns, and John J. Kavelaars using the 200-inch Hale telescope together with
            Sycorax and given the temporary designation S/1997 U 1.
          </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Cordelia</h6>
          <p class="factbox">
            Cordelia is the innermost known moon of Uranus. It was discovered from the images taken by Voyager 2 on January 20, 1986, and was given the temporary designation S/1986 U 7. It was not detected again until the Hubble Space Telescope
            observed it in 1997.
          </p>
        </div>
      </div>
    </div>
  </section>
  <br />
  <!--2nd row------------------------------------------------------------------------------------------------------------------------------------>
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Cressida</h6>
        <p class="factbox">
          Cressida is an inner satellite of Uranus. It was discovered from the images taken by Voyager 2 on 9 January 1986, and was given temporary designation S/1986 U 3. It was named after Cressida, the Trojan daughter of Calchas, a tragic heroine who appears in William Shakespeare's play Troilus and Cressida.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Cupid</h6>
        <p class="factbox">
          Cupid is an inner satellite of Uranus. It was discovered by Mark R. Showalter and Jack J. Lissauer in 2003 using the Hubble Space Telescope. It was named after a character in William Shakespeare's play Timon of Athens. It is the smallest of inner Uranian satellites, crudely estimated to be only about 18 km in diameter.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Desdemona</h6>
          <p class="factbox">
            Desdemona is an inner satellite of Uranus. It was discovered from the images taken by Voyager 2 on 13 January 1986, and was given the temporary designation S/1986 U 6. Desdemona is named after the wife of Othello in William Shakespeare's play Othello. It is also designated Uranus X.
            </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Ferdinand</h6>
          <p class="factbox">
            Ferdinand is the outermost retrograde irregular satellite of Uranus. It was first seen near Uranus by Matthew J. Holman, John J. Kavelaars, Dan Milisavljevic, and Brett J. Gladman on August 13, 2001 and reobserved on September 21, 2001.
            </p>
        </div>
      </div>
    </div>
    </section>
    <br />
    <!--3rd row--------------------------------------------------------------------------------------------------------------------------------------->
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Francisco</h6>
        <p class="factbox">
          Francisco is the innermost irregular satellite of Uranus. Francisco was discovered by Matthew J. Holman, et al. and Brett J. Gladman, et al.in 2003 from pictures taken in 2001 and given provisional designation S/2001 U3.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Juliet</h6>
        <p class="factbox">
          Juliet is an inner satellite of Uranus. It was discovered from the images taken by Voyager 2 on 3 January 1986, and was given temporary designation S/1986 U 2. It is named after the heroine of Shakespeare's play Romeo and Juliet. It is also designated Uranus XI.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Mab</h6>
          <p class="factbox">
            Mab, or Uranus XXVI, is an inner satellite of Uranus. It was discovered by Mark R. Showalter and Jack J. Lissauer in 2003 using the Hubble Space Telescope. It was named after Queen Mab, a fairy queen from English folklore who is mentioned in Shakespeare's play Romeo and Juliet.
            </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Margaret</h6>
          <p class="factbox">
            Margaret is the only prograde irregular satellite of Uranus. It was discovered by Scott S. Sheppard, et al. in 2003 and given  provisional designation S/2003 U 3. Confirmed as Uranus XXIII, it was named after the servant of Hero in William Shakespeare's play Much Ado About Nothing.
            </p>
        </div>
      </div>
    </div>
    </section>
    <br />
    <!--4th row--------------------------------------------------------------------------------------------------------------------------------->
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Miranda</h6>
        <p class="factbox">
          Miranda, also designated Uranus V, is the smallest and innermost of Uranus's five round satellites. It was discovered by Gerard Kuiper on 16 February 1948 at McDonald Observatory in Texas, and named after Miranda from William Shakespeare's play The Tempest.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Ophelia</h6>
        <p class="factbox">
          Ophelia is a moon of Uranus. It was discovered from the images taken by Voyager 2 on January 20, 1986, and was given the temporary designation S/1986 U 8. It was not seen until the Hubble Space Telescope recovered it in 2003. Ophelia was named after the daughter of Polonius.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Perdita</h6>
          <p class="factbox">
            Perdita is an inner satellite of Uranus. Perdita's discovery was complicated. The first photographs of Perdita were taken by the Voyager 2 spacecraft in 1986, but it was not recognized from the photographs for more than a decade. In 1999, the moon was noticed by Erich Karkoschka and reported.
            </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Portia</h6>
          <p class="factbox">
            Portia is an inner satellite of Uranus. It was discovered from the images taken by Voyager 2 on 3 January 1986, and was given temporary designation S/1986 U 1. The moon is named after Portia, the heroine of William Shakespeare's play The Merchant of Venice. It is also designated Uranus XII.
            </p>
        </div>
      </div>
    </div>
    </section>
    <br />
    <!--5th row------------------------------------------------------------------------------------------------------------------------------------>
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Prospero</h6>
        <p class="factbox">
          Prospero is a relatively small retrograde irregular satellite of Uranus discovered on 18 July 1999 by the astrophysicist Matthew Holman and his team, and given the provisional designation S/1999 U 3. Confirmed as Uranus XVIII.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Puck</h6>
        <p class="factbox">
          Puck is an inner moon of Uranus. It was discovered in December 1985 by the Voyager 2 spacecraft. The name Puck follows the convention of naming Uranus's moons after characters from Shakespeare. The orbit of Puck lies between the rings of Uranus and the first of Uranus's large moons, Miranda.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Rosalind</h6>
              <p class="factbox">
          Rosalind is an inner satellite of Uranus. It was discovered from the images taken by Voyager 2 on 13 January 1986, and was given temporary designation S/1986 U 4. It was named after the daughter of the banished Duke in William Shakespeare's play As You Like It. It is also designated Uranus XIII.

            </p>
        </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Setebos</h6>
          <p class="factbox">
            Setebos is one of the outermost retrograde irregular satellites of Uranus. It was discovered on 18 July 1999 by John J. Kavelaars et al. and provisionally designated S/1999 U 1. Confirmed as Uranus XIX, it is named after the god worshipped by Caliban and Sycorax in Shakespeare's play The Tempest.
            </p>
        </div>
      </div>
    </div>
    </section>
    <br />
    <!--6th row---------------------------------------------------------------------------------------------------------------------------------------->
    <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Stephano</h6>
        <p class="factbox">
          Stephano is a retrograde irregular satellite of Uranus. It was discovered by Brett J. Gladman, et al. in 1999, and given provisional designation S/1999 U 2. Confirmed as Uranus XX, it was named after the drunken butler in William Shakespeare's play The Tempest.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
        <h6 class="feature-title">Sycorax</h6>
        <p class="factbox">
          Sycorax is the largest retrograde irregular satellite of Uranus. Sycorax was discovered on 6 September 1997 by Brett J. Gladman, Philip D. Nicholson, Joseph A. Burns, and John J. Kavelaars using the 200-inch Hale telescope, together with Caliban, and given the temporary designation S/1997 U 2. Officially confirmed as Uranus XVII.
          </p>
                </div>
        <div class="feature-box col-lg-3">
          <img class="milkyway" src="/images/nomoon.jpeg" />
          <h6 class="feature-title">Trinculo</h6>
              <p class="factbox">
                Trinculo is a retrograde irregular satellite of Uranus. It was discovered by a group of astronomers led by Holman, et al. on 13 August 2001, and given the temporary designation S/2001 U 1. Confirmed as Uranus XXI, it was named after the drunken jester Trinculo in William Shakespeare's play The Tempest.

            </p>
        </div>

      </div>
    </div>
    </section>
    <br />
    <%- include('footer'); -%>
