<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Ursa Minor Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/ursa minor.jpeg" alt="ursaminor" />
<p class="milkywaytext">
  The Ursa Minor Dwarf is a dwarf spheroidal galaxy, discovered by A.G. Wilson of the Lowell Observatory, in the United States, during the Palomar Sky Survey in 1955. It appears in the Ursa Minor constellation, and is a satellite galaxy of the Milky Way. The galaxy consists mainly of older stars and seems to house little to no ongoing star formation. Its centre is around 225,000 light years distant from Earth.
</p>
<p class="milkywaytext">
  In 1999, Kenneth Mighell and Christopher Burke used the Hubble Space Telescope to confirm that the Ursa Minor dwarf galaxy had a straightforward evolutionary history with a single burst of star formation that lasted around 2 billion years and took place around 14 billion years ago, and that the galaxy was probably as old as the Milky Way itself.
</p>
<%- include('footer'); -%>
