<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Venus</big></h1>
<br />
<img class="milkyimg" src="/images/venus.jpeg" alt="venus" />
<p class="milkywaytext">  Venus is the second planet from the Sun and our closest planetary neighbor. Similar in structure and size to Earth, Venus spins slowly in the opposite direction from most planets. Its thick atmosphere traps heat in a runaway greenhouse effect,
  making it the hottest planet in our solar system with surface temperatures hot enough to melt lead. Glimpses below the clouds reveal volcanoes and deformed mountains.
</p>
<p class="milkywaytext">
  Venus is named for the ancient Roman goddess of love and beauty, who was known as Aphrodite to the Ancient Greeks.
</p>
<p class="milkywaytext">
  From an average distance of 67 million miles (108 million kilometers), Venus is 0.7 astronomical units away from the Sun. One astronomical unit (abbreviated as AU), is the distance from the Sun to Earth. It takes sunlight 6 minutes to travel from
  the Sun to Venus.
</p>
<p class="milkywaytext">
  Venus rotation and orbit are unusual in several ways. Venus is one of just two planets that rotate from east to west. Only Venus and Uranus have this "backwards" rotation. It completes one rotation in 243 Earth days — the longest day of any planet
  in our solar system, even longer than a whole year on Venus. But the Sun doesn't rise and set each "day" on Venus like it does on most other planets. On Venus, one day-night cycle takes 117 Earth days because Venus rotates in the direction opposite
  of its orbital revolution around the Sun.
</p>
<img class="milkyimage" src="/images/venusgif.gif" alt="venus" />
<p class="milkywaytext">
  Venus is in many ways similar to Earth in its structure. It has an iron core that is approximately 2,000 miles (3,200 kilometers) in radius. Above that is a mantle made of hot rock slowly churning due to the planet's interior heat. The surface is a
  thin crust of rock that bulges and moves as Venus' mantle shifts and creates volcanoes.
</p>
<p class="milkywaytext">
  Venus' atmosphere consists mainly of carbon dioxide, with clouds of sulfuric acid droplets. The thick atmosphere traps the Sun's heat, resulting in surface temperatures higher than 880 degrees Fahrenheit (470 degrees Celsius). The atmosphere has
  many layers with different temperatures. At the level where the clouds are, about 30 miles up from the surface, it's about the same temperature as on the surface of the Earth.
</p>
<p class="milkywaytext">
  No human has visited Venus, but the spacecraft that have been sent to the surface of Venus do not last very long there. Venus' high surface temperatures overheat electronics in spacecraft in a short time, so it seems unlikely that a person could
  survive for long on the Venusian surface.
</p>
<p class="milkywaytext">
  There is speculation about life existing in Venus' distant past, as well as questions about the possibility of life in the top cloud layers of Venus' atmosphere, where the temperatures are less extreme.
</p>
<img class="milkyimg" src="/images/venussurface.jpg" alt="venus" />
<br />
<br />
<h1>Must read Facts!</h1>
<p class="milkywaytext">
  With a radius of 3,760 miles (6,052 kilometers), Venus is roughly the same size as Earth — just slightly smaller.
</p>
<p class="milkywaytext">
  With an axial tilt of just 3 degrees, Venus spins nearly upright, and so does not experience noticeable seasons.
</p>
<p class="milkywaytext">
  From space, Venus is bright white because it is covered with clouds that reflect and scatter sunlight. At the surface, the rocks are different shades of grey, like rocks on Earth, but the thick atmosphere filters the sunlight so that everything
  would look orange if you were standing on Venus.
</p>
<p class="milkywaytext">
  Venus has mountains, valleys, and tens of thousands of volcanoes. The highest mountain on Venus, Maxwell Montes, is 20,000 feet high (8.8 kilometers), similar to the highest mountain on Earth, Mount Everest. The landscape is dusty, and surface
  temperatures reach a scalding 880 degrees Fahrenheit (471 degrees Celsius).
</p>
<img class="milkyimg" src="/images/venus1.jpg" alt="venus" />
<p class="milkywaytext">
  It is thought that Venus was completely resurfaced by volcanic activity 300 to 500 million years ago. Venus has two large highland areas: Ishtar Terra, about the size of Australia, in the north polar region; and Aphrodite Terra, about the size of
  South America, straddling the equator and extending for almost 6,000 miles (10,000 kilometers).
</p>
<p class="milkywaytext">
  Venus is covered in craters, but none are smaller than 0.9 to 1.2 miles (1.5 to 2 kilometers) across. Small meteoroids burn up in the dense atmosphere, so only large meteoroids reach the surface and create impact craters.
</p>
<p class="milkywaytext">
  As Venus moves forward in its solar orbit while slowly rotating backwards on its axis, the top level of clouds zips around the planet every four Earth days, driven by hurricane-force winds traveling at about 224 miles (360 kilometers) per hour.
  Atmospheric lightning bursts light up these quick-moving clouds. Speeds within the clouds decrease with cloud height, and at the surface are estimated to be just a few miles per hour.
</p>
<p class="milkywaytext">
  On the ground, it would look like a very hazy, overcast day on Earth. And the atmosphere is so heavy it would feel like you were 1 mile (1.6 kilometers) deep underwater.
</p>
<%- include('footer'); -%>
