<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Virgo</big></h1>
<br />
<img class="milkyimg" src="/images/virgo.jpeg" alt="virgo" />
<p class="milkywaytext">
Virgo constellation lies in the southern sky. Its name means “virgin” in Latin.
</p>
<p class="milkywaytext">
Virgo is one of the 12 zodiac constellations, first catalogued by the Greek astronomer Ptolemy in the 2nd century. It contains <b>Spica</b>, one of the brightest stars in the night sky. It also contains the autumn equinox point, which lies close to the star<b> Beta Virginis</b>. This is one of the two points in the sky (the other being in the constellation Pisces) where the celestial equator intersects with the ecliptic. Virgo is the second largest constellation in the sky. The only constellation larger in size is Hydra.
</p>
<p class="milkywaytext">
Notable deep sky objects in Virgo include the bright galaxies <b>Messier 49</b>,<b> Messier 58</b>, <b>Messier 59</b>,<b> Messier 60</b>,<b> and Messier 87</b>, <b>the Sombrero Galaxy (M104)</b>, <b>the Eyes Galaxies</b>, <b>the Siamese Twins</b>, and the <b>quasar 3C 273</b>.
</p>
<p class="milkywaytext">
Virgo is the second largest constellation in the sky, occupying an area of 1294 square degrees. It is located in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +80° and -80°. The neighboring constellations are Boötes, Coma Berenices, Corvus, Crater, Hydra, Leo, Libra and Serpens Caput.
</p>
<p class="milkywaytext">
Virgo contains eleven Messier objects: Messier 49 (M49, NGC 4472), Messier 58 (M58, NGC 4579), Messier 59 (M59, NGC 4621), Messier 60 (M60, NGC 4649), Messier 61 (M61, NGC 4303), Messier 84 (M84, NGC 4374), Messier 86 (M86, NGC 4406), Messier 87 (M87, NGC 4486), Messier 89 (M89, NGC 4552), Messier 90 (M90, NGC 4569) and Messier 104 (M104, NGC 4594, Sombrero Galaxy).
</p>
<br />
<h3 style="color:blue;">MAJOR STARS IN VIRGO</h3>
<br />
<h3>Spica – α Virginis (Alpha Virginis) </h3>
<p class="milkywaytext">
Spica is the brightest star in Virgo and the 15th brightest star in the sky. It has an apparent magnitude of 1.04. It is a rotating ellipsoidal variable star, which is to say a non-eclipsing close binary star system in which the two components do not eclipse each other, but are mutually distorted through their gravitational interaction.
</p>
<p class="milkywaytext">
Spica is classified as a blue giant of the spectral types B1 III-IV and B2 V, approximately 260 light years distant from the solar system. It is one of the nearest massive double stars to the solar system. The primary star is midway between the subgiant and giant stage of evolution (spectral class B1 III-IV) and about 12,100 times brighter than the Sun.
</p>
<br />
<h3>Zavijava – β Virginis (Beta Virginis)</h3>
<p class="milkywaytext">
Beta Virginis belongs to the spectral class F9 V and is only 35.65 light years distant from the Sun. Even though it is designated beta, it is only the fifth brightest star in the constellation.
</p>
<p class="milkywaytext">
The star’s traditional name, Zavijava (sometimes Zavijah, Zavyava or Zawijah), is derived from the Arabic zāwiyat al-cawwa’, which means “the corner of the barking dog.” It was also sometimes known as Alaraph.
</p>
<br />
<h3>Porrima – γ Virginis (Gamma Virginis)</h3>
<p class="milkywaytext">
Porrima, Gamma Virginis, is a binary star. Porrima is the name of two goddesses of prophecy, the Carmenae. The star is also sometimes known as Postvarta, Arich and Laouiyet al Aoua. The latter was translated into Latin as Angulus Latratoris and it means “the angle of the barker".
</p>
<p class="milkywaytext">
Together with Beta, Eta, Delta and Epsilon Virginis, the star formed as asterism known as Barker, or Al ʽAwwāʼ. Gamma Virginis has a visual magnitude of 2.74 and is approximately 38.1 light years distant.
</p>
<br />
<h3>Auva – δ Virginis (Delta Virginis)</h3>
<p class="milkywaytext">
Delta Virginis is a red giant belonging to the spectral class M3 III, approximately 198 light years distant. It has an apparent magnitude of 3.4 and can be seen without binoculars. It has a mass 1.4 times solar, but with a radius 48 times that of the Sun, it is about 468 times more luminous. Delta Virginis is a high-velocity star, moving at the speed of more than 30 km s–1 relative to the motion of the neighbouring stars.
</p>
<p class="milkywaytext">
The star is classified as a semiregular variable and its brightness varies between 3.32 and 3.40. It is a suspected binary star with an 11th magnitude star – a K-type dwarf – located 80 arc seconds away. The dwarf is believed to orbit the star with a period of over 200,000 years, but this has not been confirmed.
</p>
<br />
<h3>Vindemiatrix – ε Virginis (Epsilon Virginis)</h3>
<p class="milkywaytext">
Epsilon Virginis is the third brightest star in Virgo. It has a visual magnitude of 2.826 and is 109.6 light years distant. The star is a giant belonging to the spectral class G8 III. It is about 77 times more luminous than the Sun.
</p>
<br />
<h3>Heze – ζ Virginis (Zeta Virginis) </h3>
<p class="milkywaytext">
Zeta Virginis is a main sequence star of the spectral type A3 V. It has an apparent magnitude of 3.376 and is 74.1 light years distant. The origin of its traditional name, Heze, is unknown.
</p>
<br />
<h3>Zaniah – η Virginis (Eta Virginis)</h3>
<p class="milkywaytext">
Eta Virginis is a triple star system in Virgo. It has a visual magnitude of 3.890 and can also be seen with the naked eye. It belongs to the spectral class A2 V.
</p>
<p class="milkywaytext">
The three stars form a very close system and can’t be resolved in a telescope. The system is 265 light years distant.
</p>
<%- include('footer'); -%>
