<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Welcome To The Family!!!</big></h1>
<br />
<img class="milkyimg" src="/images/welcome.jpg" alt="welcome" />
<div class="feature-box col-lg-4">
  <a href="/explore">
  <button type="button" class="btn btn-dark btn-lg download-button exploring">Explore Cosmos</button>
  </a>
  <p class= "factbox">
  </p>
</div>
<%- include('footer'); -%>
