<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Whale Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/whale.jpeg" alt="whale" />
<p class="milkywaytext">
  <b>NGC 4631</b> (also known as the Whale Galaxy or Caldwell 32) is a barred spiral galaxy in the constellation <b>Canes Venatici</b>. This galaxy's slightly distorted wedge shape gives it the appearance of a herring or a whale, hence its nickname. Because this nearby galaxy is seen edge-on from Earth, professional astronomers observe this galaxy to better understand the gas and stars located outside the plane of the galaxy.
</p>
<p class="milkywaytext">
  NGC 4631 contains a central starburst, which is a region of intense star formation. The strong star formation is evident in the emission from ionized hydrogen and interstellar dust heated by the stars formed in the starburst.The most massive stars that form in star formation regions only burn hydrogen gas through fusion for a short period of time, after which they explode as supernovae. So many supernovae have exploded in the center of NGC 4631 that they are blowing gas out of the plane of the galaxy. This superwind can be seen in X-rays and in spectral line emission.The gas from this superwind has produced a giant, diffuse<b> corona</b> of hot, X-ray emitting gas around the whole galaxy.
</p>
<%- include('footer'); -%>
