<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>Whirlpool Galaxy</big></h1>
<br />
<img class="milkyimg" src="/images/whirlpool.jpeg" alt="whirlpool" />
<p class="milkywaytext">
  The Whirlpool Galaxy is a classic spiral galaxy. At only <b>30 million light years</b> distant and fully<b> 60 thousand light years</b> across, M51, also known as <b>NGC 5194</b>, is one of the brightest and most picturesque galaxies on the sky. This image is a digital combination of a ground-based image from the 0.9-meter telescope at Kitt Peak National Observatory and a space-based image from the Hubble Space Telescope highlighting sharp features normally too red to be seen.
</p>
<%- include('footer'); -%>
