<%- include('header'); -%>
</div>
</section>
<br />
<h1><big>81P/Wild (Wild 2) </big></h1>
<br />
<img class="milkyimg" src="/images/wild.png" alt="wild 2" />
<p class="milkywaytext">
Comet Wild 2 was discovered by Paul Wild on Jan. 6, 1978.
</p>
<p class="milkywaytext">
81P/Wild (Wild 2) (Wild is pronounced vilt) is a small comet with the shape of a flattened sphere and measures about 1.03 x 1.24 x 1.71 miles (1.65 x 2 x 2.75 kilometers). It takes Wild 2 nearly six and a half years (6.41) to orbit the Sun once. Wild 2 last reached perihelion (closest approach to the Sun) in 2016.
</p>
<p class="milkywaytext">
Comet Wild 2 is known as a fresh periodic comet. Wild 2 orbits the Sun between Mars and Jupiter, but it did not always travel the course of its orbit here. Originally, this comet's orbit lay between that of Uranus and Jupiter. On 10 Sept. 10, 1974, gravitational interactions between this comet and the planet Jupiter pulled the comet's orbit into a new shape. Paul Wild discovered this comet during its first revolution of the Sun on the new orbit.
</p>
<p class="milkywaytext">
Since Wild 2 is a fresh comet (it has not had as many orbits around the Sun at close quarters) it is an ideal specimen for discovering more about the early solar system.
</p>
<p class="milkywaytext">
NASA made use of this special comet, when in 2004 it sent the Stardust mission to fly by it and gather particles—the first such gathering of extraterrestrial materials from beyond the orbit of the moon. These samples were gathered in an aerogel collector as the spacecraft flew within 236 kilometers (147 miles) of the comet. The samples were then returned to Earth in an Apollo-like capsule in 2006. In those samples, scientists discovered glycine: a fundamental building block of life.
</p>
<p class="milkywaytext">
Comets are usually named for their discoverer(s) or for the name of the observatory/telescope used in the discovery. Since Paul Wild discovered this comet it is named for him. The letter "P" indicates that 81P/Wild (Wild 2) is a "periodic" comet. Periodic comets have an orbital period of less than 200 years.
</p>
<%- include('footer'); -%>
